@import '../../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  button:focus {
    outline: 0;
    cursor: pointer;
  }
  
  .title {
    text-align: center;
  }

  .font_family_exo {
    font-family: 'Exo';
  }

  .kstdy-btn_action_create {
    background: linear-gradient(to right, #1C93FF, #01BDFF);
    color: white;
    padding: 0 !important;
    width: 9rem;
  }

  .kstdy-backgroud_layout {
      background-color: #ffffff;
      z-index: 1;
  }

  .kstdy-main_content {
      background-color: #F8FCFC;
  }

  .label {
      color: #3D3D3D;
      font-size: 1.1rem;
  }

  .font_family_roboto {
      font-family: 'Roboto';
  }

  .kstdy-title_page {
      font-family: 'Roboto';
      color: #3D3D3D;
  }

  .kstdy-button_action_form {
      background: linear-gradient(to right, #1C93FF, #01BDFF);
      color: white;
      padding: 0 !important;
      // width: 9rem;
      height: 40px !important;
      width: 120px !important;
      cursor: pointer;
      font-family: 'Roboto';
      margin: 25px 0px; 
      font-size: 12px; 
      text-transform: none;
  }
  
  .kstdy-button_action_form_cancel {
      background: #545454;
      color: white;
      padding: 0 !important;
      // width: 9rem;
      height: 40px !important;
      width: 120px !important;
      cursor: pointer;
      font-family: 'Roboto';
      margin: 25px 0px; 
      font-size: 12px; 
      text-transform: none;
  }

  #kstdya-btn_save_new_phone_user {
    text-transform: none;
    width: nb-theme(pgp-width-btn-crud);       
  }
  
  #kstdya-btn_cancel_save_new_phone_user {
    text-transform: none;
    background-color: nb-theme(kstdy-color-11);   
    width: nb-theme(pgp-width-btn-crud);   
  }
  
  .kstdya-backgroud_layout {
    background-color: #FFF;
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  .kstdya-btn_success {
    background-color: #1e90ff;//nb-theme(kstdy-color-1);
    cursor: pointer;
  }

  #kstdya-input_category_name:focus {
    border-color: #1e90ff;//nb-theme(kstdy-color-1);
  }
  
  .kstdya-input_focus:focus {
    border-color: #1e90ff;//nb-theme(kstdy-color-1);
  }

  .kstdya-fs_icon_list {
    font-size: 1.5rem;
    vertical-align: sub;
    color: nb-theme(kstdy-color-3);
  }

  .kstdya-fs_icon_right_list {
    position: absolute;
    right: 1rem;
    color: nb-theme(kstdy-color-6);
  }

  .kstdya-pointer {
    cursor: pointer;
  }

  ::ng-deep nb-dialog-container {
    height: 80vw;
    max-width: 95vw;
    max-height: 81vh;
  }

  .kstdya-title_item_list {
    display: inline-block;
  }

  ::ng-deep nb-card-header {
    display: block !important;
  }
  
  nb-card {
    height: auto !important;
  }
  nb-card-header {
    display: block !important;
  }
  
  nb-card-body {
    box-shadow: none !important;
  }

  ::ng-deep {
    .tooltip-inner {
        width: 12rem;
        background-color: #ff4c6a;
        color: #fff;
        text-align: left;
    }

    .tooltip-arrow {
        border-right-color: #ff4c6a !important;
    }
    
    .tooltip-arrow::before {
        border-right-color: #ff4c6a !important;
    }
  }

  .kstdya-icon_alert {
    position: absolute;
    padding: 0.7rem;
    cursor: pointer;
    color: #ff4c6a;
  }

  ::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 45px;
  }

  ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
      line-height: 1.8;
  }


  /* ********** START - Styles toggle switch ********** */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1e90ff;//nb-theme(kstdy-color-1);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #1e90ff;//nb-theme(kstdy-color-1);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }

  .on
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 30%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }

  .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 70%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }

  input:checked+ .slider .on
  {display: block;}

  input:checked + .slider .off
  {display: none;}

/*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* *********** END - Styles toggle switch *********** */

  .kstdya-card_content {
    min-width: 900px;
  }

}
