<div class="container contentPDF">
  <div class="row">
    <div class="font_family_roboto col-12" id="contentPDF">

      <div class="col-12 text-center p-3 btn-print">
        <button class="col-4 pgp-pointer pgp-btn_mod" nbButton [useExistingCss]="true" printSectionId="incapacityPDF"
          ngxPrint>Imprimir</button>
        <button class="col-4 pgp-pointer pgp-btn_mod" nbButton (click)="dismiss()">Cerrar</button>
      </div>
      <div id="incapacityPDF" #incapacityPDF>
        <div class="row pdf-title">
          <!-- ********** START - Breadcrumbs ********** -->
          <div class="col-sm" style="background-color: #fff; padding: 10px; text-align: left;">
          </div>
          <div class="col-sm" style="background-color: #fff; padding: 10px;text-align: center;">
            <span>
              <h4>
                <!-- {{ (diagnostigoGenerado?.paciente?.tipoAfiliacion?.tNombre == 'Cotizante') ? 'Certificado de Incapacidad Médica Laboral' : 'Certificado de Incapacidad Médica No Estudiantil' }} -->
                Concepto de Rehabilitación
              </h4>
            </span>
          </div>
          <div class="col-sm" style="background-color: #fff; padding: 10px;text-align: right;">
            <!-- <img *ngIf="false && ips?.tPathLogo" src="../../../../assets{{ ips?.tPathLogo }}" alt="Logo IPS"
              style="width: 150px; margin: 2.5% 0rem;" id="logo_ips"> -->
          </div>
        </div>

        <div class="col-12 containerPDF">
          <div class="row col-12 m-0 p-0">
            <div class="col-sm content-header">
              <h6>Fecha Emisión del Concepto: <small>{{ fechaActual | date:'short' }}</small></h6>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 pl-0 pr-0 ">
              <fieldset>
                <legend>
                  <h6>Concepto Médico para Remisión a Administradora de Fondo de Pensiones (AFP)</h6>
                </legend>
                <div class="col-12 mt-2 mb-2 p-0 divLegalinformation">
                  <label class="label" for="input-legalInformation"></label>
                  <p style="color: #000;font-weight: bold;">{{ tLegalInformation }}</p>
                </div>
                <fieldset class="divPersonalInformation">
                  <legend>
                    <h6>Información Personal</h6>
                  </legend>
                  <div class="row pkto-sub-header">
                    <div class="col-3 p-0 m-0 text-left">
                      Apellidos
                    </div>
                    <div class="col-3 p-0 m-0 text-left">
                      Nombres
                    </div>
                    <div class="col-2 p-0 m-0 text-left">
                      Tipo de Documento
                    </div>
                    <div class="col-2 p-0 m-0 text-left">
                      Número Documento
                    </div>
                    <div class="col-2 p-0 m-0 text-left">
                      Edad
                    </div>
                  </div>
                  <div class="row pkto-row">
                    <div class="col-3 p-1 m-0 text-left">
                      {{paciente?.tPrimerApellido}} {{paciente?.tSegundoApellido}}
                    </div>
                    <div class="col-3 p-1 m-0 text-left">
                      {{paciente?.tPrimerNombre}} {{paciente?.tSegundoNombre}}
                    </div>
                    <div class="col-2 p-1 m-0 text-left">
                      {{paciente?.tipoDocumento?.tTipoIdentificacion}}
                    </div>
                    <div class="col-2 p-1 m-0 text-left">
                      {{paciente?.tNumeroDocumento}}
                    </div>
                    <div class="col-2 p-1 m-0 text-left">
                      {{age}}
                    </div>
                  </div>
                  <div class="row pkto-sub-header">
                    <div class="col-3 p-0 m-0 text-left">
                      Fecha Nacimiento
                    </div>
                    <div class="col-3 p-0 m-0 text-left">
                      EPS
                    </div>
                    <div class="col-2 p-0 m-0 text-left">
                      ARL
                    </div>
                    <div class="col-2 p-0 m-0 text-left">
                      AFP
                    </div>
                  </div>
                  <div class="row pkto-row">
                    <div class="col-3 p-1 m-0 text-left">
                      {{paciente?.dtFechaNacimiento}}
                    </div>
                    <div class="col-3 p-1 m-0 text-left">
                      {{paciente?.eps?.tNombre}}
                    </div>
                    <div class="col-2 p-1 m-0 text-left">
                      {{paciente?.arl?.tNombre}}
                    </div>
                    <div class="col-2 p-1 m-0 text-left">
                      {{paciente?.afp?.tNombre}}
                    </div>
                  </div>
                </fieldset>
                <fieldset class="divDiagnostics">
                  <legend>
                    <h6>Diagnósticos</h6>
                  </legend>
                  <div class="col-12 row p-0 m-0 mt-2">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th scope="col pkto-sub-header">Codigo</th>
                          <th scope="col pkto-sub-header">Nombre</th>
                          <th scope="col pkto-sub-header">Fecha</th>
                          <th scope="col pkto-sub-header">Etimología</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of concept?.diagnostic; let i = index;">
                          <td class="text-left">
                            <div class="d-inline-block pkto-row">
                              {{ item.tCie10 }}
                            </div>
                          </td>
                          <td class="text-left">
                            <div class="d-inline-block text-truncate pkto-row">
                              {{ item.tDescripcion }}
                            </div>
                          </td>
                          <td class="text-left">
                            <div class="d-inline-block text-truncate pkto-row">
                              {{ item.tFecha | date:'short' }}
                            </div>
                          </td>
                          <td class="text-left">
                            <div class="d-inline-block text-truncate pkto-row">
                              {{ item.tEtimologia }}
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row pkto-sub-header">
                    <div class="col-6 p-0 m-0 text-left" style="opacity: 1 !important;">
                      <!-- <span style="opacity: 0.75;">Origen: </span><span
                            style="font-style: italic;font-weight: bold;opacity: 1 !important;color: #2f2d2e;">{{diagnostigoGenerado?.origenCalificadoIncapacidad == null ? 'Presunto' : 'Calificado' }}</span> -->
                      <span style="opacity: 0.75;">Orígen de las Patologías: </span><span
                        style="font-style: italic;font-weight: bold;opacity: 1 !important;color: #2f2d2e;">{{concept?.tOrigenPatologia}}</span>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="divSequelsDescription">
                  <legend>
                    <h6>Descripción de las Secuelas</h6>
                  </legend>
                  <div class="col-12 row p-0 m-0 mt-2">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th scope="col pkto-sub-header">Tipo de Secuela</th>
                          <th scope="col pkto-sub-header">Descripción</th>
                          <th scope="col pkto-sub-header">Pronóstico</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of concept?.sequelsDescription; let i = index;">
                          <td class="text-left">
                            <div class="d-inline-block pkto-row">
                              {{ item.tTipoSecuela }}
                            </div>
                          </td>
                          <td class="text-left">
                            <div class="d-inline-block text-truncate pkto-row">
                              {{ item.tDescripcion }}
                            </div>
                          </td>
                          <td class="text-left">
                            <div class="d-inline-block text-truncate pkto-row">
                              {{ item.tPronostico }}
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-12 p-0 m-0 mt-2">
                    <label class="label" for="input-Descripcion">Resumen Historia Clinica y Estado Actual del
                      Paciente</label>
                    <p style="color: #000;font-weight: bold;">{{ concept?.tClinicalHistorySummary }}</p>
                  </div>
                </fieldset>
                <fieldset class="divPossibleTherapeutic">
                  <legend>
                    <h6>Terapeutica Posible</h6>
                  </legend>
                  <div class="row pkto-sub-header">
                    <div class="col-12 p-0 m-0 text-left">
                      Tipo de Tratamiento
                    </div>
                  </div>
                  <div class="col-12 row p-1 m-0 form-control-group">
                    <div id="divTreatmentType"
                      *ngFor="let item of concept?.possibleTherapeutic?.treatmentType; let i = index;">
                      <span class="badge badge-pill badge-primary"
                        style="font-size: 1em; margin: 5px 0px;">{{ item.tDescription }}&nbsp;&nbsp;</span>&nbsp;
                    </div>
                  </div>
                  <div class="row pkto-sub-header">
                    <div class="col-12 p-0 m-0 text-left">
                      Otros Tratamientos
                    </div>
                  </div>
                  <div class="row pkto-row">
                    <div class="col-12 p-1 m-0 text-left">
                      {{concept?.possibleTherapeutic?.tOtherTreatment}}
                    </div>
                  </div>
                  <div class="row pkto-sub-header">
                    <div class="col-12 p-0 m-0 text-left">
                      Finalidad del Tratamiento (Posibilidad de Recuperación)
                    </div>
                  </div>
                  <div class="col-12 row p-1 m-0 form-control-group">
                    <div id="divPurposeTreatment"
                      *ngFor="let item of concept?.possibleTherapeutic?.purposeTreatment; let i = index;">
                      <span class="badge badge-pill badge-primary"
                        style="font-size: 1em; margin: 5px 0px;">{{ item.tDescription }}&nbsp;&nbsp;</span>&nbsp;
                    </div>
                  </div>
                </fieldset>
                <fieldset class="divPatientPrognosis page-break">
                  <legend>
                    <h6>Pronóstico del Paciente</h6>
                  </legend>
                  <div class="row pkto-sub-header">
                    <div class="col-3 p-0 m-0 text-left">
                      Corto Plazo (Menor a 1 año)
                    </div>
                    <div class="col-3 p-0 m-0 text-left">
                      Mediano Plazo (Mayor a 1 año)
                    </div>
                  </div>
                  <div class="row pkto-row">
                    <div class="col-3 p-1 m-0 text-left">
                      {{concept?.patientPrognosis?.tShortTerm}}
                    </div>
                    <div class="col-3 p-1 m-0 text-left">
                      {{concept?.patientPrognosis?.tMediumTerm}}
                    </div>
                  </div>
                  <div class="row pkto-sub-header">
                    <div class="col-3 p-0 m-0 text-left" style="opacity: 1 !important;">
                      <!-- <span style="opacity: 0.75;">Origen: </span><span
                            style="font-style: italic;font-weight: bold;opacity: 1 !important;color: #2f2d2e;">{{diagnostigoGenerado?.origenCalificadoIncapacidad == null ? 'Presunto' : 'Calificado' }}</span> -->
                      <span style="opacity: 0.75;">Concepto: </span><span
                        style="font-style: italic;font-weight: bold;opacity: 1 !important;color: #2f2d2e;font-size: 1.75rem;">{{concept?.tConcepto == true ? 'FAVORABLE' : 'DESFAVORABLE'}}</span>
                    </div>
                    <div class="col-3 p-0 m-0 text-left" style="opacity: 1 !important;">
                      <!-- <span style="opacity: 0.75;">Origen: </span><span
                            style="font-style: italic;font-weight: bold;opacity: 1 !important;color: #2f2d2e;">{{diagnostigoGenerado?.origenCalificadoIncapacidad == null ? 'Presunto' : 'Calificado' }}</span> -->
                      <span style="opacity: 0.75;">Origen: </span><span
                        style="font-style: italic;font-weight: bold;opacity: 1 !important;color: #2f2d2e;">{{concept?.tOrigen}}</span>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="divRemission">
                  <legend>
                    <h6>Remisión a Administradora de Fondo de Pensiones</h6>
                  </legend>
                  <div class="col-12 mt-2 mb-2 p-0 divLegalinformation">
                    <label class="label" for="input-legalInformation"></label>
                    <p style="color: #000;font-weight: bold;">{{ concept?.tRemission }}</p>
                  </div>
                  <p style="opacity: 0.75;">
                    Este concepto está basado en las diferentes historias clínicas que acompañan las incapacidades del
                    paciente.
                  </p>
                  <div class="divMedico col-12 row mb-1 p-1 m-0 mt-1">
                    <div class="col-5" style="position: relative">
                      <img [src]="transform()" alt="Firma Medico" style="width: 100%" />
                      <div class="infoDoctor col-10 text-center">
                        <span>
                          <h6>Dr(a). {{user?.name}}</h6>
                        </span>
                        <span>
                          <h6>{{ user?.usuario?.tipoDocumento?.tNombre }}: {{ user?.usuario?.tNumeroDocumento | number }}</h6>
                        </span>
                        <span>
                          <h6>Especialidad : {{user?.tEspecialidad}}</h6>
                        </span>
                        <span>
                          <h6>Registro Médico : {{user?.tRegistroMedico}}</h6>
                        </span>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>