@import "../../../../@theme/styles/themes";

@include nb-install-component() {
    .pgp-pointer {
        cursor: pointer;
    }

    .font_family_roboto {
        font-family: "Roboto";
    }

    button:focus {
        outline: 0;
        cursor: pointer;
    }

    .pgp-btn_mod {
        background-color: #1e90ff;
        margin: 1px;
    }
}

.content-header {
    padding: 3vh 0vh;
    text-align: left;
}

.pkto-header {
    text-align: left !important;
    padding: 0;
    margin: 0.5rem 0 0 0;
    color: #1e90ff;
    font-weight: bold;

    div {
        padding: 0;
    }
}

.pkto-sub-header {
    margin: 0;
    padding: 0;

    div {
        border-right: 2px solid;
        border-color: white;
        color: #2f2d2e;
        opacity: 0.75;
    }
}

.pkto-row {
    margin: 0;
    padding: 0;

    div {
        background-color: #fff;
        padding: 0.65rem !important;
        padding-left: 0 !important;
        border-right: 2px solid white;
        color: #2f2d2e;
        font-weight: bold;

        width: 250px;
        // white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

fieldset {
    // color: #1e90ff;
    border: 0;
    border-top: 1px solid;
    padding: 0;

    legend {
        width: auto;
        margin: 0;
        padding: 0 1rem;
        text-align: center;

        h6 {
            color: #1e90ff;
            font-weight: bold;
        }
    }
}

.divSequelsDescription,
.divDiagnostics {
    td {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.table-borderless th,
.table-borderless td {
    padding-left: 0;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
    max-width: 90vh;
    width: fit-content;

    div {
        max-width: 90vh;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
        padding: 0;
    }

    i {
        margin: auto;
        padding: 0;
        text-align: center;
    }
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

/*******************************************************************/

.contentIncacity {
    width: 100vh;
    background-color: white;
    height: 100%;
    padding: 0;
}

.contentPDF {
    width: 160vh;
    background-color: white;
    height: 98vh;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

#contentPDF {
    overflow-y: hidden;
    overflow-x: hidden;
}

.containerPDF {
    max-height: 64vh;
    overflow-y: auto;
    overflow-x: auto;
}

.pdf-title {
    padding: 0;

    img {
        margin: 0 !important;
    }

    h6,
    .h6 {
        font-size: 0.7rem;
        margin: 0;
    }
}

#divDiagnostico,
#divIncapacidad {
    padding-top: 2rem;
    float: none;
}

.infoDoctor {
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
}

.divfooter {
    padding: 0 3rem;
}

@media print {
    .page-break {
        page-break-before: always;
    }

    title {
        display: none;
    }

    .btn-print {
        display: none;
    }

    .containerPDF {
        max-height: 120vh;
        overflow: visible;
    }

    .divCertificado {
        padding-top: 5rem;
    }

    .divLegalinformation {
        padding-bottom: 2rem !important;
        padding-top: 1rem !important;
    }

    .divPersonalInformation,
    .divDiagnostics,
    .divSequelsDescription,
    .divPatientPrognosis {
        padding-bottom: 2rem !important;
        padding-top: 2rem !important;
    }

    .divPossibleTherapeutic {
        padding-bottom: 5rem;
        padding-top: 2rem;
    }

    .divMedico {
        padding-top: 3rem !important;
    }

    .titleOrigen {
        font-style: italic;
        font-weight: bold;
        opacity: 1 !important;
        color: #2f2d2e;
    }

    .lastrow {
        margin-bottom: 1rem;
    }

    /deep/ nb-dialog-container {
        visibility: visible;
        /**Remove scrollbar for printing.**/
        overflow: hidden !important;
    }

    .badge-primary {
        color: #fff;
        background-color: #007bff;
        max-width: 90vh;
        width: fit-content;

        div {
            max-width: 90vh;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: left;
            padding: 0;
        }

        i {
            margin: auto;
            padding: 0;
            text-align: center;
        }
    }

    .badge-pill {
        padding-right: 0.6em;
        padding-left: 0.6em;
        border-radius: 10rem;
    }
}