<nb-card size="tiny">
  <nb-card-header style="display: flex !important; justify-content: space-between !important;">
    No aplica caso
    <span class="cursor-pointer" (click)="fnCloseModal()">
        <i class="fas fa-times cursor-pointer text-danger"></i>
    </span>
  </nb-card-header>
  <nb-card-body>
    <div class="row ml-0 mr-0">
      <form style="width: 350px;" #helpForm="ngForm" aria-labelledby="title">
        <div class="col-12 pl-0 pr-0">
          <p>
              En esta secci&oacute;n puedes marcar como "No aplica" el caso seleccionado. 
          </p>
        </div>
        <!-- ********** START - Ocupación paciente ********** -->
        <div class="mt-2 mb-2 col-12">
          <div class="form-group">
            <label for="input-selectJobPatient">
              <h6 class="m-0">
                <i class="fas fa-user"></i>&nbsp;Caso:&nbsp;
                <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
              </h6>
            </label>
            <div class="col">
              <span class="badge rounded-pill text-light cursor-pointer badge-state-1" tooltip="Paciente caso" placement="top" container="body">
                <i class="far fa-address-card"></i>&nbsp;
                {{ dataCase?.documentoPaciente }} - {{ dataCase?.nombrePaciente | titlecase}}
              </span>
            </div>
          </div>
        </div>
        <div class="mt-2 mb-2 col-12">
          <div class="form-group">
            <label for="input-selectListCancelType">
              <h6 class="m-0">
                <i class="fas fa-user"></i>&nbsp;Tipo Concepto:&nbsp;
                <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
              </h6>
            </label>
            <ng-select  
              id="input-selectListCancelType"
              [items]="collectionCancelTypes" 
              bindLabel="name" 
              name="selectListCancelType"
              #selectListCancelType="ngModel" 
              status="basic" 
              appendTo="body"
              placeholder="Seleccione tipo concepto"
              [ngModelOptions]="{standalone: true}" 
              [(ngModel)]="cancelType" 
              (change)="fnSelectCancelType($event)"
              required>
            </ng-select>
          </div>
        </div>
        <div class="mt-2 mb-2 col-12">
          <div class="form-group">
            <label for="input-cancelDescription">
              <h6 class="m-0">
                <i class="fas fa-user"></i>&nbsp;Causa:&nbsp;
                <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
              </h6>
            </label>
            <textarea 
              nbInput 
              fullWidth 
              id="input-cancelDescription"  
              name="cancelDescription" 
              [disabled]="false" 
              [readonly]="false" 
              [(ngModel)]="cancelCaseDescription" 
              [ngModelOptions]="{standalone: true}"
              [status]="cancelDescription.dirty ? (cancelDescription.invalid  ? 'danger' : 'info') : 'info'" 
              #cancelDescription="ngModel"
              placeholder="Escribe una descripción por la que se caracteriza el caso como No Aplica ...">
            </textarea>
          </div>
        </div>
        <!-- *********** END - Ocupación paciente *********** -->
        <br>
        <button 
            class="cursor-pointer mb-2"
            nbButton 
            fullWidth 
            type="button" 
            (click)="fnCancelCase(cancelCaseDescription)"
            [class.btn-pulse]="submitted" 
            [disabled]="!cancelCaseDescription" 
            style="background-color: #3366ff; border-color: #3366ff; color: white; text-transform: none !important;">
            Actualizar
        </button>
        <button 
            class="cursor-pointer mb-2"
            nbButton 
            fullWidth 
            type="button"
            [class.btn-pulse]="submitted" 
            (click)="fnCancelData()"
            style="background-color: #9d9d9d; border-color: #9d9d9d; color: #fff; text-transform: none !important;">
            Cancelar
        </button>
      </form>
  </div>
  </nb-card-body>
</nb-card>