<div class="col-12">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
      <div class="row">
        <form #f="ngForm" (ngSubmit)="fnEditFormSignatureAccountingAudit(data_accounting_audit)" style="width: 100%;">
          <h4 class="font_family_roboto text-center">Autorizaci&oacute;n firmas</h4>
          <div class="row mt-3 mb-3">
            <div class="col-4">
              <img [src]="image_source_coordinador" height="129" alt="">
            </div>
            <div class="col-4">
              <img [src]="image_source_gerente" height="129" alt="">
            </div>
            <div class="col-4">
              <img [src]="image_source_interventor" height="129" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="firma1" class="label">Firma 1</label>
                <ng-select
                  [items]="collection_users"
                  bindLabel="name"
                  bindValue="id"
                  id="firma1"
                  placeholder="Seleccione firma 1"
                  (change)="fnGetSignatureByUser($event.id, 'image_source_coordinador')"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_accounting_audit.coordinadorId"
                  [disabled]="false"
                  [clearable]="false">
                </ng-select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="firma2" class="label">Firma 2</label>
                <ng-select
                  [items]="collection_users"
                  bindLabel="name"
                  bindValue="id"
                  id="firma2"
                  placeholder="Seleccione firma 2"
                  (change)="fnGetSignatureByUser($event.id, 'image_source_gerente')"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_accounting_audit.gerenteId"
                  [disabled]="false"
                  [clearable]="false">
                </ng-select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="firma3" class="label">Firma 3</label>
                <ng-select
                  [items]="collection_users"
                  bindLabel="name"
                  bindValue="id"
                  id="firma3"
                  placeholder="Seleccione firma 3"
                  (change)="fnGetSignatureByUser($event.id, 'image_source_interventor')"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_accounting_audit.interventorId"
                  [disabled]="false"
                  [clearable]="false">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-3">
            <button class="btn kstdy-btns_actions kstdy-btn_action_save font_family_roboto" [disabled]="false" [class.btn-pulse]="submitted" fullwidth type="submit">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>  