<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        <div class="row m-0 p-0">
          <div class="col text-left">
            <button type="button" (click)="fnReturnPage()" class="btn btn-link text-info cursor-pointer">
              <i class="fas fa-arrow-left"></i>&nbsp;{{ 'Regresar' | titlecase }}
            </button>
          </div>
          <div class="col text-center">
            <h3 style="margin-top: 6px;">Certificado de incapacidad</h3>
          </div>
          <div class="col text-right">
            <button 
              type="button" 
              class="btn btn-link text-info cursor-pointer" 
              [useExistingCss]="true"
              printSectionId="incapacityPDF" 
              ngxPrint>
              {{ 'Imprimir' | titlecase }}&nbsp;
              <i class="fas fa-print"></i>
            </button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body id="incapacityPDF" #incapacityPDF>
        <!-- <div>
          Paciente: 
          <h4><strong>
            {{ patientData?.tPrimerNombre | titlecase }} 
            {{ patientData?.tSegundoNombre | titlecase | titlecase }} 
            {{ patientData?.tPrimerApellido | titlecase }} 
            {{ patientData?.tSegundoApellido | titlecase }} 
          </strong></h4>
        </div> -->
        <!-- <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptas molestiae, rem, consequuntur dolorem quibusdam ex error sapiente facere quo, harum inventore quod voluptatibus hic! Repellat nobis architecto aperiam sit.
          ---------{{dataCertificate | json}}-------
        </p> -->
        <div class="container-fluid p-5">
          
          <div class="row card" style="border-radius: 15px;">
            <div class="card-header text-center" style="border-radius: 15px;">
              <h2>Certificado de Incapacidad M&eacute;dica Laboral</h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div>
                    <small>Nombre IPS:</small>&nbsp;<h4>{{ dataCertificate?.ips?.tNombre || ' - ' }}</h4>
                  </div>
                  <div class="row align-items-center">
                    <div class="col">
                      <div>
                        <small>NIT IPS:</small>&nbsp;<h6>{{ dataCertificate?.ips?.tNumeroIdentificacion || ' - ' }} - {{dataCertificate?.ips?.tDigitoVerificacion || ' - ' }}</h6>
                      </div>
                    </div>
                    <div class="col">
                      <div>
                        <small>C&oacute;digo habilitaci&oacute;n:</small>&nbsp;<h6>{{ dataCertificate?.ips?.tCodigoExterno || ' - ' }}</h6>
                      </div>
                    </div>
                    <div class="col">
                      <div>
                        <small>Correo electr&oacute;nico:</small>&nbsp;<h6>{{ dataCertificate?.ips?.tEmail || ' - ' }}</h6>
                      </div>
                    </div>
                    <div class="col">
                      <div>
                        <small>Departamento:</small>&nbsp;<h6>{{ dataCertificate?.ips?.ubicacion?.tNombreDepartamento || ' - ' }}</h6>
                      </div>
                    </div>
                    <div class="col">
                      <div>
                        <small>Municipio:</small>&nbsp;<h6>{{ dataCertificate?.ips?.ubicacion?.tNombreMunicipio || ' - ' }}</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3 text-right">
                  <img style="width: 6rem; margin: 0;" [src]="'../../../../assets' + dataCertificate?.ips?.tPathLogo" alt="Logo IPS" id="logo_ips">
                </div>
              </div>
            </div>
          </div>

          

          <div class="row card mt-2" style="border-radius: 15px;">
            <div class="card-header" style="border-radius: 15px;">
              Certificado de Incapacidad M&eacute;dica
            </div>
            <div class="card-body" style="height: 70px !important;">
              <div class="row">
                <div class="col">
                  <div>
                    <small>NUIM:</small>&nbsp;<h6>{{ dataCertificate?.tCodigoCorto || ' - ' }}</h6>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <small>Lugar de Expedici&oacute;n:</small>&nbsp;<h6>{{ dataCertificate?.tLugarExpedicion || ' - ' }}</h6>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <small>Fecha de Expedici&oacute;n:</small>&nbsp;<h6>{{ dataCertificate?.dtFechaCreacion | date:'dd / MM / yyyy, hh:mm a' || ' - ' }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row card mt-2" style="border-radius: 15px;">
            <div class="card-header" style="border-radius: 15px;">
              Datos paciente
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Primer&nbsp;nombre:&nbsp;</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.tPrimerNombre">{{ (patientData?.tPrimerNombre | titlecase) }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.tPrimerNombre">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <small>Tipo de documento:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.tipoDocumento?.tTipoIdentificacion">{{ (patientData?.tipoDocumento?.tTipoIdentificacion | titlecase) }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.tipoDocumento?.tTipoIdentificacion">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <small>Edad:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.iEdad">{{ patientData?.iEdad + ' años' }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.iEdad">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <small>Pa&iacute;s:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.ubicacion?.tNombrePais">{{ patientData?.ubicacion?.tNombrePais | titlecase }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.iEdad">No registra dato</small>
                  </div>
                </div>
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Segundo&nbsp;nombre:&nbsp;</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.tSegundoNombre">{{ (patientData?.tSegundoNombre | titlecase) }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.tSegundoNombre">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <small>N&uacute;mero de documento:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.tNumeroDocumento">{{ patientData?.tNumeroDocumento }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.tNumeroDocumento">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <small>Correo electr&oacute;nico:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.tEmail">{{ patientData?.tEmail }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.tEmail">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <small>Depatamento:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.ubicacion?.tNombreDepartamento">{{ patientData?.ubicacion?.tNombreDepartamento | titlecase }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.ubicacion?.tNombreDepartamento">No registra dato</small>
                  </div>
                </div>
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Primer&nbsp;apellido:&nbsp;</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.tPrimerApellido">{{ (patientData?.tPrimerApellido | titlecase) }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.tPrimerApellido">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <small>Fecha de nacimiento:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.dtFechaNacimiento">{{ patientData?.dtFechaNacimiento | date:'mediumDate' }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.dtFechaNacimiento">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <small>Direcci&oacute;n:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.tDireccion">{{ patientData?.tDireccion }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.tDireccion">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <small>Ciudad:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.ubicacion?.tNombreMunicipio">{{ patientData?.ubicacion?.tNombreMunicipio | titlecase }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.ubicacion?.tNombreMunicipio">No registra dato</small>
                  </div>
                </div>
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Segundo&nbsp;apellido:&nbsp;</small><br>
                    <h6 style="color: #000;"*ngIf="patientData?.tSegundoApellido">{{ (patientData?.tSegundoApellido | titlecase) }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.tSegundoApellido">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <small>G&eacute;nero:</small><br>
                    <h6 style="color: #000;"*ngIf="patientData?.genero?.tGenero">{{ (patientData?.genero?.tGenero | titlecase) }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.genero?.tGenero">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <small>T&eacute;lefono:</small><br>
                    <h6 style="color: #000;"*ngIf="patientData?.tTelefono">{{ patientData?.tTelefono }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.tTelefono">No registra dato</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row card mt-2 mb-4" style="border-radius: 15px;">
            <div class="card-header" style="border-radius: 15px;">
              Datos empleador
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <small>NIT:&nbsp;</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.empresa?.nit">{{ patientData?.empresa?.nit }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.empresa?.nit">No registra dato</small>
                  </div>
                </div>
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Raz&oacute;n Social:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.empresa?.tRazonSocial">{{ patientData?.empresa?.tRazonSocial }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.empresa?.tRazonSocial">No registra dato</small>
                  </div>
                </div>
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <small>C&oacute;digo CIIU:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.empresa?.actividadEconomica?.ciiu">{{ patientData?.empresa?.actividadEconomica?.ciiu }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.empresa?.actividadEconomica?.ciiu">No registra dato</small>
                  </div>
                </div>
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Actividad economica:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.empresa?.actividadEconomica?.tNombreActividad">{{ patientData?.empresa?.actividadEconomica?.tNombreActividad }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.empresa?.actividadEconomica?.tNombreActividad">No registra dato</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row card mt-2 mb-4" style="border-radius: 15px;">
            <div class="card-header" style="border-radius: 15px;">
              Datos afiliaci&oacute;n EPS
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <small>NIT:</small><br>
                    <h6 style="color: #000;" *ngIf="dataCertificate?.eps?.tNumeroIdentificacion">{{ dataCertificate?.eps?.tNumeroIdentificacion }}</h6>
                    <small style="color: #ccc;" *ngIf="!dataCertificate?.eps?.tNumeroIdentificacion">No registra dato</small>
                  </div>
                </div>
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Razón Social:</small><br>
                    <h6 style="color: #000;" *ngIf="dataCertificate?.eps?.tNombre">{{ dataCertificate?.eps?.tNombre }}</h6>
                    <small style="color: #ccc;" *ngIf="!dataCertificate?.eps?.tNombre">No registra dato</small>
                  </div>
                </div>
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Tipo Afiliaci&oacute;n:</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.tipoAfiliacion?.tNombre">{{ patientData?.tipoAfiliacion?.tNombre }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.tipoAfiliacion?.tNombre">No registra dato</small>
                  </div>
                </div>
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <small>R&eacute;gimen de afiliaci&oacute;n:&nbsp;</small><br>
                    <h6 style="color: #000;" *ngIf="patientData?.regimenAfiliacion?.tNombre">{{ patientData?.regimenAfiliacion?.tNombre }}</h6>
                    <small style="color: #ccc;" *ngIf="!patientData?.regimenAfiliacion?.tNombre">No registra dato</small>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          
          <div class="row card mt-2 mb-4" style="border-radius: 15px;">
            <div class="card-header" style="border-radius: 15px;">
              Datos incapacidad
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12" *ngFor="let itemcie10 of dataCertificate?.cie10">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Diagn&oacute;stico cl&iacute;nico:</small><br>
                    <h6 style="color: #000;" *ngIf="itemcie10?.tFullDescripcion">{{ itemcie10?.tFullDescripcion }}</h6>
                    <small style="color: #ccc;" *ngIf="!itemcie10?.tFullDescripcion">No registra dato</small>
                  </div>
                </div>
                <div class="col-12">
                  <hr>
                  <div style="margin-bottom: 0.5rem;">
                    <small>Descripci&oacute;n sintomatol&oacute;gica:</small><br>
                    <h6 style="color: #000;" *ngIf="dataCertificate?.tDescripcionSintomatologica">{{ dataCertificate?.tDescripcionSintomatologica }}</h6>
                    <small style="color: #ccc;" *ngIf="!dataCertificate?.tDescripcionSintomatologica">No registra dato</small>
                  </div>
                  <hr>
                </div>
                <div class="col-3">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Tipo de atenci&oacute;n:</small><br>
                    <h6 style="color: #000;" *ngIf="dataCertificate?.tipoAtencion?.tDescripcion">{{ dataCertificate?.tipoAtencion?.tDescripcion }}</h6>
                    <small style="color: #ccc;" *ngIf="!dataCertificate?.tipoAtencion?.tDescripcion">No registra dato</small>
                  </div>
                </div>
                <div class="col-3">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Origen (presunto):</small><br>
                    <h6 style="color: #000;" *ngIf="dataCertificate?.presuntoOrigenIncapacidad?.tOrigenIncapacidad">{{ dataCertificate?.presuntoOrigenIncapacidad?.tOrigenIncapacidad }}</h6>
                    <small style="color: #ccc;" *ngIf="!dataCertificate?.presuntoOrigenIncapacidad?.tOrigenIncapacidad">No registra dato</small>
                  </div>
                </div>
                <div class="col-3">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Lateralidad:&nbsp;</small><br>
                    <h6 style="color: #000;" *ngIf="dataCertificate?.iIDLateralidad">{{ dataCertificate?.iIDLateralidad }}</h6>
                    <small style="color: #ccc;" *ngIf="!dataCertificate?.iIDLateralidad">No registra dato</small>
                  </div>
                </div>
                <div class="col-3">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Clase de incapacidad:&nbsp;</small><br>
                    <h6 style="color: #000;" *ngIf="dataCertificate?.bProrroga">{{ (dataCertificate?.bProrroga) ? 'Prórroga' : 'Nueva incapacidad' }}</h6>
                    <small style="color: #ccc;" *ngIf="dataCertificate?.bProrroga == null">No registra dato</small>
                  </div>
                </div>
                <div class="col-3">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Total d&iacute;as de incapacidad:&nbsp;</small><br>
                    <h6 style="color: #000;" *ngIf="dataCertificate?.iDiasIncapacidad">{{ dataCertificate?.iDiasIncapacidad }} d&iacute;as</h6>
                    <small style="color: #ccc;" *ngIf="!dataCertificate?.iDiasIncapacidad">No registra dato</small>
                  </div>
                </div>
                <div class="col-3">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Fecha inicio incapacidad:&nbsp;</small><br>
                    <h6 style="color: #000;" *ngIf="dataCertificate?.dtFechaCreacion">{{ dataCertificate?.dtFechaCreacion | date:'dd / MM / yyyy' }}</h6>
                    <small style="color: #ccc;" *ngIf="!dataCertificate?.dtFechaCreacion">No registra dato</small>
                  </div>
                </div>
                <div class="col-3">
                  <div style="margin-bottom: 0.5rem;">
                    <small>Fecha finalizaci&oacute;n incapacidad:&nbsp;</small><br>
                    <h6 style="color: #000;" *ngIf="dataCertificate?.dtFechaFin">{{ dataCertificate?.dtFechaFin | date:'dd / MM / yyyy' }}</h6>
                    <small style="color: #ccc;" *ngIf="!dataCertificate?.dtFechaFin">No registra dato</small>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

          <div class="row mb-1 p-1 m-0 mt-1 align-items-end">
            <div class="col" style="position: relative">
              <div *ngIf="dataDoctor?.signature">
                <img [src]="dataDoctor?.signature" alt="Firma Medico" style="width: 100%" />  
              </div>
              <div class="infoDoctor col-10 text-center">
                <span>
                  <hr>
                  <h6>Dr(a). {{dataDoctor?.name}}</h6>
                </span>
                <span>
                  <h6>{{ dataDoctor?.dataDoctor?.tipoDocumento?.tNombre }}: {{ dataDoctor?.dataDoctor?.tNumeroDocumento }}</h6>
                </span>
                <span>
                  <h6>Especialidad : {{dataDoctor?.especiality}}</h6>
                </span>
                <span>
                  <h6>Registro Médico : {{dataDoctor?.medicalRegister}}</h6>
                </span>
              </div>
            </div>
            <div class="col text-center">
              <ngx-qrcode 
                style="zoom: 0.7 !important;"
                id="qrCodeImage" 
                class="col-12" 
                qrc-element-type="url"
                [qrc-value]="dataCertificate?.qrcode">
              </ngx-qrcode>
              <h6 class="col-12">Código de Autenticación de Incapacidades Médicas</h6>
            </div>
          </div>

        </div>
        
      </nb-card-body>
    </nb-card>

  </div>
</div>