<div class="row" accent="danger" size="tiny" [nbSpinner]="submitted" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="Obteniendo listado de incapacidades...">
  <div class="col-md-12">

    <nb-flip-card [showToggleButton]="false" [flipped]="flipped">
      <nb-card-front>
        <nb-card>
          <nb-card-header>
            <div class="row m-0 p-0">
              <div class="col text-left">
                <button type="button" (click)="fnReturnPage()" class="btn btn-link text-info cursor-pointer">
                  <i class="fas fa-arrow-left"></i>&nbsp;{{ 'Regresar' | titlecase }}
                </button>
              </div>
              <div class="col text-center">
                <h3 style="margin-top: 6px;">Movimiento contable</h3>
              </div>
              <div class="col text-right">
                <button 
                  type="button" 
                  class="btn btn-link text-info cursor-pointer" 
                  [useExistingCss]="true"
                  printSectionId="detailAccountingRegistryPDF" 
                  ngxPrint>
                  {{ 'Imprimir' | titlecase }}&nbsp;
                  <i class="fas fa-print"></i>
                </button>
              </div>
            </div> 
            
            <!-- <span class=" mt-2 mb-3">
              <i class="fas fa-arrow-left"></i>&nbsp;Regresar
            </span> -->
            
          </nb-card-header>
          <nb-card-body id="detailAccountingRegistryPDF" #detailAccountingRegistryPDF>
            <div class="container-fluid pl-5 pt-1 pr-5 pb-5">
            
              <div>
              Paciente: 
              <h4><strong>
                {{ patientData?.tPrimerNombre | titlecase }} 
                {{ patientData?.tSegundoNombre | titlecase | titlecase }} 
                {{ patientData?.tPrimerApellido | titlecase }} 
                {{ patientData?.tSegundoApellido | titlecase }} 
              </strong></h4>
              </div>
              <p class="mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptas molestiae, rem, consequuntur dolorem quibusdam ex error sapiente facere quo, harum inventore quod voluptatibus hic! Repellat nobis architecto aperiam sit.
              </p>


              <div class="row card border-secondary mt-2 mb-2" style="border-radius: 15px;" *ngFor="let itemDetail of dataDetailAccounting; let i = index;">
                <div class="card-header border-secondary text-center" style="border-radius: 15px; max-height: 50px !important;">
                  

                  <div class="row m-0 p-0">
                    <div class="col text-left">
                      <!-- <button type="button" (click)="fnReturnPage()" class="btn btn-link text-info cursor-pointer">
                        <i class="fas fa-arrow-left"></i>&nbsp;{{ 'Regresar' | titlecase }}
                      </button> -->
                      <span style="color: #fff; font-weight: 800;border: 1px solid #00409f; background-color: #0d6efd; padding: 5px 10px; border-radius: 15px; margin: 0px 0 !important; position: absolute;">{{ i + 1 }}</span>
                    </div>
                    <div class="col text-center">
                      <!-- <h3 style="margin-top: 6px;">Movimiento contable</h3> -->
                      <h4 class="m-0">Informaci&oacute;n moviemiento contable</h4>
                    </div>
                    <div class="col text-right">
                      <!-- <button 
                        type="button" 
                        class="btn btn-link text-info cursor-pointer" 
                        [useExistingCss]="true"
                        printSectionId="detailAccountingRegistryPDF" 
                        ngxPrint>
                        {{ 'Imprimir' | titlecase }}&nbsp;
                        <i class="fas fa-print"></i>
                      </button> -->
                      &nbsp;
                    </div>
                  </div> 

                </div>
                <div class="card-body" style="/*height: 122px !important;*/">
                  <div class="row">
                    <div class="col">

                      <div>
                        <small>C&oacute;digo &uacute;nico de incapacidad:</small>&nbsp;<h4>{{ diagnosticCodeDNI || ' - ' }}</h4>
                      </div>
                      <div class="row align-items-center">
                        <!-- <div class="col">
                          <div>
                            <small>Fecha de elaboraci&oacute;n:</small>&nbsp;<h6>{{ itemDetail['FechaElaboracion'] | date:'dd / MM / yyyy, hh:mm a' || ' - '  }}</h6>
                          </div>
                        </div> -->
                        <div class="col">
                          <div>
                            <small>Descripci&oacute;n de comprobante:</small>&nbsp;<h6>{{ itemDetail[0]['DescripcionFicha'] || ' - ' }}</h6>
                          </div>
                        </div>
                        <div class="col">
                          <div>
                            <!-- <small>Moneda:</small>&nbsp;<h6>{{ 'COP - Peso colombiano' || ' - ' }}</h6> -->
                            <small>Tipo de comprobante:</small>&nbsp;<h6>{{ itemDetail[0]['Descripcion'] || ' - ' }}</h6>
                          </div>
                        </div>
                        <div class="col">
                          <div>
                            <small>Moneda:</small>&nbsp;<h6>{{ 'COP - Peso colombiano' || ' - ' }}</h6>
                          </div>
                        </div>
                      </div>
                      

                    </div>                  
                  </div>

                  <div class="row card border-secondary m-1" style="border-radius: 15px;">
                    <h5 class="card-header border-secondary" style="border-radius: 15px;">
                      <i class="fas fa-file-invoice-dollar"></i>&nbsp;Detalle moviemiento contable
                    </h5>
                    <div class="card-body" >
                      <div class="row mb-2" *ngFor="let itemAccunting of itemDetail; let j = index;" style="border-bottom: 1px solid #ccc;">
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Fecha de elaboraci&oacute;n:</small><br>
                            <h6 style="color: #000;">{{ itemAccunting['FechaElaboracion'] | date:'dd / MM / yyyy, hh:mm a' || ' - '  }}</h6>
                            <!-- <small style="color: #ccc;" *ngIf="!dataCertificate?.cie10[dataCertificate?.cie10.length - 1]?.tFullDescripcion">No registra dato</small> -->
                          </div>
                        </div>
                        <div class="col-2">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Cuenta contable:</small><br>
                            <h6 style="color: #000;">{{ itemAccunting?.CodigoContable || ' - ' }}</h6>
                            <!-- <small style="color: #ccc;" *ngIf="!dataCertificate?.cie10[dataCertificate?.cie10.length - 1]?.tFullDescripcion">No registra dato</small> -->
                          </div>
                        </div>
                        <div class="col-2">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Tercero:</small><br>
                            <h6 style="color: #000;">{{ itemAccunting?.NitTercero || ' - ' }}</h6>
                            <!-- <small style="color: #ccc;" *ngIf="!dataCertificate?.tDescripcionSintomatologica">No registra dato</small> -->
                          </div>
                        </div>
                        <!-- <div class="col-12">
                          <hr>
                        </div> -->
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Detalle contable:</small><br>
                            <h6 style="color: #000;">{{ itemAccunting?.SituacionEncontrada || ' - ' }}</h6>
                            <!-- <small style="color: #ccc;" *ngIf="!dataCertificate?.tipoAtencion?.tDescripcion">No registra dato</small> -->
                          </div>
                        </div>
                        <!-- <div class="col-3">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Descripci&oacute;n :</small><br>
                            <h6 style="color: #000;">{{ itemAccunting?.DescripcionFicha || ' - ' }}</h6>
                          </div>
                        </div> -->
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>D&eacute;bito:&nbsp;</small><br>
                            <h6 style="color: #000;">{{ (itemAccunting?.Debito > 0) ? (itemAccunting?.Debito | currency:'CAD':'symbol-narrow':'4.2-2') : '$0.00' }}</h6>
                            <!-- <small style="color: #ccc;" *ngIf="!dataCertificate?.nameLaterality?.tNombre">No registra dato</small> -->
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Cr&eacute;dito:&nbsp;</small><br>
                            <h6 style="color: #000;">{{ (itemAccunting?.Credito > 0) ? (itemAccunting?.Credito | currency:'CAD':'symbol-narrow':'4.2-2') : '$0.00' }}</h6>
                            <!-- <small style="color: #ccc;" *ngIf="dataCertificate?.bProrroga == null">No registra dato</small> -->
                          </div>
                        </div>
                        <!-- <div class="col-3">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Total d&iacute;as de incapacidad:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="dataCertificate?.iDiasIncapacidad">{{ dataCertificate?.iDiasIncapacidad }} d&iacute;as</h6>
                            <small style="color: #ccc;" *ngIf="!dataCertificate?.iDiasIncapacidad">No registra dato</small>
                          </div>
                        </div>
                        <div class="col-3">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Fecha inicio incapacidad:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="dataCertificate?.dtFechaCreacion">{{ dataCertificate?.dtFechaCreacion | date:'dd / MM / yyyy' }}</h6>
                            <small style="color: #ccc;" *ngIf="!dataCertificate?.dtFechaCreacion">No registra dato</small>
                          </div>
                        </div>
                        <div class="col-3">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Fecha finalizaci&oacute;n incapacidad:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="dataCertificate?.dtFechaFin">{{ dataCertificate?.dtFechaFin | date:'dd / MM / yyyy' }}</h6>
                            <small style="color: #ccc;" *ngIf="!dataCertificate?.dtFechaFin">No registra dato</small>
                          </div>
                        </div> -->
                        <!-- <div class="col-12">
                          <hr>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      
    </nb-flip-card>

  </div>
</div>