<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto kstdya-card_content" size="tiny" style="min-width: 943px;">
        <nb-card-header class="font_family_roboto text-center" style="color: #1e90ff;font-weight: 500;">Editar administrador <i class="fas fa-times" (click)="fnCancelUpdateAdministrator()" style="position: absolute;right: 3rem;cursor: pointer;color: #d9dee4;"></i></nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnUpdateAdministrator(data_admin)" #updateAdministrator="ngForm" aria-labelledby="title" style="width: 100%">
                <div class="col-12 pl-0 pr-0">
                  <div class="row justify-content-center">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputTelephoneNumber">N&uacute;mero tel&eacute;fono</label>
                        <input 
                          type="text" 
                          nbInput 
                          fullWidth 
                          [(ngModel)]="data_admin.numero" 
                          [ngModelOptions]="{standalone: true}" 
                          #inputTelephoneNumber="ngModel" 
                          name="inputTelephoneNumber"
                          [status]="inputTelephoneNumber.dirty ? (inputTelephoneNumber.invalid  ? 'danger' : 'basic') : ''" 
                          [required]="required"
                          [attr.aria-invalid]="inputTelephoneNumber.invalid && inputTelephoneNumber.touched ? true : null"
                          id="inputTelephoneNumber"
                          class="form-control kstdya-input_focus"
                          placeholder="N&uacute;mero tel&eacute;fono">
                        <ng-container *ngIf="inputTelephoneNumber.invalid && inputTelephoneNumber.touched">
                          <p class="prtkt-error_text" *ngIf="inputTelephoneNumber.errors?.required">
                            El n&uacute;mero de tel&eacute;fono es requerido
                          </p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputEmail">Correo electronico </label>                                         
                        <input 
                          type="text" 
                          nbInput 
                          fullWidth 
                          [(ngModel)]="data_admin.correo" 
                          [ngModelOptions]="{standalone: true}" 
                          #inputEmail="ngModel" 
                          name="inputEmail"
                          [status]="inputEmail.dirty ? (inputEmail.invalid  ? 'danger' : 'basic') : ''" 
                          [required]="required"
                          [attr.aria-invalid]="inputEmail.invalid && inputEmail.touched ? true : null"
                          id="inputEmail"
                          class="form-control kstdya-input_focus"
                          placeholder="Correo electronico">
                        <ng-container *ngIf="inputEmail.invalid && inputEmail.touched">
                          <p class="prtkt-error_text" *ngIf="inputEmail.errors?.required">
                            El correo electronico es requerido
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-start">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="inputTipoViaPrincipal">Direcci&oacute;n </label>
                        <ng-select
                          [items]="collection_address_type"
                          bindLabel="name"
                          id="inputTipoViaPrincipal"
                          name="inputTipoViaPrincipal"
                          #inputTipoViaPrincipal="ngModel"
                          placeholder="Direcci&oacute;n"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="data_admin.tipoViaPrincipal"
                          required
                          [disabled]="false"
                          [clearable]="false"
                          class="col-12 p-0 m-0">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-1">
                      <div class="form-group" style="margin-top: 22px;">
                        <input 
                        type="text" 
                        nbInput 
                        fullWidth 
                        [(ngModel)]="data_admin.numeroViaPrincipal" 
                        [ngModelOptions]="{standalone: true}" 
                        #inputNumeroViaPrincipal="ngModel" 
                        name="inputNumeroViaPrincipal"
                        [status]="inputNumeroViaPrincipal.dirty ? (inputNumeroViaPrincipal.invalid  ? 'danger' : 'basic') : ''" 
                        [required]="required"
                        [attr.aria-invalid]="inputNumeroViaPrincipal.invalid && inputNumeroViaPrincipal.touched ? true : null"
                        id="inputNumeroViaPrincipal"
                        style="padding: 8px;"
                        class="form-control kstdya-input_focus">
                        <ng-container *ngIf="inputNumeroViaPrincipal.invalid && inputNumeroViaPrincipal.touched">
                          <p class="prtkt-error_text" *ngIf="inputNumeroViaPrincipal.errors?.required">
                            El correo electronico es requerido
                          </p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group" style="margin-top: 22px;">                                        
                        <ng-select 
                          [items]="collection_address_type"
                          bindLabel="name"
                          id="selectLetraViaPrincipal"
                          name="selectLetraViaPrincipal"
                          #selectLetraViaPrincipal="ngModel"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="data_admin.letraViaPrincipal"
                          required
                          [disabled]="false"
                          [clearable]="false"
                          class="col-12 p-0 m-0">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-sm-1">
                      <div class="form-group" style="margin-top: 22px;">
                        #
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group" style="margin-top: 22px;">
                        <ng-select
                          [items]="collection_address_type"
                          bindLabel="name"
                          id="selectNumeroViaSecundaria"
                          name="selectNumeroViaSecundaria"
                          #selectNumeroViaSecundaria="ngModel"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="data_admin.numeroViaSecundaria"
                          required
                          [disabled]="false"
                          [clearable]="false"
                          class="col-12 p-0 m-0">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-sm-1">
                      <div class="form-group" style="margin-top: 22px;">
                        -
                      </div>
                    </div>
                    <div class="col-sm-1">
                      <div class="form-group" style="margin-top: 22px;">
                        <input 
                          type="text" 
                          nbInput 
                          fullWidth 
                          [(ngModel)]="data_admin.letraViaSecundaria" 
                          [ngModelOptions]="{standalone: true}" 
                          #inputLetraViaSecundaria="ngModel" 
                          name="inputLetraViaSecundaria"
                          [status]="inputLetraViaSecundaria.dirty ? (inputLetraViaSecundaria.invalid  ? 'danger' : 'basic') : ''" 
                          [required]="required"
                          [attr.aria-invalid]="inputLetraViaSecundaria.invalid && inputLetraViaSecundaria.touched ? true : null"
                          id="inputLetraViaSecundaria"
                          style="padding: 8px;"
                          class="form-control kstdya-input_focus">
                        <ng-container *ngIf="inputLetraViaSecundaria.invalid && inputLetraViaSecundaria.touched">
                          <p class="prtkt-error_text" *ngIf="inputLetraViaSecundaria.errors?.required">
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-between">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="selectCountry">Pa&iacute;s</label>
                        <ng-select 
                          [items]="collection_country"
                          bindLabel="name"
                          id="selectCountry"
                          name="selectCountry"
                          #selectCountry="ngModel"
                          placeholder="Seleccione pa&iacute;s"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="data_admin.contabilidad"
                          required
                          [disabled]="false"
                          [clearable]="false"
                          class="col-12 p-0 m-0">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="inputHouse">Casa, Apto</label>
                        <input 
                          type="text" 
                          nbInput 
                          fullWidth 
                          [(ngModel)]="data_admin.casa" 
                          [ngModelOptions]="{standalone: true}" 
                          #inputHouse="ngModel" 
                          name="inputHouse"
                          [status]="inputHouse.dirty ? (inputHouse.invalid  ? 'danger' : 'basic') : ''" 
                          [required]="required"
                          [attr.aria-invalid]="inputHouse.invalid && inputHouse.touched ? true : null"
                          id="inputHouse"
                          class="form-control kstdya-input_focus"
                          placeholder="Casa apartamento">
                        <ng-container *ngIf="inputHouse.invalid && inputHouse.touched">
                          <p class="prtkt-error_text" *ngIf="inputHouse.errors?.required">
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col text-center pl-0 pr-0 mt-4">
                  <button 
                    type="submit" 
                    class="kstdya-pointer btn btn-primary kstdya-btn_success font_family_roboto" 
                    id="kstdya-btn_save_new_adjustment_type" 
                    nbButton 
                    [disabled]="
                      !data_admin.contabilidad ||
                      !data_admin.codigo ||
                      !data_admin.nombre || submitted"
                    [class.btn-pulse]="submitted"
                    status="info">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
  
