<nb-card size="tiny">
  <nb-card-header style="display: flex !important; justify-content: space-between !important;">
    Cambio de estado incapacidad
    <span class="cursor-pointer" (click)="fnCloseModal()">
        <i class="fas fa-times cursor-pointer text-danger"></i>
    </span>
  </nb-card-header>
  <nb-card-body>
    <div class="row ml-0 mr-0">
      <form style="width: 350px;" #helpForm="ngForm" aria-labelledby="title">
        <div class="col-12 pl-0 pr-0">
          <p>
              En esta sección puedes cambiar el estado de una incapacidad
          </p>
        </div>
        <!-- ********** START - Ocupación paciente ********** -->
        <div class="mt-2 mb-2 col-12">
          <div class="form-group">
            <label for="input-selectJobPatient">
              <h6 class="m-0">
                <i class="fas fa-user"></i>&nbsp;Estado actual incapacidad:&nbsp;
                <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
              </h6>
            </label>
            <div class="col">
              <span class="badge rounded-pill text-light cursor-pointer" tooltip="Ver cambiar de estado" placement="top" container="body"
              [ngClass]="{
                'badge-state-0': !dataIncapacity?.maxestado, 
                'badge-state-1': dataIncapacity?.maxestado == 1, 
                'badge-state-2': dataIncapacity?.maxestado == 2, 
                'badge-state-3': dataIncapacity?.maxestado == 3,
                'badge-state-4': dataIncapacity?.maxestado == 4,
                'badge-state-5': dataIncapacity?.maxestado == 5,
                'badge-state-6': dataIncapacity?.maxestado == 6,
                'badge-state-7': dataIncapacity?.maxestado == 7}">
                <i class="far fa-check-circle"></i>&nbsp;
                {{ (dataIncapacity?.maxestado) ? statusListIncapacityOriginal[dataIncapacity?.maxestado - 1]['name'] : 'Sin estado' }}
              </span>
            </div>
          </div>
        </div>
        <div class="mt-2 mb-2 col-12">
          <div class="form-group">
            <label for="input-selectStatusIncapacity">
              <h6 class="m-0">
                <i class="fas fa-user"></i>&nbsp;Estados:&nbsp;
                <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
              </h6>
            </label>
            <ng-select  
              id="input-selectStatusIncapacity"
              [items]="statusListIncapacity" 
              bindLabel="name" 
              name="selectStatusIncapacity"
              #selectStatusIncapacity="ngModel" 
              status="basic" 
              appendTo="body"
              placeholder="Seleccione el estado al que desea cambiar"
              [ngModelOptions]="{standalone: true}" 
              [(ngModel)]="incapacityStatus" 
              (change)="fnSelectStatusIncapacity($event)"
              required>
            </ng-select>
          </div>
        </div>
        <!-- *********** END - Ocupación paciente *********** -->
        <br>
        <button 
            class="cursor-pointer mb-2"
            nbButton 
            fullWidth 
            type="button" 
            (click)="fnChangeStatus(incapacityStatus, dataIncapacity, idContabilidad)"
            [class.btn-pulse]="submitted" 
            [disabled]="!incapacityStatus" 
            style="background-color: #3366ff; border-color: #3366ff; color: white; text-transform: none !important;">
            Cambiar estado {{ (incapacityStatus) ? 'a ' + incapacityStatus?.name : '' }}
        </button>
        <button 
            class="cursor-pointer mb-2"
            nbButton 
            fullWidth 
            type="button"
            [class.btn-pulse]="submitted" 
            (click)="fnCancelData()"
            style="background-color: #9d9d9d; border-color: #9d9d9d; color: #fff; text-transform: none !important;">
            Cancelar
        </button>
      </form>
  </div>
  </nb-card-body>
</nb-card>