<div class="row" accent="danger" size="tiny" [nbSpinner]="totalItems < 1 || search == true" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="Buscando información paciente">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>

        <div class="" style="background-color: #fff; padding: 10px; border-radius: 6px; border: 1px solid #1e90ff;">
          <div class="" style="display: flex; justify-content: space-between;">
              <span class="">
                  <i class="fas fa-user-injured" style="color: dodgerblue; font-size: 25px;"></i>&nbsp;&nbsp; <span style="display: inline-block;">
                  <h5 class="m-0">BUSCAR PACIENTE</h5>
              </span>
              </span>
          </div>
          <div class="search-form" style="position: relative; margin-top: 15px; display: block;">
            <div class="mb-4">
              Generar reporte de pacientes con prorrogas acumuladas del ultimo mes
            </div>
            <div class="row" >
              <div class="col-5 animate fadeIn">
                <button 
                  class="cursor-pointer mb-2"
                  nbButton 
                  fullWidth 
                  type="button"
                  (click)="fnSendReport()"
                  style="background-color: #9d9d9d; border-color: #9d9d9d; color: #fff;">
                  Generar
              </button>
              </div>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div> 

