<div class="row kstdy-backgroud_layout p-4" [nbSpinner]="loading_state" nbSpinnerSize="small" nbSpinnerStatus="info" nbSpinnerMessage="Cargando...">
  <div class="col-12">
    <div class="row justify-content-center">
      <h4 class="kstdy-title_page">Informaci&oacute;n de Usuarios</h4>
      <div class="col-12 mt-3 ml-3 mr-3 mb-4">
        <div class="row" *ngIf="true">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pl-0">
            <input 
              (input)="fnFilter(search_input);" 
              fullWidth nbInput
              [(ngModel)]="search_input"
              #search_profiles="ngModel"
              class="kstdy-text_input_search form-control d-inline-block"
              id="kstdy-input_search_profiles"
              name="search_profiles" 
              type="text" 
              [readonly]="(list_users.length < 1 && search_input == '') ? true : false" 
              [disabled]="(list_users.length < 1 && search_input == '') ? true : false" 
              placeholder="Buscar">
            <i class="fas fa-search kstdy-icon_input_search"></i>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-2 mt-sm-2 mt-md-2 mt-lg-0 text-lg-right text-xl-right text-md-center text-sm-center text-center">
            <button class="btn kstdy-btns_actions kstdy-btn_action_create font_family_roboto" id="kstdy-button_create" (click)="fnCreateUser(2)">Crear</button>
            <!-- <button class="btn kstdy-btns_actions kstdy-btn_action_create" id="kstdy-button_create_categories" (click)="showModalAddUser(obj_user)">Crear</button> -->
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3 tableFixHead p-0">
        <!-- ********** START - Div main content data table - Profiles ********** -->
        <table class="table" *ngIf="list_users.length > 0">
          <thead>
            <tr>
              <th colspan="2" class="border-0" style="border-top-left-radius: 10px;"></th>
              <th scope="col" class="text-left border-0 pl-5">
                N&uacute;mero Identificaci&oacute;n
              </th>
              <th scope="col" class="text-left border-0" style="border-top-right-radius: 10px;">
                Nombre
              </th>
              <!-- <th scope="col" class="text-center border-0" style="border-top-right-radius: 10px;">
                Activo
              </th> -->
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data_user of list_users | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;">
                <td class="kstdy-table-actions text-center p-3">
                  <i class="fas fa-edit kstdy-pointer kstdy-icon_color"
                    (click)="fnShowEditUser(data_user)"></i>
                </td>
                <td class="kstdy-table-actions text-center p-3">
                  <i class="fas fa-trash kstdy-pointer kstdy-icon_color" [ngClass]="{'d-none': user_id == data_user.id }"
                    (click)="fnShowModalDeleteUser(data_user)"></i>
                </td>
                <td class="pl-5 p-3 text-left">{{ data_user.identificacion }}</td>
                <td class="p-3 text-left">{{ data_user.nombre }}</td>
                <!-- <td class="text-center">
                  <div class="kdsty-check m-auto">
                    <i *ngIf="data_user.activo" class="fas fa-check kstdy-icon_color"></i>
                  </div>
                </td> -->
              </tr>
          </tbody>
        </table>
        <div class="text-center" *ngIf="list_users.length < 1 && search_input == ''">
          <i class="far fa-folder-open fa-7x"></i>
          <h4 class="font_family_roboto" style="color:#A7ABB3;">No existen usuarios creados en este momento!</h4>
        </div>
        <!-- *********** END - Div main content data table - Profiles *********** -->
      </div>
      <div class="col-12">
        <div class="row justify-content-sm-between justify-content-md-between justify-content-lg-start justify-content-xl-start">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="text-center kstdy-font_paginator" *ngIf="list_users?.length > 0">
              <div class="text-left kstdy-font_paginator">
                Mostrando {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} -
                {{ ((currentPage * numItemsPage) >= list_users.length) ? (list_users.length) + (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) ) : (currentPage * numItemsPage) }}
                de {{ totalItems }}
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" *ngIf="list_users?.length > 0">
            <div class="text-center kstdy-font_paginator">
              <pagination-controls (pageChange)="getPage($event)" id="server" previousLabel="" nextLabel="" ></pagination-controls>
            </div>
          </div>
          <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="text-center">
              
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>