@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {

    ::ng-deep nb-card {
        margin: 10px !important;
        height: calc(100vh - 3rem) !important;
        max-width: 100%;
        opacity: 1;
    }

    ::ng-deep nb-card-header {
        display: block !important;
    }

    ::ng-deep nb-card-body {
        /* overflow: hidden !important; */
        box-shadow: none !important;
    }


    ::ng-deep .tooltip-inner {
        background-color: #4b4b4b !important;
        color: #fff;
        width: auto !important;
    }
    ::ng-deep .tooltip.top .tooltip-arrow:before,
    ::ng-deep .tooltip.top .tooltip-arrow {
        border-top-color: #4b4b4b !important;
        border-right-color: #15628200 !important;
    }

    nb-card-body {
        /* overflow: hidden !important; */
        box-shadow: none !important;
    }

    nb-card-header {
        display: block !important;
    }

    .alert-danger {
        background-color: #ff6780 !important;
        border: none !important;
        color: #fff !important;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .cards-metrics-medical :hover {
        background-color: #0374e4 !important;
    }

    ::ng-deep .ng-select .ng-select-container {
        border-color: none !important;
        height: 54px !important;
    }

    ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
        height: 44px;
    }

    .inputDocumentNumber {
        border-color: #ccc !important;
    }

    .inputDocumentNumber :focus {
        border-color: #1e90ff !important;
    }

    #btnSubmitFormSearchPatient {
        background-color: #1e90ff !important;
        color: #fff !important;
        border: none !important;
        cursor: pointer;
    }

    .customClass {
        background-color: #000;
    }

    .tideMetricsNumber {
        font-size: 60px;
    }
    
    .tideMetricsNumberOnLoad {
        font-size: 1.5rem; 
        height: 75px; 
        padding: 1rem;
    }

    .btn-add-incapacity {
        color: #1e90ff;
        background-color: #fff;
        // text-transform: none !important;
    }
    
    ::ng-deep .btn-outline.btn-info:hover, .btn-outline.btn-info.hover {
        color: #ffffff;
        background-color: #1e90ff !important;
        border-color: transparent;
    }

    .btn-add-incapacity :hover {
        color: #fff !important;
        background-color: #1e90ff;
        // text-transform: none !important;
    }

    /* *********** END - Media query resolution screen width devices *********** */

}