<div class="row" accent="danger" size="tiny" [nbSpinner]="flagSpinner" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="{{ textSpinner }}">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        
        <div class="animated flipInX" style="background-color: #fff; padding: 10px 0; border-radius: 6px;" *ngIf="flagShowAlertUser">
          <div class="alert alert-danger m-0" role="alert">
            <i class="fas fa-exclamation-circle"></i>&nbsp;
            Este perfil no tiene permisos para generar incapacidades.
            <strong 
              (click)="showModalHelp('Alerta', 'Perfil no autorizado', 'Perfil no autorizado', 'Este perfil no cuenta con los permisos suficientes para la generaci{on y consulta de incapacidades.')"
              class="cursor-pointer" 
              style="font-weight: 900; text-decoration: underline;">{{ (dataUserSpecialist) ? dataUserSpecialist['detalles'][0]['ocupacion'] : '' }}</strong>
              <!-- <small>Fuernte <strong>e-Rethus</strong></small> -->
          </div>
        </div>

        <div class="" style="background-color: #fff; padding: 10px; border-radius: 6px; border: 1px solid #1e90ff;">
          
          <div class="cursor-pointer" style="display: flex; justify-content: space-between;" (click)="fnShowContent('search-form')">
              <span class="">
                  <i class="fas fa-user-injured" style="color: dodgerblue; font-size: 25px;"></i>&nbsp;&nbsp; <span style="display: inline-block;">
                  <h5 class="m-0">BUSCAR PACIENTE</h5>
              </span>
              </span>
              <span *ngIf="showTitleSearch" style="padding: 6px 3px;">
                Busqueda actual: (<small>Tipo documento:&nbsp;{{ documentTypeSelected?.tTipoIdentificacion }}</small>
                &nbsp;&nbsp;
                <small>N&uacute;mero de documento:&nbsp;{{ documentNumberPatient }}</small>)
              </span>
              <span class="cursor-pointer btn-show-search-form">
                  <i class="fas fa-chevron-circle-down" style="color: dodgerblue; font-size: 30px;"></i>
              </span>
          </div>
          <div class="search-form" style="position: relative; margin-top: 15px; display: block;">
            <div class="mb-4" *ngIf="false">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptas molestiae, rem, consequuntur dolorem quibusdam ex error sapiente facere quo, harum inventore quod voluptatibus hic! Repellat nobis architecto aperiam sit.
            </div>
            <form class="row" (ngSubmit)="fnSearchPatient(searchPatientForm)" #searchPatientForm="ngForm" aria-labelledby="title">
              <div class="col-5 animate fadeIn">
                <label class="label m-0" for="selectDocumentTypes">Tipo de documento:&nbsp;&nbsp;<span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span></label>
                  <ng-select 
                    id="selectDocumentTypes"
                    [items]="collectionDocumentTypes" 
                    bindLabel="tTipoIdentificacion" 
                    bindValue="iIdTipoIdentificacion" 
                    name="documenttypes"
                    #documenttypes="ngModel" 
                    status="basic"
                    placeholder="Seleccione el tipo de documento del paciente"
                    [ngModelOptions]="{standalone: true}" 
                    [(ngModel)]="documentTypePatient" 
                    (change)="fnSelectDocumentType($event)"
                    (focus)="errors = []" 
                    required>
                  </ng-select>
              </div>
              <div class="col-5 animate fadeIn">
                <label class="label m-0" for="inputDocumentNumber">N&uacute;mero de documento:&nbsp;&nbsp;<span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span></label>
                <input 
                  id="inputDocumentNumber"
                  class="inputDocumentNumber"
                  [ngModelOptions]="{standalone: true}" 
                  [(ngModel)]="documentNumberPatient" 
                  status="info"
                  type="text" 
                  nbInput 
                  status="basic"
                  fullWidth 
                  fieldSize="large" 
                  placeholder="Ingrese el número de documento del paciente">
              </div>
              <div class="col-2 animate fadeIn">
                <button tooltip="Buscar paciente" placement="top" container="body"
                  id="btnSubmitFormSearchPatient" 
                  [class.btn-pulse]="flagSpinner"
                  status="info"
                  [disabled]="((documentTypePatient!=null && documentNumberPatient!='')) ? false : true"
                  nbButton  
                  type="submit"
                  style="margin-top: 20px; height: 50px;">
                  <i class="fas fa-search"></i>
                </button>
                &nbsp;
                &nbsp;
                <button tooltip="Limpiar formulario" placement="top" container="body" 
                  id="btnSubmitFormSearchPatient" 
                  status="info"
                  nbButton  
                  type="button" 
                  (click)="fnClearFormSearchPatient()"
                  style="margin-top: 20px; height: 50px;">
                  <i class="fas fa-broom"></i>
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="row ml-0 mr-0 mb-0 mt-2 " *ngIf="dataUserPatient">
          <div class="col text-center p-1">
            <button 
              (click)="fnRedirectGeneratePatientIncapacity();"
              class="btn-add-incapacity cursor-pointer" 
              tooltip="Agregar nueva incapacidad" placement="top" container="body"
              nbButton 
              fullWidth
              ghost 
              outline 
              status="info" 
              shape="round">
              <i class="fas fa-file-medical-alt"></i>&nbsp;Generar nueva incapacidad
            </button>
          </div>
          <div class="col text-center p-1">
            <button 
              (click)="fnRedirectViewPatientIncapacitiesHistory();"
              class="btn-add-incapacity cursor-pointer" 
              tooltip="Ver lista de incapacidades" placement="top" container="body"
              nbButton 
              fullWidth
              ghost 
              outline 
              status="info" 
              shape="round">
              <i class="fas fa-clipboard-list"></i>&nbsp;Ver lista de incapacidades
            </button>
          </div>
          <div class="col text-center p-1">
            <button 
              (click)="fnRedirectViewPatientIncapacitiesHistory();"
              class="btn-add-incapacity cursor-pointer" 
              tooltip="Ir a modulo de Conceptos de rehabilitación CRHB" placement="top" container="body"
              nbButton 
              fullWidth
              ghost 
              outline 
              status="info" 
              shape="round">
              <i class="fas fa-notes-medical"></i>&nbsp;Conceptos de rehabilitaci&oacute;n CRHB
            </button>
          </div>
          <div class="col text-center p-1">
            <button 
              (click)="fnRedirectViewPatientIncapacitiesHistory();"
              class="btn-add-incapacity cursor-pointer" 
              tooltip="Ir a modulo de Dictamenes" placement="top" container="body"
              nbButton 
              fullWidth
              ghost 
              outline 
              status="info" 
              shape="round">
              <i class="fas fa-file-medical"></i>&nbsp;Dictamenes
            </button>
          </div>
        </div>
        
        <div class="mb-4 animated fadeIn" *ngIf="dataUserPatient">
          <div class="text-center mt-3 mb-3">
            <small style="color: #c7c7c7;">------ Resultado de busqueda: ------</small>
          </div>

          <div>
            <div class="row">
              <div class="col mb-2">
                <div class="cards-metrics-medical m-0 p-0" tooltip="Cantidad de incapacidades" placement="top" container="body">
                  <div class="cursor-pointer" (click)="fnRedirectViewPatientIncapacitiesHistory();" style="background-color: #1e90ff; color: #FFF; height: 130px; border-radius: 5px; padding: 20px;">
                    <div style="display: flex; justify-content: space-between;">
                      <!-- <span class="fa-stack fa-2x" style="position: absolute; bottom: 14px; right: 32px; font-size: 10px;">
                        <i class="fas fa-ellipsis-h fa-stack-1x text-light"></i>
                        <i class="far fa-circle fa-stack-2x text-light"></i>
                      </span> -->
                      <i class="fas fa-file-medical-alt fa-4x"></i>
                      <span class="tideMetricsNumber animated flipInX">
                        {{ dataMetrics?.cantidadIncapacidades || '0' }}&nbsp;
                        <!-- <i *ngIf="!totalItems" class="fas fa-spinner fa-spin"></i> -->
                      </span>
                    </div>
                    <h4 class="text-light text-tide text-truncate">Cantidad de incapacidades</h4>
                  </div>
                </div>
              </div>
              <div class="col mb-2">
                <div class="cards-metrics-medical m-0 p-0" tooltip="Días acumulados" placement="top" container="body">
                  <div class="cursor-pointer" style="background-color: #1e90ff; color: #FFF; height: 130px; border-radius: 5px; padding: 20px;">
                    <div style="display: flex; justify-content: space-between;">
                      <!-- <span class="fa-stack fa-2x" style="position: absolute; bottom: 14px; right: 32px; font-size: 10px;">
                        <i class="fas fa-ellipsis-h fa-stack-1x text-light"></i>
                        <i class="far fa-circle fa-stack-2x text-light"></i>
                      </span> -->
                      <i class="far fa-calendar-alt fa-4x"></i>
                      <span class="tideMetricsNumber animated flipInX">
                        {{ dataMetrics?.diasIncapacidad || '0' }}&nbsp;
                        <!-- <i *ngIf="!patientIncapacities[0]?.iDiasAcumuladosPorroga" class="fas fa-spinner fa-spin"></i> -->
                      </span>
                    </div>
                    <h4 class="text-light text-tide text-truncate">Dias acumulados</h4>
                  </div>
                </div>
              </div>
              <div class="col mb-2">
                <div class="cards-metrics-medical m-0 p-0" tooltip="Dictamenes y CRHB" placement="top" container="body">
                  <div class="cursor-pointer" style="background-color: #1e90ff; color: #FFF; height: 130px; border-radius: 5px; padding: 20px;">
                    <div style="display: flex; justify-content: space-between;">
                      <!-- <span class="fa-stack fa-2x" style="position: absolute; bottom: 14px; right: 32px; font-size: 10px;">
                        <i class="fas fa-ellipsis-h fa-stack-1x text-light"></i>
                        <i class="far fa-circle fa-stack-2x text-light"></i>
                      </span> -->
                      <i class="fas fa-notes-medical fa-4x"></i><span style="font-size: 60px;">4</span>
                    </div>
                    <h4 class="text-light text-tide text-truncate">Dictamenes y CRHB</h4>
                  </div>
                </div>
              </div>
              <div class="col mb-2">
                <div class="cards-metrics-medical m-0 p-0" tooltip="Valor Total" placement="top" container="body">
                  <div class="cursor-pointer" style="background-color: #1e90ff; color: #FFF; height: 130px; border-radius: 5px; padding: 20px;">
                    <div style="display: flex; justify-content: space-between;">
                      <!-- <span class="fa-stack fa-2x" style="position: absolute; bottom: 14px; right: 32px; font-size: 10px;">
                        <i class="fas fa-ellipsis-h fa-stack-1x text-light"></i>
                        <i class="far fa-circle fa-stack-2x text-light"></i>
                      </span> -->
                      <i class="fas fa-hand-holding-usd fa-4x"></i>
                      <span style="font-size: 285%;">
                        {{ (dataMetrics?.valor || 0) | currency:'CAD':'symbol-narrow':'4.2-2' || "0" }}
                        <!-- $467,000,000.00 -->
                      </span>
                    </div>
                    <h4 class="text-light text-tide text-truncate" style="margin-top: 20px;">Valor Total</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card mt-3 mb-3" style="border-color: #1e90ff;">
            <div class="card-header" style="display: flex; justify-content: space-between;">
              <span>
                <i class="fas fa-hospital-user" style="color: #1e90ff; font-size: 20px;"></i>&nbsp;&nbsp;
                <h5 class="d-inline-block" style="color: #1e90ff; margin: 0;">EPS</h5>
                <h5 class="d-inline-block mb-0 ml-3">
                  <span class="badge rounded-pill text-light" style="background-color: #1e90ff; font-size: 1.2rem; padding: 0.25em 0.7em !important;">{{ (dataUserPatient?.eps) ? dataUserPatient?.eps : 'No registra EPS' }}</span>
                </h5>
              </span>
              <span class="cursor-pointer btn-show-patient-info">
                <!-- <i class="fas fa-chevron-circle-down" style="color: #1e90ff; font-size: 20px;"></i> -->
                <h5 class="d-inline-block mb-0 ml-3">
                  <span class="badge rounded-pill text-light" style="background-color: #1e90ff; font-size: 1.2rem; padding: 0.25em 0.7em !important;">
                    <i class="fas fa-circle" [ngClass]="{'text-success': (dataUserPatient?.tipoAfiliacion), 'text-danger': (!dataUserPatient?.tipoAfiliacion)}"></i>
                    {{ (dataUserPatient?.tipoAfiliacion) ? dataUserPatient?.tipoAfiliacion : 'No registra afiliación' }}
                  </span>
                </h5>
              </span>
            </div>
          </div>
          
          <div class="card mt-3 mb-3" style="border-color: #1e90ff;">
            <div class="card-header" style="display: flex; justify-content: space-between;">
              <span>
                <i class="fas fa-hospital-user" style="color: #1e90ff; font-size: 20px;"></i>&nbsp;&nbsp;
                <h5 class="d-inline-block" style="color: #1e90ff; margin: 0;">Estado de afiliaci&oacute;n: </h5>
                <h5 class="d-inline-block mb-0 ml-3">
                  <span class="badge rounded-pill text-light" style="background-color: #1e90ff; font-size: 1.2rem; padding: 0.25em 0.7em !important;">
                    <i class="fas fa-circle" [ngClass]="{'text-success': (dataUserPatient?.estadoAfiliacion), 'text-danger': (!dataUserPatient?.estadoAfiliacion)}"></i>
                    {{ (dataUserPatient?.estadoAfiliacion) ? dataUserPatient?.estadoAfiliacion : 'No registra estado de afiliación' }}
                  </span>
                </h5>
              </span>
              <span class="cursor-pointer btn-show-patient-info">
                <!-- <i class="fas fa-chevron-circle-down" style="color: #1e90ff; font-size: 20px;"></i> -->
                <h5 class="d-inline-block" style="color: #1e90ff; margin: 0;">Regimen de afiliaci&oacute;n: </h5>
                <h5 class="d-inline-block mb-0 ml-3">
                  <span class="badge rounded-pill text-light" style="background-color: #1e90ff; font-size: 1.2rem; padding: 0.25em 0.7em !important;">
                    <i class="fas fa-circle" [ngClass]="{'text-success': (dataUserPatient?.regimenAfiliacion), 'text-danger': (!dataUserPatient?.regimenAfiliacion)}"></i>
                    {{ (dataUserPatient?.regimenAfiliacion) ? dataUserPatient?.regimenAfiliacion : 'No registra regimen de afiliación' }}
                  </span>
                </h5>
              </span>
            </div>
          </div>
          
          <div class="card mt-3 mb-3" style="border-color: #1e90ff;">
            <div class="card-header" style="display: flex; justify-content: space-between;">
              <span>
                <i class="fas fa-user-shield" style="color: #1e90ff; font-size: 20px;"></i>&nbsp;&nbsp;
                <h5 class="d-inline-block" style="color: #1e90ff; margin: 0;">ARL</h5>
                <h5 class="d-inline-block mb-0 ml-3">
                  <span class="badge rounded-pill text-light" style="background-color: #1e90ff; font-size: 1.2rem; padding: 0.25em 0.7em !important;">{{ (dataUserPatient?.arl?.tNombre) ? dataUserPatient?.arl?.tNombre : 'No registra ARL' }}</span>
                </h5>
              </span>
              <span class="cursor-pointer btn-show-patient-info">
                <!-- <i class="fas fa-chevron-circle-down" style="color: #1e90ff; font-size: 20px;"></i> -->
                <h5 class="d-inline-block mb-0 ml-3">
                  <span class="badge rounded-pill text-light" style="background-color: #1e90ff; font-size: 1.2rem; padding: 0.25em 0.7em !important;">
                    <i class="fas fa-circle" [ngClass]="{'text-success': (dataUserPatient?.arl?.tipoAfiliacionArl?.tNombre), 'text-danger': (!dataUserPatient?.arl?.tipoAfiliacionArl?.tNombre)}"></i>
                    {{ (dataUserPatient?.arl?.tipoAfiliacionArl?.tNombre) ? dataUserPatient?.arl?.tipoAfiliacionArl?.tNombre : 'No registra afiliación' }}
                  </span>
                </h5>
              </span>
            </div>
          </div>
          
          <div class="card mt-3 mb-3" style="border-color: #1e90ff;">
            <div class="card-header" style="display: flex; justify-content: space-between;">
              <span>
                <i class="fas fa-hand-holding-usd" style="color: #1e90ff; font-size: 20px;"></i>&nbsp;&nbsp;
                <h5 class="d-inline-block" style="color: #1e90ff; margin: 0;">AFP</h5>
                <h5 class="d-inline-block mb-0 ml-3">
                  <span class="badge rounded-pill text-light" style="background-color: #1e90ff; font-size: 1.2rem; padding: 0.25em 0.7em !important;">{{ (dataUserPatient?.afp?.tNombre) ? dataUserPatient?.afp?.tNombre : 'No registra fondo pensiones' }}</span>
                </h5>
              </span>
              <span class="cursor-pointer btn-show-patient-info">
                <!-- <i class="fas fa-chevron-circle-down" style="color: #1e90ff; font-size: 20px;"></i> -->
                <h5 class="d-inline-block mb-0 ml-3">
                  <span class="badge rounded-pill text-light" style="background-color: #1e90ff; font-size: 1.2rem; padding: 0.25em 0.7em !important;">
                    <i class="fas fa-circle" [ngClass]="{'text-success': (dataUserPatient?.afp?.tipoAfiliacionFondoPensiones?.tNombre), 'text-danger': (!dataUserPatient?.afp?.tipoAfiliacionFondoPensiones?.tNombre)}"></i>
                    {{ (dataUserPatient?.afp?.tipoAfiliacionFondoPensiones?.tNombre) ? dataUserPatient?.afp?.tipoAfiliacionFondoPensiones?.tNombre : 'No registra afiliación' }}
                  </span>
                </h5>
              </span>
            </div>
          </div>
          
          <div class="card mt-3 mb-3" style="border-color: #1e90ff;">
            <div (click)="fnShowContent('content-patient-info')" class="cursor-pointer card-header" style="background-color: #1e90ff; color: #FFF; display: flex; justify-content: space-between;">
              <span>
                <i class="fas fa-user-injured" style="color: #fff; font-size: 20px;"></i>&nbsp;&nbsp;
                <h5 class="d-inline-block" style="color: #FFF; margin: 0;">DATOS DEL PACIENTE</h5>
              </span>
              <span class="cursor-pointer btn-show-patient-info">
                <i class="fas fa-chevron-circle-down" style="color: #fff; font-size: 20px;"></i>
              </span>
            </div>
            <div class="card-body content-patient-info" style="display: block;">
              <div class="row">
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="fas fa-user"></i>&nbsp;Primer&nbsp;nombre:&nbsp;</span><br>
                    <!-- <h6 style="color: #000;" *ngIf="patientData?.tPrimerNombre">{{ (patientData?.tPrimerNombre | titlecase) }}</h6>
                    <small *ngIf="!patientData?.tPrimerNombre">No registra dato</small> -->
                    <h6 style="color: #000;" *ngIf="dataUserPatient?.primerNombre">{{ (dataUserPatient?.primerNombre | titlecase) }}</h6>
                    <small *ngIf="!dataUserPatient?.primerNombre">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="far fa-id-card"></i>&nbsp;Tipo de documento:</span><br>
                    <!-- <h6 style="color: #000;" *ngIf="patientData?.tipoDocumento?.tTipoIdentificacion">{{ (patientData?.tipoDocumento?.tTipoIdentificacion | titlecase) }}</h6>
                    <small *ngIf="!patientData?.tipoDocumento?.tTipoIdentificacion">No registra dato</small> -->
                    <h6 style="color: #000;" *ngIf="dataUserPatient?.tipoDoc">{{ (dataUserPatient?.tipoDoc | titlecase) }}</h6>
                    <small *ngIf="!dataUserPatient?.tipoDoc">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="far fa-calendar-alt"></i>&nbsp;Edad:</span><br>
                    <!-- <h6 style="color: #000;" *ngIf="patientData?.iEdad">{{ patientData?.iEdad + ' años' }}</h6>
                    <small *ngIf="!patientData?.iEdad">No registra dato</small> -->
                    <h6 style="color: #000;" *ngIf="dataUserPatient?.edad">{{ dataUserPatient?.edad + ' años' }}</h6>
                    <small *ngIf="!dataUserPatient?.edad">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="fas fa-map-pin"></i>&nbsp;Pa&iacute;s:</span><br>
                    <!-- <h6 style="color: #000;" *ngIf="patientData?.ubicacion?.tNombrePais">{{ patientData?.ubicacion?.tNombrePais | titlecase }}</h6>
                    <small *ngIf="!patientData?.iEdad">No registra dato</small> -->
                    <h6 style="color: #000;" *ngIf="dataUserPatient?.nombrePais">{{ dataUserPatient?.nombrePais | titlecase }}</h6>
                    <small *ngIf="!dataUserPatient?.nombrePais">No registra dato</small>
                  </div>
                </div>
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="fas fa-user"></i>&nbsp;Segundo&nbsp;nombre:&nbsp;</span><br>
                    <!-- <h6 style="color: #000;" *ngIf="patientData?.tSegundoNombre">{{ (patientData?.tSegundoNombre | titlecase) }}</h6>
                    <small *ngIf="!patientData?.tSegundoNombre">No registra dato</small> -->
                    <h6 style="color: #000;" *ngIf="dataUserPatient?.segundoNombre">{{ (dataUserPatient?.segundoNombre | titlecase) }}</h6>
                    <small *ngIf="!dataUserPatient?.segundoNombre">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="far fa-id-card"></i>&nbsp;N&uacute;mero de documento:</span><br>
                    <!-- <h6 style="color: #000;" *ngIf="patientData?.tNumeroDocumento">{{ patientData?.tNumeroDocumento }}</h6>
                    <small *ngIf="!patientData?.tNumeroDocumento">No registra dato</small> -->
                    <h6 style="color: #000;" *ngIf="dataUserPatient?.numeroDocumento">{{ dataUserPatient?.numeroDocumento }}</h6>
                    <small *ngIf="!dataUserPatient?.numeroDocumento">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="fas fa-at"></i>&nbsp;Correo electr&oacute;nico:</span><br>
                    <!-- <h6 style="color: #000;" *ngIf="patientData?.tEmail">{{ patientData?.tEmail }}</h6>
                    <small *ngIf="!patientData?.tEmail">No registra dato</small> -->
                    <h6 style="color: #000;" *ngIf="dataUserPatient?.email">{{ dataUserPatient?.email }}</h6>
                    <small *ngIf="!dataUserPatient?.email">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="fas fa-map-pin"></i>&nbsp;Depatamento:</span><br>
                    <!-- <h6 style="color: #000;" *ngIf="patientData?.ubicacion?.tNombreDepartamento">{{ patientData?.ubicacion?.tNombreDepartamento | titlecase }}</h6>
                    <small *ngIf="!patientData?.ubicacion?.tNombreDepartamento">No registra dato</small> -->
                    <h6 style="color: #000;" *ngIf="dataUserPatient?.nombreDepartamento">{{ dataUserPatient?.nombreDepartamento | titlecase }}</h6>
                    <small *ngIf="!dataUserPatient?.nombreDepartamento">No registra dato</small>                    
                  </div>
                </div>
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="fas fa-user"></i>&nbsp;Primer&nbsp;apellido:&nbsp;</span><br>
                    <!-- <h6 style="color: #000;" *ngIf="patientData?.tPrimerApellido">{{ (patientData?.tPrimerApellido | titlecase) }}</h6>
                    <small *ngIf="!patientData?.tPrimerApellido">No registra dato</small> -->
                    <h6 style="color: #000;" *ngIf="dataUserPatient?.primerApellido">{{ (dataUserPatient?.primerApellido | titlecase) }}</h6>
                    <small *ngIf="!dataUserPatient?.primerApellido">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="far fa-calendar-alt"></i>&nbsp;Fecha de nacimiento:</span><br>
                    <!-- <h6 style="color: #000;" *ngIf="patientData?.dtFechaNacimiento">{{ patientData?.dtFechaNacimiento | date:'mediumDate' }}</h6>
                    <small *ngIf="!patientData?.dtFechaNacimiento">No registra dato</small> -->
                    <h6 style="color: #000;" *ngIf="dataUserPatient?.fechaNacimiento">{{ dataUserPatient?.fechaNacimiento | date:'mediumDate' }}</h6>
                    <small *ngIf="!dataUserPatient?.fechaNacimiento">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="fas fa-map-marker"></i>&nbsp;Direcci&oacute;n:</span><br>
                    <!-- <h6 style="color: #000;" *ngIf="patientData?.tDireccion">{{ patientData?.tDireccion }}</h6>
                    <small *ngIf="!patientData?.tDireccion">No registra dato</small> -->
                    <h6 style="color: #000;" *ngIf="dataUserPatient?.direccion">{{ dataUserPatient?.direccion }}</h6>
                    <small *ngIf="!dataUserPatient?.direccion">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="fas fa-map-pin"></i>&nbsp;Ciudad:</span><br>
                    <!-- <h6 style="color: #000;" *ngIf="patientData?.ubicacion?.tNombreMunicipio">{{ patientData?.ubicacion?.tNombreMunicipio | titlecase }}</h6>
                    <small *ngIf="!patientData?.ubicacion?.tNombreMunicipio">No registra dato</small> -->
                    <h6 style="color: #000;" *ngIf="dataUserPatient?.nombreMunicipio">{{ dataUserPatient?.nombreMunicipio | titlecase }}</h6>
                    <small *ngIf="!dataUserPatient?.nombreMunicipio">No registra dato</small>
                  </div>
                </div>
                <div class="col">
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="fas fa-user"></i>&nbsp;Segundo&nbsp;apellido:&nbsp;</span><br>
                    <!-- <h6 style="color: #000;"*ngIf="patientData?.tSegundoApellido">{{ (patientData?.tSegundoApellido | titlecase) }}</h6>
                    <small *ngIf="!patientData?.tSegundoApellido">No registra dato</small> -->
                    <h6 style="color: #000;"*ngIf="dataUserPatient?.segundoApellido">{{ (dataUserPatient?.segundoApellido | titlecase) }}</h6>
                    <small *ngIf="!dataUserPatient?.segundoApellido">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="fas fa-venus-mars"></i>&nbsp;G&eacute;nero:</span><br>
                    <!-- <h6 style="color: #000;"*ngIf="patientData?.genero?.tGenero">{{ (patientData?.genero?.tGenero | titlecase) }}</h6>
                    <small *ngIf="!patientData?.genero?.tGenero">No registra dato</small> -->
                    <h6 style="color: #000;"*ngIf="dataUserPatient?.genero">{{ (dataUserPatient?.genero | titlecase) }}</h6>
                    <small *ngIf="!dataUserPatient?.genero">No registra dato</small>
                  </div>
                  <div style="margin-bottom: 0.5rem;">
                    <span><i class="fas fa-phone-square-alt"></i>&nbsp;T&eacute;lefono:</span><br>
                    <!-- <h6 style="color: #000;"*ngIf="patientData?.tTelefono">{{ patientData?.tTelefono }}</h6>
                    <small *ngIf="!patientData?.tTelefono">No registra dato</small> -->
                    <h6 style="color: #000;"*ngIf="patientData?.telefono">{{ patientData?.telefono }}</h6>
                    <small *ngIf="!patientData?.telefono">No registra dato</small>
                  </div>
                </div>
              </div>
              <!-- <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a> -->
          
            </div>
          </div>
          
          <div class="card mt-3 mb-3" style="border-color: #1e90ff;">
            <div (click)="fnShowContent('content-employer-info')" class="cursor-pointer card-header" style="background-color: #1e90ff; color: #FFF; display: flex; justify-content: space-between;">
              <span>
                <i class="fas fa-industry" style="color: #fff; font-size: 20px;"></i>&nbsp;&nbsp;
                <h5 class="d-inline-block" style="color: #FFF; margin: 0;">EMPLEADOR</h5>
              </span>
              <span class="cursor-pointer btn-show-employer-info">
                <i class="fas fa-chevron-circle-down" style="color: #fff; font-size: 20px;"></i>
              </span>
            </div>
            <div class="card-body content-employer-info" style="display: block;">
              <div class="mb-4" *ngIf="false">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptas molestiae, rem, consequuntur dolorem quibusdam ex error sapiente facere quo, harum inventore quod voluptatibus hic! Repellat nobis architecto aperiam sit.
              </div>
              <div class="row">
                <table class="table table-striped table-bordered table-hover" style="margin: 0 15px;">
                    <thead>
                        <tr>
                            <th>
                                NIT&nbsp;
                                <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'NIT', 'Número Unico Tributario - NIT', 'El NIT es el Número de Identificación Tributaria asignado por la DIAN. Hace referencia a un número único que utiliza el sistema tributario para identificar cualquier empresa colombiana.')">
                                    <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                                </span>
                                <!-- <span nbTooltip="{{ (typeSort[0]['state'] == 'DEFAULT') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDefault.text : (typeSort[0]['state'] == 'DESC') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDesc.text : DATA_LANG_GENERAL?.lblHelpTooltipTableSortAsc.text }}" class="float-right" (click)="fnOrderList('name', collectionData, typeSort, 0)">
                                    <i class="fas cursor-pointer text-end" [ngClass]="{'fa-sort': typeSort[0]['state'] == 'DEFAULT', 'fa-sort-up': typeSort[0]['state'] == 'ASC', 'fa-sort-down': typeSort[0]['state'] == 'DESC'}"></i>
                                </span> -->
                            </th>
                            <th>
                                Nombre&nbsp;
                                <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Nombre', 'Nombre de la empresa', 'Nombre de la compañia con el cual registra ante la DIAN.')">
                                    <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                                </span>
                                <!-- <span nbTooltip="{{ (typeSort[0]['state'] == 'DEFAULT') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDefault.text : (typeSort[0]['state'] == 'DESC') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDesc.text : DATA_LANG_GENERAL?.lblHelpTooltipTableSortAsc.text }}" class="float-right" (click)="fnOrderList('name', collectionData, typeSort, 0)">
                                    <i class="fas cursor-pointer text-end" [ngClass]="{'fa-sort': typeSort[0]['state'] == 'DEFAULT', 'fa-sort-up': typeSort[0]['state'] == 'ASC', 'fa-sort-down': typeSort[0]['state'] == 'DESC'}"></i>
                                </span> -->
                            </th>
                            <th>
                                C&oacute;digo CIIU&nbsp;
                                <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Codigo CIIU', 'Código CIIU', 'Con el propósito de clasificar las actividades económicas de los empresarios del país de la manera más precisa, las cámaras de comercio del país, a partir del año 2000, se rigen por la Clasificación Industrial Internacional Uniforme (CIIU) de todas las actividades económicas. El Código CIIU fue elaborado por la Organización de Naciones Unidas y la revisión 4 es una adaptación para Colombia hecha y revisada por el DANE.')">
                                    <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                                </span>
                                <!-- <span nbTooltip="{{ (typeSort[0]['state'] == 'DEFAULT') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDefault.text : (typeSort[0]['state'] == 'DESC') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDesc.text : DATA_LANG_GENERAL?.lblHelpTooltipTableSortAsc.text }}" class="float-right" (click)="fnOrderList('name', collectionData, typeSort, 0)">
                                    <i class="fas cursor-pointer text-end" [ngClass]="{'fa-sort': typeSort[0]['state'] == 'DEFAULT', 'fa-sort-up': typeSort[0]['state'] == 'ASC', 'fa-sort-down': typeSort[0]['state'] == 'DESC'}"></i>
                                </span> -->
                            </th>
                            <th>
                                Ocupaci&oacute;n&nbsp;
                                <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Ocupacion', 'Ocupación', 'Cargo u ocupación del paciente en la compañia')">
                                    <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                                </span>
                                <!-- <span nbTooltip="{{ (typeSort[0]['state'] == 'DEFAULT') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDefault.text : (typeSort[0]['state'] == 'DESC') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDesc.text : DATA_LANG_GENERAL?.lblHelpTooltipTableSortAsc.text }}" class="float-right" (click)="fnOrderList('name', collectionData, typeSort, 0)">
                                    <i class="fas cursor-pointer text-end" [ngClass]="{'fa-sort': typeSort[0]['state'] == 'DEFAULT', 'fa-sort-up': typeSort[0]['state'] == 'ASC', 'fa-sort-down': typeSort[0]['state'] == 'DESC'}"></i>
                                </span> -->
                            </th>
                            <th style="width: 170px;">
                                Vinculaci&oacute;n laboral&nbsp;
                                <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Ocupacion', 'Ocupación', 'Cargo u ocupación del paciente en la compañia')">
                                    <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                                </span>
                                <!-- <span nbTooltip="{{ (typeSort[0]['state'] == 'DEFAULT') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDefault.text : (typeSort[0]['state'] == 'DESC') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDesc.text : DATA_LANG_GENERAL?.lblHelpTooltipTableSortAsc.text }}" class="float-right" (click)="fnOrderList('name', collectionData, typeSort, 0)">
                                    <i class="fas cursor-pointer text-end" [ngClass]="{'fa-sort': typeSort[0]['state'] == 'DEFAULT', 'fa-sort-up': typeSort[0]['state'] == 'ASC', 'fa-sort-down': typeSort[0]['state'] == 'DESC'}"></i>
                                </span> -->
                            </th>
                            <th style="width: 135px;">
                                Fecha ingreso&nbsp;
                                <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Fecha ingreso', 'Fecha ingreso', 'Fecha de ingreso del paciente en la compañia')">
                                    <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                                </span>
                                <!-- <span nbTooltip="{{ (typeSort[0]['state'] == 'DEFAULT') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDefault.text : (typeSort[0]['state'] == 'DESC') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDesc.text : DATA_LANG_GENERAL?.lblHelpTooltipTableSortAsc.text }}" class="float-right" (click)="fnOrderList('name', collectionData, typeSort, 0)">
                                    <i class="fas cursor-pointer text-end" [ngClass]="{'fa-sort': typeSort[0]['state'] == 'DEFAULT', 'fa-sort-up': typeSort[0]['state'] == 'ASC', 'fa-sort-down': typeSort[0]['state'] == 'DESC'}"></i>
                                </span> -->
                            </th>
                            <th style="width: 112px;">
                                Contrato&nbsp;
                                <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Contrato', 'Contrato', 'Estado de contración del paciente en la compañia')">
                                    <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                                </span>
                                <!-- <span nbTooltip="{{ (typeSort[0]['state'] == 'DEFAULT') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDefault.text : (typeSort[0]['state'] == 'DESC') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDesc.text : DATA_LANG_GENERAL?.lblHelpTooltipTableSortAsc.text }}" class="float-right" (click)="fnOrderList('name', collectionData, typeSort, 0)">
                                    <i class="fas cursor-pointer text-end" [ngClass]="{'fa-sort': typeSort[0]['state'] == 'DEFAULT', 'fa-sort-up': typeSort[0]['state'] == 'ASC', 'fa-sort-down': typeSort[0]['state'] == 'DESC'}"></i>
                                </span> -->
                            </th>
                            
                            <th class="thead-column-action">
                                <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'ver incapacidades', 'Ver Incapacidades', 'Esta opción permite ver el historial de incapacidades del paciente que se han generado con este empleador.')">
                                    <i class="far fa-question-circle cursor-pointer text-end text-primary icon-help-thead"></i>
                                </span>
                            </th>
                            <!-- <th class="thead-column-action">
                                <span>
                                    <i class="far fa-question-circle cursor-pointer text-end text-primary icon-help-thead"></i>
                                </span>
                            </th> -->
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let itemEmployer of dataEmlployerPatient">
                        <td class="align-middle text-center">{{ itemEmployer?.numeroIdentificacion }}</td>
                        <td class="align-middle text-left">{{ itemEmployer?.nombre }}</td>
                        <td class="align-middle text-left"><strong style="font-size: 10px;">{{ itemEmployer?.ciiu }}</strong></td>
                        <td class="align-middle text-left"><strong style="font-size: 10px;">{{ itemEmployer?.ciou }}</strong></td>
                        <td class="align-middle text-center">{{ itemEmployer?.vinculo }}</td>
                        <td class="align-middle text-center">{{ itemEmployer?.fechaIngreso | date:'mediumDate' || 'No registra dato' }}</td>
                        <td class="align-middle text-center">
                          <h5><span class="badge rounded-pill text-light" [ngClass]="{'bg-success': itemEmployer?.activo == true, 'bg-danger': itemEmployer?.activo != true}">{{ itemEmployer?.activo == true ? "Activo" : "Inactivo" }}</span></h5>
                        </td>
                        <td class="align-middle">
                          <!-- <ng-template #popTemplate style="background-color: #000 !important;">Here we go: <div [innerHtml]="html"></div></ng-template> -->
                          <span tooltip="Ver incapacidades" placement="top" container="body">
                              <!-- <i class="fas fa-pencil-alt cursor-pointer text-warning"></i> -->
                              <i class="fas fa-eye cursor-pointer text-info"></i>
                          </span>
                        </td>
                        <!-- <td class="align-middle">
                          <span>
                              <i class="fas fa-trash-alt cursor-pointer text-danger"></i>
                          </span>
                        </td> -->
                      </tr>
                      <!-- <tr>
                        <td class="align-middle text-center">{{ patientData?.tNumeroDocumento }}</td>
                        <td class="align-middle text-left">{{ patientData?.tPrimerNombre + ' ' + patientData?.tPrimerApellido | titlecase }}</td>
                        <td class="align-middle text-left"><strong style="font-size: 10px;">K7220</strong> - <small style="font-size: 10px;">Consultores en programas de informática, elaboración y suministro de programas de informática</small></td>
                        <td class="align-middle text-left"><strong style="font-size: 10px;">2511</strong> - <small style="font-size: 10px;">INGENIERO DE SISTEMAS ANÁLISIS Y DISEÑO</small></td>
                        <td class="align-middle text-center">Independiente</td>
                        <td class="align-middle text-center">14 May 2019</td>
                        <td class="align-middle text-center">
                          <h5><span class="badge rounded-pill bg-success text-light">Activo</span></h5>
                        </td>
                        <td class="align-middle">
                          <span tooltip="Ver incapacidades" placement="top" container="body">
                              <i class="fas fa-eye cursor-pointer text-info"></i>
                          </span>
                        </td>
                      </tr> -->
                    </tbody>
                </table>
              </div>
          
            </div>
          </div>
          <hr class="pb-5 pt-5">
        
        </div>

        <div class="mb-4 mt-5" *ngIf="!dataUserPatient">
          <div>
            <div class="row">
              <div class="col-12 text-center animated fadeIn">
                <h2 style="color: #c7c7c7;">
                  <i class="fas fa-search fa-5x"></i>
                </h2>
                <h5 style="color: #c7c7c7;">Busqueda de pacientes</h5>
                <small style="color: #c7c7c7;">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quam adipisci dignissimos culpa facilis sed vel ipsam nam. Porro ipsam adipisci voluptatem soluta provident iste cum illo obcaecati veniam sit.
                </small>
              </div>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div> 

