<nb-card size="tiny">
  <nb-card-header style="display: flex !important; justify-content: space-between !important;">
    Informaci&oacute;n del paciente
    <span class="cursor-pointer" (click)="fnCloseModal()">
        <i class="fas fa-times cursor-pointer text-danger"></i>
    </span>
  </nb-card-header>
  <nb-card-body>
    <div class="row ml-0 mr-0">
      <div class="d-flex justify-content-center align-items-center" style="background-image: url('../../../../assets/images/imgs/clouds.png'); height: 160px;width: 450px;background-color: #d2e8ff;border-radius: 10px;box-shadow: 0px 3px 14px -8px;border: 1px solid #eaeaea;">
        <div class="text-center">
          <img src="../../../../assets/images/imgs/patient-avatar.png" width="70px" height="70px" alt="" srcset="">
          <br>
          <span>
            <h6 style="color: #2a2a2a; font-weight: 700;" class="m-0">{{ dataCase?.dataUser?.tPrimerNombre + ' ' + dataCase?.dataUser?.tSegundoNombre | titlecase }}</h6>
          </span>
          <span>
            <h6 style="color: #2a2a2a; font-weight: 700;" class="m-0">{{ dataCase?.dataUser?.tPrimerApellido + ' ' + dataCase?.dataUser?.tSegundoApellido | titlecase }}</h6>
          </span>
          <span>
            <h6 style="color: #2a2a2a; font-weight: 700;" class="m-0">{{ dataCase?.dataUser?.tipoDocumento?.tTipoIdentificacion }} {{ dataCase?.dataUser?.tNumeroDocumento }}</h6>
          </span>
          <span class="d-flex align-items-center badge rounded-pill bg-light" style="padding: 0.1rem 0.5rem;">
            <i class="fas fa-envelope"></i>&nbsp;
            <h6 style="color: #2a2a2a; font-weight: 700;" class="m-0">{{ dataCase?.dataUser?.tEmail }}</h6>
          </span>
        </div>
      </div>
      
      <div class="p-2 d-flex justify-content-center align-items-center w-100">
        <div tooltip="Información paciente" placement="top" container="body" [ngClass]="{'flipInX': btnInfo == 1}" class="animated m-1 btn-info" (click)="btnInfo = 1" [ngStyle]="{'background-color': btnInfo == 1 ? '#dceeff' : '#fff'}" style="cursor: pointer; width: 80px; height: 80px;border-radius: 10px;box-shadow: 0px 3px 14px -8px;border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="m-3 text-center">
            <span>
              <i class="fas fa-user fa-2x text-secondary"></i>
            </span>
            <h6>Datos</h6>
          </div>
          <div *ngIf="btnInfo == 1" style="text-align: center;margin-top: -3px;">
            <i class="fas fa-caret-down fa-2x text-secondary"></i>
          </div>
        </div>
        <div tooltip="Información empleador" placement="top" container="body" [ngClass]="{'flipInX': btnInfo == 2}" class="animated m-1 btn-info" (click)="btnInfo = 2" [ngStyle]="{'background-color': btnInfo == 2 ? '#dceeff' : '#fff'}" style="cursor: pointer; width: 80px; height: 80px; border-radius: 10px;box-shadow: 0px 3px 14px -8px;border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="m-3 text-center">
            <span>
              <i class="fas fa-hospital-user fa-2x text-secondary"></i>
            </span>
            <h6>EMP</h6>
          </div>
          <div *ngIf="btnInfo == 2" style="text-align: center;margin-top: -3px;">
            <i class="fas fa-caret-down fa-2x text-secondary"></i>
          </div>
        </div>
        <div tooltip="Información ARL" placement="top" container="body" [ngClass]="{'flipInX': btnInfo == 3}" class="animated m-1 btn-info" (click)="btnInfo = 3" [ngStyle]="{'background-color': btnInfo == 3 ? '#dceeff' : '#fff'}" style="cursor: pointer; width: 80px; height: 80px; border-radius: 10px;box-shadow: 0px 3px 14px -8px;border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="m-3 text-center">
            <span>
              <i class="fas fa-hard-hat fa-2x text-secondary"></i>
            </span>
            <h6>ARL</h6>
          </div>
          <div *ngIf="btnInfo == 3" style="text-align: center;margin-top: -3px;">
            <i class="fas fa-caret-down fa-2x text-secondary"></i>
          </div>
        </div>
        <div tooltip="Información AFP" placement="top" container="body" [ngClass]="{'flipInX': btnInfo == 4}" class="animated m-1 btn-info" (click)="btnInfo = 4" [ngStyle]="{'background-color': btnInfo == 4 ? '#dceeff' : '#fff'}" style="cursor: pointer; width: 80px; height: 80px; border-radius: 10px;box-shadow: 0px 3px 14px -8px;border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="m-3 text-center">
            <span>
              <i class="fas fa-hand-holding-usd fa-2x text-secondary"></i>
            </span>
            <h6>AFP</h6>
          </div>
          <div *ngIf="btnInfo == 4" style="text-align: center;margin-top: -3px;">
            <i class="fas fa-caret-down fa-2x text-secondary"></i>
          </div>
        </div>
      </div>
      
      <div  *ngIf="btnInfo == 1" class="animated fadeIn slow content-info w-100" style="padding: 0.7rem;border-radius: 10px;box-shadow: 0px 3px 14px -8px;border: 1px solid #eaeaea;">

        <div class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                Fecha de nacimiento
              </small>
              <h6 class="m-0">
                {{ dataCase?.dataUser?.dtFechaNacimiento | date:"MMMM d, y" }}
              </h6>
            </div>
          </div>
        </div>
        
        <div class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                G&eacute;nero
              </small>
              <h6 class="m-0">
                {{ dataCase?.dataUser?.genero?.tGenero }}
              </h6>
            </div>
          </div>
        </div>
  
        <div class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                Edad
              </small>
              <h6 class="m-0">
                {{ dataCase?.dataUser?.iEdad }} a&ntilde;os
              </h6>
            </div>
          </div>
        </div>
  
        <!-- <div class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                E-mail
              </small>
              <h6 class="m-0">
                german@german.com
              </h6>
            </div>
          </div>
        </div> -->
  
        <div class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                Direcci&oacute;n
              </small>
              <h6 class="m-0">
                {{ dataCase?.dataUser?.tDireccion }}
              </h6>
            </div>
          </div>
        </div>
  
        <div class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                Tel&eacute;fono
              </small>
              <h6 class="m-0">
                {{ dataCase?.dataUser?.tTelefono }}
              </h6>
            </div>
          </div>
        </div>

      </div>

      <div  *ngIf="btnInfo == 2" class="animated fadeIn slow content-info w-100" style="padding: 0.7rem;border-radius: 10px;box-shadow: 0px 3px 14px -8px;border: 1px solid #eaeaea;">
        <div class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                Raz&oacute;n social
              </small>
              <h6 class="m-0">
                {{ dataCase?.dataUser?.empresa?.tRazonSocial || "No registra información" }}
              </h6>
            </div>
          </div>
        </div>
        
        <div class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                NIT:
              </small>
              <h6 class="m-0">
                {{ dataCase?.dataUser?.empresa?.nit + "-" + dataCase?.dataUser?.empresa?.tDigitoVerificacion || "No registra información"  }}
              </h6>
            </div>
          </div>
        </div>
  
        <div class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                Direcci&oacute;n:
              </small>
              <h6 class="m-0">
                {{ dataCase?.dataUser?.empresa?.tDireccion || "No registra información" }}
              </h6>
            </div>
          </div>
        </div>
  
        <div class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="">
              <small class="mb-2">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                Actividad economica:
              </small>
              <div class="mt-3">
                <small class="mb-2">
                  C&oacute;digo CIIU:
                </small>
                <h6 class="mt-2">
                  {{ dataCase?.dataUser?.empresa?.actividadEconomica?.ciiu || "No registra información" }}
                </h6>
              </div>
              <div class="mt-3">
                <small class="mb-2">
                  Nombre actividad:
                </small>
                <p class="mt-2">
                  {{ dataCase?.dataUser?.empresa?.actividadEconomica?.tNombreActividad || "No registra información" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div  *ngIf="btnInfo == 3" class="animated fadeIn slow content-info w-100" style="padding: 0.7rem;border-radius: 10px;box-shadow: 0px 3px 14px -8px;border: 1px solid #eaeaea;">
        
        <h6 class="text-center">No data service</h6>

        <div *ngIf="false" class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                Fecha de nacimiento
              </small>
              <h6 class="m-0">
                21 de Octubre de 1992
              </h6>
            </div>
          </div>
        </div>
        
        <div *ngIf="false" class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                G&eacute;nero
              </small>
              <h6 class="m-0">
                Masculino
              </h6>
            </div>
          </div>
        </div>
  
        <div *ngIf="false" class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                Edad
              </small>
              <h6 class="m-0">
                30 a&ntilde;os
              </h6>
            </div>
          </div>
        </div>
  
        <div *ngIf="false" class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                E-mail
              </small>
              <h6 class="m-0">
                german@german.com
              </h6>
            </div>
          </div>
        </div>
      </div>

      <div  *ngIf="btnInfo == 4" class="animated fadeIn slow content-info w-100" style="padding: 0.7rem;border-radius: 10px;box-shadow: 0px 3px 14px -8px;border: 1px solid #eaeaea;">
        
        <h6 class="text-center">No data service</h6>

        <div *ngIf="false" class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                Fecha de nacimiento
              </small>
              <h6 class="m-0">
                21 de Octubre de 1992
              </h6>
            </div>
          </div>
        </div>
        
        <div *ngIf="false" class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                G&eacute;nero
              </small>
              <h6 class="m-0">
                Masculino
              </h6>
            </div>
          </div>
        </div>
  
        <div *ngIf="false" class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                Edad
              </small>
              <h6 class="m-0">
                30 a&ntilde;os
              </h6>
            </div>
          </div>
        </div>
  
        <div *ngIf="false" class="p-3 d-flex justify-content-start align-items-center" style="background-color: #ffffff;border-radius: 10px; border: 1px solid #eaeaea; margin-top: 5px;">
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <small class="m-0">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;
                E-mail
              </small>
              <h6 class="m-0">
                german@german.com
              </h6>
            </div>
          </div>
        </div>
      </div>

    </div>
  </nb-card-body>
</nb-card>