<div class="form-control-group p-0" style="width: 100%;overflow-y: scroll;
    height: calc(100vh - 208px);">
  <div class="row m-0 p-0" style="padding-top: 1.5rem !important;overflow-y: scroll;height: 100%;">
    <div class="col-12 text-center pr-4">
      <i class="fas fa-th-list poiser"
        [ngClass]="{'pgp-icon_state_view_data_active': (layout_component_display == 'grid'), 'pgp-icon_state_view_data_inactive': (layout_component_display == 'charts')}"
        (click)="fnSwitchViewData('grid')"></i>&nbsp;
      <i class="fas fa-chart-line"
        [ngClass]="{'pgp-icon_state_view_data_active': (layout_component_display == 'charts'), 'pgp-icon_state_view_data_inactive': (layout_component_display == 'grid')}"
        (click)="fnSwitchViewData('charts')"></i>
    </div>
    <div class="col-12 row p-0 m-0 mt-2" *ngIf="layout_component_display == 'grid'">
      <table class="table">
        <!-- table-borderless -->
        <thead>
          <tr>
            <th scope="col" class="border-0" style="border-top-left-radius: 10px;">Codigo Unico</th>
            <th scope="col" class="border-0">Transcripción</th>
            <th scope="col" class="border-0">Fecha de Inicio</th>
            <th scope="col" class="border-0">Fecha Final</th>
            <th scope="col" class="border-0">CIE10</th>
            <th scope="col" class="border-0">Días Otorgados</th>
            <th scope="col" class="border-0">Días Acumulados</th>
            <th scope="col" class="border-0" style="border-top-right-radius: 10px;">Descripción Sintomatolgica</th>
          </tr>
        </thead>
        <tbody style="font-size: 0.70rem">
          <tr *ngFor="let item of incapacidades; let i = index;" class="cursor:pointer;"
            (click)="fnShowIncapacity(item)">
            <td class="text-left rowCU">
              <div class="d-inline-block rowCU">
                {{ item.uiCodigoDiagnostico }}
              </div>
            </td>
            <td class="text-left rowDias">
              <div class="d-inline-block rowDias">
                {{ item.esTranscripcion ? 'Si':'No' }}
              </div>
            </td>
            <td class="text-left rowFecha">
              <div class="d-inline-block text-truncate rowFecha">
                {{ item.dtFechaCreacion | date:'short' }}
              </div>
            </td>
            <td class="text-left rowFecha">
              <div class="d-inline-block text-truncate rowFecha">
                {{ item.dtFechaFin | date:'short' }}
              </div>
            </td>
            <td class="text-left rowDias">
              <div class="d-inline-block text-truncate rowDias">
                {{ item.cie10.tCie10 }}
              </div>
            </td>
            <td class="text-left rowDias">
              <div class="d-inline-block text-truncate rowDias">
                {{ item.iDiasIncapacidad }}
              </div>
            </td>
            <td class="text-left rowDias">
              <div class="d-inline-block text-truncate rowDias">
                {{ item.iDiasAcumulados }}
              </div>
            </td>
            <td class="text-left rowDesc" style="overflow: hidden;">
              <div class="d-inline-block rowDesc">
                {{ item.tDescripcionSintomatologica }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="layout_component_display == 'charts'" class="col-12 row" style="padding: 2rem 0;">
      <google-chart class="col-lg-6 col-12" #chart1 [title]="char1_title_gc" [type]="char1_type_gc"
        [data]="char1_dataChart_gc" [columnNames]="char1_columnNames_gc" [options]="char1_options_gc"
        [width]="char1_width_gc" [height]="char1_height_gc"> </google-chart>
      <google-chart class="col-lg-6 col-12" #chart2 [title]="char2_title_gc" [type]="char2_type_gc"
        [data]="char2_dataChart_gc" [columnNames]="char2_columnNames_gc" [options]="char2_options_gc"
        [width]="char2_width_gc" [height]="char2_height_gc"> </google-chart>
    </div>
  </div>
</div>