<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto kstdya-card_content" size="tiny">
        <nb-card-header class="font_family_roboto text-center">
          <span style="color: #1e90ff;font-weight: 500;">Eliminar correo el&eacute;ctronico</span>
          <i class="fas fa-times" (click)="fnCancelDeleteEmailUser()" style="position: absolute; right: 2rem; cursor: pointer;"></i>
        </nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <div class="col-12 pl-0 pr-0">
                <p>
                  Esta seguro(a) que desea eliminar el correo electronico <strong>{{ data_user.correoElectronico }}</strong>?
                </p>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col text-center pl-0 pr-0">

                <button nbButton 
                  fullWidth 
                  type="submit"  
                  class="kstdy-button_action_form" 
                  id="kstdya-btn_edit_phone_user" 
                  (click)="fnDeleteEmailUser(data_user)"
                  nbButton 
                  [disabled]="submitted"
                  [class.btn-pulse]="submitted">Confirmar</button>

                <!-- &nbsp;&nbsp;&nbsp;

                <button 
                  nbButton 
                  type="button" 
                  class="kstdy-button_action_form_cancel" 
                  id="kstdya-btn_cancel_edit_phone_user"
                  [disabled]="submitted"
                  [class.btn-pulse]="submitted"
                  (click)="fnCancelDeleteEmailUser()"
                  status="basic">Cancelar</button> -->

              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
  