<div class="row pgp-backgroud_layout font_family_roboto pr-0" style="overflow: hidden;">
  <div class="col-12" *ngIf="flag_show_tabs == 1">
    <ngx-origin-qualification-list [data_object]="data_object" (flagCreateEntity)="fnShowTabsOptionsData($event)"></ngx-origin-qualification-list>
  </div>
  <div class="col-12" *ngIf="flag_show_tabs == 2">
    <ngx-origin-qualification-transcription [data_object]="data_object" (flagCreateEntity)="fnShowTabsOptionsData($event)"></ngx-origin-qualification-transcription>
  </div>
</div>