<div class="row pgp-backgroud_layout font_family_roboto pr-4" style="overflow: hidden;  background-color: #FFF;">
    <div class="col-12">
        <div class="row">
          <div class="col-12 kstdy-tab_menu" style="position: fixed; z-index: 1; background-color: #FFF; width: 86%;">
            <div class="row mt-4" style="margin-left: -10px;">
              <div id="kstdy-report" class="col-6 text-center" [ngClass]="{'kstdy-tab_menu_selected': content_tab_patients}" (click)="content_tab_dashboard = false; content_tab_patients = true;" style="border-left: 3px solid #ececec; margin-bottom: 10px; cursor: pointer;">
                <i class="fas fa-users" style="font-size: 1rem; color: #A6A6A6;" [ngStyle]="{'color': (content_tab_patients ? '#545454' : '#A6A6A6')}"></i>&nbsp;
                <label class="d-inline-block" style="color: #A6A6A6; font-size: 1.1rem; cursor: pointer;" [ngStyle]="{'color': (content_tab_patients ? '#545454' : '#A6A6A6')}">Pacientes</label>
              </div>
              <div id="kstdy-test" class="col-6 text-center" [ngClass]="{'kstdy-tab_menu_selected': content_tab_dashboard}" (click)="content_tab_dashboard = true; content_tab_patients = false;" style="border-right: 3px solid #ececec; margin-bottom: 10px; cursor: pointer;">
                <i class="fas fa-chart-bar" style="font-size: 1rem; color: #A6A6A6;" [ngStyle]="{'color': (content_tab_dashboard ? '#545454' : '#A6A6A6')}"></i>&nbsp;
                <label class="d-inline-block" style="color: #A6A6A6; font-size: 1.1rem; cursor: pointer;" [ngStyle]="{'color': (content_tab_dashboard ? '#545454' : '#A6A6A6')}">Estadistica</label>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-12" style="margin-top: 60px;">
            <div class="row mt-4 ml-3 mr-3" *ngIf="content_tab_dashboard">
              <div class="col-12">
                <ngx-rehabilitation-concept-dashboard></ngx-rehabilitation-concept-dashboard>
              </div>
            </div>
            <div class="row m-0 p-0" *ngIf="content_tab_patients">
              <div class="col-12 m-0 p-0">
                <ngx-rehabilitation-concept-list [data_object_tab]="data_object" (flagCreateEntity)="fnShowTabsOptionsData($event)"></ngx-rehabilitation-concept-list>
                <!-- <ngx-rethus-reports [group_id]="group_id" [report_id]="report_id"></ngx-rethus-reports> -->
              </div>
            </div>
          </div>
        </div>
  
  
    </div>
  </div>