<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto kstdya-card_content">
        <nb-card-header class="font_family_roboto">Alerta de inactividad</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <!-- <div class="mt-2 mb-2">
                Agregue la categoria y la relación de complementariedad de sus productos.
              </div> -->
                <div class="col-12 pl-0 pr-0">
                  <p class="mb-3 mt-1">Desea continuar en el reporte?</p>
                </div>
                <div class="col-12 text-center self-align-center">
                  <button 
                    type="submit" 
                    class="mt-3 mb-3 kstdya-pointer btn btn-primary kstdya-btn_success font_family_roboto" 
                    id="kstdya-btn_save_new_category" 
                    nbButton 
                    [disabled]="submitted" 
                    [class.btn-pulse]="submitted"
                    (click)="fnSendConfirmRegisterUseReport()">Si, Deseo continuar en el reporte</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="mt-3 mb-3 kstdya-pointer font_family_roboto" 
                    type="button" 
                    id="kstdya-btn_cancel_save_new_category"
                    nbButton 
                    [disabled]="submitted" 
                    [class.btn-pulse]="submitted"
                    (click)="fnCancelViewShowReport()">No, deseo salir del reporte</button>
                </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
    