<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto kstdya-card_content" size="tiny">
        <nb-card-header class="font_family_roboto text-center" style="color: #1e90ff;font-weight: 500;">Agregar tipo de ajuste</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnNewAdjustmentType(data_adjustment_type)" #newAdjustmentType="ngForm" aria-labelledby="title" style="width: 100%">
                <div class="col-12 pl-0 pr-0">
                  <div class="row justify-content-start">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="selectAccount">Contabilidad</label>
                        <ng-select 
                          [items]="collection_account"
                          bindLabel="descripcion"
                          bindValue="codigo"
                          id="selectAccount"
                          name="selectAccount"
                          #selectAccount="ngModel"
                          placeholder="Seleccione contabilidad"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="data_adjustment_type.codigoContabilidad"
                          required
                          appendTo="body"
                          (scrollToEnd)="onScrollToEnd()"
                          (search)="fnSearchAccounting($event)"
                          [disabled]="false"
                          [clearable]="false"
                          class="col-12 p-0 m-0">
                        </ng-select>
                      </div>
                    </div>
                    <!-- <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputCode">C&oacute;digo </label>                                         
                        <input 
                          type="text" 
                          nbInput 
                          fullWidth 
                          [(ngModel)]="data_adjustment_type.codigoContabilidad" 
                          [ngModelOptions]="{standalone: true}" 
                          #inputCode="ngModel" 
                          name="inputCode"
                          [status]="inputCode.dirty ? (inputCode.invalid  ? 'danger' : 'basic') : ''" 
                          [required]="required"
                          [attr.aria-invalid]="inputCode.invalid && inputCode.touched ? true : null"
                          id="inputCode"
                          class="form-control kstdya-input_focus"
                          placeholder="C&oacute;digo">
                        <ng-container *ngIf="inputCode.invalid && inputCode.touched">
                          <p class="prtkt-error_text" *ngIf="inputCode.errors?.required">
                            El c&oacute;digo es requerido
                          </p>
                        </ng-container>
                      </div>
                    </div> -->
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="inputName">Descripci&oacute;n </label>                                         
                        <input 
                          type="text" 
                          nbInput 
                          fullWidth 
                          [(ngModel)]="data_adjustment_type.descripcion" 
                          [ngModelOptions]="{standalone: true}" 
                          #inputName="ngModel" 
                          name="inputName"
                          [status]="inputName.dirty ? (inputName.invalid  ? 'danger' : 'basic') : ''" 
                          [required]="required"
                          [attr.aria-invalid]="inputName.invalid && inputName.touched ? true : null"
                          id="inputName"
                          class="form-control kstdya-input_focus"
                          placeholder="Nombre">
                        <ng-container *ngIf="inputName.invalid && inputName.touched">
                          <p class="prtkt-error_text" *ngIf="inputName.errors?.required">
                            La descripci&oacute;n es requerida
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row justify-content-center">
                      <label class="m-3">
                        <p>No</p>
                      </label>
                      <div class="mt-3 mb-3">
                        <label class="switch m-0">
                          <input type="checkbox" checked 
                          [ngModelOptions]="{standalone: true}" 
                          [(ngModel)]="data_adjustment_type.esTipoAjustePorDefecto">
                          <span class="slider round"></span>
                        </label>
                      </div>
                        <label class="m-3">
                          <p>Por defecto</p>
                        </label>
                    </div>
                  </div>
                </div>
                <div class="col text-center pl-0 pr-0 mt-4">
                  <button 
                    type="submit" 
                    class="kstdya-pointer btn btn-primary kstdya-btn_success font_family_roboto" 
                    id="kstdya-btn_save_new_adjustment_type" 
                    nbButton 
                    [disabled]="
                      !data_adjustment_type.codigoContabilidad ||
                      !data_adjustment_type.descripcion || submitted"
                    [class.btn-pulse]="submitted"
                    status="info">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
  