<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto kstdya-card_content" size="tiny">
        <nb-card-header class="font_family_roboto text-center">{{ accounting_audit_data?.accion }} depuraci&oacute;n contable</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form aria-labelledby="title" style="width: 600px">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label for="kstdya-input_description_number">Descripci&oacute;n: *</label>
                      <textarea
                        type="text"
                        class="kstdy-text-area-description kstdya-input_focus" 
                        nbInput 
                        fullWidth
                        name="inputDescription"
                        #inputDescription="ngModel"
                        id="inputDescription" 
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data_accounting_audit.notaRevisor" 
                        placeholder="Descripci&oacute;n">
                      </textarea>
                      <ng-container *ngIf="inputDescription.invalid && inputDescription.touched">
                        <p class="prtkt-error_text" *ngIf="inputDescription.errors?.required">
                          El nombre es requerido
                        </p>
                      </ng-container>
                  </div>
                </div>
                <div class="col text-right pl-0 pr-0">
                    
                  <button nbButton *ngIf="accounting_audit_data?.estado == 'Borrador'"
                    fullWidth 
                    type="button"  
                    class="kstdy-button_action_form" 
                    id="kstdya-btn_edit_phone_user" 
                    nbButton 
                    (click)="fnChangeStateAccountingAudit(data_accounting_audit, 2)"
                    [disabled]="submitted"
                    [class.btn-pulse]="submitted">{{ accounting_audit_data?.accion }}</button>

                  &nbsp;&nbsp;&nbsp;
                    
                  <button nbButton
                    fullWidth 
                    type="button"  
                    class="kstdy-button_action_form" 
                    id="kstdya-btn_edit_phone_user" 
                    nbButton 
                    (click)="fnChangeStateAccountingAudit(data_accounting_audit, 4)"
                    [disabled]="submitted"
                    [class.btn-pulse]="submitted">Aprobar</button>

                  &nbsp;&nbsp;&nbsp;

                  <button nbButton
                    fullWidth 
                    type="button"  
                    class="kstdy-button_action_form" 
                    id="kstdya-btn_edit_phone_user" 
                    nbButton 
                    (click)="fnChangeStateAccountingAudit(data_accounting_audit, 5)"
                    [disabled]="submitted"
                    [class.btn-pulse]="submitted">Rechazar</button>

                  &nbsp;&nbsp;&nbsp;

                  <button 
                    nbButton 
                    type="button" 
                    class="kstdy-button_action_form_cancel" 
                    id="kstdya-btn_cancel_edit_phone_user"
                    [disabled]="submitted"
                    [class.btn-pulse]="submitted"
                    (click)="fnCancelChangeStateAccountingAudit()"
                    status="basic">Cancelar</button>

                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
  