<div class="col container-fliud" style="height: 100vh; background-color: #FFFFFF !important;" *ngIf="false">
    <div class="row pgp-backgroud_layout font_family_roboto" style="height: 100%; background-color: transparent !important;">
      <div class="col-12 mt-3">
        
        <div class="row mb-2 mt-2">
          <div class="col-10">
            <h2>Administraci&oacute;n de notificaciones electr&oacute;nicas</h2>  
          </div>
          <div class="col-2 text-right m-auto">
            <button nbButton shape="rectangle" style="background-color: #1e90ff; cursor: pointer;" (click)="showModalAddUserDataEmailManagement(data_object)">Agregar registro</button>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th class="text-center border-0" style="border-top-left-radius: 10px;">Primer nombre</th>
              <th class="text-center border-0">Segundo nombre</th>
              <th class="text-center border-0">Primer apellido</th>
              <th class="text-center border-0">Segundo apellido</th>
              <th class="text-center border-0">Empresa</th>
              <th class="text-center border-0">Cargo</th>
              <th class="text-center border-0">Estado</th>
              <th class="text-center border-0">Correo electrónico</th>
              <th class="text-center border-0">Editar</th>
              <th class="text-center border-0" style="border-top-right-radius: 10px;">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item_user of list_users">
              <td>{{ item_user.tPrimerNombre }}</td>
              <td>{{ item_user.tSegundoNombre }}</td>
              <td>{{ item_user.tPrimerApellido }}</td>
              <td>{{ item_user.tSegundoApellido }}</td>
              <td>{{ item_user.tNombreEmpresa }}</td>
              <td>{{ item_user.tCargo }}</td>
              <td>{{ (item_user.bActivo == true) ? 'Activo' : 'Inactivo' }}</td>
              <td>{{ item_user.tEmail }}</td>
              <td class="text-center">
                <i class="fas fa-edit" style="color: #1e90ff; cursor: pointer;" (click)="showModalEditUserDataEmailManagement(item_user)"></i>
              </td>
              <td class="text-center">
                <i class="fas fa-trash" style="color: #1e90ff; cursor: pointer;" (click)="showModalDeleteUserDataEmailManagement(item_user)"></i>
              </td>
            </tr>
            <!-- <tr>
              <td>Carlos</td>
              <td>Alberto</td>
              <td>Rojas</td>
              <td>Salcedo</td>
              <td>Famisanar</td>
              <td>Test</td>
              <td>Activo</td>
              <td>carlos.rojas@famisanar.com</td>
              <td class="text-center">
                <i class="fas fa-edit" style="color: #1e90ff; cursor: pointer;" (click)="showModalEditUserDataEmailManagement()"></i>
              </td>
            </tr>
            <tr>
              <td>Juan</td>
              <td>Ricardo</td>
              <td>Diaz</td>
              <td>Garcia</td>
              <td>Sanitas</td>
              <td>Test 2</td>
              <td>Activo</td>
              <td>juan.diaz@sanitas.com</td>
              <td class="text-center">
                <i class="fas fa-edit" style="color: #1e90ff; cursor: pointer;" (click)="showModalEditUserDataEmailManagement()"></i>
              </td>
            </tr> -->
          </tbody>
        </table>

      </div>
    </div>
</div>


<div class="row" style="display: inline-grid;">
    <div class="row m-2">
        <div class="col-8">
          <h2>Administraci&oacute;n de notificaciones electr&oacute;nicas</h2>  
        </div>
        <div class="col-4 text-right m-auto">
          <button nbButton shape="rectangle" style="background-color: #1e90ff; cursor: pointer;" (click)="showModalAddUserDataEmailManagement(data_object)">Agregar registro</button>
        </div>
      </div>
  <div class="col table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center border-0" style="border-top-left-radius: 10px;">Primer nombre</th>
          <th class="text-center border-0">Segundo nombre</th>
          <th class="text-center border-0">Primer apellido</th>
          <th class="text-center border-0">Segundo apellido</th>
          <th class="text-center border-0">Empresa</th>
          <th class="text-center border-0">Cargo</th>
          <th class="text-center border-0">Estado</th>
          <th class="text-center border-0">Correo electrónico</th>
          <th class="text-center border-0">Editar</th>
          <th class="text-center border-0" style="border-top-right-radius: 10px;">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item_user of list_users">
          <td>{{ item_user.tPrimerNombre }}</td>
          <td>{{ item_user.tSegundoNombre }}</td>
          <td>{{ item_user.tPrimerApellido }}</td>
          <td>{{ item_user.tSegundoApellido }}</td>
          <td>{{ item_user.tNombreEmpresa }}</td>
          <td>{{ item_user.tCargo }}</td>
          <td>{{ (item_user.bActivo == true) ? 'Activo' : 'Inactivo' }}</td>
          <td>{{ item_user.tEmail }}</td>
          <td class="text-center">
            <i class="fas fa-edit" style="color: #1e90ff; cursor: pointer;" (click)="showModalEditUserDataEmailManagement(item_user)"></i>
          </td>
          <td class="text-center">
            <i class="fas fa-trash" style="color: #1e90ff; cursor: pointer;" (click)="showModalDeleteUserDataEmailManagement(item_user)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>