<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto kstdya-card_content" size="tiny">
        <nb-card-header class="font_family_roboto text-center">
          <span style="color: #1e90ff;font-weight: 500;">Agregar nuevo correo el&eacute;ctronico</span>
          <i class="fas fa-times" (click)="fnCancelCreateNewEmailUser()" style="position: absolute; right: 2rem; cursor: pointer;"></i>
        </nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnCreateNewEmailUser(entity_data)" #addNewEmailUser="ngForm" aria-labelledby="title" style="width: 600px">
                <div class="col-12 pl-0 pr-0">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="kstdya-input_email_user">Ingrese correo el&eacute;ctronico: *</label>
                        <input 
                          nbInput 
                          [(ngModel)]="entity_data.email_user" 
                          #groupName="ngModel" 
                          id="kstdya-input_email_user" 
                          name="email_user" 
                          autofocus  
                          type="text" 
                          class="form-control kstdya-input_focus"
                          placeholder="Ingrese correo eléctronico"
                          style="height: 45px;">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="kstdya-input_description_email_user">Descripci&oacute;n: *</label>                                         
                    <input 
                      nbInput 
                      [(ngModel)]="entity_data.description_email_user" 
                      #groupName="ngModel" 
                      id="kstdya-input_description_email_user" 
                      name="description_email_user" 
                      autofocus  
                      type="text" 
                      class="form-control kstdya-input_focus"
                      placeholder="Ingrese descripción del correo. Ej: 'Correo trabajo', 'Correo personal', etc."
                      style="height: 45px;">
                  </div>
                </div>
                <div class="col text-center pl-0 pr-0">

                  <button nbButton 
                    fullWidth 
                    type="submit"  
                    class="kstdy-button_action_form" 
                    id="kstdya-btn_save_new_phone_user" 
                    nbButton 
                    [disabled]="
                      !entity_data.email_user ||
                      !entity_data.description_email_user || submitted"
                    [class.btn-pulse]="submitted">
                    Guardar
                  </button>
                  
                  <!-- &nbsp;&nbsp;&nbsp;

                  <button 
                    nbButton 
                    type="button" 
                    class="kstdy-button_action_form_cancel" 
                    id="kstdya-btn_cancel_save_new_phone_user"
                    [disabled]="submitted"
                    [class.btn-pulse]="submitted"
                    (click)="fnCancelCreateNewEmailUser()"
                    status="basic">Cancelar</button> -->
                  
                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
  