<div class="row kstdy-backgroud_layout" [nbSpinner]="loading_state" nbSpinnerSize="small" nbSpinnerStatus="info" nbSpinnerMessage="Cargando...">
  <div class="col-12">
    <div class="row justify-content-center">
      <h4 class="font_family_roboto">Lista de contabilidad</h4>
      <div class="col-12 m-2">
        <div class="row justify-content-end">
          <div class="pr-0 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-2 mt-sm-2 mt-md-2 mt-lg-0 text-lg-right text-xl-right text-md-center text-sm-center text-center">
            <button class="btn kstdy-btns_actions kstdy-btn_action_create font_family_roboto" id="kstdy-button_create_categories"
              (click)="fnAddAudit()">Agregar</button>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3 p-0" style="overflow-y: auto;">
        <!-- ********** START - Div main content data table - AccountingAudit ********** -->
        <table class="table" style="width: 142%!important;">
          <thead>
            <tr>
              <th height="20" class="text-center border-0 p-0" style="background: white;"></th>
              <th height="20" class="text-center border-0 p-0" style="background: white;"></th>
              <th height="20" class="text-center border-0 p-0" style="background: white;"></th>
              <th height="20" class="text-center border-0 p-0" style="background: white;"></th>
              <th height="20" class="text-center border-0 p-0" style="background: white;"></th>
              <th height="20" class="text-center border-0 p-0" style="background: white;"></th>
              <th height="20" class="text-center border-0 p-0" style="background: white;"></th>
              <th height="20" class="text-center border-0 p-0" colspan="2" style="background: #01BDFF; border-top-left-radius: 10px; border-top-right-radius: 10px; color: white; font-weight: 400;">Valor a depurar</th>
              <th height="20" class="text-center border-0 p-0" colspan="4" style="background: #01BDFF; border-top-left-radius: 10px; border-top-right-radius: 10px; color: white; font-weight: 400; border-left: 2px solid white !important;">Comprobante fuente</th>
            </tr>
            <tr>
              <th colspan="2" class="border-0" style="border-top-left-radius: 10px;"></th>
              <th class="border-0">
                Item
              </th>
              <th class="text-center border-0">
                C&oacute;digo contable
              </th>
              <th class="text-center border-0">
                Descripci&oacute;n del movimiento
              </th>
              <th class="text-center border-0">
                CeBe
              </th>
              <th class="text-center border-0">
                NIT Tercero
              </th>
              <th class="text-center border-0">
                D&eacute;bito
              </th>
              <th class="text-center border-0">
                Cr&eacute;dito
              </th>
              <th class="text-center border-0">
                Referencia
              </th>
              <th class="text-center border-0">
                N&uacute;mero comprobante cierre
              </th>
              <th class="text-center border-0">
                Referenciaci&oacute;n soportes
              </th>
              <th class="text-center border-0">
                Tipo ajuste
              </th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data_audit of list_audit; let i = index;">
                <td class="kstdy-table-actions text-right p-3">
                  <i class="fas fa-edit kstdy-pointer kstdy-icon_color"
                    (click)="fnShowEditAudit(data_audit)"></i>
                </td>
                <td class="kstdy-table-actions text-left p-3">
                  <i class="fas fa-trash kstdy-pointer kstdy-icon_color"
                    (click)="fnShowModalDeleteAudit(data_audit)"></i>
                </td>
                <td  class="text-center">{{ i + 1 | number: '2.0-0' }}</td>
                <td  class="text-center">{{ data_audit.codigoContable }}</td>
                <td  class="text-center">{{ data_audit.descripcionMovimiento }}</td>
                <td  class="text-center">{{ data_audit.centroBeneficio }}</td>
                <td  class="text-center">{{ data_audit.nitTercero }}</td>
                <td  class="text-center">{{ data_audit.debito | number }}</td>
                <td  class="text-center">{{ data_audit.credito | number }}</td>
                <td  class="text-center">{{ data_audit.referencia }}</td>
                <td  class="text-center">{{ data_audit.numComprobanteCierre }}</td>
                <td  class="text-center">{{ data_audit.referenciacionSoportes }}</td>
                <td  class="text-center">{{ data_audit.tipoAjuste }}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right" style="color: #1e90ff; font-weight: bold;">TOTAL</td>
                <td class="text-center" style="color: #1e90ff;">{{ total_debito | number }}</td>
                <td class="text-center" style="color: #1e90ff;">{{ total_credito | number }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          </tbody>
        </table>
        <!-- *********** END - Div main content data table - AccountingAudit *********** -->
      </div>
      <div class="col-12">
        <div class="row justify-content-sm-between justify-content-md-between justify-content-lg-start justify-content-xl-start">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>