@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {

    .cursor-pointer {
        cursor: pointer;
    }

    ::ng-deep .ng-select .ng-select-container {
        border-color: none !important;
        height: 54px !important;
    }

    ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
        height: 44px;
    }

    .inputDocumentNumber {
        border-color: #ccc !important;
    }

    .inputDocumentNumber :focus {
        border-color: #1e90ff !important;
    }

    #btnSubmitFormSearchPatient {
        background-color: #1e90ff !important;
        color: #fff !important;
        border: none !important;
        cursor: pointer;
    }

    .customClass {
        background-color: #000;
    }

    ::ng-deep .tooltip-inner {
        background-color: #4b4b4b !important;
        color: #fff;
        width: auto !important;
    }
    ::ng-deep .tooltip.top .tooltip-arrow:before,
    ::ng-deep .tooltip.top .tooltip-arrow {
        border-top-color: #4b4b4b !important;
        border-right-color: #15628200 !important;
    }

}