@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {

    .cursor-pointer {
        cursor: pointer;
    }

    ::ng-deep .ng-select .ng-select-container {
        border-color: none !important;
        height: 54px !important;
    }

    ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
        height: 44px;
    }

    .inputDocumentNumber {
        border-color: #ccc !important;
    }

    .inputDocumentNumber :focus {
        border-color: #1e90ff !important;
    }

    #btnSubmitFormSearchPatient {
        background-color: #1e90ff !important;
        color: #fff !important;
        border: none !important;
        cursor: pointer;
    }

}