@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
    ::ng-deep nb-card {
        margin: 10px !important;
        height: calc(100vh - 3rem) !important;
        max-width: 100%;
        opacity: 1;
    }

    ::ng-deep ngx-historico-paciente {
        overflow-x: hidden !important;
    }

    ::ng-deep .front-container {
        width: 100% !important;
    }

    ::ng-deep a:hover, a:focus {
        color: #01BDFF !important;
    }

    ::ng-deep .nb-theme-default a:hover, .nb-theme-default a:focus {
        color: #01BDFF;
    }

    ::ng-deep nb-card-header {
        display: block !important;
    }

    ::ng-deep nb-card-body {
        /* overflow: hidden !important; */
        box-shadow: none !important;
    }

    ::ng-deep .ngx-pagination > li.current {
        border-radius: 15px;
    }

    ::ng-deep .ngx-pagination a:hover, .ngx-pagination button:hover {
        background: #e6e6e6;
        border-radius: 10px;
    }

    ::ng-deep .btn {
        text-transform: none;
    }

    nb-card-body {
        /* overflow: hidden !important; */
        box-shadow: none !important;
    }

    nb-card-header {
        display: block !important;
    }

    // #content-crhb-01 {

    //     .content-card::after{
    //         content: "";
    //         background-image: url('../../../../assets/images/imgs/KustodyYmeddylex.png') !important;
    //         background-size: 200px;
    //         opacity: 1;
    //         top: 40px !important;
    //         left: 0;
    //         bottom: 0;
    //         right: 0;
    //         position: absolute;
    //         z-index: 1;
    //         -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    //         color-adjust: exact !important;  /*Firefox*/
    //         -webkit-print-color-adjust: exact !important;
    //         -moz-print-color-adjust: exact !important;
    //         -ms-print-color-adjust: exact !important;
    //         print-color-adjust: exact !important;
    //     }
    // }

    .cursor-pointer {
        cursor: pointer;
    }

    .content-pagination {
        display: flex; 
        justify-content: space-around;
    }

    .badge-state-1 {
        background-color: #0d6efd !important;
        padding: 4px 10px;
    }
    
    .badge-state-2 {
        background-color: #ffc107 !important;
        padding: 4px 10px;
    }

    .waterMark{
        // visibility: hidden;
        display: none;
    }

    @media print {

        * {
            -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
            color-adjust: exact !important;  /*Firefox*/
            -webkit-print-color-adjust: exact !important;
            -moz-print-color-adjust: exact !important;
            -ms-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
        }

        .waterMark{
            // visibility: visible !important;
            display: block !important;
        }

        .card {
            border: 1px solid #3b3b3b !important;
            background-color: #f7f7f7 !important;
            border: 1px solid #929292 !important; 
        }

        .card-header {
            border-bottom: 1px solid #929292 !important;
            background-color: #808080 !important;
            border-left: 1px solid #929292 !important;
            border-right: 1px solid #929292 !important; 
        }

        #content-crhb-01 {

            .content-card::after{
                content: "";
                background-image: url('../../../../assets/images/imgs/KustodyYmeddylex.png') !important;
                background-size: 200px;
                opacity: 1;
                top: 40px !important;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: 1 !important;
                -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
                color-adjust: exact !important;  /*Firefox*/
                -webkit-print-color-adjust: exact !important;
                -moz-print-color-adjust: exact !important;
                -ms-print-color-adjust: exact !important;
                print-color-adjust: exact !important;
            }
        }

    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
  
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
  
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: #2196F3;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }

}