<div class="row" accent="danger" size="tiny" [nbSpinner]="submitted" nbSpinnerStatus="info" nbSpinnerSize="large" [nbSpinnerMessage]="textLoading">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>
        <div class="row m-0 p-0">
          <div class="col text-left">
            <button type="button" (click)="fnReturnPage()" class="btn btn-link text-info cursor-pointer">
              <i class="fas fa-arrow-left"></i>&nbsp;{{ 'Regresar' | titlecase }}
            </button>
          </div>
          <div class="col text-center">
            <h3 style="margin-top: 6px;">Certificado concepto de rehabilitaci&oacute;n CRHB</h3>
          </div>
          <div class="col text-right">
            <!-- <button 
              type="button" 
              class="btn btn-link text-info cursor-pointer" 
              [useExistingCss]="true"
              printSectionId="certificadoConceptoCRHB" 
              ngxPrint>
              {{ 'Imprimir Certificado' | titlecase }}&nbsp;
              <i class="fas fa-print"></i>
            </button>
            <button 
              type="button" 
              class="btn btn-link text-info cursor-pointer" 
              [useExistingCss]="true"
              printSectionId="CartaConceptoCRHB" 
              ngxPrint>
              {{ 'Imprimir Carta' | titlecase }}&nbsp;
              <i class="fas fa-print"></i>
            </button> -->
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="container-fluid pl-5 pt-1 pr-5 pb-5">

          <div class="row justify-content-center">
            <div *ngIf="!zoomConceptoRehabilitacion" class="animated" [ngClass]="{'col-10 fadeIn': zoomCartaConcepto, 'col-4 fadeIn': !zoomCartaConcepto}">
              <div class="justify-content-center d-flex mb-2" *ngIf="true">
                <span class="cursor-pointer m-1" tooltip="Imprimir Carta Concepto" placement="top" container="body">
                  <button 
                    class="btn btn-primary"
                    [useExistingCss]="true"
                    printSectionId="CartaConceptoCRHB"   
                    ngxPrint>
                    <i class="fas fa-print text-ligth"></i>
                  </button>
                </span>
                <span class="cursor-pointer m-1" tooltip="Editar Carta Concepto" placement="top" container="body">
                  <button class="btn btn-primary">
                    <i class="fas fa-edit text-ligth"></i>
                  </button>
                </span>
                <span class="cursor-pointer m-1" tooltip="Enviar por correo" placement="top" container="body">
                  <button class="btn btn-primary">
                    <i class="fas fa-paper-plane text-ligth"></i>
                  </button>
                </span>
                <span class="cursor-pointer m-1" tooltip="Zoom carta concepto - {{ (zoomCartaConcepto) ? 'Minimizar' : 'Maximizar' }}" placement="top" container="body">
                  <button class="btn btn-primary" (click)="fnZoomDocument(1)">
                    <i class="fas text-ligth" [ngClass]="{'fa-search-minus': zoomCartaConcepto, 'fa-search-plus': !zoomCartaConcepto}"></i>
                  </button>
                </span>
                <span class="cursor-pointer m-1" tooltip="Agregar firma digital" placement="top" container="body">
                  <!-- Rounded switch -->
                  <label class="switch" style="margin-top: 0.2rem;">
                    <input 
                      [ngModelOptions]="{standalone: true}" 
                      [(ngModel)]="digitalSignDoctorCert1"
                      type="checkbox" 
                      [checked]="(digitalSignDoctorCert1)?'checked':false">
                    <span class="slider round"></span>
                  </label>
                </span>
              </div>
              <div style="border: 1px solid #929292; padding: 2rem;" [ngStyle]="{'zoom': (zoomCartaConcepto) ? '0' : '0.5'}">

                <div id="CartaConceptoCRHB" #CartaConceptoCRHB>
                  <div class="d-flex">
                    <!-- <img src="../../../../assets/images/imgs/logo-concepto.png" style="width: 100%;" alt="" srcset=""> -->
                    <span>
                        <img src="../../../../assets/images/imgs/Logokustodyahorizontal.png" width="45%" alt="" srcset="">
                    </span>
                    <span class="text-right">
                      <img src="../../../../assets/images/imgs/meddilexlogo.png" width="30%" alt="" srcset="">
                    </span>
                  </div>
                  <div>
                    <p style="margin-top: 5rem;margin-left: 4rem; font-size: 1.3rem;">Bogotá D.C, 24 de abril de 2020</p>
                  </div>
                  <div>
                    <p style="margin-top: 5rem;margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0;">Señores:</p>
                  </div>
                  <div>
                    <p style="margin-top: 0rem;margin-left: 4rem; font-size: 1.3rem; font-weight: 600; margin-bottom: 0;">COLFONDOS</p>
                  </div>
                  <div>
                    <p style="margin-top: 0rem;margin-left: 4rem; font-size: 1.3rem; font-weight: bold; margin-bottom: 0;">Atn. Dirección de Medicina Laboral</p>
                  </div>
                  <div>
                    <p style="margin-top: 0rem;margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0;">Calle 67 N° 7 – 94</p>
                  </div>
                  <div class="row" style="margin-top: 5rem;">
                    <div class="col-2">
                      <p style="margin-top: 0rem;margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; font-weight: bold;">Asunto:</p>
                    </div>
                    <div class="col-10">
                      <p style="margin-top: 0rem;margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0;">
                        Respuesta requerimientos
                      </p>
                      <p style="margin-top: 0rem;margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0;">
                        Notificación Concepto de Rehabilitación
                      </p>
                      <p style="margin-top: 0rem;margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; font-weight: bold;">
                        MARIA ADELFA POSADA C.C. No. 29842977
                      </p>
                    </div>
                  </div>
                  <div>
                    <p style="margin-top: 6rem; margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0;">Respetados Señores:</p>
                  </div>
                  <div>
                    <p style="margin-top: 1rem; margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; margin-right: 3rem; text-align: justify; text-justify: inter-word;">
                      <strong>MEDDYLEX EPS</strong>, en cumplimiento a lo dispuesto en el inciso 6 del Artículo 142 del Decreto Ley 019 de
                      2012, remite <strong>CONCEPTO DE REHABILITACIÓN</strong> del afiliado del asunto, con
                      pronóstico laboral Desfavorable, quien cumplió incapacidad temporal prolongada.
                    </p>
                  </div>
                  <div>
                    <p style="margin-top: 1rem; margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; margin-right: 3rem; text-align: justify; text-justify: inter-word;">
                      Lo anterior para iniciar al respectivo tramite por la Administradora de Fondo de Pensiones frente
                      al <strong>reconocimiento de prestaciones económicas</strong> y evaluación para <strong>calificación de pérdida de capacidad
                      laboral</strong> correspondiente.
                    </p>
                  </div>
                  <div>
                    <p style="margin-top: 3rem; margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; margin-right: 3rem; text-align: justify; text-justify: inter-word;">
                      Cordialmente,
                    </p>
                  </div>
                  <div>
                    <div style="margin-top: 3rem; min-height: 5rem; margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; margin-right: 3rem; text-align: justify; text-justify: inter-word;">
                      <img *ngIf="digitalSignDoctorCert1" src="../../../../assets/images/imgs/firmaConceptoRehabilitacion.png" alt="firma carta concepto de rehabilitacion">
                    </div>
                  </div>
                  <div>
                    <p style="margin-top: 1rem; margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; margin-right: 3rem; text-align: justify; text-justify: inter-word;">
                      <strong>Dirección de Medicina Laboral</strong>
                    </p>
                    <p style="margin-top: 0rem; margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; margin-right: 3rem; text-align: justify; text-justify: inter-word;">
                      <strong>Meddylex EPS</strong>
                    </p>
                    <p style="margin-top: 0rem; margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; margin-right: 3rem; text-align: justify; text-justify: inter-word;">
                      <small>Elaboró: AMDJ</small>
                    </p>
                  </div>
                  <div>
                    <p style="margin-top: 4rem; margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; margin-right: 3rem; text-align: justify; text-justify: inter-word;">
                      <small>Folios: 1</small>
                    </p>
                  </div>
                  <div>
                    <p style="margin-top: 2rem; margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; margin-right: 3rem; text-align: justify; text-justify: inter-word;">
                      <strong>Copia</strong>
                    </p>
                  </div>
                  <div>
                    <p style="margin-top: 4rem; margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; margin-right: 3rem; text-align: justify; text-justify: inter-word;">
                      Señor(a) <strong>MARIA ADELFA POSADA</strong>, CALLE 11 No 10 - 17, Teléfono: 3351899, La Union - VALLE DEL CAUCA
                    </p>
                  </div>
                  <div>
                    <p style="margin-top: 2rem; margin-left: 4rem; font-size: 1.3rem; margin-bottom: 0; margin-right: 3rem; text-align: justify; text-justify: inter-word;">
                      Empleador. <strong>HERMAN DUCUARA FORERO</strong>, CALLE 25. 23-30, 2249699, 12:00:00 AM. 
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <div *ngIf="!zoomCartaConcepto" class="animated" [ngClass]="{'col-10 fadeIn': zoomConceptoRehabilitacion, 'col-4 fadeIn': !zoomConceptoRehabilitacion}">
              <div class="justify-content-center d-flex mb-2" *ngIf="true">
                <span class="cursor-pointer m-1" tooltip="Imprimir Certificado Concepto" placement="top" container="body">
                  <button 
                    class="btn btn-primary"
                    [useExistingCss]="true"
                    printSectionId="certificadoConceptoCRHB" 
                    ngxPrint>
                    <i class="fas fa-print text-ligth"></i>
                  </button>
                </span>
                <span class="cursor-pointer m-1" tooltip="Editar Carta Concepto" placement="top" container="body">
                  <button class="btn btn-primary">
                    <i class="fas fa-edit text-ligth"></i>
                  </button>
                </span>
                <span class="cursor-pointer m-1" tooltip="Enviar por correo" placement="top" container="body">
                  <button class="btn btn-primary">
                    <i class="fas fa-paper-plane text-ligth"></i>
                  </button>
                </span>
                <span class="cursor-pointer m-1" tooltip="Zoom concepto - {{ (zoomConceptoRehabilitacion) ? 'Minimizar' : 'Maximizar' }}" placement="top" container="body">
                  <button class="btn btn-primary" (click)="fnZoomDocument(2)">
                    <i class="fas text-ligth" [ngClass]="{'fa-search-minus': zoomConceptoRehabilitacion, 'fa-search-plus': !zoomConceptoRehabilitacion}"></i>
                  </button>
                </span>
                <span class="cursor-pointer m-1" tooltip="Agregar firma digital" placement="top" container="body">
                  <!-- Rounded switch -->
                  <label class="switch" style="margin-top: 0.2rem;">
                    <input 
                      [ngModelOptions]="{standalone: true}" 
                      [(ngModel)]="digitalSignDoctorCert2"
                      type="checkbox" 
                      [checked]="(digitalSignDoctorCert2)?'checked':false">
                    <span class="slider round"></span>
                  </label>
                </span>
              </div>
              <div style="border: 1px solid #929292; padding: 2rem;" [ngStyle]="{'zoom': (zoomConceptoRehabilitacion) ? '0' : '0.5'}">
                <div id="certificadoConceptoCRHB" #certificadoConceptoCRHB>
                  <!-- <img src="../../../../assets/images/imgs/KustodyYmeddylex.png" style="width: 90%;position: absolute;z-index: 2;left: 10%;top: 15%;opacity: 0.2;"> -->
                  <div class="d-flex">
                    <!-- <img src="../../../../assets/images/imgs/logo-concepto.png" style="width: 100%;" alt="" srcset=""> -->
                    <span>
                        <img src="../../../../assets/images/imgs/Logokustodyahorizontal.png" width="45%" alt="" srcset="">
                    </span>
                    <span class="text-right">
                      <img src="../../../../assets/images/imgs/meddilexlogo.png" width="30%" alt="" srcset="">
                    </span>
                  </div>
                  <div>
                    <h5 class="text-center"><strong>CONCEPTO DE REHABILITACIÓN</strong></h5>
                  </div>

                                    
                  <div class="card border-secondary mt-2" style="border-radius: 15px;">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>C&oacute;digo concepto:</small><br>
                            <h6 *ngIf="dataConceptForm?.guid">{{ dataConceptForm?.guid }}</h6>
                            <small style="color: #ccc;" *ngIf="!dataConceptForm?.guid">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Fecha emisi&oacute;n:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.FechaEmision">{{ dataConceptForm?.FechaEmision | date: 'dd/MM/yyyy' }}</h6>
                            <small style="color: #ccc;" *ngIf="!dataConceptForm?.FechaEmision">No registra dato</small>
                          </div>
                        </div>
                        <!-- <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Hora emisi&oacute;n:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.FechaEmision">{{ dataConceptForm?.FechaEmision | date: 'h:mm:ss a' }}</h6>
                            <small style="color: #ccc;" *ngIf="!dataConceptForm?.FechaEmision">No registra dato</small>
                          </div>
                        </div> -->
                      </div>
                      <hr *ngIf="false">
                    </div>
                  </div>
    
                  <div class="card border-secondary mt-2" style="border-radius: 15px;">
                    <div class="card-header border-secondary text-center" style="border-radius: 15px;">
                      <h6 class="m-0">
                        <strong>
                          CONCEPTO MEDICO PARA REMISION A ADMINISTRADORA DE FONDO DE PENSIONES (AFP)
                        </strong>
                      </h6>
                    </div>
                    <div id="content-crhb-01" class="card-body">
                      <div class="content-card" >
                        <div class="row">
                          <div class="col">
                            <p style="text-align: justify; text-justify: inter-word;">
                              Este concepto se emite para cumplir lo establecido por el artículo 142 del Decreto Ley 0019 de 2012 y el Artículo 2.2.3.2.2 del Decreto 1333 de 2.018, que
                              estipula que las Entidades Promotoras de Salud deberán emitir el concepto de rehabilitación y enviarlo antes de cumplirse
                              el día ciento veinte (120) a la Administradora de Fondo de Pensiones, con el fin de que la misma defina si postergará el
                              trámite de calificación de Invalidez hasta por un término máximo de trescientos sesenta (360) días calendario adicionales a los
                              primeros ciento ochenta (180) días de incapacidad temporal reconocida por la Entidad Promotora de Salud otorgando un subsidio
                              equivalente a la incapacidad que venía disfrutando el trabajador (para los casos con concepto de rehabilitación favorable) o si
                              procederá a calificar la pérdida de capacidad laboral con el fin de definir si hay lugar a pensión por invalidez.
                            </p>
                          </div>                    
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="card border-secondary mt-2" style="border-radius: 15px;">
                    <div class="card-header border-secondary text-center" style="border-radius: 15px;">
                      <h6 class="m-0">
                        <strong>
                          <i class="fas fa-user-injured"></i>&nbsp;
                          INFORMACIÓN GENERAL DEL AFILIADO   
                        </strong>
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Primer&nbsp;nombre:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.primerNombre">{{ (patientData?.primerNombre | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.primerNombre">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>Tipo de documento:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.tipoDoc">{{ (patientData?.tipoDoc | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.tipoDoc">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>Edad:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.edad">{{ patientData?.edad + ' años' }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.edad">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>Pa&iacute;s:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.nombrePais">{{ patientData?.nombrePais | titlecase }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.nombrePais">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Segundo&nbsp;nombre:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.segundoNombre">{{ (patientData?.segundoNombre | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.segundoNombre">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>N&uacute;mero de documento:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.numeroDocumento">{{ patientData?.numeroDocumento }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.numeroDocumento">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>Correo electr&oacute;nico:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.email">{{ patientData?.email }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.email">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>Depatamento:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.nombreDepartamento">{{ patientData?.nombreDepartamento | titlecase }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.nombreDepartamento">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Primer&nbsp;apellido:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.primerApellido">{{ (patientData?.primerApellido | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.primerApellido">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>Fecha de nacimiento:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.fechaNacimiento">{{ patientData?.fechaNacimiento | date:'mediumDate' }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.fechaNacimiento">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>Direcci&oacute;n:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.direccion">{{ patientData?.direccion }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.direccion">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>Ciudad:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.nombreMunicipio">{{ patientData?.nombreMunicipio | titlecase }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.nombreMunicipio">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Segundo&nbsp;apellido:&nbsp;</small><br>
                            <h6 style="color: #000;"*ngIf="patientData?.segundoApellido">{{ (patientData?.segundoApellido | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.segundoApellido">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>G&eacute;nero:</small><br>
                            <h6 style="color: #000;"*ngIf="patientData?.genero">{{ (patientData?.genero | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.genero">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>T&eacute;lefono:</small><br>
                            <h6 style="color: #000;"*ngIf="patientData?.telefono">{{ patientData?.telefono }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.telefono">No registra dato</small>
                          </div>
                        </div>
                      </div>
                      <hr *ngIf="false">
                      <div class="row" *ngIf="false">
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Ocupaci&oacute;n:&nbsp;</small><br>
                            <h6 style="color: #000;"*ngIf="patientData?.ocupacion?.tNombre">{{ (patientData?.ocupacion?.tNombre | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.ocupacion?.tNombre">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>CIUO:&nbsp;</small><br>
                            <h6 style="color: #000;"*ngIf="patientData?.ocupacion?.iCategoria">{{ (patientData?.ocupacion?.iCategoria | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.ocupacion?.iCategoria">No registra dato</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="card border-secondary mt-2" style="border-radius: 15px;">
                    <div class="card-header border-secondary text-center" style="border-radius: 15px;">
                      <h6 class="m-0">
                        <strong>
                          <i class="fas fa-hospital-user"></i>&nbsp;Datos afiliaci&oacute;n EPS
                        </strong>
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>NIT:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.numeroIdentificacionEps">{{ patientData?.numeroIdentificacionEps }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.numeroIdentificacionEps">No registra dato</small>
                          </div>
                        </div>
                        <div class="col-6">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Razón Social:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.eps">{{ patientData?.eps }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.eps">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>R&eacute;gimen de afiliaci&oacute;n:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.regimenAfiliacion">{{ patientData?.regimenAfiliacion }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.regimenAfiliacion">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Tipo Afiliaci&oacute;n:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.tipoAfiliacion">{{ patientData?.tipoAfiliacion }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.tipoAfiliacion">No registra dato</small>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                  <div class="card border-secondary mt-2" style="border-radius: 15px;">
                    <div class="card-header border-secondary text-center" style="border-radius: 15px;">
                      <h6 class="m-0">
                        <strong>
                          <i class="fas fa-hospital-user"></i>&nbsp;Datos afiliaci&oacute;n ARL
                        </strong>
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>NIT:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.numeroIdentificacionArl">{{ patientData?.numeroIdentificacionArl }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.numeroIdentificacionArl">No registra dato</small>
                          </div>
                        </div>
                        <div class="col-6">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Razón Social:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.arl">{{ patientData?.arl }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.arl">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>R&eacute;gimen de afiliaci&oacute;n:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.regimenAfiliacion">{{ patientData?.regimenAfiliacion }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.regimenAfiliacion">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Tipo Afiliaci&oacute;n:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.tipoAfiliacion">{{ patientData?.tipoAfiliacion }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.tipoAfiliacion">No registra dato</small>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                  <div class="card border-secondary mt-2" style="border-radius: 15px;">
                    <div class="card-header border-secondary text-center" style="border-radius: 15px;">
                      <h6 class="m-0">
                        <strong>
                          <i class="fas fa-hospital-user"></i>&nbsp;Datos afiliaci&oacute;n AFP
                        </strong>
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>NIT:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.numeroIdentificacionAfp">{{ patientData?.numeroIdentificacionAfp }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.numeroIdentificacionAfp">No registra dato</small>
                          </div>
                        </div>
                        <div class="col-6">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Razón Social:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.afp">{{ patientData?.afp }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.afp">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>R&eacute;gimen de afiliaci&oacute;n:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.regimenAfiliacion">{{ patientData?.regimenAfiliacion }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.regimenAfiliacion">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Tipo Afiliaci&oacute;n:</small><br>
                            <h6 style="color: #000;" *ngIf="patientData?.tipoAfiliacion">{{ patientData?.tipoAfiliacion }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.tipoAfiliacion">No registra dato</small>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
    
                  <div class="card border-secondary mt-2" style="border-radius: 15px;">
                    <div class="card-header border-secondary text-center" style="border-radius: 15px;">
                      <h6 class="m-0">
                        <strong>
                          <i class="fas fa-procedures"></i>&nbsp;DIAGNOSTICOS
                        </strong>
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="row" *ngFor="let itemcie10 of dataConcept?.DiagnosticosConcepto">
                        <div class="col-2">
                          <div style="margin-bottom: 0.5rem;">
                            <small>C&oacute;digo diagn&oacute;stico:</small><br>
                            <h6 style="color: #000;" *ngIf="itemcie10?.tCIE10">{{ itemcie10?.tCIE10 }}</h6>
                            <small style="color: #ccc;" *ngIf="!itemcie10?.tCIE10">No registra dato</small>
                          </div>
                        </div>
                        <div class="col-5">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Nombre diagn&oacute;stico:</small><br>
                            <h6 style="color: #000;" *ngIf="itemcie10?.tDescripcion">{{ itemcie10?.tDescripcion }}</h6>
                            <small style="color: #ccc;" *ngIf="!itemcie10?.tDescripcion">No registra dato</small>
                          </div>
                        </div>
                        <div class="col-3">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Fecha diagn&oacute;stico:</small><br>
                            <h6 style="color: #000;" *ngIf="itemcie10?.FechaIncapacidad">{{ itemcie10?.FechaIncapacidad | date: 'dd/MM/yyyy h:mm:ss a' }}</h6>
                            <small style="color: #ccc;" *ngIf="!itemcie10?.FechaIncapacidad">No registra dato</small>
                          </div>
                        </div>
                        <div class="col-2">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Etiolog&iacute;a:</small><br>
                            <h6 style="color: #000;" *ngIf="itemcie10?.nombreEtiologia">{{ itemcie10?.nombreEtiologia }}</h6>
                            <small style="color: #ccc;" *ngIf="!itemcie10?.nombreEtiologia">No registra dato</small>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <hr>
                        </div>
                        
                      </div>
                    </div>
                  </div>
    
                  <div class="card border-secondary mt-2" style="border-radius: 15px;">
                    <div class="card-header border-secondary text-center" style="border-radius: 15px;">
                      <h6 class="m-0">
                        <strong>
                          <i class="fas fa-procedures"></i>&nbsp;DESCRIPCIÓN DE LAS SECUELAS
                        </strong>
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="row" *ngFor="let itemSecuela of dataConcept?.SecuelasConcepto">
                        <!-- <div class="col-12" *ngFor="let itemcie10 of dataCertificate?.cie10">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Diagn&oacute;stico cl&iacute;nico:</small><br>
                            <h6 style="color: #000;" *ngIf="itemcie10?.tFullDescripcion">{{ itemcie10?.tFullDescripcion }}</h6>
                            <small style="color: #ccc;" *ngIf="!itemcie10?.tFullDescripcion">No registra dato</small>
                          </div>
                        </div> -->
                        <div class="col-3">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Tipo de secuela:</small><br>
                            <h6 style="color: #000;" *ngIf="itemSecuela?.nombreSecuela">{{ itemSecuela?.nombreSecuela }}</h6>
                            <small style="color: #ccc;" *ngIf="!itemSecuela?.nombreSecuela">No registra dato</small>
                          </div>
                        </div>
                        <div class="col-7">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Descripci&oacute;n:</small><br>
                            <h6 style="color: #000;" *ngIf="itemSecuela?.Descripcion">{{ itemSecuela?.Descripcion }}</h6>
                            <small style="color: #ccc;" *ngIf="!itemSecuela?.Descripcion">No registra dato</small>
                          </div>
                        </div>
                        <div class="col-2">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Pronostico:</small><br>
                            <h6 style="color: #000;" *ngIf="itemSecuela?.nombrePronostico">{{ itemSecuela?.nombrePronostico }}</h6>
                            <small style="color: #ccc;" *ngIf="!itemSecuela?.nombrePronostico">No registra dato</small>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="card border-secondary mt-2" style="border-radius: 15px; page-break-before: always;">
                    <div class="card-header border-secondary text-center" style="border-radius: 15px;">
                      <h6 class="m-0">
                        <strong>
                          <i class="fas fa-procedures"></i>&nbsp;RESUMEN HISTORIA CLINICA Y ESTADO ACTUAL DEL PACIENTE
                        </strong>
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <p style="text-align: justify; text-justify: inter-word;">
                            {{ dataConceptForm?.ResumenHistoriaClinica }}
                          </p>
                        </div>                    
                      </div>
                    </div>
                  </div>
    
                  <div class="card border-secondary mt-2" style="border-radius: 15px;">
                    <div class="card-header border-secondary text-center" style="border-radius: 15px;">
                      <h6 class="m-0">
                        <strong>
                          <i class="fas fa-procedures"></i>&nbsp;TERAPEUTICA POSIBLE 
                        </strong>
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Tipo de tratamiento:</small><br>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.EsFarmacologico">Farmacol&oacute;gico</h6>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.EsFonoaudiologia">Fonoaudiologia</h6>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.EsOtrosTratamientos">Otros tratamientos</h6>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.EsQuirurgico">Quir&uacute;rgico</h6>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.EsTerapiaFisica">Terapia f&iacute;sica</h6>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.EsTerapiaOcupacional">Terapia ocupacional</h6>
                            <small style="color: #ccc;" *ngIf="
                              !dataConceptForm?.EsFarmacologico && 
                              !dataConceptForm?.EsFonoaudiologia && 
                              !dataConceptForm?.EsOtrosTratamientos && 
                              !dataConceptForm?.EsQuirurgico && 
                              !dataConceptForm?.EsTerapiaFisica && 
                              !dataConceptForm?.EsTerapiaOcupacional
                              ">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Finalidad del tratamiento (Posibilidad de recuperaci&oacute;n) :</small><br>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.nombreFinalidadTratamientos">{{ dataConceptForm?.nombreFinalidadTratamientos }}</h6>
                            <small style="color: #ccc;" *ngIf="!dataConceptForm?.nombreFinalidadTratamientos">No registra dato</small>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col" *ngIf="dataConceptForm?.DescripcionOtrosTratamientos && dataConceptForm?.EsOtrosTratamientos">
                          <hr>
                          <p style="text-align: justify; text-justify: inter-word;">
                            {{ dataConceptForm?.DescripcionOtrosTratamientos }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="card border-secondary mt-2" style="border-radius: 15px;">
                    <div class="card-header border-secondary text-center" style="border-radius: 15px;">
                      <h6 class="m-0">
                        <strong>
                          <i class="fas fa-procedures"></i>&nbsp;PRONOSTICO DEL PACIENTE 
                        </strong>
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Descripci&oacute;n:</small><br>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.PlazoCorto">Corto plazo (Menor a 1 año) - <strong>{{ (dataConceptForm?.PlazoCorto == 1) ? 'Bueno' : (dataConceptForm?.PlazoCorto == 2) ? 'Regular' : 'Malo' }}</strong></h6>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.PlazoMediano">Mediano plazo (Menor a 3 años) - <strong>{{ (dataConceptForm?.PlazoMediano == 1) ? 'Bueno' : (dataConceptForm?.PlazoMediano == 2) ? 'Regular' : 'Malo' }}</strong></h6>
                            <small style="color: #ccc;" *ngIf="!dataConceptForm?.PlazoCorto && dataConceptForm?.PlazoMediano">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Concepto:</small><br>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.nombreConcepto">{{ dataConceptForm?.nombreConcepto }}</h6>
                            <small style="color: #ccc;" *ngIf="!dataConceptForm?.nombreConcepto">No registra dato</small>
                          </div>
                        </div>                
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Origen:</small><br>
                            <h6 style="color: #000;" *ngIf="true">{{ 'Común' }}</h6>
                            <small style="color: #ccc;" *ngIf="false">No registra dato</small>
                          </div>
                        </div>                
                      </div>

                      <hr *ngIf="true">

                      <div class="row">
                        <div class="col">
                          <p style="text-align: justify; text-justify: inter-word;" *ngIf="dataConceptForm?.textoConcepto">
                            {{ dataConceptForm?.textoConcepto }}
                          </p>
                          <small style="color: #ccc;" *ngIf="!dataConceptForm?.textoConcepto">No registra dato</small>
                        </div>  
                      </div>

                    </div>
                  </div>
    
                  <div class="mt-5">
                    <hr>
                  </div>
    
                  <div class="mt-2">
                    <h5 class="text-center"><strong>REMISI&Oacute;N A ADMINISTRADORA DE FONDO DE PENSIONES</strong></h5>
                  </div>
                  
                  <div class="card border-secondary mt-4" style="border-radius: 15px;">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>C&oacute;digo concepto:</small><br>
                            <h6 *ngIf="dataConceptForm?.guid">{{ dataConceptForm?.guid }}</h6>
                            <small style="color: #ccc;" *ngIf="!dataConceptForm?.guid">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Fecha remisi&oacute;n:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.FechaEmision">{{ (dataConceptForm?.FechaEmision | date: 'dd/MM/yyyy' ) }}</h6>
                            <small style="color: #ccc;" *ngIf="!dataConceptForm?.FechaEmision">No registra dato</small>
                          </div>
                        </div>
                        <!-- <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Hora remisi&oacute;n:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="dataConceptForm?.FechaEmision">{{ (dataConceptForm?.FechaEmision  | date: 'h:mm:ss a' ) }}</h6>
                            <small style="color: #ccc;" *ngIf="!dataConceptForm?.FechaEmision">No registra dato</small>
                          </div>
                        </div> -->
                      </div>
                      <hr *ngIf="false">
                    </div>
                  </div>
                  
                  <div class="card border-secondary mt-4" style="border-radius: 15px;">
                    <div class="card-header border-secondary text-center" style="border-radius: 15px;">
                      <h6 class="m-0">
                        <strong>
                          <i class="fas fa-user-injured"></i>&nbsp;
                          INFORMACIÓN GENERAL DEL MEDICO REMITENTE   
                        </strong>
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Primer&nbsp;nombre:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="objectDataUser?.primerNombre">{{ (objectDataUser?.primerNombre | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!objectDataUser?.primerNombre">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>Tipo de documento:</small><br>
                            <h6 style="color: #000;" *ngIf="objectDataUser?.idTipoIdentificacion">{{ 'Cédula de ciudadania' }}</h6>
                            <small style="color: #ccc;" *ngIf="!objectDataUser?.idTipoIdentificacion">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Segundo&nbsp;nombre:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="objectDataUser?.segundoNombre">{{ (objectDataUser?.segundoNombre | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!objectDataUser?.segundoNombre">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>N&uacute;mero de documento:</small><br>
                            <h6 style="color: #000;" *ngIf="objectDataUser?.numeroDocumento">{{ objectDataUser?.numeroDocumento }}</h6>
                            <small style="color: #ccc;" *ngIf="!objectDataUser?.numeroDocumento">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Primer&nbsp;apellido:&nbsp;</small><br>
                            <h6 style="color: #000;" *ngIf="objectDataUser?.primerApellido">{{ (objectDataUser?.primerApellido | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!objectDataUser?.primerApellido">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>Correo electr&oacute;nico:</small><br>
                            <h6 style="color: #000;" *ngIf="objectDataUser?.email">{{ objectDataUser?.email }}</h6>
                            <small style="color: #ccc;" *ngIf="!objectDataUser?.email">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Segundo&nbsp;apellido:&nbsp;</small><br>
                            <h6 style="color: #000;"*ngIf="objectDataUser?.segunsoApellido">{{ (objectDataUser?.segunsoApellido | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!objectDataUser?.segunsoApellido">No registra dato</small>
                          </div>
                          <div style="margin-bottom: 0.5rem;">
                            <small>N&uacute;mero de registro:</small><br>
                            <h6 style="color: #000;"*ngIf="objectDataUser?.numeroDocumento">{{ (objectDataUser?.numeroDocumento | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!objectDataUser?.numeroDocumento">No registra dato</small>
                          </div>
                        </div>
                      </div>
                      <hr *ngIf="false">
                      <div class="row" *ngIf="false">
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>Ocupaci&oacute;n:&nbsp;</small><br>
                            <h6 style="color: #000;"*ngIf="patientData?.ocupacion?.tNombre">{{ (patientData?.ocupacion?.tNombre | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.ocupacion?.tNombre">No registra dato</small>
                          </div>
                        </div>
                        <div class="col">
                          <div style="margin-bottom: 0.5rem;">
                            <small>CIUO:&nbsp;</small><br>
                            <h6 style="color: #000;"*ngIf="patientData?.ocupacion?.iCategoria">{{ (patientData?.ocupacion?.iCategoria | titlecase) }}</h6>
                            <small style="color: #ccc;" *ngIf="!patientData?.ocupacion?.iCategoria">No registra dato</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="row align-items-end">
                    <div class="col" style="position: relative">
                      <div *ngIf="true" style="text-align: center; margin-top: 2rem; min-height: 5rem;">
                        <img *ngIf="digitalSignDoctorCert2" src="../../../../assets/images/imgs/firmMedicoConceptoCRHB.png" alt="Firma Medico" style="width: 50%" />
                        <!-- <img [src]="dataDoctor?.signature" alt="Firma Medico" style="width: 100%" />   -->
                      </div>
                      <div class="infoDoctor col-10 text-center" *ngIf="true">
                        <span>
                          <hr>
                          <h6>Dr(a). {{ userFullName }}</h6>
                        </span>
                        <!-- <span>
                          <h6>{{ dataDoctor?.dataDoctor?.tipoDocumento?.tNombre }}: {{ dataDoctor?.dataDoctor?.tNumeroDocumento }}</h6>
                        </span>
                        <span>
                          <h6>Especialidad : {{dataDoctor?.especiality}}</h6>
                        </span>
                        <span>
                          <h6>Registro Médico : {{dataDoctor?.medicalRegister}}</h6>
                        </span> -->
                      </div>
                    </div>
                    <div class="col text-center">
                      <ngx-qrcode 
                        id="qrCodeImageCRHB" 
                        class="col-12" 
                        qrc-element-type="url"
                        [qrc-value]="dataConceptForm?.urlQRCode">
                      </ngx-qrcode>
                      <h6 class="col-12">Código de Autenticación de Conceptos de rehabilitación</h6>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

          

        </div>
      </nb-card-body>
    </nb-card>

  </div>
</div>