<div class="row kstdy-backgroud_layout">
  <div class="container">
    <div class="row">
      <div class="col m-3">
        <h2 class="text-center font_family_roboto">T&eacute;rminos y condiciones</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="kstdy-text_terms_conditions">
          Kustodya es una aplicaci&oacute;n concebida para colaborar a proteger y administrar eficazmente 
          los recursos del Sistema General de Seguridad Social (SGSS) instituido para crear condiciones 
          de acceso al servicio p&uacute;blico esencial de salud y garantizar el amparo econ&oacute;mico contra 
          las contingencias derivadas de la vejez, la incapacidad, la discapacidad, la invalidez y la muerte. 
          Los siguientes son los t&eacute;rminos y condiciones que usted debe aceptar para hacer uso de la herramienta. 
          Usted deber&aacute; acceder a la plataforma por la interfaz asignada para ello. No intente acceder a la 
          misma por otro m&eacute;todo diferente a est&aacute; interfaz con las instrucciones que le proporcionamos. 
          El uso de nuestros servicios no otorga derecho de propiedad intelectual sobre nuestros servicios o 
          contenido al que acceda. No podr&aacute; utilizar el contenido de nuestros servicios a menos que obtenga el 
          permiso de su propietario o que ello est&eacute; permitido por ley. Estas condiciones no le otorgan el 
          derecho de utilizar marcas o logotipos mostrados en la plataforma. No elimine ni modifique ning&uacute;n 
          aviso legal mostrado en la plataforma. Kustodya garantiza la privacidad de la informaci&oacute;n y sus 
          datos personales al utilizar nuestros servicios. Al acceder a nuestra plataforma, usted acepta que 
          Kustodya pueda utilizar dichos datos de acuerdo con nuestras pol&iacute;ticas de privacidad. Respondemos a 
          las notificaciones de presuntas infracciones a los derechos de autor y cerramos las cuentas de los 
          infractores reincidentes de acuerdo con el proceso establecido en la ley de protecci&oacute;n de los 
          derechos de autor (Copyright). Nuestro servicio le permitir&aacute; subir, almacenar y descargar informaci&oacute;n. 
          Usted conservar&aacute; los derechos de propiedad intelectual que posea sobre dicho contenido. Si cancelamos 
          un servicio, y siempre que ello fuere razonablemente posible, le notificaremos con una anticipaci&oacute;n 
          razonable y le brindaremos la posibilidad de obtener informaci&oacute;n bajo ese servicio. Cambiamos y 
          mejoramos continuamente nuestra plataforma. Usted tendr&aacute; derecho a dichas actualizaciones seg&uacute;n 
          las condiciones anteriormente descritas. Se considera parte de estos t&eacute;rminos y condiciones la 
          informaci&oacute;n que aparece en la secci&oacute;n Mi cuenta. Podremos modificar las presentes condiciones o 
          las condiciones adicionales aplicables al servicio. Publicaremos oportunamente las modificaciones 
          a estos t&eacute;rminos y condiciones.
        </p>
      </div>
    </div>
  </div>
</div>