@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';

@include nb-install-component() {

    .flex-centered {
        margin: auto;
    }
    nb-card-body {
        display: flex;
    }
    
    .title {
        text-align: center;
    }

    .font_family_roboto {
        font-family: 'Roboto';
      }
    
      .font_family_exo {
        font-family: 'roboto';
      }
    
    .kstdy-backgroud_layout {
        background-color: #FFF;
        min-height: 83vh;
    }

    .kstdy-image_profile {
        border-radius: 50%;
    }

    .kstdy-fs_icon_list {
        font-size: 1.5rem;
    }
    
    .kstdy-fs_icon_right_list {
        position: absolute;
        right: 1rem;
        color: nb-theme(przss-color-6);
    }

    .kstdy-pointer {
        cursor: pointer;
    }

    .kstdy-title_item_list {
        display: inline-block;
    }

    #first_name:focus {
        border-color: nb-theme(przss-color-1);
    }
    
    #last_name:focus {
        border-color: nb-theme(przss-color-1);
    }
    
    #email:focus {
        border-color: nb-theme(przss-color-1);
    }

    button:focus {outline:0;}

    .kstdy-icon_edit_personal_info {
        position: absolute;
        right: 1rem;
        color: nb-theme(przss-color-3);
    }
    .form-control:disabled {
        border-color: #dadfe6;
        color: #a6adb5;
    }

    #current_password:focus {
        border-color: nb-theme(przss-color-1);
    }

    #new_password:focus {
        border-color: nb-theme(przss-color-1);
    }

    #confirm_new_password:focus {
        border-color: nb-theme(przss-color-1);
    }

    ::ng-deep {
        .tooltip-inner {
            width: 12rem;
            background-color: #156282;
            color: #fff;
            text-align: left;
        }

        .tooltip-arrow {
            border-right-color: #156282 !important;
        }
        
        .tooltip-arrow::before {
            border-right-color: #156282 !important;
        }
    }

    .kstdy-text_terms_conditions {
        color: #3d3d3d;
    }

}