<div class="row pgp-backgroud_layout font_family_roboto pr-0" style="overflow: hidden;">
  <div class="col-12" *ngIf="flag_show_tabs == 1">
    <ngx-min-defensa-auditoria-list [data_object]="data_object" (flagCreateEntity)="fnShowTabsOptionsData($event)"></ngx-min-defensa-auditoria-list>
  </div>
  <div class="col-12" *ngIf="flag_show_tabs == 2">
    <ngx-min-defensa-auditoria-detalle-sentencia [data_object]="data_object" (flagCreateEntity)="fnShowTabsOptionsData($event)"></ngx-min-defensa-auditoria-detalle-sentencia>
  </div>
</div>