.table td {
    padding: 1.5rem 0.5rem;
}

.table tbody tr:first-child td{
    border-top: 0;
}

.table thead th {
    border-top: 0;
    border-bottom: 0;
}

.font_family_roboto {
    font-family: 'Roboto';
}