<div class="col" [nbSpinner]="loading_state" nbSpinnerSize="small" nbSpinnerStatus="info" nbSpinnerMessage="Cargando...">
  <div class="row">
    <div class="col">
      <h3 class="semi-bold text-center font_family_roboto">Redes sociales</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center">
        <button  class="btn font_family_roboto" style="color: #1e90ff; text-transform: none;" (click)="showModalAddUserDataSocialNetwork(data_object)">
          <i class="fa fa-plus fa-lg"></i>&nbsp;
          A&ntilde;adir red social
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-5">
      <table class="table" *ngIf="data_list.length > 0" style="border-bottom: 1px solid #AFAFAF;">
        <thead>
          <tr>
            <th scope="col" class="" style="width: 80%;">Red social</th>
            <!-- <th scope="col" class="" style="width: 40%;">Nombre</th> -->
            <th scope="col" class="" style="width: 10%;">&nbsp;</th>
            <th scope="col" class="" style="width: 10%;">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data_list; let ind_social_net = index;">
            <td class="">
              <i style="color: #1e90ff; font-size: 2rem;" class="fab fa-{{ item.redSocial | lowercase }} fa-lg"></i>&nbsp;
              {{ item.nombreUsuarioOLink }}
            </td>
            <td class="text-right">
              <i style="color: #1e90ff; cursor: pointer;" class="fa fa-edit fa-lg" (click)="showModalEditUserDataSocialNetwork(ind_social_net, item)"></i>
            </td>
            <td class="">
              <i style="color: #1e90ff; cursor: pointer;" class="fa fa-trash-alt fa-lg" (click)="showModalDeleteUserDataSocialNetwork(ind_social_net, item)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" *ngIf="data_list.length < 1">
        <i class="far fa-folder-open fa-7x"></i>
        <h4 style="color:#A7ABB3;">No hay redes sociales agregadas</h4>
      </div>
    </div>
  </div>
</div> 