<div class="mb-3 text-center">
  <img class="przss-image_logo" src="../../../../assets/images/imgs/ProtektoLogo01.png" alt="Prozess Web App Logo">
</div>

<div class="col-12">
  <!-- <h1 id="title" class="title font_family_roboto m-0" *ngIf="!show_entities">Restablecer Contraseña</h1> -->
  <h1 id="title" class="title font_family_roboto m-0">Restablecer Contraseña</h1>
  <p class="sub-title">Escribe tu correo y te enviaremos un correo con el link para restablecer tu contraseña</p>
</div>

<nb-alert *ngIf="message_error_api && !submitted" outline="danger" role="alert">
  <ul class="alert-message-list">
    <li class="alert-message">{{ message_error_api }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="message_success && !submitted" outline="success" role="alert">
  <p class="alert-title">Correo Enviado</p>
</nb-alert>

<form (ngSubmit)="requestPass()" #requestPassForm="ngForm" aria-labelledby="title">
  <input type="hidden" name="language" [(ngModel)]="user.tlanguage" value="es">
  <div class="form-control-group m-0">
    <label class="label" for="input-email">Escribe tú correo electrónico:</label>
    <input nbInput [(ngModel)]="user.tEmail" #email="ngModel" id="input-email" name="email" pattern=".+@.+\..+"
      placeholder="Correo electrónico" autofocus fullWidth (focus)="message_error_api = null"
      [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.email.required')"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        Corre requerido!
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        Correo electrónico debe ser uno real!
      </p>
    </ng-container>
  </div>

  <button nbButton fullWidth status="success" class="button_request_password font_family_roboto mb-0"
    [disabled]="submitted || !requestPassForm.valid" [class.btn-pulse]="submitted">
    Enviar
  </button>

</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Regresar al login</a></p>
</section>