@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes";

@include nb-install-component() {
  .przss-image_logo {
    // width: nb-theme(pgp-width-50-percent);
    // width: 40%;
    width: 60%;
    //height: 266px;
  }

  [nbInput].input-info {
    border-color: #1e90ff;
  }

  [nbInput].input-success {
    border-color: #1e90ff;
  }

  #przss-input-email {
    border-color: none;
    height: 4rem !important;
  }

  #przss-input-email:focus {
    border-color: #1e90ff; //nb-theme(przss-color-1);
    height: 4rem !important;
  }

  #przss-input-password {
    border-color: none;
    height: 4rem !important;
  }

  #przss-input-password:focus {
    border-color: #1e90ff; //nb-theme(przss-color-1);
    height: 4rem !important;
  }

  ::ng-deep .ng-select .ng-select-container {
    border-color: none !important;
    height: 4rem !important;
  }

  ::ng-deep .ng-select.focused .ng-select-container {
    border-color: #1e90ff; //nb-theme(przss-color-1) !important;
    height: 4rem !important;
  }

  ::ng-deep ng-select .ng-select-container .ng-value-container .ng-placeholder {
    top: 12px;
    padding-bottom: 0px !important;
    padding-left: 3px;
  }

  ::ng-deep ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
  }

  .przss-button_signin {
    background-color: #1e90ff; //nb-theme(przss-color-1);
    text-transform: none;
    height: 4rem !important;
  }

  #przss-checkbox_remember_me {
    display: block;

    .customised-control {
      .customised-control-input input[type="checkbox"]:checked {
        border-color: #1e90ff; //nb-theme(przss-color-1);
      }
    }
  }

  .przss-label_remember_me {
    font-size: 1rem;
    color: #4b4b4b;
    vertical-align: text-top;
  }

  .przss-button_download_document {
    background-color: #1e90ff; //nb-theme(przss-color-1);
    text-transform: none;
    height: 4rem !important;
  }

  #przss-input-download-document {
    border-color: none;
    height: 4rem !important;
  }

  #przss-input-download-document:focus {
    border-color: #1e90ff; //nb-theme(przss-color-1);
    height: 4rem !important;
  }

  .pgp-pointer {
    cursor: pointer;
  }

  .button_request_password {
    background-color: #1e90ff; //nb-theme(przss-color-1);
    text-transform: none;
    margin: 3rem 0rem;

    .close:focus {
      outline: 0;
    }
  }

  .font_family_roboto {
    font-family: "Roboto";
  }

  .font_family_exo {
    font-family: "Exo";
  }

  button {
    margin: 0.5rem;
  }

  .btn-success.disabled,
  .btn-success:disabled {
    border-color: #1e90ff; //nb-theme(przss-color-1);
  }

  .btn-success:active:focus {
    background-color: #1e90ff; //nb-theme(przss-color-1);
  }

  .forgot-password {
    color: #1e90ff; //nb-theme(przss-color-1) !important;
  }

  #input-email:focus {
    border-color: #1e90ff; //nb-theme(przss-color-1);
  }

  .pace-progress {
    background: #1e90ff; //nb-theme(przss-color-1);
  }

  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked~.checkmark {
    background-color: #1e90ff; //nb-theme(przss-color-1);
    border-radius: 50%;
  }

  .container input>.checkmark {
    background-color: #1e90ff; //nb-theme(przss-color-1);
    border-radius: 50%;
  }

  .checkmark {
    // background-color: #1e90ff;//nb-theme(przss-color-1);
    border-radius: 50%;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .meddilexlogo {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 1.5rem;

    img {
      width: 60%;
      padding: 0;
    }

    label {
      margin: 0;
      // bottom: 3.5rem;
      position: absolute;
      text-align: left;
      // margin-bottom: 1rem;
      font-size: 0.65rem;
      padding: 0;
    }

    // span{
    //   position: fixed;
    //   bottom: 3rem;
    //   right: 8rem;
    //   font-size: 0.75rem;
    // }
  }
}