<div class="row pgp-backgroud_layout font_family_roboto pr-0" style="overflow: hidden;">
  <!-- <div class="col">
    <div class="card">
      <div class="card-header">
        Mi perfil
      </div>
      <div class="card-body">
        
      </div>
    </div>
  </div> -->
  <div class="col-12" *ngIf="flag_show_tabs == 1">
    <ngx-users-list (dataUser)="fnGetUserId($event)" (flagCreateUser)="fnShowTabsOptionsData($event)"></ngx-users-list>
  </div>
  <div class="col-12" *ngIf="flag_show_tabs == 2">
    <!-- <ngx-user-tabs></ngx-user-tabs> -->
    <ngx-add-user (flagCreateUser)="fnShowTabsOptionsData($event)"></ngx-add-user>
  </div>
  <div class="col-12" *ngIf="flag_show_tabs == 3">
    <!-- <ngx-user-tabs></ngx-user-tabs> -->
    <ngx-edit-user [dataUser]="dataUser" (flagCreateUser)="fnShowTabsOptionsData($event)"></ngx-edit-user>
  </div>
</div>