<div class="row pgp-backgroud_layout font_family_roboto pr-0" style="overflow: hidden;">
  <div class="col-12" *ngIf="show_state == 1">
    <ngx-accounting-audit-list (flagCreateAccountingAudit)="fnShowTabsCreate($event)" (id_accounting)="fnShowTabsEdit($event)"></ngx-accounting-audit-list>
    <!-- <ngx-rethus-reports [group_id]="group_id" [report_id]="report_id"></ngx-rethus-reports> -->
    <!-- <ngx-rethus [group_id]="group_id" [report_id]="report_id"></ngx-rethus> -->
  </div>
  <div class="col-12" *ngIf="show_state == 2">
    <div class="row">
      <div class="col-12" style="margin-top: 60px;">
        <ngx-add-accounting-audit (flagListAccountingAudit)="fnShowTabsCreate($event)"></ngx-add-accounting-audit>
        <!-- <ngx-accounting-audit-tabs (flagListAccountingAudit)="fnShowTabsCreate($event)"></ngx-accounting-audit-tabs> -->
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="show_state == 3">
    <ngx-accounting-audit-tabs (flagListAccountingAudit)="fnShowTabsCreate($event)" [id_accounting_edit]="accounting_id"></ngx-accounting-audit-tabs>
  </div>
</div>