<div class="row pgp-backgroud_layout font_family_roboto p-0" style="overflow: hidden;">
  <div class="col-12">

      <div class="row">
        <div class="col-12 kstdy-tab_menu" style="position: fixed; z-index: 1; background-color: #FFF; width: 80% !important;">
          <div class="row mt-4" style="margin-left: -10px;">
            <div id="kstdy-basic_info" class="col text-center" [ngClass]="{'kstdy-tab_menu_selected': content_tab_accounting}" (click)="fnChangeTab('content_tab_accounting');" style="border-right: 3px solid #ececec; margin-bottom: 10px; cursor: pointer !important;">
              <i class="fas fa-hand-holding-usd" style="font-size: 1.2rem; color: #A6A6A6;" [ngStyle]="{'color': (content_tab_accounting ? '#545454' : '#A6A6A6')}"></i>&nbsp;
              <label class="d-inline-block" style="color: #A6A6A6; font-size: 1.1rem;cursor: pointer;" [ngStyle]="{'color': (content_tab_accounting ? '#545454' : '#A6A6A6')}">Contabilidad</label>
            </div>
            <div id="kstdy-accounting" class="col text-center" [ngClass]="{'kstdy-tab_menu_selected': content_tab_PUC}" (click)="fnChangeTab('content_tab_PUC');" style="border-right: 3px solid #ececec; margin-bottom: 10px; cursor: pointer !important;">
              <i class="fas fa-folder-minus" style="font-size: 1rem; color: #A6A6A6;" [ngStyle]="{'color': (content_tab_PUC ? '#545454' : '#A6A6A6')}"></i>&nbsp;
              <label class="d-inline-block" style="color: #A6A6A6; font-size: 1.1rem;cursor: pointer;" [ngStyle]="{'color': (content_tab_PUC ? '#545454' : '#A6A6A6')}">PUC</label>
            </div>
            <div id="kstdy-notes" class="col text-center" [ngClass]="{'kstdy-tab_menu_selected': content_tab_description}" (click)="fnChangeTab('content_tab_description');" style="margin-bottom: 10px; cursor: pointer !important;">
              <i class="fas fa-align-center" style="font-size: 1rem; color: #A6A6A6;" [ngStyle]="{'color': (content_tab_description ? '#545454' : '#A6A6A6')}"></i>&nbsp;
              <label class="d-inline-block" style="color: #A6A6A6; font-size: 1.1rem;cursor: pointer;" [ngStyle]="{'color': (content_tab_description ? '#545454' : '#A6A6A6')}">Descrip-Terceros</label>
            </div>
            <div id="kstdy-signature" class="col text-center" [ngClass]="{'kstdy-tab_menu_selected': content_tab_documents}" (click)="fnChangeTab('content_tab_documents');" style="border-left: 3px solid #ececec; margin-bottom: 10px; cursor: pointer !important;">
              <i class="fas fa-chalkboard" style="font-size: 1rem; color: #A6A6A6;" [ngStyle]="{'color': (content_tab_documents ? '#545454' : '#A6A6A6')}"></i>&nbsp;
              <label class="d-inline-block" style="color: #A6A6A6; font-size: 1.1rem;cursor: pointer;" [ngStyle]="{'color': (content_tab_documents ? '#545454' : '#A6A6A6')}">Doc-Costos</label>
            </div>
            <div id="kstdy-signature" class="col text-center" [ngClass]="{'kstdy-tab_menu_selected': content_tab_adjustment}" (click)="fnChangeTab('content_tab_adjustment');" style="border-left: 3px solid #ececec; margin-bottom: 10px; cursor: pointer !important;">
              <i class="fas fa-chalkboard-teacher" style="font-size: 1rem; color: #A6A6A6;" [ngStyle]="{'color': (content_tab_adjustment ? '#545454' : '#A6A6A6')}"></i>&nbsp;
              <label class="d-inline-block" style="color: #A6A6A6; font-size: 1.1rem;cursor: pointer;" [ngStyle]="{'color': (content_tab_adjustment ? '#545454' : '#A6A6A6')}">Tipo de ajuste</label>
            </div>
            <div id="kstdy-signature" class="col text-center" [ngClass]="{'kstdy-tab_menu_selected': content_tab_signature}" (click)="fnChangeTab('content_tab_signature');" style="border-left: 3px solid #ececec; margin-bottom: 10px; cursor: pointer;">
              <i class="far fa-clone" style="font-size: 1rem; color: #A6A6A6;" [ngStyle]="{'color': (content_tab_signature ? '#545454' : '#A6A6A6')}"></i>&nbsp;
              <label class="d-inline-block" style="color: #A6A6A6; font-size: 1.1rem;cursor: pointer;" [ngStyle]="{'color': (content_tab_signature ? '#545454' : '#A6A6A6')}">Fichas-Firmas</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12" style="margin-top: 48px;">
          <div class="row mt-4 ml-3 mr-3" *ngIf="content_tab_accounting">
            <div class="col-12">
              <ngx-accounting-number></ngx-accounting-number>
            </div>
          </div>
          <div class="row mt-4 ml-3 mr-3" *ngIf="content_tab_PUC">
            <div class="col-12">
              <ngx-puc></ngx-puc>
            </div>
          </div>
          <div class="row mt-4 ml-3 mr-3" *ngIf="content_tab_description">
            <div class="col-12">
              <ngx-description></ngx-description>
            </div>
          </div>
          <div class="row mt-4 ml-3 mr-3" *ngIf="content_tab_documents">
            <div class="col-12">
              <ngx-document-type></ngx-document-type>
            </div>
          </div>
          <div class="row mt-4 ml-3 mr-3" *ngIf="content_tab_adjustment">
            <div class="col-12">
              <ngx-adjustment-type></ngx-adjustment-type>
            </div>
          </div>
          <div class="row m-0 p-0" *ngIf="content_tab_signature">
            <div class="col-12">
              <ngx-tab-description></ngx-tab-description>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>