<nb-card size="tiny">
  <nb-card-header style="display: flex !important; justify-content: space-between !important;">
    Ayuda: {{ data?.title }}
    <span class="cursor-pointer" (click)="fnCloseModal()">
        <i class="fas fa-times cursor-pointer text-danger"></i>
    </span>
  </nb-card-header>
  <nb-card-body>
    <div class="row ml-0 mr-0">
      <form style="width: 350px;" #helpForm="ngForm" aria-labelledby="title">
        <div class="col-12 pl-0 pr-0">
          <p>
              {{ data?.description }}
          </p>
        </div>
        <br>
        <button 
            class="cursor-pointer"
            nbButton 
            fullWidth 
            type="button"
            [class.btn-pulse]="submitted" 
            (click)="fnCancelData()"
            style="background-color: #3366ff; border-color: #3366ff; color: white;">
            Cerrar
        </button>
      </form>
  </div>
  </nb-card-body>
</nb-card>