<div class="col-12" [nbSpinner]="loading_state" nbSpinnerSize="small" nbSpinnerStatus="info" nbSpinnerMessage="Cargando...">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
      <div class="row">
        <div class="col-12 pb-4">
          <h4 class="m-0 text-center kstdy-title_page">Notas Generales</h4>
          <!-- <button class="btn kstdy-btns_actions kstdy-btn_action_create font_family_roboto float-right">Crear</button> -->
          <!-- <button class="btn kstdy-btns_actions kstdy-btn_action_save font_family_roboto float-right" [disabled]="false" [class.btn-pulse]="submitted" fullwidth type="submit">Guardar</button> -->
        </div>
      </div>
      <div class="row">
        <!-- <form #f="ngForm" (ngSubmit)="fnEditFormNotesAccountingAudit(data_accounting_audit)" novalidate style="width: 100%;">
          <div class="row justify-content-end">
            <div class="col-4">
              <h4 class="font_family_roboto">Notas generales</h4>
            </div>
            <div class="col-3 text-right">
              <button class="btn kstdy-btns_actions kstdy-btn_action_save font_family_roboto" [disabled]="false" [class.btn-pulse]="submitted" fullwidth type="submit">Guardar</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label" for="inputSituacion">
                  Situaci&oacute;n encontrada
                </label>
                <textarea 
                  type="text"
                  class="kstdy-text-area-accounting-audit" 
                  nbInput 
                  fullWidth 
                  id="inputSituacion" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_accounting_audit.situacionEncontrada" 
                  placeholder="Situaci&oacute;n encontrada">
                </textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputDisposiciones" class="label">Disposiciones legales</label>
                <textarea 
                  type="text"
                  class="kstdy-text-area-accounting-audit" 
                  nbInput 
                  fullWidth 
                  id="inputDisposiciones" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_accounting_audit.disposicionesLegales" 
                  placeholder="Disposiciones legales">
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAcciones" class="label">Acciones realizadas</label>
                <textarea 
                  type="text"
                  class="kstdy-text-area-accounting-audit" 
                  nbInput 
                  fullWidth 
                  id="inputAcciones" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_accounting_audit.accionesRealizadas" 
                  placeholder="Acciones realizadas">
                </textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputRecomendaciones" class="label">Recomendaciones</label>
                <textarea 
                  type="text"
                  class="kstdy-text-area-accounting-audit" 
                  nbInput 
                  fullWidth 
                  id="inputRecomendaciones" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_accounting_audit.recomendaciones" 
                  placeholder="Recomendaciones">
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputAnexos" class="label">Anexos</label>
                <textarea 
                  type="text"
                  class="kstdy-text-area-accounting-audit" 
                  nbInput 
                  fullWidth 
                  id="inputAnexos" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_accounting_audit.anexos" 
                  placeholder="Anexos">
                </textarea>
              </div>
            </div>
          </div>
        </form> -->
        <div class="col-6">
          <span style="color: #3D3D3D;"><strong>Situaci&oacute;n Encontrada</strong></span> &nbsp; 
          <i class="fas fa-edit" (click)="showModalEditGeneralNote('situacionEncontrada', data_accounting_audit)" style="color: #1C93FF; cursor: pointer;"></i> &nbsp; 
          <i class="fas fa-trash" (click)="showModalDeleteGeneralNote(data_accounting_audit, 'situacionEncontrada')" style="color: #1C93FF; cursor: pointer;"></i>
          <div *ngIf="data_accounting_audit.situacionEncontrada">
            <p>
              {{ data_accounting_audit.situacionEncontrada }}
            </p>
          </div>
          <div class="" style="padding: 2rem;" *ngIf="!data_accounting_audit.situacionEncontrada">
            <div class="row">
              <div class="col-2 text-right">
                <i class="far fa-folder-open fa-3x"></i>
              </div>
              <div class="col-10 text-center">
                <h5 class="font_family_roboto" style="color:#A7ABB3; margin: 10px 0px;">No hay texto de Situaci&oacute;n Encontrada</h5>
                <h6 class="font_family_roboto" style="color:#A7ABB3; margin: 10px 0px;">Porfavor seleccione en el icono editar</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <span style="color: #3D3D3D;"><strong>Disposiciones Legales</strong></span> &nbsp; 
          <i class="fas fa-edit" (click)="showModalEditGeneralNote('disposicionesLegales', data_accounting_audit)" style="color: #1C93FF; cursor: pointer;"></i> &nbsp; 
          <i class="fas fa-trash" (click)="showModalDeleteGeneralNote(data_accounting_audit, 'disposicionesLegales')" style="color: #1C93FF; cursor: pointer;"></i>
          <div *ngIf="data_accounting_audit.disposicionesLegales">
            <p>
              {{ data_accounting_audit.disposicionesLegales }}
            </p>
          </div>
          <div class="" style="padding: 2rem;" *ngIf="!data_accounting_audit.disposicionesLegales">
            <!-- <i class="far fa-folder-open fa-6x"></i>
            <h4 style="color:#A7ABB3;">No hay texto de Disposiciones Legales</h4> -->
            <div class="row">
              <div class="col-2 text-right">
                <i class="far fa-folder-open fa-3x"></i>
              </div>
              <div class="col-10 text-center">
                <h5 class="font_family_roboto" style="color:#A7ABB3; margin: 10px 0px;">No hay texto de Disposiciones Legales</h5>
                <h6 class="font_family_roboto" style="color:#A7ABB3; margin: 10px 0px;">Porfavor seleccione en el icono editar</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <span style="color: #3D3D3D;"><strong>Acciones Realizadas</strong></span> &nbsp; 
          <i class="fas fa-edit" (click)="showModalEditGeneralNote('accionesRealizadas', data_accounting_audit)" style="color: #1C93FF; cursor: pointer;"></i> &nbsp; 
          <i class="fas fa-trash" (click)="showModalDeleteGeneralNote(data_accounting_audit, 'accionesRealizadas')" style="color: #1C93FF; cursor: pointer;"></i>
          <div *ngIf="data_accounting_audit.accionesRealizadas">
            <p>
              {{ data_accounting_audit.accionesRealizadas }}
            </p>
          </div>
          <div class="" style="padding: 2rem;" *ngIf="!data_accounting_audit.accionesRealizadas">
            <!-- <i class="far fa-folder-open fa-6x"></i>
            <h4 style="color:#A7ABB3;">No hay texto de Acciones Realizadas</h4> -->
            <div class="row">
              <div class="col-2 text-right">
                <i class="far fa-folder-open fa-3x"></i>
              </div>
              <div class="col-10 text-center">
                <h5 class="font_family_roboto" style="color:#A7ABB3; margin: 10px 0px;">No hay texto de Acciones Realizadas</h5>
                <h6 class="font_family_roboto" style="color:#A7ABB3; margin: 10px 0px;">Porfavor seleccione en el icono editar</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <span style="color: #3D3D3D;"><strong>Recomendaciones</strong></span> &nbsp; 
          <i class="fas fa-edit" (click)="showModalEditGeneralNote('recomendaciones', data_accounting_audit)" style="color: #1C93FF; cursor: pointer;"></i> &nbsp; 
          <i class="fas fa-trash" (click)="showModalDeleteGeneralNote(data_accounting_audit, 'recomendaciones')" style="color: #1C93FF; cursor: pointer;"></i>
          <div *ngIf="data_accounting_audit.recomendaciones">
            <p>
              {{ data_accounting_audit.recomendaciones }}
            </p>
          </div>
          <div class="" style="padding: 2rem;" *ngIf="!data_accounting_audit.recomendaciones">
            <!-- <i class="far fa-folder-open fa-6x"></i>
            <h4 style="color:#A7ABB3;">No hay texto de Recomendaciones</h4> -->
            <div class="row">
              <div class="col-2 text-right">
                <i class="far fa-folder-open fa-3x"></i>
              </div>
              <div class="col-10 text-center">
                <h5 class="font_family_roboto" style="color:#A7ABB3; margin: 10px 0px;">No hay texto de Recomendaciones</h5>
                <h6 class="font_family_roboto" style="color:#A7ABB3; margin: 10px 0px;">Porfavor seleccione en el icono editar</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <span style="color: #3D3D3D;"><strong>Anexos</strong></span> &nbsp; 
          <i class="fas fa-edit" (click)="showModalEditGeneralNote('anexos', data_accounting_audit)" style="color: #1C93FF; cursor: pointer;"></i> &nbsp; 
          <i class="fas fa-trash" (click)="showModalDeleteGeneralNote(data_accounting_audit, 'anexos')" style="color: #1C93FF; cursor: pointer;"></i>
          <div *ngIf="data_accounting_audit.anexos">
            <p>
              {{ data_accounting_audit.anexos }}
            </p>
          </div>
          <div class="" style="padding: 2rem;" *ngIf="!data_accounting_audit.anexos">
            <!-- <i class="far fa-folder-open fa-6x"></i>
            <h4 style="color:#A7ABB3;">No hay texto de Anexos</h4> -->
            <div class="row">
              <div class="col-2 text-right">
                <i class="far fa-folder-open fa-3x"></i>
              </div>
              <div class="col-10 text-center">
                <h5 class="font_family_roboto" style="color:#A7ABB3; margin: 10px 0px;">No hay texto de Anexos</h5>
                <h6 class="font_family_roboto" style="color:#A7ABB3; margin: 10px 0px;">Porfavor seleccione en el icono editar</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-6"></div> -->
      </div>
    </div>
  </div>
</div>