@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    button:focus { outline:0; }
  
    .font_family_roboto {
      font-family: 'Roboto';
    }

    .kstdy-title_page {
      font-family: 'Roboto';
      color: #3D3D3D;
    }

    .kstdy-btn_action_create {
      background: linear-gradient(to right, #1C93FF, #01BDFF);
      color: white;
      padding: 0 !important;
      width: 9rem;
    }

    .kstdy-button_action_form {
        background: linear-gradient(to right, #1C93FF, #01BDFF);
        color: white;
        padding: 0 !important;
        // width: 9rem;
        height: 40px !important;
      }

    ::ng-deep .ng-select.ng-select-single .ng-select-container {
        height: 40px;
    }

    ::ng-deep .nb-theme-default [nbInput]:focus {
        outline: none;
        background-color: #ffffff !important;
        border-color: #007eff !important;
    }

    .kstdy-btn_action_save {
        background: linear-gradient(to right, #1C93FF, #01BDFF);
        color: white;
        padding: 0;
        width: 9rem;
    }

    .kstdy-btns_actions {
        text-transform: none;
        cursor: pointer !important;
        height: 36px;
        width: nb-theme(przss-width-btn-crud);
    }

    label {
        color: rgb(84, 84, 84);
    }

    .kstdy-text-area-accounting-audit {
        height: 85px;
    }
    .kstdy-text-area-accounting-audit:focus {
        border-color: #1e90ff;
    }

    .kstdy-btn_action_save {
        background: linear-gradient(to right, #1C93FF, #01BDFF);
        color: white;
        width: 9rem;
    }

}