<div class="row" accent="danger" size="tiny" [nbSpinner]="submitted" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="Obteniendo listado de correos electronicos...">
  <div class="col-md-12">

    <nb-flip-card [showToggleButton]="false" [flipped]="flipped">
      <nb-card-front>
        <nb-card>
          <nb-card-header>
            <div class="row m-0 p-0">
              <div class="col text-left">
                <!-- <button type="button" (click)="fnReturnPage()" class="btn btn-link text-info cursor-pointer">
                  <i class="fas fa-arrow-left"></i>&nbsp;{{ 'Regresar' | titlecase }}
                </button> -->
                &nbsp;
              </div>
              <div class="col text-center">
                <h3 style="margin-top: 6px;">Calificaci&oacute;n de or&iacute;gen</h3>
              </div>
              <div class="col text-right">
                <button type="button" (click)="fnViewHistory()" class="btn btn-link text-info cursor-pointer">
                  {{ 'Ver graficos' | titlecase }}&nbsp;
                  <i class="fas fa-chart-line"></i>
                </button>
              </div>
            </div> 
            
            <!-- <span class=" mt-2 mb-3">
              <i class="fas fa-arrow-left"></i>&nbsp;Regresar
            </span> -->
            
          </nb-card-header>
          <nb-card-body>
            <div class="row mb-2">
              <div class="col-9">
                <!-- <label class="label m-0" for="inputSearch">N&uacute;mero de documento:&nbsp;&nbsp;<span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span></label> -->
                <input 
                  id="inputSearch"
                  class="inputSearch d-inline-block"
                  [ngModelOptions]="{standalone: true}" 
                  [(ngModel)]="searchInput" 
                  (keyup.enter)="fnTextSearch(searchInput);"
                  status="info"
                  type="text" 
                  nbInput 
                  status="basic" 
                  fieldSize="large" 
                  placeholder="Buscar">
                  &nbsp;
                  <button 
                    id="buttonSearch"
                    class="d-inline-block" 
                    (click)="fnTextSearch(searchInput);"
                    nbButton 
                    size="large" 
                    status="info">
                    <i class="fas fa-search text-ligth"></i>
                  </button>
                  &nbsp;
                  <button 
                    id="buttonAdvanceSearch"
                    class="d-inline-block" 
                    nbButton 
                    size="large" 
                    status="info">
                    <i class="fas fa-filter text-ligth"></i>
                  </button>
                  &nbsp;
                  <button 
                    id="buttonClearSearch" 
                    *ngIf="currentSearch"
                    style="text-transform: none; background: transparent; color: blue;"
                    class="d-inline-block" 
                    (click)="fnClearCurrentSearch();"
                    nbButton 
                    size="large">
                    <small class="cursor-pointer">Limpiar busqueda</small>
                  </button>

              </div>
            </div>
            <div class="row mb-3" *ngIf="currentSearch">
              <div class="col">
                <div>
                  <small>Busqueda actual:</small>
                  <br>
                  <span class="badge rounded-pill text-light badge-state-1" tooltip="Ver estado" placement="top" container="body">
                    {{ searchInput | titlecase }}&nbsp;
                    <i class="fas fa-times-circle text-ligth cursor-pointer"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <table class="table table-striped table-bordered table-hover" style="margin: 0 15px;">
                  <thead>
                      <tr>
                          <th class="text-truncate">
                              Remitente&nbsp;
                              <span tooltip="Ayuda" placement="top" container="body">
                                  <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                              </span>
                              <!-- <span nbTooltip="{{ (typeSort[0]['state'] == 'DEFAULT') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDefault.text : (typeSort[0]['state'] == 'DESC') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDesc.text : DATA_LANG_GENERAL?.lblHelpTooltipTableSortAsc.text }}" class="float-right" (click)="fnOrderList('name', collectionData, typeSort, 0)">
                                  <i class="fas cursor-pointer text-end" [ngClass]="{'fa-sort': typeSort[0]['state'] == 'DEFAULT', 'fa-sort-up': typeSort[0]['state'] == 'ASC', 'fa-sort-down': typeSort[0]['state'] == 'DESC'}"></i>
                              </span> -->
                          </th>
                          <th class="text-truncate" style="min-width: 180px !important;">
                              Fecha emisi&oacute;n&nbsp;
                              <span tooltip="Ayuda" placement="top" container="body">
                                  <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                              </span>
                              <!-- <span nbTooltip="{{ (typeSort[0]['state'] == 'DEFAULT') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDefault.text : (typeSort[0]['state'] == 'DESC') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDesc.text : DATA_LANG_GENERAL?.lblHelpTooltipTableSortAsc.text }}" class="float-right" (click)="fnOrderList('name', collectionData, typeSort, 0)">
                                  <i class="fas cursor-pointer text-end" [ngClass]="{'fa-sort': typeSort[0]['state'] == 'DEFAULT', 'fa-sort-up': typeSort[0]['state'] == 'ASC', 'fa-sort-down': typeSort[0]['state'] == 'DESC'}"></i>
                              </span> -->
                          </th>
                          <th class="text-truncate">
                              Asunto&nbsp;
                              <span tooltip="Ayuda" placement="top" container="body">
                                  <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                              </span>
                              <!-- <span nbTooltip="{{ (typeSort[0]['state'] == 'DEFAULT') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDefault.text : (typeSort[0]['state'] == 'DESC') ? DATA_LANG_GENERAL?.lblHelpTooltipTableSortDesc.text : DATA_LANG_GENERAL?.lblHelpTooltipTableSortAsc.text }}" class="float-right" (click)="fnOrderList('name', collectionData, typeSort, 0)">
                                  <i class="fas cursor-pointer text-end" [ngClass]="{'fa-sort': typeSort[0]['state'] == 'DEFAULT', 'fa-sort-up': typeSort[0]['state'] == 'ASC', 'fa-sort-down': typeSort[0]['state'] == 'DESC'}"></i>
                              </span> -->
                          </th>
                          
                          <th class="thead-column-action text-center">
                              <span tooltip="Ayuda" placement="top" container="body">
                                  <i class="far fa-question-circle cursor-pointer text-end text-primary icon-help-thead"></i>
                              </span>
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listEmails | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;">
                      <td class="align-middle text-left">{{ item?.remitente }}</td>
                      <td class="align-middle text-center">{{ item?.fechaCorreo | date: 'dd/MM/yyyy h:mm:ss a' }}</td>
                      <td class="align-middle text-left">{{ item?.asunto }}</td>
                      <td class="align-middle text-left">
                        <!-- <span (click)="fnShowModalChangeStatusIncapacity(item)" class="badge rounded-pill text-light cursor-pointer badge-state-1" tooltip="Ver cambiar de estado" placement="top" container="body" 
                        [ngClass]="{
                          'badge-state-0': !item?.maxestado, 
                          'badge-state-1': item?.maxestado == 1, 
                          'badge-state-2': item?.maxestado == 2, 
                          'badge-state-3': item?.maxestado == 3,
                          'badge-state-4': item?.maxestado == 4,
                          'badge-state-5': item?.maxestado == 5,
                          'badge-state-6': item?.maxestado == 6,
                          'badge-state-7': item?.maxestado == 7}">
                          {{ (item?.maxestado) ? statusListIncapacity[item?.maxestado - 1]['name'] : 'Sin estado' }}
                        </span> -->
                        <span class="badge rounded-pill text-light cursor-pointer badge-state-1" tooltip="Ver estado" placement="top" container="body">
                          {{ (item?.estado) ? item?.estado : 'Sin estado' }}
                        </span>
                      </td>
                    </tr>
                  </tbody>
              </table>
              <!-- <div class="content-pagination">
                <pagination-controls 
                    (pageChange)="currentPage = $event" 
                    previousLabel="Anterior"
                    nextLabel="Siguiente">
                </pagination-controls>
              </div> -->
            </div>
            <div class="col-12 mt-2 mb-5">
              <div class="row justify-content-sm-between justify-content-md-between justify-content-lg-start justify-content-xl-start">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="text-center kstdy-font_paginator" *ngIf="listEmails?.length > 0">
                    <div class="text-left kstdy-font_paginator">
                      Mostrando {{ (((currentPage * itemsPerPage) - ((currentPage * itemsPerPage) / currentPage)) + 1 ) }} -
                      {{ ((currentPage * itemsPerPage) >= listEmails.length) ? (listEmails.length) + (((currentPage * itemsPerPage) - ((currentPage * itemsPerPage) / currentPage)) ) : (currentPage * itemsPerPage) }}
                      de {{ totalItems }}
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="text-center kstdy-font_paginator">
                    <pagination-controls (pageChange)="getPage($event)" id="server" previousLabel="Anterior" nextLabel="Siguiente" ></pagination-controls>
                  </div>
                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                  <div class="text-center">
                    
                  </div>
                </div> -->
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
          <nb-card-header>
            <div class="row m-0 p-0">
              <div class="col text-left">
                <button type="button" (click)="fnReturnPage()" class="btn btn-link text-info cursor-pointer">
                  <i class="fas fa-arrow-left"></i>&nbsp;{{ 'Regresar' | titlecase }}
                </button>
              </div>
              <div class="col text-center">
                <h3 style="margin-top: 6px;">Grafico de incapacidades</h3>
              </div>
              <div class="col text-right">
                <button type="button" (click)="fnViewHistory()" class="btn btn-link text-info cursor-pointer">
                  {{ 'Ver historico' | titlecase }}&nbsp;
                  <i class="fas fa-list"></i>
                </button>
              </div>
            </div> 
            
            <!-- <span class=" mt-2 mb-3">
              <i class="fas fa-arrow-left"></i>&nbsp;Regresar
            </span> -->
            
          </nb-card-header>
          <nb-card-body>
            <div>
              Paciente: 
              <h4><strong>
                {{ patientData?.tPrimerNombre | titlecase }} 
                {{ patientData?.tSegundoNombre | titlecase | titlecase }} 
                {{ patientData?.tPrimerApellido | titlecase }} 
                {{ patientData?.tSegundoApellido | titlecase }} 
              </strong></h4>
            </div>
            <p class="mb-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptas molestiae, rem, consequuntur dolorem quibusdam ex error sapiente facere quo, harum inventore quod voluptatibus hic! Repellat nobis architecto aperiam sit.
            </p>
            <div class="row">

              <div class="col">
                <div class="card">
                  <h5 class="card-header text-center">
                    {{ chart1.title }}
                  </h5>
                  <div class="card-body text-center">
                    <google-chart #chart
                      [title]="chart1.title"
                      [type]="chart1.type"
                      [data]="chart1.data"
                      [columnNames]="chart1.columnNames"
                      [options]="chart1.options">
                    </google-chart>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <h5 class="card-header text-center">
                    {{ chart2.title }}
                  </h5>
                  <div class="card-body text-center">
                    <google-chart #chart
                      [title]="chart2.title"
                      [type]="chart2.type"
                      [data]="chart2.data"
                      [columnNames]="chart2.columnNames"
                      [options]="chart2.options">
                    </google-chart>
                  </div>
                </div>
              </div>
              
              
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>

  </div>
</div>