<div class="container-fluid" *ngIf="false">
  <div class="row">
    <div class="col mt-3 mb-3">
      <span style="position: absolute;">
        <i class="fas fa-arrow-left text-left" style="font-size: 1.5rem; cursor: pointer;" (click)="fnShowGoBackList(false)"></i>&nbsp;
        <span style="font-size: 1.2rem; vertical-align: text-bottom; cursor: pointer;" (click)="fnShowGoBackList(false)">Atras</span>
      </span>
      <h4 class="text-center">Agregar nuevo Usuario</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-10 m-auto" *ngIf="true" >
      <div class="row">
        <form #f="ngForm" (ngSubmit)="fnSendFormBasicInfoUser()" novalidate style="width: 100%;">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <!-- <label for="inputTypeId" class="label">Tipo de Identificación</label>
                <input type="text" nbInput fullWidth id="inputTypeId" placeholder="Tipo de identificación"> -->
                <label class="label" for="documentType" [ngClass]="{ 'prtkt-error_label': true }">
                  Tipo de Identificación 
                  <span [ngClass]="{ 'prtkt-error_label': true }">*</span>
                </label>
                <ng-select 
                  [items]="collection_document_types" 
                  bindLabel="descripcion" 
                  id="documentType" 
                  name="documentType"
                  #documentType="ngModel" 
                  placeholder="Seleccione tipo de documento" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.document_type" 
                  required 
                  [disabled]="false" 
                  [clearable]="false" 
                  class="col-12 p-0 m-0">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputNumberId" class="label">Número de Identificación</label>
                <input 
                  type="text" 
                  nbInput 
                  fullWidth 
                  id="inputNumberId" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.document_number" 
                  placeholder="Digite el número de identificación">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label">Primer Nombre</label>
                <input 
                  type="text" 
                  nbInput 
                  fullWidth 
                  id="inputFirstName" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.first_name" 
                  placeholder="Ingrese Primer nombre">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputSecondName" class="label">Segundo Nombre</label>
                <input 
                  type="text" 
                  nbInput 
                  fullWidth 
                  id="inputSecondName" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.second_name" 
                  placeholder="Ingrese Segundo nombre">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstLastName" class="label">Primer Apellido</label>
                <input 
                  type="text" 
                  nbInput 
                  fullWidth 
                  id="inputFirstLastName" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.first_last_name" 
                  placeholder="Ingrese Primer apellido">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputSecondLastName" class="label">Segundo Apellido</label>
                <input 
                  type="text" 
                  nbInput 
                  fullWidth 
                  id="inputSecondLastName" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.second_last_name" 
                  placeholder="Ingrese Segundo apellido">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="inputEmail" class="label">Correo electrónico</label>
                <input 
                  type="text" 
                  nbInput 
                  fullWidth 
                  id="inputEmail" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.email" 
                  placeholder="Ingrese correo electrónico">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <!-- <label for="inputGender" class="label">Sexo</label>
                <input type="text" nbInput fullWidth id="inputGender" placeholder="Sexo"> -->
                <label class="label" for="genderType" [ngClass]="{ 'prtkt-error_label': true }">
                  Sexo
                  <span [ngClass]="{ 'prtkt-error_label': true }">*</span>
                </label>
                <ng-select 
                  [items]="collection_genders" 
                  bindLabel="descripcion" 
                  id="genderType" 
                  name="genderType"
                  #genderType="ngModel" 
                  placeholder="Seleccione género" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.gender_type" 
                  required 
                  [disabled]="false" 
                  [clearable]="false" 
                  class="col-12 p-0 m-0">
              </ng-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputBithDate" class="label">Fecha de Nacimiento</label>
                <input 
                type="text" 
                nbInput 
                fullWidth 
                id="inputBithDate" 
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="data_user_basic_info.birth_date" 
                placeholder="Ingrese Fecha de Nacimiento">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <!-- <label for="inputProfile" class="label">Perfil</label>
                    <input type="text" nbInput fullWidth id="inputProfile" placeholder="Perfil"> -->
                    <label class="label" for="profileType" [ngClass]="{ 'prtkt-error_label': true }">
                      Perfil
                      <span [ngClass]="{ 'prtkt-error_label': true }">*</span>
                    </label>
                    <ng-select 
                      [items]="collection_profiles" 
                      bindLabel="nombre" 
                      id="profileType" 
                      name="profileType"
                      #profileType="ngModel" 
                      placeholder="Seleccione Perfil" 
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="data_user_basic_info.profile_type" 
                      (change)="fnShowInputMedicalRegister(data_user_basic_info.profile_type)"
                      required 
                      [disabled]="false" 
                      [clearable]="false" 
                      class="col-12 p-0 m-0">
                  </ng-select>
                  </div>  
                </div>
                <div class="col text-right">
                  <div class="form-group" style="padding-top: 2rem; display: inline-flex;">
                    <!-- <label for="inputMedRegister" class="label">Registro Médico</label> -->
                    <!-- <nb-checkbox [value]="true">Es médico</nb-checkbox> -->
                    <!-- <div class="demo-items">
                      <nb-checkbox>Checkbox 1</nb-checkbox>
                      <nb-checkbox [value]="true">Checkbox 2</nb-checkbox>
                    </div> -->
                    <label class="container" style="font-family: 'Roboto'; font-size: 1rem;">
                      <span style="vertical-align: sub;" [ngStyle]="{'color': ((data_user_basic_info.document_type == null || data_user_basic_info.document_type == '')  || 
                      (data_user_basic_info.document_number == null || data_user_basic_info.document_number == '')) ? 'red' : ''}">Es médico</span>
                      <input 
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data_user_basic_info.isProfessionalDoctor"
                        (change)="fnCheckProfessionalDoctorState(data_user_basic_info.isProfessionalDoctor, data_user_basic_info.document_type, data_user_basic_info.document_number)"
                        type="checkbox" 
                        [disabled]="(data_user_basic_info.document_type == null || data_user_basic_info.document_type == '') || 
                        (data_user_basic_info.document_number == null || data_user_basic_info.document_number == '')"
                        checked="checked">
                      <span class="checkmark"></span>
                    </label>
                    <i *ngIf="(data_user_basic_info.document_type == null || data_user_basic_info.document_type == '') || 
                    (data_user_basic_info.document_number == null || data_user_basic_info.document_number == '')" class="fas fa-exclamation-circle" style="font-size: 25px; color: red;"></i>
                  </div>
                </div>
                <div class="col-1" *ngIf="state_search">
                  <div style="margin-top: 27px;">
                    <i class="fas fa-circle-notch fa-spin" style="font-size: 25px;"></i>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-sm-6" *ngIf="data_user_basic_info?.profile_type?.nombre == 'Médico'">
            <!-- <div class="col-sm-6"> -->
              <div class="form-group">
                <label for="inputMedRegister" class="label">Registro Médico</label>
                <input 
                type="text" 
                nbInput 
                fullWidth 
                id="inputMedRegister" 
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="data_user_basic_info.medical_register" 
                placeholder="Ingrese Registro médico">
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-3">
              <button nbButton 
              fullWidth 
              type="submit"  
              class="kstdy-button_signin font_family_roboto pgp-pointer" 
              style="margin: 25px 0px; font-size: 12px; cursor: pointer; font-family: 'Roboto'; text-transform: none; background-color: #1B86FF;"
              [disabled]="
                (data_user_basic_info.document_type == null || data_user_basic_info.document_type == '') || 
                (data_user_basic_info.document_number == null || data_user_basic_info.document_number == '') || 
                (data_user_basic_info.first_name == null || data_user_basic_info.first_name == '') || 
                (data_user_basic_info.second_name == null || data_user_basic_info.second_name == '') || 
                (data_user_basic_info.first_last_name == null || data_user_basic_info.first_last_name == '') || 
                (data_user_basic_info.second_last_name == null || data_user_basic_info.second_last_name == '') ||
                (data_user_basic_info.gender_type == null || data_user_basic_info.gender_type == '') || 
                (data_user_basic_info.birth_date == null || data_user_basic_info.birth_date == '') || 
                (data_user_basic_info.profile_type == null || data_user_basic_info.profile_type == '')
              " 
              [class.btn-pulse]="false">
              Guardar
            </button>  
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <pre>
      {{ data | json }} ---
    </pre>
  </div> -->
</div>
<!-- ********** START - Content - Edit User ********** -->
<div class="container-fluid" *ngIf="true" [nbSpinner]="submitted" nbSpinnerSize="small" nbSpinnerStatus="info" nbSpinnerMessage="Cargando...">
  <!-- ********** START - Content - Button Go Back ********** -->
  <div class="row" *ngIf="false">
    <div class="col mt-3 mb-3">
      <span style="position: absolute;">
        <i class="fas fa-arrow-left text-left" style="font-size: 1.5rem; cursor: pointer;" (click)="fnShowGoBackList(1)"></i>&nbsp;
        <span style="font-size: 1.2rem; vertical-align: text-bottom; cursor: pointer;" (click)="fnShowGoBackList(1)">Atras</span>
      </span>
      <h4 class="text-center">Editar Usuario</h4>
    </div>
  </div>
  <!-- *********** END - Content - Button Go Back *********** -->
  <!-- ********** START - Content - Description ********** -->
  <div class="row">
    <div class="col mt-3 mb-3">
      <p>
        Porfavor llenar los diferentes campos a continuaci&oacute;n relacionados a la informaci&oacute;n b&aacute;sica del usuario asociado a la cuenta. 
        Es importante que los datos sean precisos para una buena gesti&oacute;n de la plataforma y utilizar de forma precisa todas las funcionalidades.
      </p>
    </div>
  </div>
  <!-- *********** END - Content - Description *********** -->
  <!-- ********** START - Content - Form Add New User ********** -->
  <div class="row">
    <div class="col-10 m-auto" *ngIf="true" >
      <div class="row">
        <!-- ********** START - Form - Agregar Usuario ********** -->
        <form #f="ngForm" (ngSubmit)="fnSendFormBasicInfoUser(data_user_basic_info)" novalidate style="width: 100%;">
          <div class="row">
            <div class="col-sm-6">
              <!-- ********** START - Form group - Tipo de identificacion ********** -->
              <div class="form-group">
                <label class="label" for="documentType" [ngClass]="{ 'prtkt-error_label': (documentType.dirty ? (documentType.invalid  ? true : false) : '') }">
                  Tipo de Identificaci&oacute;n 
                  <span [ngClass]="{ 'prtkt-error_label': (documentType.dirty ? (documentType.invalid  ? true : false) : '') }">*</span>
                </label>
                <ng-select 
                  [items]="collection_document_types" 
                  bindLabel="name" 
                  bindValue="value"
                  id="documentType" 
                  name="documentType"
                  #documentType="ngModel" 
                  placeholder="Seleccione tipo de documento" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.document_type" 
                  required 
                  [disabled]="false" 
                  [clearable]="false" 
                  class="col-12 p-0 m-0">
                </ng-select>
                <ng-container *ngIf="documentType.invalid && documentType.touched">
                  <p class="prtkt-error_text" *ngIf="documentType.errors?.required">
                    El tipo de documento es requerido!
                  </p>
                </ng-container>
              </div>
              <!-- *********** END - Form group - Tipo de identificacion *********** -->
            </div>
            <div class="col-sm-6">
              <!-- ********** START - Form group - Numero de identificacion ********** -->
              <div class="form-group">
                <label class="label" for="inputNumberId" [ngClass]="{ 'prtkt-error_label': (documentNumber.dirty ? (documentNumber.invalid  ? true : false) : '') }">
                  N&uacute;mero de Identificaci&oacute;n 
                  <span [ngClass]="{ 'prtkt-error_label': (documentNumber.dirty ? (documentNumber.invalid  ? true : false) : '') }">*</span>
                </label>
                <input 
                  type="text" 
                  nbInput 
                  fullWidth 
                  [(ngModel)]="data_user_basic_info.document_number" 
                  [ngModelOptions]="{standalone: true}" 
                  #documentNumber="ngModel" 
                  name="documentNumber"
                  [status]="documentNumber.dirty ? (documentNumber.invalid  ? 'danger' : 'basic') : ''" 
                  [required]="required" 
                  minlength="5"
                  maxlength="15"
                  [attr.aria-invalid]="documentNumber.invalid && documentNumber.touched ? true : null"
                  id="inputNumberId" 
                  placeholder="Digite el número de identificación">
                <ng-container *ngIf="documentNumber.invalid && documentNumber.touched">
                  <p class="prtkt-error_text" *ngIf="documentNumber.errors?.required">
                    El n&uacute;mero de documento es requerido!
                  </p>
                  <p class="prtkt-error_text" *ngIf="documentNumber.errors?.pattern">
                    El n&uacute;mero de documento debe ser real!
                  </p>
                  <p class="prtkt-error_text" *ngIf="documentNumber.errors?.minlength">
                    El n&uacute;mero de documento es debe contener m&aacute;s de 5 caraceteres!
                  </p> 
                  <p class="prtkt-error_text" *ngIf="documentNumber.errors?.maxlength">
                    El n&uacute;mero de documento es debe contener m&eacute;nos de 15 caraceteres!
                  </p> 
                </ng-container>
              </div>
              <!-- *********** END - Form group - Numero de identificacion *********** -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <!-- ********** START - Form group - Primer nombre ********** -->
              <div class="form-group">
                <label class="label" for="inputFirstName" [ngClass]="{ 'prtkt-error_label': (firstName.dirty ? (firstName.invalid  ? true : false) : '') }">
                  Primer nombre 
                  <span [ngClass]="{ 'prtkt-error_label': (firstName.dirty ? (firstName.invalid  ? true : false) : '') }">*</span>
                </label>
                <input 
                  type="text" 
                  nbInput 
                  fullWidth 
                  [(ngModel)]="data_user_basic_info.first_name" 
                  [ngModelOptions]="{standalone: true}"
                  #firstName="ngModel" 
                  name="firstName" 
                  [status]="firstName.dirty ? (firstName.invalid  ? 'danger' : 'basic') : ''" 
                  [required]="required" 
                  [attr.aria-invalid]="firstName.invalid && firstName.touched ? true : null"
                  id="inputFirstName" 
                  placeholder="Ingrese primer nombre">
                <ng-container *ngIf="firstName.invalid && firstName.touched">
                  <p class="prtkt-error_text" *ngIf="firstName.errors?.required">
                    El primer nombre es requerido!
                  </p>
                </ng-container>
              </div>
              <!-- *********** END - Form group - Primer nombre *********** -->
            </div>
            <div class="col-sm-6">
              <!-- ********** START - Form group - Segundo nombre ********** -->
              <div class="form-group">
                <label for="inputSecondName" class="label">Segundo Nombre</label>
                <input 
                  type="text" 
                  nbInput 
                  fullWidth 
                  id="inputSecondName" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.second_name" 
                  placeholder="Ingrese segundo nombre">
              </div>
              <!-- *********** END - Form group - Segundo nombre *********** -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <!-- ********** START - Form group - Primer apellido ********** -->
              <div class="form-group">
                <label class="label" for="inputFirstLastName" [ngClass]="{ 'prtkt-error_label': (firstLastName.dirty ? (firstLastName.invalid  ? true : false) : '') }">
                  Primer Apellido 
                  <span [ngClass]="{ 'prtkt-error_label': (firstLastName.dirty ? (firstLastName.invalid  ? true : false) : '') }">*</span>
                </label>
                <input 
                  type="text" 
                  nbInput 
                  fullWidth 
                  [(ngModel)]="data_user_basic_info.first_last_name" 
                  [ngModelOptions]="{standalone: true}" 
                  #firstLastName="ngModel" 
                  name="firstLastName" 
                  [status]="firstLastName.dirty ? (firstLastName.invalid  ? 'danger' : 'basic') : ''" 
                  [required]="required" 
                  [attr.aria-invalid]="firstLastName.invalid && firstLastName.touched ? true : null"
                  id="inputFirstLastName" 
                  placeholder="Ingrese primer apellido">
                <ng-container *ngIf="firstLastName.invalid && firstLastName.touched">
                  <p class="prtkt-error_text" *ngIf="firstLastName.errors?.required">
                    El primer apellido es requerido!
                  </p>
                  <p class="prtkt-error_text" *ngIf="firstLastName.errors?.pattern">
                    Document number should be the real one!
                  </p>
                </ng-container>
              </div>
              <!-- *********** END - Form group - Primer apellido *********** -->
            </div>
            <div class="col-sm-6">
              <!-- ********** START - Form group - Segundo apellido ********** -->
              <div class="form-group">
                <label for="inputSecondLastName" class="label">Segundo Apellido</label>
                <input 
                  type="text" 
                  nbInput 
                  fullWidth 
                  id="inputSecondLastName" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.second_last_name" 
                  placeholder="Ingrese segundo apellido">
              </div>
              <!-- *********** END - Form group - Segundo apellido *********** -->
            </div>
          </div>
          <div class="row">
            <div class="col">
              <!-- ********** START - Form group - Correo electronico ********** -->
              <div class="form-group"> 
                <label class="label" for="inputEmail" [ngClass]="{ 'prtkt-error_label': (email.dirty ? (email.invalid  ? true : false) : '') }">
                  Correo electr&oacute;nico 
                  <span [ngClass]="{ 'prtkt-error_label': (email.dirty ? (email.invalid  ? true : false) : '') }">*</span>
                </label>
                <input 
                  type="email" 
                  nbInput 
                  fullWidth 
                  [(ngModel)]="data_user_basic_info.email" 
                  [ngModelOptions]="{standalone: true}" 
                  #email="ngModel" 
                  name="email" 
                  pattern=".+@.+..+" 
                  [status]="email.dirty ? (email.invalid  ? 'danger' : 'basic') : ''" 
                  [required]="required" 
                  [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                  id="inputEmail" 
                  placeholder="Ingrese correo electrónico">
                <ng-container *ngIf="email.invalid && email.touched">
                  <p class="prtkt-error_text" *ngIf="email.errors?.required">
                    El correo electrónico es requerido!
                  </p>
                  <p class="prtkt-error_text" *ngIf="email.errors?.pattern">
                    El correo electronico debe ser real!
                  </p>
                </ng-container>
              </div>
              <!-- *********** END - Form group - Correo electronico *********** -->
            </div>
            <!-- <div class="col-sm-6">
              <div class="form-group">
                <label class="label" for="genderType" [ngClass]="{ 'prtkt-error_label': true }">
                  Sexo
                  <span [ngClass]="{ 'prtkt-error_label': true }">*</span>
                </label>
                <ng-select 
                  [items]="collection_genders" 
                  bindLabel="descripcion" 
                  id="genderType" 
                  name="genderType"
                  #genderType="ngModel" 
                  placeholder="Seleccione género" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.gender_type" 
                  required 
                  [disabled]="false" 
                  [clearable]="false" 
                  class="col-12 p-0 m-0">
              </ng-select>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-sm-6">
              <!-- ********** START - Form group - Genero/Sexo ********** -->
              <div class="form-group">
                <label class="label" for="genderType" [ngClass]="{ 'prtkt-error_label': (genderType.dirty ? (genderType.invalid  ? true : false) : '') }">
                  Sexo
                  <span [ngClass]="{ 'prtkt-error_label': (genderType.dirty ? (genderType.invalid  ? true : false) : '') }">*</span>
                </label>
                <ng-select 
                  [items]="collection_genders" 
                  bindLabel="name" 
                  bindValue="value" 
                  id="genderType" 
                  name="genderType"
                  #genderType="ngModel" 
                  placeholder="Seleccione género" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.gender_type" 
                  required 
                  [disabled]="false" 
                  [clearable]="false" 
                  class="col-12 p-0 m-0">
                </ng-select>
                <ng-container *ngIf="genderType.invalid && genderType.touched">
                  <p class="prtkt-error_text" *ngIf="genderType.errors?.required">
                    El genero es requerido!
                  </p>
                </ng-container>
              </div>
              <!-- *********** END - Form group - Genero/Sexo *********** -->
            </div>
            <div class="col-sm-6">
              <!-- ********** START - Form group - Fecha de nacimiento ********** -->
              <div class="form-group">
                <label for="inputBithDate" class="label">Fecha de Nacimiento</label>
                <input nbInput
                  fullWidth
                  autofocus 
                  type="text" 
                  [readonly]="true"
                  placeholder="Ingrese fecha de nacimiento"
                  id="inputBithDate"  
                  name="birth_date" 
                  (focus)="data_user_basic_info.birth_date = '';"
                  [(ngModel)]="data_user_basic_info.birth_date" 
                  [ngModelOptions]="{standalone: true}"
                  [status]="birth_date.dirty ? (birth_date.invalid  ? 'danger' : 'basic') : ''" 
                  #birth_date="ngModel"
                  bsDatepicker 
                  [maxDate]="maxDate"
                  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue', adaptivePosition: true }">
                <!-- <i class="far fa-calendar-alt" (click)="birth_date.toggle()" [attr.aria-expanded]="birth_date.isOpen" style="position: absolute; font-size: 2rem; margin: 5px;"></i> -->
              </div>
              <!-- *********** END - Form group - Fecha de nacimiento *********** -->
            </div>
          </div>
          <div class="row" *ngIf="user_type == 'admin_entity'">
            <div class="col-sm-6">
              <div class="row" >
                <div class="col-8">
                  <div class="form-group">
                    <!-- <label for="inputProfile" class="label">Perfil</label>
                    <input type="text" nbInput fullWidth id="inputProfile" placeholder="Perfil"> -->
                    <label class="label" for="profileType" [ngClass]="{ 'prtkt-error_label': true }">
                      Perfil
                      <span [ngClass]="{ 'prtkt-error_label': true }">*</span>
                    </label>
                    <ng-select 
                      [items]="collection_profiles" 
                      bindLabel="nombre" 
                      id="profileType" 
                      name="profileType"
                      #profileType="ngModel" 
                      placeholder="Seleccione Perfil" 
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="data_user_basic_info.profile_type" 
                      (change)="fnShowInputMedicalRegister(data_user_basic_info.profile_type)"
                      required 
                      [disabled]="false" 
                      [clearable]="false" 
                      class="col-12 p-0 m-0">
                  </ng-select>
                  </div>  
                </div>
                <div class="col text-right">
                  <div class="form-group" style="padding-top: 2rem; display: inline-flex;">
                    <!-- <label for="inputMedRegister" class="label">Registro Médico</label> -->
                    <!-- <nb-checkbox [value]="true">Es médico</nb-checkbox> -->
                    <!-- <div class="demo-items">
                      <nb-checkbox>Checkbox 1</nb-checkbox>
                      <nb-checkbox [value]="true">Checkbox 2</nb-checkbox>
                    </div> -->
                    <label class="container" style="font-family: 'Roboto'; font-size: 1rem;">
                      <span style="vertical-align: sub;" [ngStyle]="{'color': ((data_user_basic_info.document_type == null || data_user_basic_info.document_type == '')  || 
                      (data_user_basic_info.document_number == null || data_user_basic_info.document_number == '')) ? 'red' : ''}">Es médico</span>
                      <input 
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data_user_basic_info.isProfessionalDoctor"
                        (change)="fnCheckProfessionalDoctorState(data_user_basic_info.isProfessionalDoctor, data_user_basic_info.document_type, data_user_basic_info.document_number)"
                        type="checkbox" 
                        [disabled]="(data_user_basic_info.document_type == null || data_user_basic_info.document_type == '') || 
                        (data_user_basic_info.document_number == null || data_user_basic_info.document_number == '')"
                        checked="checked">
                      <span class="checkmark"></span>
                    </label>
                    <i *ngIf="(data_user_basic_info.document_type == null || data_user_basic_info.document_type == '') || 
                    (data_user_basic_info.document_number == null || data_user_basic_info.document_number == '')" class="fas fa-exclamation-circle" style="font-size: 25px; color: red;"></i>
                  </div>
                </div>
                <div class="col-1" *ngIf="state_search">
                  <div style="margin-top: 27px;">
                    <i class="fas fa-circle-notch fa-spin" style="font-size: 25px;"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6" *ngIf="data_user_basic_info?.profile_type?.nombre == 'Médico'">
            <!-- <div class="col-sm-6"> -->
              <div class="form-group">
                <label for="inputMedRegister" class="label">Registro Médico</label>
                <input 
                type="text" 
                nbInput 
                fullWidth 
                id="inputMedRegister" 
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="data_user_basic_info.medical_register" 
                placeholder="Ingrese Registro médico">
              </div>
            </div>
          </div>

          <div class="row" *ngIf="user_type == 'admin_kustodya'">
            <div class="col-sm-6">
              <!-- ********** START - Form group - Perfil ********** -->
              <div class="form-group">
                <label class="label" for="profileType" [ngClass]="{ 'prtkt-error_label': (profileType.dirty ? (profileType.invalid  ? true : false) : '') }">
                  Perfil
                  <span [ngClass]="{ 'prtkt-error_label': (profileType.dirty ? (profileType.invalid  ? true : false) : '') }">*</span>
                </label>
                <ng-select 
                  [items]="collection_profiles" 
                  bindLabel="nombre" 
                  bindValue="id"
                  id="profileType" 
                  name="profileType"
                  #profileType="ngModel" 
                  placeholder="Seleccione perfil" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.profile_type" 
                  (change)="fnShowInputMedicalRegister(data_user_basic_info.profile_type)"
                  required
                  [disabled]="true" 
                  [clearable]="false" 
                  class="col-12 p-0 m-0">
                </ng-select>
                <ng-container *ngIf="profileType.invalid && profileType.touched">
                  <p class="prtkt-error_text" *ngIf="profileType.errors?.required">
                    El perfil es requerido
                  </p>
                </ng-container>
              </div>  
              <!-- *********** END - Form group - Perfil *********** -->
            </div>
            <div class="col-sm-6">
              <!-- ********** START - Form group - Entidad ********** -->
              <div class="form-group">
                <label class="label" for="entity" [ngClass]="{ 'prtkt-error_label': (entity.dirty ? (entity.invalid  ? true : false) : '') }">
                  Entidad 
                  <span [ngClass]="{ 'prtkt-error_label': (entity.dirty ? (entity.invalid  ? true : false) : '') }">*</span>
                </label>
                <ng-select 
                  [items]="collection_entities" 
                  bindLabel="nombre" 
                  bindValue="id"
                  id="entity" 
                  name="entity"
                  #entity="ngModel" 
                  placeholder="Seleccione entidad" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_user_basic_info.entity" 
                  required 
                  multiple="true" 
                  [disabled]="true" 
                  [clearable]="false" 
                  class="col-12 p-0 m-0">
                </ng-select>
                <ng-container *ngIf="entity.invalid && entity.touched">
                  <p class="prtkt-error_text" *ngIf="entity.errors?.required">
                    La entidad es requerida!
                  </p>
                </ng-container>
              </div>
              <!-- *********** END - Form group - Entidad *********** --> 
            </div>
          </div>
          
          <div class="row justify-content-end">
            <div class="col-3" *ngIf="false">
              <button nbButton 
              fullWidth 
              type="button"  
              class="kstdy-button_signin font_family_roboto pgp-pointer" 
              style="margin: 25px 0px; font-size: 12px; cursor: pointer; font-family: 'Roboto'; text-transform: none; background-color: #535353;"
              [disabled]="submitted" 
              (click)="fnShowGoBackList(1)"
              [class.btn-pulse]="submitted">
              Cancelar
            </button>  
            </div>
            <div class="col-3 text-right">
              <button nbButton 
              fullWidth 
              type="submit"  
              class="kstdy-button_signin font_family_roboto pgp-pointer kstdy-button_action_form" 
              style="width: 80%; margin: 25px 0px; font-size: 1rem; cursor: pointer; font-family: 'Roboto'; text-transform: none;"
              [disabled]="
                (data_user_basic_info.document_type == null || data_user_basic_info.document_type == '') || 
                (data_user_basic_info.document_number == null || data_user_basic_info.document_number == '') || 
                (data_user_basic_info.first_name == null || data_user_basic_info.first_name == '') || 
                (data_user_basic_info.first_last_name == null || data_user_basic_info.first_last_name == '') || 
                (data_user_basic_info.gender_type == null || data_user_basic_info.gender_type == '') || 
                (data_user_basic_info.entity == null || data_user_basic_info.entity == []) || 
                (data_user_basic_info.profile_type == null || data_user_basic_info.profile_type == '')
              " 
              [class.btn-pulse]="submitted">
              Actualizar
            </button>  
            </div>
          </div>
          
        </form>
        <!-- *********** START - Form - Agregar Usuario *********** -->
      </div>
    </div>
  </div>
  <!-- *********** END - Content - Form Add New User *********** -->
</div>
<!-- *********** END - Content - Edit User *********** -->