#historico {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#historico th {
    padding: 8px;
    color: #797c78
}

#historico td {
    padding: 8px;
    color: #3c3c3c
}

#historico tr:nth-child(even) {
    background-color: #f2f2f2;
}

#historico tr:hover {
    background-color: #ddd;
}

#historico th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eff7ff;
    color: 7c7c7a;
}

.kstdy-item_success {
    cursor: pointer;
}


.table thead th {
    border-bottom: 1px solid #dee2e6;
    margin: 0px;
    background-color: #edf6ff;
  }

  .table tbody tr:first-child td{
    border-top: 0;
  }

      
  /* ********** START - paginator custom css ********** */

  .kstdy-font_paginator {
    font-size: 1rem;
  }

  ::ng-deep .ngx-pagination .current {
    padding: 0.4rem 0rem !important;
    height: 2rem !important;
    width: 2rem !important;
    border-radius: 15px !important;
  }

  ::ng-deep .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: transparent;
  }

  ::ng-deep a:hover, ::ng-deep a:focus {
    color: #2199e8 !important;
  }

  ::ng-deep .ngx-pagination li:focus, ::ng-deep .ngx-pagination a:focus{
    border-color: white !important;
  }

  /* ********** END - paginator custom css ********** */

  
  