<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto kstdya-card_content" size="tiny">
        <nb-card-header class="font_family_roboto text-center">
          <span style="color: #1e90ff;font-weight: 500;">Agregar nueva red social</span>
          <i class="fas fa-times" (click)="fnCancelCreateNewSocialNetworkEntity()" style="position: absolute; right: 2rem; cursor: pointer;"></i>
        </nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnCreateNewSocialNetworkEntity(data_entity)" #addNewSocialNetworkUser="ngForm" aria-labelledby="title" style="width: 600px">
                <div class="col-12 pl-0 pr-0">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="kstdya-select_social_network">Seleccione red social: *</label>
                        <ng-select 
                            [items]="collection_social_networks_type" 
                            bindLabel="descripcion" 
                            bindValue="id" 
                            id="social_network"
                            name="social_network"
                            #social_network="ngModel" 
                            appendTo="body"
                            placeholder="Seleccione red social" 
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="data_entity.social_network_type" 
                            required 
                            [disabled]="false" 
                            [clearable]="false" 
                            class="col-12 p-0 m-0">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-6">
                      <label for="kstdya-input_social_network_user">Ingrese nombre de usuario &oacute; link: *</label>                                         
                      <input 
                        nbInput 
                        [(ngModel)]="data_entity.social_network_user" 
                        #groupName="ngModel" 
                        id="kstdya-input_social_network_user" 
                        name="social_network_user" 
                        autofocus  
                        type="text" 
                        class="form-control kstdya-input_focus"
                        placeholder="Ingrese nombre de usuario ó link"
                        style="height: 45px;">
                    </div>
                  </div>
                </div>
                <div class="col text-center pl-0 pr-0">

                  <button nbButton 
                    fullWidth 
                    type="submit"  
                    class="kstdy-button_action_form" 
                    id="kstdya-btn_save_new_phone_user" 
                    nbButton 
                    [disabled]="
                      !data_entity.social_network_type ||
                      !data_entity.social_network_user || submitted"
                    [class.btn-pulse]="submitted">
                    Guardar
                  </button>
                  
                  <!-- &nbsp;&nbsp;&nbsp;

                  <button 
                    nbButton 
                    type="button" 
                    class="kstdy-button_action_form_cancel" 
                    id="kstdya-btn_cancel_save_new_phone_user"
                    [disabled]="submitted"
                    [class.btn-pulse]="submitted"
                    (click)="fnCancelCreateNewSocialNetworkEntity()"
                    status="basic">Cancelar</button> -->
                  
                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
  