<div class="mb-3 text-center">
  <img class="pgp-image_logo" src="../../../../assets/images/imgs/ProtektoLogo01.png" alt="Logo">
</div>
<!-- <button nbButton (click)="showToast('top-right', 'success')">Top Right</button> -->
<h1 id="title" class="title font_family_roboto">Asignar nueva contraseña</h1>
<p class="sub-title mb-0">Ingresa la nueva contraseña de tu cuenta</p>
<!-- {{ state_active_account?.color }}
<nb-alert status="{{ state_active_account?.color }}" role="alert" closable (close)="onClose()">
  <p class="alert-title"><b>Hooray!</b></p>
</nb-alert> -->

<br>
<div *ngIf="messages_error.length && submitted" class="alert alert-danger alert-dismissible fade show" role="alert">
  <div *ngFor="let error of messages_error; let i = index;">
      <strong>{{ error.state }}!</strong> {{ error.description }}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>  
  </div>
</div>

<div *ngIf="messages_success.length && submitted" class="alert alert-success alert-dismissible fade show" role="alert">
  <div *ngFor="let message of messages_success; let y = index;">
    <strong>{{ message.state }}!</strong> {{ message.description }}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>  
  </div>
</div>

<form (ngSubmit)="updatePass(user.new_password, user.confirm_new_password)" #updatePassForm="ngForm" aria-labelledby="title" class="mt-3">
  <!-- <input type="hidden" name="language" [(ngModel)]="user.tlanguage" value="en"> -->
  <!-- <div class="form-control-group animate fadeIn">
    <label class="label m-0" for="przss-input-email">Usuario:</label>
    <input 
      nbInput 
      fullWidth 
      [(ngModel)]="user.email" 
      #userName="ngModel" 
      name="userName" 
      id="przss-input-email"
      placeholder="Usuario" 
      (focus)="errors = []" autofocus
      [status]="userName.dirty ? (userName.invalid  ? 'danger' : '') : ''" [required]="required"
      [attr.aria-invalid]="userName.invalid && userName.touched ? true : null">
    <ng-container *ngIf="userName.invalid && userName.touched">
      <p class="error-message" *ngIf="userName.errors?.required">
        Correo requerido!
      </p>
      <p class="error-message" *ngIf="userName.errors?.pattern">
        El correo debe ser real!
      </p>
    </ng-container>
  </div> -->
  <div class="form-control-group">
    <label class="label" for="input-email">Nueva contraseña:</label>

    <input 
      nbInput 
      [(ngModel)]="user.new_password" 
      #new_password="ngModel" 
      id="input-new-password" 
      class="kstdy-input-form"
      name="new_password" 
      autofocus 
      fullWidth 
      type="password" 
      [required]="required"
      [status]="new_password.dirty ? (new_password.invalid  ? 'danger' : '') : ''" 
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
      placeholder="Nueva contraseña">
      <ng-container *ngIf="new_password.invalid && new_password.touched">
        <p class="error-message" *ngIf="new_password.errors?.required">
          La contraseña es requerida!
        </p>         
        <p class="error-message" *ngIf="new_password.errors?.pattern">
          La contraseña debe contener m&iacute;nimo: <br />
          8 Caracteres<br />
          1 Caracter alfabético<br />
          1 Letra may&uacute;scula<br />
          1 N&uacute;mero
        </p>
      </ng-container>
  </div>
  
  <div class="form-control-group">
    <label class="label" for="input-email">Repite la contraseña:</label>
    <input 
      nbInput 
      [(ngModel)]="user.confirm_new_password" 
      #confirm_new_password="ngModel" 
      id="input-confirm-new-password" 
      class="kstdy-input-form"
      name="confirm_new_password" 
      autofocus 
      fullWidth 
      [status]="user.new_password != user.confirm_new_password ? 'danger' : (user.new_password  ? '' : '')" 
      type="password" 
      status="info" 
      placeholder="Repite la contraseña">
      <ng-container *ngIf="user.new_password != user.confirm_new_password">
        <p class="error-message" *ngIf="confirm_new_password.errors?.required">
          Confirmar la contraseña es requerido!
        </p>
        <p class="error-message" *ngIf="user.new_password != user.confirm_new_password">
          Las contraseñas no coinciden!
        </p>       
      </ng-container>
    <!-- <i *ngIf="user.new_password != user.confirm_new_password" class="fas fa-exclamation-triangle pgp-icon_alert info" isOpen="true" [tooltip]="pop_temp_confirm_password" placement="right" triggers="mouseenter:click"></i>
    <ng-template #pop_temp_confirm_password id="tooltip-content">
      <strong>Las contraseñas no coinciden!</strong><br />
    </ng-template>
    <ng-container *ngIf="false">
      <p class="error-message" *ngIf="false">
        Repetir la contraseña es requerido!
      </p>
      <p class="error-message" *ngIf="false">
        El correo electr&oacute;nico debe ser valido!
      </p>
    </ng-container> -->
  </div>

  <button nbButton
        fullWidth
        status="success"
        class="pgp-button_go_to_login font_family_roboto"
        [disabled]="submitted || !user.new_password || !user.confirm_new_password || user.new_password != user.confirm_new_password || !email || email == ''"
        [class.btn-pulse]="submitted">Enviar</button>
</form>


<!-- <section class="another-action" aria-label="Register">
Don't have an account? <a class="text-link" routerLink="../sign-up">Register</a>
</section> -->

<!-- <div class="mt-0 text-center" style="position: absolute;width: 100%; left: 0%; bottom: 0%; z-index: -1;">
  <img alt="footer" src="../../../../assets/images/imgs/pgp-footer-login-02.png" style="
  position: absolute;
  /*top: 0%;*/
  margin: auto;
  /*width: 100%;*/
  width: 56%;
  z-index: 0;
  bottom: 0%;
  /*left: 0%;*/
  left: 21%;
  ">
</div> -->