<div class="col-12">
  <div class="row">
    <div class="col">
      <p>
        A continuaci&oacute;n hay diferentes secciones de contacto del usuario, porfavor 
        ingresar a cada uno de ellos e ingresar todos los datos posibles, con el fin 
        disfrutar de todas las funcionalidades y soporte completo de la plataforma.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12"> 
      <!-- ******************** START - Steps badges ******************** -->
      <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
        <!-- ********** START - Step 'Phone' ********** -->
        <li role="presentation" class="" [ngClass]="{'active': step_phone}" (click)="step_phone = true; step_address = false; step_email = false; step_social_net = false;">
          <a aria-controls="discover" role="tab" data-toggle="tab">
            <i class="fas fa-phone-alt" aria-hidden="true"></i>
            <p>Tel&eacute;fonos</p>
          </a>
        </li>
        <!-- *********** END - Step 'Phone' *********** -->
        <!-- ********** START - Step 'Address' ********** -->
        <li role="presentation" class="" [ngClass]="{'active': step_address}" (click)="step_phone = false; step_address = true; step_email = false; step_social_net = false;">
          <a aria-controls="strategy" role="tab" data-toggle="tab">
            <i class="fas fa-map-pin" aria-hidden="true"></i>
            <p>Direcciones</p>
          </a>
        </li>
        <!-- *********** END - Step 'Address' *********** -->
        <!-- ********** START - Step 'Email' ********** -->
        <li role="presentation" class="" [ngClass]="{'active': step_email}" (click)="step_phone = false; step_address = false; step_email = true; step_social_net = false;">
          <a aria-controls="optimization" role="tab" data-toggle="tab">
            <i class="fas fa-envelope" aria-hidden="true"></i>
            <p>Correos</p>
          </a>
        </li>
        <!-- *********** END - Step 'Email' *********** -->
        <!-- ********** START - Step 'Social networks' ********** -->
        <li role="presentation" class="" [ngClass]="{'active': step_social_net}" (click)="step_phone = false; step_address = false; step_email = false; step_social_net = true;">
          <a aria-controls="content" role="tab" data-toggle="tab">
            <i class="fas fa-thumbs-up" aria-hidden="true"></i>
            <p>Redes sociales</p>
          </a>
        </li>
        <!-- *********** END - Step 'Social networks' *********** -->
      </ul>
      <!-- ********************* END - Steps badges ********************* -->
      <!-- ******************** START - Tabs content ******************** -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" [ngClass]="{'active': step_phone}" (click)="step_phone = true; step_address = false; step_email = false; step_social_net = false;" id="discover">
          <div class="design-process-content">
            <ngx-user-phone-numbers [data_user]="data_user"></ngx-user-phone-numbers>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" [ngClass]="{'active': step_address}" (click)="step_phone = false; step_address = true; step_email = false; step_social_net = false;" id="strategy">
          <div class="design-process-content">
            <ngx-user-address></ngx-user-address>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" [ngClass]="{'active': step_email}" (click)="step_phone = false; step_address = false; step_email = true; step_social_net = false;" id="optimization">
          <div class="design-process-content">
            <ngx-user-email-address></ngx-user-email-address>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" [ngClass]="{'active': step_social_net}" (click)="step_phone = false; step_address = false; step_email = false; step_social_net = true;" id="content">
          <div class="design-process-content">
            <ngx-user-social-network></ngx-user-social-network>
          </div>
        </div>
      </div>
      <!-- ********************* END - Tabs content ********************* -->
    </div>
  </div>
</div>
