@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
// @import '../../styles/themes';
// @import "~@theme/theme/styles/themes";
@import '../../../@theme/styles/themes';

@include nb-install-component() {

    ::ng-deep .cursor-pointer {
        cursor: pointer;
    }
    
    .cursor-pointer {
        cursor: pointer;
    }
  
    ::ng-deep nb-card-header {
      display: block !important;
    }
    
    nb-card {
      height: auto !important;
    }
    nb-card-header {
      display: block !important;
    }
    
    nb-card-body {
      box-shadow: none !important;
    }

    ::ng-deep .ng-select .ng-select-container {
      border-color: none !important;
      height: 54px !important;
    }

    ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
        height: 44px;
    }
    
    .kstdya-card_content {
      min-width: 665px;
    }

    .badge-state-0 {
      background-color: #9e9e9e !important;
      padding: 4px 10px;
    }

    .badge-state-1 {
        background-color: #0d6efd !important;
        padding: 4px 10px;
    }
    
    .badge-state-2 {
        background-color: #ff5f5f !important;
        padding: 4px 10px;
    }
    
    .badge-state-3 {
        background-color: #9fff92 !important;
        padding: 4px 10px;
    }
    
    .badge-state-4 {
        background-color: #fffd92 !important;
        padding: 4px 10px;
    }
    
    .badge-state-5 {
        background-color: #ff92db !important;
        padding: 4px 10px;
    }
    
    .badge-state-6 {
        background-color: #ffce47 !important;
        padding: 4px 10px;
    }
    
    .badge-state-7 {
        background-color: #47e3ff !important;
        padding: 4px 10px;
    }
  
}