<div class="container" [nbSpinner]="loading_state" nbSpinnerSize="small" nbSpinnerStatus="info" nbSpinnerMessage="Cargando...">
  <div class="row">
    <div class="col-12">
      <div class="font_family_roboto kstdy-card_content">
        <div class="row justify-content-start mb-3">
          <div class="col-4 text-left kstdy-pointer">
            <i class="fas fa-chevron-left text-left" style="font-size: 1.5rem; cursor: pointer; color: #369DFB;" (click)="fnShowProfilesList(1)"></i>&nbsp;
            <span style="font-size: 1.2rem; vertical-align: text-bottom; cursor: pointer; color: #369DFB;" (click)="fnShowProfilesList(1)">Atras</span>
          </div>
          <div class="col-4 text-center">
            <h4 class="font_family_roboto">Editar perfil</h4>
          </div>
        </div>
        <div class="container">
          <div class="row ml-0 mr-0">
            <form (ngSubmit)="fnUpdateProfile(profile_data)" #addNewMemberForm="ngForm" aria-labelledby="title" style="width: 100%;">
              <div class="row m-0">
                <div class="col-9 pl-0 pr-0">
                  <div class="form-group">
                    <label class="label" for="kstdy-input_group_name">
                      Nombre de perfil &nbsp; <span>*</span></label>
                    <input nbInput [(ngModel)]="profile_data.nombre" #groupName="ngModel" id="kstdy-input_group_name" name="group_name" 
                        autofocus fullWidth type="text" class="form-control" placeholder="Porfavor digite el nombre de perfil" style="height: 45px;">
                  </div>
                </div>
                <!-- <div class="col-3 ml-0 mr-0">
                  <div class="form-group mt-2">
                    <nb-checkbox status="info" [(ngModel)]="profile_data.activo" [ngModelOptions]="{standalone: true}">Perfil activo</nb-checkbox>
                  </div>
                </div> -->
              </div>
              <div class="col-12 p-0 m-0">
                <div class="form-group">
                  <div class="text-center mt-3 mb-3">
                    <label class="font_family_roboto" style="color: #2a2a2a;">Seleccionar permisos </label>
                  </div>
                  <div class="col-12 m-0 p-0">
                    <div class="card kstdy-card_li">
                      <ul class="list-group list-group-flush p-0">
                        <!-- START - First level -->
                        <div *ngFor="let item_menu of items_menu; let index_menu = index;" style="border-top: 1px solid #fff; border-bottom: 1px solid #fff">
                          <li class="list-group-item list-group-item-action">
                            <label class="kstdy-title_item_list font-weight-bold font_family_roboto m-0">{{ item_menu.title }}</label>
                            <i class="kstdy-fs_icon_right_list far " [ngClass]="{'fa-circle' : (menu_selected_data_id.indexOf(item_menu.id) < 0) , 'fa-check-circle kstdy-check': (menu_selected_data_id.indexOf(item_menu.id) >= 0) }" (click)="fnUpdateArrayMenus(item_menu, [])"></i>
                            <i class="kstdy-pointer kstdy-fs_icon_caret fas" [ngClass]="{'fa-caret-right': (item_menu.children.length > 0 && (item_menu.id != show_second_level)) , 'fa-caret-down': (item_menu.children.length > 0 && (item_menu.id == show_second_level))}" (click)="show_second_level = show_second_level == item_menu.id ? 0 : item_menu.id"> </i>
                          </li>
                          <!-- START - Second level -->
                          <div *ngFor="let item_second_level of item_menu.children; let index_second_level = index;" style="margin: 1.2rem;" [ngClass]="{'d-none' : (item_menu.id !== show_second_level), 'd-block' : (item_menu.id === show_second_level) }">
                            &nbsp;&nbsp;&nbsp;<label class="kstdy-title_item_list font_family_roboto m-0" style="font-weight: 500;">{{ item_second_level.title }}</label>
                            <i class="kstdy-fs_icon_right_list far " [ngClass]="{'fa-circle' : (menu_selected_data_id.indexOf(item_second_level.id) < 0) , 'fa-check-circle kstdy-check': (menu_selected_data_id.indexOf(item_second_level.id) >= 0) }" (click)="fnUpdateArrayMenus(item_second_level, [item_menu.id])"></i>
                            <i class="kstdy-pointer kstdy-fs_icon_caret fas" [ngClass]="{'fa-caret-right': (item_second_level.children.length > 0 && (item_second_level.id != show_third_level)) , 'fa-caret-down': (item_second_level.children.length > 0 && (item_second_level.id == show_third_level))}" (click)="show_third_level = show_third_level == item_second_level.id ? 0 : item_second_level.id"> </i> 
                            <!-- START - Third level --> 
                            <div *ngFor="let item_third_level of item_second_level.children; let index_third_level = index;" style="margin: 1.2rem;" (click)="show_fourth_level = item_third_level.id" [ngClass]="{'d-none' : (show_third_level !== item_second_level.id), 'd-block' : (show_third_level === item_second_level.id) }">
                              &nbsp;&nbsp;&nbsp;<label class="kstdy-title_item_list font_family_roboto m-0">{{ item_third_level.title }}</label>
                              <i class="kstdy-fs_icon_right_list far " [ngClass]="{'fa-circle' : (menu_selected_data_id.indexOf(item_third_level.id) < 0) , 'fa-check-circle kstdy-check': (menu_selected_data_id.indexOf(item_third_level.id) >= 0) }" (click)="fnUpdateArrayMenus(item_third_level, [item_menu.id,  item_second_level.id])"></i>
                              <i class="kstdy-pointer kstdy-fs_icon_caret fas" [ngClass]="{'fa-caret-right': (item_third_level.children.length > 0 && (item_third_level.id != show_fourth_level)) , 'fa-caret-down': (item_third_level.children.length > 0 && (item_third_level.id == show_fourth_level))}" (click)="show_fourth_level = show_fourth_level == item_third_level.id ? 0 : item_third_level.id"> </i>
                              <!-- START - Fourth level --> 
                              <div *ngFor="let item_fourth_level of item_third_level.children; let index_fourth_level = index;" style="margin: 1.2rem;" (click)="show_fifth_level = item_fourth_level.id" [ngClass]="{'d-none' : (item_third_level.id !== show_fourth_level), 'd-block' : (item_third_level.id === show_fourth_level) }">
                                &nbsp;&nbsp;&nbsp;<label class="kstdy-title_item_list font_family_roboto m-0">{{ item_fourth_level.title }}</label>
                                <i class="kstdy-fs_icon_right_list far " [ngClass]="{'fa-circle' : (menu_selected_data_id.indexOf(item_fourth_level.id) < 0) , 'fa-check-circle kstdy-check': (menu_selected_data_id.indexOf(item_fourth_level.id) >= 0) }" (click)="fnUpdateArrayMenus(item_fourth_level,  [item_menu.id, item_second_level.id, item_third_level.id])"></i>
                                <i class="kstdy-pointer kstdy-fs_icon_caret fas" [ngClass]="{'fa-caret-right': (item_fourth_level.children.length > 0 && (item_fourth_level.id != show_fifth_level)) , 'fa-caret-down': (item_fourth_level.children.length > 0 && (item_fourth_level.id == show_fifth_level))}" (click)="show_fifth_level = show_fifth_level == item_fourth_level.id ? 0 : item_fourth_level.id"> </i>
                                <!-- START - Fifth level -->
                                <div *ngFor="let item_fifth_level of item_fourth_level.children; let index_fifth_level = index;" style="margin: 1.2rem;" [ngClass]="{'d-none' : (item_fourth_level.id !== show_fifth_level), 'd-block' : (item_fourth_level.id === show_fifth_level) }">
                                  &nbsp;&nbsp;&nbsp;<label class="kstdy-title_item_list font_family_roboto m-0">{{ item_fifth_level.title }}</label>
                                  <i class="kstdy-fs_icon_right_list far " [ngClass]="{'fa-circle' : (menu_selected_data_id.indexOf(item_fifth_level.id) < 0) , 'fa-check-circle kstdy-check': (menu_selected_data_id.indexOf(item_fifth_level.id) >= 0) }" (click)="fnUpdateArrayMenus(item_fifth_level, [item_menu.id,  item_second_level.id, item_third_level.id, item_fourth_level.id])"></i>
                                </div>
                                <!-- END - Fifth level -->
                              </div>
                              <!-- END - Fourth level --> 
                            </div>
                            <!-- END - Third level --> 
                          </div>
                          <!-- END - Second level -->
                        </div>
                        <!-- END - First level -->
                      </ul>
                    </div>  
                  </div>
                </div>
              </div>
              <div class="row justify-content-center mt-2">
                <button 
                  type="submit" 
                  class="kstdy-pointer btn btn-primary kstdy-btn_success font_family_roboto" 
                  id="kstdy-btn_edit_profile" 
                  nbButton 
                  [disabled]="!profile_data.nombre"
                  [class.btn-pulse]="submitted"
                  status="info">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
