<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto kstdya-card_content" size="tiny">
        <nb-card-header class="font_family_roboto">Eliminar registro</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <!-- <div class="mt-2 mb-2">
                Agregue la categoria y la relación de complementariedad de sus productos.
              </div> -->
              <!-- <form (ngSubmit)="fnDeleteEmailManagement(user_data)" #addNewEmailManagementForm="ngForm" aria-labelledby="title" style="min-width: 300px; max-width: 300px;"> -->
              <!-- <form (ngSubmit)="fnDeleteEmailManagement(user_data)" #addNewEmailManagementForm="ngForm" aria-labelledby="title"> -->
                <div class="col-12 pl-0 pr-0">
                  <p class="mb-3 mt-1">¿Desea eliminar el registro <strong>"{{ data_user.tPrimerNombre + ' ' + data_user.tPrimerApellido }}"</strong>?</p>
                </div>
                <button 
                  type="submit" 
                  class="kstdya-pointer btn btn-primary kstdya-btn_success font_family_roboto" 
                  id="kstdya-btn_save_new_category" 
                  nbButton 
                  [class.btn-pulse]="submitted"
                  (click)="fnSetDeleteEmailManagementById()"
                  status="info">Eliminar</button>
                &nbsp;&nbsp;&nbsp;
                <button class="kstdya-pointer font_family_roboto" 
                  type="button" 
                  id="kstdya-btn_cancel_save_new_category"
                  nbButton
                  [class.btn-pulse]="submitted"
                  (click)="fnCancelDeleteEmailManagement()"
                  status="danger">Cancelar</button>
              <!-- </form> -->
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
    