<div class="row kstdy-backgroud_layout p-4">
  <div class="col-12">
    <div class="row justify-content-center">
      <h4 class="m-0 text-center kstdy-title_page font_family_roboto">Entidades</h4>
      <div class="col-12 p-0">
        <p>
          Porfavor configurar y administrar las diferentes entidades disponibles.
        </p>
      </div>
      <div class="col-12 mt-3 ml-3 mr-3 mb-4">
        <div class="row" *ngIf="true">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 pl-0">
            <input (input)="fnFilter(search_input);" fullWidth nbInput
              [(ngModel)]="search_input" #search_entities="ngModel"
              class="kstdy-text_input_search form-control d-inline-block" id="kstdy-input_search_entities"
              name="search_entities" type="text" placeholder="Buscar">
            <i class="fas fa-search kstdy-icon_input_search"></i>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3 p-0">
        <!-- ********** START - Div main content data table - Entity ********** -->
        <table class="table">
          <thead>
            <tr>
              <th class="w-25 text-center border-0" style="border-top-left-radius: 10px;">
                Seleccionar
              </th>
              <th class="w-75 text-left border-0" style="border-top-right-radius: 10px;">
                Entidades
              </th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data_entities of list_entities | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }; let i = index;">           
                <td class="text-center">
                  <nb-checkbox status="info"></nb-checkbox>
                </td>
                <td>{{ data_entities.nombre }}</td>
              </tr>
          </tbody>
        </table>
        <!-- *********** END - Div main content data table - Entity *********** -->
      </div>
      <div class="col-12">
        <div class="row justify-content-between">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <div class="text-center kstdy-font_paginator" *ngIf="list_entities?.length > 0">
              <div class="text-left kstdy-font_paginator">
                Mostrando {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} -
                {{ ((currentPage * numItemsPage) >= list_entities.length) ? (list_entities.length) + (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) ) : (currentPage * numItemsPage) }}
                de {{ totalItems }}
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center">
            <div class="text-center kstdy-font_paginator" *ngIf="list_entities?.length > numItemsPage">
              <pagination-controls (pageChange)="currentPage = $event" id="server" previousLabel="" nextLabel="" ></pagination-controls>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 text-right">
            <!-- <button 
            type="submit" 
            class="kstdy-pointer btn btn-primary kstdy-btn_success font_family_roboto kstdy-btns_actions" 
            id="kstdy-btn_save_entity" 
            nbButton 
            [class.btn-pulse]="submitted"
            status="info">Guardar</button> -->

            <button nbButton 
              fullWidth 
              type="submit"  
              class="font_family_roboto pgp-pointer kstdy-button_action_form" 
              style="width: 80%; margin: 25px 0px; font-size: 1rem; cursor: pointer; font-family: 'Roboto'; text-transform: none;"
              [disabled]="submitted" 
              [class.btn-pulse]="submitted">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>