<div class="col-12" *ngIf="true" [nbSpinner]="submitted" nbSpinnerSize="small" nbSpinnerStatus="info" nbSpinnerMessage="Cargando...">
  <div class="row">
    <div class="col-12">
      <h4 class="m-0 text-center kstdy-title_page font_family_roboto">Firma electr&oacute;nica</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="mb-3 mt-3" style="font-size: 1.1rem;">
        En el siguiente formulario por favor, adjuntar una firma virtual, 
        teniendo en cuenta las condiciones del sistema que se enuncian a continuaci&oacute;n. 
        Esta firma virtual ser&aacute; útil para adjuntarla a diferentes documentos autom&aacute;ticamente 
        con autorizaci&oacute;n del respectivo usuario.
        <input type="file" name="test" id="test" (change)="fntestblob($event)">
        <img [src]="urlBlobTest" alt="test" width="100">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
      <div class="row" style="justify-content: center;">
        <div class="col-10 mb-3 mt-3 p-0" style="height: 37vh; border-radius: 15px;box-shadow: 0px 0px 20px 0 #C0EFFF;">
          <!-- <div class="m-3" style="border: dashed 3px #1a85ff;height: 50vh;border-radius: 15px;"> -->
          <div class="m-3 kstdy-border_dash" (click)="fnUploadFile('file_input_clinic_history');">
            <input [(ngModel)]="file_input_clinic_history" [ngModelOptions]="{standalone: true}" type="file" accept=".png, image/png" style="display: none;" id="file_input_clinic_history" (change)="handleFileInput($event.target.files, 1)">
            <div *ngIf="!obj_file_upload.status">
              <div class="row">
                <img src="../../../assets/images/imgs/kstdya-img_files_logo.png" class="img-fluid mx-auto d-block" style="width: 20%; margin-top: 3rem;">
              </div>
              <div class="row" style="margin: 11px;">
                <div class="col-12 mb-1 mt-1">
                  <h4 class="m-0 text-center font_family_roboto" style="color: #1a85ff;">Cargue aqu&iacute; su firma</h4>
                </div>
                <div class="col-12 mb-1 mt-1">
                  <h6 class="m-0 text-center font_family_roboto" style="color: #d6d6d6;">Click &oacute; arrastra el archivo a est&aacute; zona</h6>
                </div>
                <div class="col-12 mb-1 mt-4">
                  <p class="m-0 text-center font_family_roboto" style="color: #d6d6d6;">La imagen debe ser formato .PNG</p>
                  <p class="m-0 text-center font_family_roboto" style="color: #d6d6d6;">La imagen debe pesar m&aacute;x 100kb</p>
                </div>
              </div>
            </div>

            <div *ngIf="obj_file_upload.status === 'progress'">
              <div class="row">
                <!-- <img src="../../../assets/images/imgs/kstdya-img_files_csv.png" style="width: 45%;margin: auto;margin-top: 70px;"> -->
                
                <div class="col-12 mb-3 mt-3 text-center" style="margin-top: 5rem !important;">
                  <i class="fas fa-file-image" style="font-size: 5rem; color: #545454; margin: auto;margin-top: 70px;"></i>
                </div>
                <div class="col-12 mb-3 mt-3">
                  <p class="m-0 text-center font_family_roboto" style="color: #d6d6d6;">La imagen debe pesar m&aacute;x 100kb</p>
                </div>
                <div class="col-12 mb-3 mt-2">
                  <h4 class="text-center font_family_roboto" [ngClass]="{'animated infinite fadeIn': state_file_clinic_history }">{{ (data_file?.historia_clinica?.data_file?.size < 1000 ) ? (data_file?.historia_clinica?.data_file?.size) + ' Bytes' : (data_file?.historia_clinica?.data_file?.size / 1000) + ' Kb'}}</h4>
                </div>
              </div>
              <div class="row" style="margin: 30px;">
                <div class="col-12 mb-1 mt-1">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentaje_status_bar">
                      {{ percentaje_status_bar }}% Completado
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="obj_file_upload.status === 'success'">
              <div class="row">
                <!-- <img src="../../../assets/images/imgs/kstdya-img_files_csv.png" style="width: 45%;margin: auto;margin-top: 70px;"> -->
                
                <div class="col-12 mb-3 mt-3 text-center" style="margin-top: 5rem !important;">
                  <i class="far fa-check-circle" style="font-size: 5rem; color: #2abd2c; margin: auto;margin-top: 30px;"></i>
                </div>
                <div class="col-12 mb-2 mt-2 text-center">
                  <i class="fas fa-file-image" style="font-size: 1.5rem; color: #2abd2c;"></i>&nbsp;
                  <h5 class="text-center d-inline-block font_family_roboto" [ngClass]="{'animated infinite fadeIn': state_file_clinic_history }">{{ data_file?.historia_clinica?.data_file?.name }}</h5>
                </div>
                <div class="col-12 mb-2 mt-2">
                  <h5 class="text-center font_family_roboto" [ngClass]="{'animated infinite fadeIn': state_file_clinic_history }">{{ (data_file?.historia_clinica?.data_file?.size < 1000 ) ? (data_file?.historia_clinica?.data_file?.size) + ' Bytes' : (data_file?.historia_clinica?.data_file?.size / 1000) + ' Kb'}}</h5>
                </div>
                <div class="col-12 mb-2 mt-2">
                  <h5 class="text-center font_family_roboto">Archivo cargado exitosamente</h5>
                </div>
              </div>
              <!-- <div class="row" style="margin: 30px;">
                <div class="col-12 mb-1 mt-1">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentaje_status_bar">
                      {{ percentaje_status_bar }}% Completado
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
            <div *ngIf="obj_file_upload.status === 'error'">
              <div class="row">
                <!-- <img src="../../../assets/images/imgs/kstdya-img_files_csv.png" style="width: 45%;margin: auto;margin-top: 70px;"> -->
                
                <div class="col-12 mb-3 mt-3 text-center" style="margin-top: 5rem !important;">
                  <i class="far fa-times-circle" style="font-size: 5rem; color: #c60d07; margin: auto;margin-top: 70px;"></i>
                </div>
                <!-- <div class="col-12 mb-2 mt-2 text-center">
                  <i class="fas fa-file-excel" style="font-size: 1.5rem; color: #c60d07;"></i>&nbsp;
                  <h4 class="text-center d-inline-block" [ngClass]="{'animated infinite fadeIn': state_file_clinic_history }">{{ data_file?.historia_clinica?.data_file?.name }}</h4>
                </div>
                <div class="col-12 mb-2 mt-2">
                  <h4 class="text-center" [ngClass]="{'animated infinite fadeIn': state_file_clinic_history }">{{ (data_file?.historia_clinica?.data_file?.size < 1000 ) ? (data_file?.historia_clinica?.data_file?.size) + ' Bytes' : (data_file?.historia_clinica?.data_file?.size / 1000) + ' Kb'}}</h4>
                </div> -->
                <div class="col-12 mb-3 mt-3">
                  <h5 class="text-center font_family_roboto" style="color: #c60d07;">Error al cargar archivos</h5>
                </div>
                <div class="col-12 mb-4 mt-4 text-center">
                  <p style="color: #c60d07;">El archivo no puede exceder los 100 mb y tiene que ser formato .png</p>
                </div>
              </div>
              <!-- <div class="row" style="margin: 30px;">
                <div class="col-12 mb-1 mt-1">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentaje_status_bar">
                      {{ percentaje_status_bar }}% Completado
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-1 mb-1 text-center">
          <button type="button" [disabled]="state_file_clinic_history" class="btn btn-light" style="box-shadow: 0px 3px 10px #b9bee0; cursor:pointer;" (click)="fnCLearForm()">
            <i class="fas fa-broom" style="font-size: 1.5rem; color: #000;"></i>&nbsp;
            <span style="color: #000;">Limpiar</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-12 col-lg-6 col-xl-6">
      <div class="row mt-5">
        <div class="col-12 mb-3 mt-3 text-center" *ngIf="image_profile_user">
          <img class="animated flipInX" [src]="image_profile_user" style="width: 34% !important;">
          <br>
          <h5 class="font_family_roboto mt-3">Previsualizaci&oacute;n de la firma</h5>
        </div>
        <div class="col-12 mb-3 mt-3 text-center" *ngIf="!image_profile_user">
          <i class="fas fa-folder-open" style="font-size: 13rem;" aria-hidden="true"></i>
          <br>
          <h5 class="font_family_roboto">No hay firmas cargadas</h5>
        </div>

      </div>
    </div>
    
  </div>

</div>