<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto kstdya-card_content" size="tiny">
        <nb-card-header class="font_family_roboto text-center" style="color: #1e90ff;font-weight: 500;">Editar descripci&oacute;n <i class="fas fa-times" (click)="fnCancelUpdateDescription()" style="position: absolute;right: 3rem;cursor: pointer;color: #d9dee4;"></i></nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnUpdateDescription(data_description)" #updateDescription="ngForm" aria-labelledby="title" style="width: 600px">
                <div class="col-12 pl-0 pr-0">
                  <div class="row justify-content-center">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputDescription">Descripci&oacute;n</label>
                        <input 
                          type="text" 
                          nbInput 
                          fullWidth 
                          [(ngModel)]="data_description.descripcionMovimientoPorDefecto" 
                          [ngModelOptions]="{standalone: true}" 
                          #inputDescription="ngModel" 
                          name="inputDescription"
                          [status]="inputDescription.dirty ? (inputDescription.invalid  ? 'danger' : 'basic') : ''" 
                          [required]="required"
                          [attr.aria-invalid]="inputDescription.invalid && inputDescription.touched ? true : null"
                          id="inputDescription" 
                          class="form-control kstdya-input_focus"
                          placeholder="Digite la descripci&oacute;n">
                        <ng-container *ngIf="inputDescription.invalid && inputDescription.touched">
                          <p class="prtkt-error_text" *ngIf="inputDescription.errors?.required">
                            La descripci&oacute;n es requerida!
                          </p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputReference">Referencia </label>                                         
                        <input 
                          type="text" 
                          nbInput 
                          fullWidth 
                          [(ngModel)]="data_description.referenciaMovimientoPorDefecto" 
                          [ngModelOptions]="{standalone: true}" 
                          #inputReference="ngModel" 
                          name="inputReference"
                          [status]="inputReference.dirty ? (inputReference.invalid  ? 'danger' : 'basic') : ''" 
                          [required]="required"
                          [attr.aria-invalid]="inputReference.invalid && inputReference.touched ? true : null"
                          id="inputReference"
                          class="form-control kstdya-input_focus"
                          placeholder="Digite la referencia">
                        <ng-container *ngIf="inputReference.invalid && inputReference.touched">
                          <p class="prtkt-error_text" *ngIf="inputReference.errors?.required">
                            La referencia es requerida!
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col text-center pl-0 pr-0 mt-4">
                  <button 
                    type="submit" 
                    class="kstdya-pointer btn btn-primary kstdya-btn_success font_family_roboto" 
                    id="kstdya-btn_save_update_description" 
                    nbButton 
                    [disabled]="
                      !data_description.descripcionMovimientoPorDefecto ||
                      !data_description.referenciaMovimientoPorDefecto || submitted"
                    [class.btn-pulse]="submitted"
                    status="info">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
  