@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  button:focus {
    outline: 0;
    cursor: pointer;
  }
  
  .title {
    text-align: center;
  }

  .font_family_roboto {
    font-family: 'Roboto';
  }

  .font_family_exo {
    font-family: 'exo';
  }
  
  .kstdy-backgroud_layout {
    background-color: #FFF;
  }

  .kstdy-pointer {
    cursor: pointer;
  }

  .kstdy-modal_header {
    border-bottom: 1px solid #ccc;
  }

  .kstdy-card_content {
    background-color: #FFF;
    border-radius: 5px;
  }

  ::ng-deep nb-dialog-container {
    height: 80vw;
    max-width: 95vw;
    max-height: 81vh;
  }

  .kstdy-title_item_list {
    display: inline-block;
  }

  ::ng-deep nb-card-header {
    display: block !important;
  }

  #kstdy-btn_delete_accounting_audit_detail{
    text-transform: none;
    background-color: #1e90ff;
  }
  
  #kstdy-btn_cancel_delete_accounting_audit_detail{
    text-transform: none;
    background-color: #828282;
  }

  /* ********** START - Media query resolution screen width devices ********** */
  /* Very very small devices (landscape phones,from 319px to 321px) */
  @media (min-width: 319.98px) and (max-width: 321px) {

  }
  /* Very very small devices (landscape phones,from 319px to 321px) */
  @media (min-width: 322px) and (max-width: 400px) {
      
  }
  /* Very very small devices (landscape phones,from 319px to 321px) */
  @media (min-width: 400px) and (max-width: 500px) {

  }
  /* Extra small devices (portrait phones, less than 576px) */
  @media (min-width: 570px) and (max-width: 575.98px) {
      
  }
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .content-iframe {
      width: 500px; 
      // height: 50vh;

      .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      }
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .content-iframe {
      width: 700px; 
      // height: 50vh;
    }

    .container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
      .content-iframe {
          width: 800px; 
          // height: 60vh;
      }

      .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      }
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) and (max-width: 1299.98px) {
      .content-iframe {
          width: 1000px; 
          // height: 70vh;
      }

      .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 42.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      }
  }
  /* Extra large devices (large desktops, 1300px and up) */
  @media (min-width: 1300px) and (max-width: 1399.98px) {
      .content-iframe {
          width: 1200px; 
          // height: 85vh;
      }

      .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 46.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      }
  }
  /* Extra large devices (large desktops, 1300px and up) */
  @media (min-width: 1400px) and (max-width: 1499.98px) {
      .content-iframe {
          width: 1200px; 
          // height: 85vh;
      }

      .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 50.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      }
  }
  @media (min-width: 1500px) {
      .content-iframe {
          width: 1200px; 
          // height: 85vh;
      }

      .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 54.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      }
  }

  /* *********** END - Media query resolution screen width devices *********** */

}
