<div class="">
  <div class="row">
    <div class="col-12">
      <div class="font_family_roboto kstdy-card_content">
        <div class="kstdy-modal_header pt-3 pb-2">
          <h6 class="font_family_roboto text-center">Previsualizaci&oacute;n depuraci&oacute;n contable</h6>
          <i id="button-close-modal-pdf-accounting-audit" class="fas fa-times" (click)="fnClosePreviewAccountingAuditDetail()" style="position: absolute; right: 2rem; top: 1rem; cursor: pointer;"></i>
        </div>
        <div class="p-3">
          <div class="content-iframe">
            <div class="container">
              <iframe class="responsive-iframe"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>