<div class="col-12" *ngIf="true" [nbSpinner]="loading_state" nbSpinnerSize="small" nbSpinnerStatus="info" nbSpinnerMessage="Cargando...">
  
  <div id="kstdy-head_rethus_individual_query" class="col-12 m-0 p-0">
    <div class="row">
      <div class="col-12">
        <h3 class="m-0 text-center" style="color: #353535; font-family: Roboto;">Consulta el <span style="font-weight: 900;">M&eacute;dico</span></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-0">
        <div class="mb-3 mt-3" style="font-size: 1.1rem; color: #8D9194;">
          Este formulario permite consultar individualmente informaci&oacute;n en e-ReTHUS, el resultado de la 
          consulta permite conocer si el n&uacute;mero de identificaci&oacute;n ingresado se encuentra en el Registro 
          &Uacute;nico Nacional del Talento Humano en Salud.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid">
        <div>
          <form #f="ngForm" (ngSubmit)="fnSendFormFindDoctor()" novalidate style="width: 100%;">
            <div class="row">
              <div class="col col-lg-3 col-md-12 col-sm-12 mb-3 mt-3 pl-0">
                <label class="label" for="documentType" [ngClass]="{ 'prtkt-error_label': true }">
                  Tipo de identificaci&oacute;n 
                  <span [ngClass]="{ 'prtkt-error_label': true }">*</span>
                </label>
                <ng-select 
                  [items]="collection_document_types" 
                  bindLabel="tDescription" 
                  bindValue="iIDIdentificationType"
                  id="documentType" 
                  name="documentType"
                  #documentType="ngModel" 
                  placeholder="Seleccione tipo de documento" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="data_search.document_type" 
                  (change)="data_search.first_name = ''; data_search.last_name = ''"
                  required 
                  [disabled]="false" 
                  [clearable]="false" 
                  [virtualScroll]="true" 
                  dropdownPosition="bottom"
                  class="col-12 p-0 m-0">
              </ng-select>
              </div>
              <div class="col col-lg-3 col-md-12 col-sm-12 mb-3 mt-3">
                <label class="label" for="data_document_number" [ngClass]="{ 'prtkt-error_label': true }">
                  N&uacute;mero de identificaci&oacute;n 
                  <span [ngClass]="{ 'prtkt-error_label': true }">*</span>
                </label>
                <input nbInput
                  fullWidth
                  autofocus
                  placeholder="Ingrese número de documento"
                  id="data_document_number"  
                  name="data_document_number" 
                  (input)="data_search.first_name = ''; data_search.last_name = ''"
                  [(ngModel)]="data_search.document_number" 
                  [ngModelOptions]="{standalone: true}"
                  [status]="'basic'"
                  #data_document_number="ngModel">
              </div>
              <div class="col col-lg-3 col-md-12 col-sm-12 mb-3 mt-3">
                <label class="label" for="first_name" [ngClass]="{ 'prtkt-error_label': true }">
                  Primer nombre 
                  <span [ngClass]="{ 'prtkt-error_label': true }">*</span>
                </label>
                <input nbInput
                  fullWidth
                  autofocus
                  placeholder="Ingrese nombre"
                  id="first_name"  
                  name="first_name" 
                  (input)="data_search.document_type = null; data_search.document_number = ''"
                  [(ngModel)]="data_search.first_name" 
                  [ngModelOptions]="{standalone: true}"
                  [status]="'basic'"
                  #first_name="ngModel">
              </div>
              <div class="col col-lg-3 col-md-12 col-sm-12 mb-3 mt-3">
                <label class="label" for="last_name" [ngClass]="{ 'prtkt-error_label': true }">
                  Primer apellido 
                  <span [ngClass]="{ 'prtkt-error_label': true }">*</span>
                </label>
                <input nbInput
                  fullWidth
                  autofocus
                  placeholder="Ingrese apellido"
                  id="last_name"  
                  name="last_name" 
                  (input)="data_search.document_type = null; data_search.document_number = ''"
                  [(ngModel)]="data_search.last_name" 
                  [ngModelOptions]="{standalone: true}"
                  [status]="'basic'"
                  #last_name="ngModel">
              </div>
              <div class="col col-md-6 col-sm-6 mb-3 mt-3 text-right pr-0">
                <button nbButton 
                  fullWidth 
                  type="submit"  
                  id="button-search-user-rethus" 
                  (click)="fnSetAuditUser()"
                  class="kstdy-button_signin font_family_roboto pgp-pointer" 
                  style="width: 230px; margin: 0px 0px; font-size: 12px; cursor: pointer; font-family: 'Roboto'; text-transform: none; background-color: #1B86FF;"
                  [disabled]="
                    ((data_search.document_type == null || data_search.document_type == '') && 
                    (data_search.document_number == null || data_search.document_number == '') && 
                    (data_search.first_name == null || data_search.first_name == '') && 
                    (data_search.last_name == null || data_search.last_name == '')) || 
                    ((data_search.document_type != null && data_search.document_number == '') || 
                    (data_search.document_type == null && data_search.document_number != '') || 
                    (data_search.first_name != '' && data_search.last_name == '') ||
                    (data_search.first_name == '' && data_search.last_name != ''))" 
                  [class.btn-pulse]="false">
                  Verificar Registro en e-ReTHUS
                </button>
              </div>
              <div class="col col-md-6 col-sm-6 mb-3 mt-3 text-left pr-0">
                <button nbButton 
                  fullWidth 
                  type="button"  
                  id="button-clear-form-rethus"
                  class="kstdy-button_signin font_family_roboto pgp-pointer" 
                  style="width: 87px; margin: 0px 0px; font-size: 12px; cursor: pointer; font-family: 'Roboto'; text-transform: none; background-color: #1B86FF;"
                  [disabled]="false" 
                  (click)="fnClearFormSerchRethus()"
                  [class.btn-pulse]="false">
                  Limpiar
                </button>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mb-4" *ngIf="list_doctors.length > 0" style="border: 1px solid #f4f4f4; border-radius: 10px; padding: 20px;">
    <div class="row mb-4 mt-3">
      <div class="col-12">
        <h4 class="m-0 text-center" style="color: #353535; font-family: Roboto;">Listado de m&eacute;dicos</h4>
        <i class="fas fa-arrow-down" (click)="(!show_list_doctors)? show_list_doctors = true : show_list_doctors = false" [ngClass]="{'fa-arrow-down': !show_list_doctors, 'fa-arrow-up': show_list_doctors }" style="color: #1a85ff; position: absolute; top: 5px; right: 20px; font-size: 20px; cursor: pointer;"></i>
      </div>
    </div>
    <div class="row" *ngIf="show_list_doctors" >
      <div class="col-12">
        <div class="row" style="background-color: #edf6ff; padding: 10px 0px; border-radius: 5px;">
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Tipo Identificaci&oacute;n</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">N&uacute;mero</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Primer Nombre</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Segundo Nombre</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Primer Apellido</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Segundo Apellido</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000" *ngIf="false">Estado Identificaci&oacute;n</div>
            <div class="col-1 text-center p-0" style="font-weight: bold; color: #000">Informaci&oacute;n detallada</div>
        </div>

        <div *ngFor="let data_doctor of list_doctors; let ind = index;">
          <div class="row" style="background-color: #f4f4f4; padding: 10px 0px; border-radius: 5px; margin-top: 15px;" [ngStyle]="{'background-color: #C8C8C8': data_doctor?.selected == true }">
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ data_doctor?.tipoIdentificacion }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ data_doctor?.numeroIdentificacion }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ data_doctor?.primerNombre }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ data_doctor?.segundoNombre }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ data_doctor?.primerApellido }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ data_doctor?.segundoApellido }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;" *ngIf="false">
                  <span style="color: #535353;">{{ (data_doctor?.registradoEnRethus) ? 'Activo' : 'Inactivo' }}</span>
              </div>
              <div class="col-1 text-center p-0" style="margin: 10px 0px;">
                <span class="badge badge-pill badge-primary" style="cursor: pointer;" (click)="fnShowInfoDoctor(data_doctor, ind)">Ver</span>
              </div>
              <!-- <div class="col text-center p-0" style="margin: 10px 0px;">
                  <i class="fas " style="color: #535353;" (click)="fnShowReport(doctor_details);" [ngClass]="{'fa-sync': (doctor_details.Estado == 'Cargado'), 'fa-check text-success': (doctor_details.Estado == 'Terminado'), 'fa-times-circle': (doctor_details.Estado == 'Fallido')}"></i>&nbsp;
                  <span style="color: #535353;" (click)="fnShowReport(doctor_details);">{{ doctor_details?.AutorizadoParaEjercerHasta | date: 'mediumDate'}}</span>
              </div> -->
          </div>
        </div>

        <div class="row" *ngIf="search_data_load">
          <div class="col-12">
            <div style="width: 100%; font-size: 3rem; color: #535353; margin-top:50px;" class="text-center">
              <i class="fas fa-sync fa-spin" style="color: #a4abb3;"></i>
              <h5 class="text-center" style="color: #a4abb3;">Buscando...</h5>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div *ngIf="data_doctor_info?.tipoIdentificacion && data_doctor_info?.numeroIdentificacion && data_doctor_info?.primerNombre">
    <div class="row">
      <div class="col-12">
        <div class="row" style="background-color: #edf6ff; padding: 10px 0px; border-radius: 5px;">
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Tipo Identificaci&oacute;n</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">N&uacute;mero</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Primer Nombre</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Segundo Nombre</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Primer Apellido</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Segundo Apellido</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000" *ngIf="false">Estado Identificaci&oacute;n</div>
        </div>

        <div *ngIf="data_doctor_info">
          <div class="row" style="background-color: #f4f4f4; padding: 10px 0px; border-radius: 5px; margin-top: 15px;">
              <!-- <div class="col-4 text-left p-0 text-truncate" style="margin: 10px 0px;">
                  &nbsp;&nbsp;&nbsp;<i class="fas fa-caret-right"></i>&nbsp;
                  <span (click)="fnShowReport(doctor_details);" [ngClass]="{'kstdy-item_success': (doctor_details.Estado == 'Terminado')}" data-toggle="tooltip" data-placement="top" title="{{ doctor_details.id}}" style="width: 50px; color: #535353;">{{ doctor_details.id}}</span>
              </div> -->
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ data_doctor_info?.tipoIdentificacion }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ data_doctor_info?.numeroIdentificacion }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ data_doctor_info?.primerNombre }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ data_doctor_info?.segundoNombre }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ data_doctor_info?.primerApellido }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ data_doctor_info?.segundoApellido }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;" *ngIf="false">
                  <span style="color: #535353;">{{ (data_doctor_info?.registradoEnRethus) ? 'Activo' : 'Inactivo' }}</span>
              </div>
              <!-- <div class="col text-center p-0" style="margin: 10px 0px;">
                  <i class="fas " style="color: #535353;" (click)="fnShowReport(doctor_details);" [ngClass]="{'fa-sync': (doctor_details.Estado == 'Cargado'), 'fa-check text-success': (doctor_details.Estado == 'Terminado'), 'fa-times-circle': (doctor_details.Estado == 'Fallido')}"></i>&nbsp;
                  <span style="color: #535353;" (click)="fnShowReport(doctor_details);">{{ doctor_details?.AutorizadoParaEjercerHasta | date: 'mediumDate'}}</span>
              </div> -->
          </div>
        </div>

        <div class="row" *ngIf="search_data_load">
          <div class="col-12">
            <div style="width: 100%; font-size: 3rem; color: #535353; margin-top:50px;" class="text-center">
              <i class="fas fa-sync fa-spin" style="color: #a4abb3;"></i>
              <h5 class="text-center" style="color: #a4abb3;">Buscando...</h5>
            </div>
          </div>
        </div>
        <!-- <div class="row" *ngIf="state_search && (data_search.document_type != null && data_search.document_type != '') && 
        (data_search.document_number != null && data_search.document_number != '')">
          <div class="col-12">
            <div style="width: 100%; font-size: 3rem; color: #535353; margin-top:50px;" class="text-center">
              <i class="fas fa-times-circle" style="color: #a4abb3;"></i>
              <h5 class="text-center" style="color: #a4abb3;">No se encontraron registros.</h5>
            </div>
          </div>
        </div> -->
      </div>
      
    </div>

    <hr class="mt-5 mb-5" *ngIf="data_doctor_sanctions?.length > 0">

    <div class="row" *ngIf="data_doctor_sanctions?.length > 0">
      <div class="col">
        <h4 style="color: #ff2525;">
          Informaci&oacute;n de sanciones&nbsp;
          <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
        </h4>
      </div>
      <div class="col-12">
        <div class="row" style="background-color: #ffcdcd; padding: 10px 0px; border-radius: 5px;">
            <div class="col-3 text-center p-0" style="font-weight: bold; color: #000">Instancia fallo</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Cod. tipo saci&oacute;n</div>
            <!-- <div class="col text-center p-0" style="font-weight: bold; color: #000">Tipo sanci&oacute;n</div> -->
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Fecha ejecutoria</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Fecha inicio</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Fecha fin</div>
        </div>

        <div>
          <div class="row" style="background-color: #f4f4f4; padding: 10px 0px; border-radius: 5px; margin-top: 15px;" *ngFor="let item_sanction of data_doctor_sanctions">
              <!-- <div class="col-4 text-left p-0 text-truncate" style="margin: 10px 0px;">
                  &nbsp;&nbsp;&nbsp;<i class="fas fa-caret-right"></i>&nbsp;
                  <span (click)="fnShowReport(doctor_details);" [ngClass]="{'kstdy-item_success': (doctor_details.Estado == 'Terminado')}" data-toggle="tooltip" data-placement="top" title="{{ doctor_details.id}}" style="width: 50px; color: #535353;">{{ doctor_details.id}}</span>
              </div> -->
              <div class="col-3 text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sanction?.instanciaEmiteFallo }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sanction?.codigoTipoSancion }}</span>
              </div>
              <!-- <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sanction?.CodigoTipoSancion }}</span>
              </div> -->
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sanction?.fechaEjecucion | date:'d/MM/yyyy' }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sanction?.fechaInicio | date:'d/MM/yyyy' }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sanction?.fechaFin | date:'d/MM/yyyy' }}</span>
              </div>
              <!-- <div class="col text-center p-0" style="margin: 10px 0px;">
                  <i class="fas " style="color: #535353;" (click)="fnShowReport(doctor_details);" [ngClass]="{'fa-sync': (doctor_details.Estado == 'Cargado'), 'fa-check text-success': (doctor_details.Estado == 'Terminado'), 'fa-times-circle': (doctor_details.Estado == 'Fallido')}"></i>&nbsp;
                  <span style="color: #535353;" (click)="fnShowReport(doctor_details);">{{ doctor_details?.AutorizadoParaEjercerHasta | date: 'mediumDate'}}</span>
              </div> -->
          </div>
        </div>

        <div class="row" *ngIf="search_data_load">
          <div class="col-12">
            <div style="width: 100%; font-size: 3rem; color: #535353; margin-top:50px;" class="text-center">
              <i class="fas fa-sync fa-spin" style="color: #a4abb3;"></i>
              <h5 class="text-center" style="color: #a4abb3;">Buscando...</h5>
            </div>
          </div>
        </div>
        <!-- <div class="row" *ngIf="state_search && (data_search.document_type != null && data_search.document_type != '') && 
        (data_search.document_number != null && data_search.document_number != '')">
          <div class="col-12">
            <div style="width: 100%; font-size: 3rem; color: #535353; margin-top:50px;" class="text-center">
              <i class="fas fa-times-circle" style="color: #a4abb3;"></i>
              <h5 class="text-center" style="color: #a4abb3;">No se encontraron registros.</h5>
            </div>
          </div>
        </div> -->
      </div>
      
    </div>
    <!-- <div class="row" *ngIf="data_doctor_sanctions?.length < 1">
      <div class="col-12">
        <div style="width: 100%; font-size: 3rem; color: #535353; margin-top:50px;" class="text-center">
          <i class="fas fa-times-circle" style="color: #a4abb3;"></i>
          <h5 class="text-center" style="color: #a4abb3;">No se encontrar&oacute;n sanciones para el usuario consultado.</h5>
        </div>
      </div>
    </div> -->
    
    <hr class="mt-5 mb-5" *ngIf="data_doctor_details?.length > 0">
    <div class="row" *ngIf="data_doctor_details?.length > 0">
      <div class="col">
        <h4 style="color: #1B86FF;">
          Informaci&oacute;n Acad&eacute;mica&nbsp;
          <i class="fas fa-graduation-cap"></i>
        </h4>
      </div>
      <div class="col-12">
        <div class="row" style="background-color: #edf6ff; padding: 10px 0px; border-radius: 5px;">
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Tipo de programa</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Origen titulo</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Profesi&oacute;n</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Inicio acto administrativo</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Acto administrativo</div>
            <div class="col-4 text-center p-0" style="font-weight: bold; color: #000">Entidad reportadora</div>
        </div>

        <div>
          <div class="row" style="background-color: #f4f4f4; padding: 10px 0px; border-radius: 5px; margin-top: 15px;" *ngFor="let item_sanction of data_doctor_details">
              <!-- <div class="col-4 text-left p-0 text-truncate" style="margin: 10px 0px;">
                  &nbsp;&nbsp;&nbsp;<i class="fas fa-caret-right"></i>&nbsp;
                  <span (click)="fnShowReport(doctor_details);" [ngClass]="{'kstdy-item_success': (doctor_details.Estado == 'Terminado')}" data-toggle="tooltip" data-placement="top" title="{{ doctor_details.id}}" style="width: 50px; color: #535353;">{{ doctor_details.id}}</span>
              </div> -->
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sanction?.tipoProgramaOrigen }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sanction?.tituloObtenido }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sanction?.ocupacion }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sanction?.autorizadoParaEjercerHasta | date:'d/MM/yyyy' }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sanction?.actoAdministrativo }}</span>
              </div>
              <div class="col-4 text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sanction?.entidadQueReporta }}</span>
              </div>
              <!-- <div class="col text-center p-0" style="margin: 10px 0px;">
                  <i class="fas " style="color: #535353;" (click)="fnShowReport(doctor_details);" [ngClass]="{'fa-sync': (doctor_details.Estado == 'Cargado'), 'fa-check text-success': (doctor_details.Estado == 'Terminado'), 'fa-times-circle': (doctor_details.Estado == 'Fallido')}"></i>&nbsp;
                  <span style="color: #535353;" (click)="fnShowReport(doctor_details);">{{ doctor_details?.AutorizadoParaEjercerHasta | date: 'mediumDate'}}</span>
              </div> -->
          </div>
        </div>

        <div class="row" *ngIf="search_data_load">
          <div class="col-12">
            <div style="width: 100%; font-size: 3rem; color: #535353; margin-top:50px;" class="text-center">
              <i class="fas fa-sync fa-spin" style="color: #a4abb3;"></i>
              <h5 class="text-center" style="color: #a4abb3;">Buscando...</h5>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
    <!-- <div class="row" *ngIf="data_doctor_details?.length < 1">
      <div class="col-12">
        <div style="width: 100%; font-size: 3rem; color: #535353; margin-top:50px;" class="text-center">
          <i class="fas fa-times-circle" style="color: #a4abb3;"></i>
          <h5 class="text-center" style="color: #a4abb3;">No se encontro inforamci&oacute;n academica para el usuario consultado.</h5>
        </div>
      </div>
    </div> -->

    <hr class="mt-5 mb-5" *ngIf="data_doctor_sso?.length > 0">
    <div class="row" *ngIf="data_doctor_sso?.length > 0">
      <div class="col">
        <h4 style="color: #1B86FF;">
          Datos SSO&nbsp;
          <i class="fas fa-university"></i>
        </h4>
      </div>
      <div class="col-12">
        <div class="row" style="background-color: #edf6ff; padding: 10px 0px; border-radius: 5px;">
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Tipo prestaci&oacute;n</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Tipo lugar</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Lugar prestaci&oacute;n</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Fecha inicio</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Fecha fin</div>
            <div class="col-2 text-center p-0" style="font-weight: bold; color: #000">Modalidad prestaci&oacute;n</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Programa prestaci&oacute;n</div>
            <div class="col text-center p-0" style="font-weight: bold; color: #000">Entidad reportadora</div>
        </div>

        <div>
          <div class="row" style="background-color: #f4f4f4; padding: 10px 0px; border-radius: 5px; margin-top: 15px;" *ngFor="let item_sso of data_doctor_sso">
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sso?.tipoPrestacion }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sso?.tipoLugarPrestacion }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sso?.lugarPresentacion }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sso?.fechaInicio }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sso?.fechaFin }}</span>
              </div>
              <div class="col-2 text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sso?.modalidadPrestacion }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sso?.programaPrestacion }}</span>
              </div>
              <div class="col text-center p-0" style="margin: 10px 0px;">
                  <span style="color: #535353;">{{ item_sso?.entidadReportadora }}</span>
              </div>
          </div>
        </div>

        <div class="row" *ngIf="search_data_load">
          <div class="col-12">
            <div style="width: 100%; font-size: 3rem; color: #535353; margin-top:50px;" class="text-center">
              <i class="fas fa-sync fa-spin" style="color: #a4abb3;"></i>
              <h5 class="text-center" style="color: #a4abb3;">Buscando...</h5>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
    <!-- <div class="row" *ngIf="data_doctor_sanctions?.length < 1">
      <div class="col-12">
        <div style="width: 100%; font-size: 3rem; color: #535353; margin-top:50px;" class="text-center">
          <i class="fas fa-times-circle" style="color: #a4abb3;"></i>
          <h5 class="text-center" style="color: #a4abb3;">No se encontrar&oacute;n datos SSO para el usuario consultado.</h5>
        </div>
      </div>
    </div> -->
  </div>

  <div *ngIf="error_response?.status === true" class="mt-3 mb-4">
    <div class="text-center">
      <i class="{{ error_response?.icon }} fa-5x mb-3"></i>
      <h6 style="color:#A7ABB3;">{{ error_response?.message }}</h6>
      <small style="color:#A7ABB3;">{{ error_response?.description }}</small>
    </div>
  </div>

</div>
