::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 40px;
}

::ng-deep .nb-theme-default [nbInput]:focus {
    outline: none;
    background-color: #ffffff !important;
    border-color: #007eff !important;
}

#kstdy-head_rethus_individual_query {
    
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto' !important;
}