<div class="col-12 mt-4" *ngIf="true">
  <div class="row">
    <div class="col-12">
      <h4 class="m-0 text-center kstdy-title_page">Datos adicionales</h4>
    </div>
    <div class="col">
      <div class="text-center mt-3 mb-3">
        <button  class="btn" style="color: #1e90ff; text-transform: none;" (click)="showModalAddEntityDataOtherInfo(dataEntityTab)">
          <i class="fa fa-plus fa-lg"></i>&nbsp;
          A&ntilde;adir nuevo
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="data_entity?.otros?.length > 0">
      <div class="col-12" *ngFor="let info_entity of data_entity?.otros; let ind = index;">
        <div class="row p-3" style="background-color: #eff7ff; border-radius: 8px; border: none; margin: 5px; cursor: pointer;" (click)="show_table = ind">
          <div class="col-1">
            <i class="fa fa-edit fa-lg" style="color: #1e90ff; cursor: pointer;" (click)="showModalEditEntityDataOtherInfo(ind, info_entity, dataEntityTab)"></i>
          </div>
          <div class="col-10 text-center">
            <h5 class="m-0 text-center kstdy-title_page">{{ info_entity.categoria }}</h5>
          </div>
          <div class="col-1">
            <i class="fa fa-trash fa-lg" style="color: #1e90ff; cursor: pointer;" (click)="showModalDeleteEntityDataOtherInfo(ind, info_entity, dataEntityTab)"></i>
          </div>
        </div>
        <div class="row m-3" *ngIf="show_table == ind" >
          <div class="col">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Nota</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ info_entity.nombre }}</td>
                  <td>{{ info_entity.valor }}</td>
                  <td>{{ info_entity.descripcion }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  <div class="row" *ngIf="data_entity?.otros?.length < 1">
    <div class="col text-center mt-5">
      <i class="far fa-folder-open fa-7x"></i>
      <h4 style="color:#A7ABB3;">No hay informaci&oacute;n adicional</h4>
    </div>
  </div>

</div>