<div class="col-12" *ngIf="true">
  <!-- <div class="row">
    <div class="col-12">
      <h2 class="m-0 text-center" style="color: #1a85ff;">Cargar Informaci&oacute;n M&eacute;dicos</h2>
    </div>
  </div> -->
  <div class="row">
    <div class="col-12">
      <div class="mb-3 mt-3" style="font-size: 1.1rem;">
        Este formulario permite la carga de informaci&oacute;n para consulta masiva en ReTHUS, 
        el resultado de la consulta permite conocer si un profesional de la salud est&aacute; registrado en el 
        Sistema Integral de Informaci&oacute;n de la Protecci&oacute;n Social.
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4><strong>Requisitos del Archivo</strong></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-12 col-lg-12 col-xl-6">
      <div class="row">
        <div class="col-12 mb-3 mt-3">
          <i class="fas fa-circle" style="font-size: 0.5rem; color: #000;"></i>&nbsp; 
          <span style="color: #8c8c8c;">La primera fila debe contener el tipo de documento de cada ID, las opciones son las siguientes:</span>
        </div>
        <div class="col-12 mb-1 mt-1">
          <ul style="color: #a7abad;">
            <li><span><span style="font-weight: 900; font-size: 17px;">1</span>. C&eacute;dula de Ciudadan&iacute;a</span></li>
            <li><span><span style="font-weight: 900; font-size: 17px;">2</span>. C&eacute;dula de Extranjer&iacute;a</span></li>
            <li><span><span style="font-weight: 900; font-size: 17px;">3</span>. CN Certificado de Nacido Vivo</span></li>
            <li><span><span style="font-weight: 900; font-size: 17px;">4</span>. NIT</span></li>
            <li><span><span style="font-weight: 900; font-size: 17px;">5</span>. Pasaporte</span></li>
            <li><span><span style="font-weight: 900; font-size: 17px;">6</span>. PE Permiso Especial de Permanencia</span></li>
            <li><span><span style="font-weight: 900; font-size: 17px;">7</span>. Registro Civil</span></li>
            <li><span><span style="font-weight: 900; font-size: 17px;">8</span>. Tarjeta de Identidad</span></li>
          </ul>
        </div>
        <div class="col-12 mb-3 mt-3">
          <i class="fas fa-circle" style="font-size: 0.5rem; color: #000;"></i>&nbsp; 
          <span style="color: #8c8c8c;">Cada registro debe tener como m&iacute;nimo un tipo de identificación y un número de documento.</span>
        </div>
        <div class="col-12 mb-3 mt-3">
          <i class="fas fa-circle" style="font-size: 0.5rem; color: #000;"></i>&nbsp; 
          <span style="color: #8c8c8c;">El tamaño m&aacute;ximo del archivo es de 50 registros.</span>
        </div>
        <div class="col-12 mb-3 mt-3">
          <i class="fas fa-file-excel" style="font-size: 1.5rem; color: #2abd2c;"></i>&nbsp; 
          <span><a href="../../../../docs/ejemplo.csv" download="ejemplo.csv" target="_blank" style="color: #2311eb;">Descargue aqu&iacute; el archivo ejemplo.</a></span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3 mt-3">
          <h4><strong>Resultados de Consulta</strong></h4>
        </div>
        <div class="col-12 mb-1 mt-1">
          <span style="color: #8c8c8c;">Los resultados de la consulta masiva serán publicados cada hora en la sección:</span>
        </div>
        <div class="col-12 mb-1 mt-1">
          <span style="color: #8c8c8c;">
            <strong>e-ReTHUS /Reportes</strong>
          </span>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-12 col-lg-12 col-xl-6">
      <div class="row" style="justify-content: center;">
        <div class="col-10 mb-3 mt-3" style="min-height: 35vh; border-radius: 15px;box-shadow: 0px 8px 10px #C0EFFF;">
          <!-- <div class="m-3" style="border: dashed 3px #1a85ff;height: 50vh;border-radius: 15px;"> -->
          <div class="m-0" [ngClass]="{'kstdy-border_dash': obj_file_upload.status == null }" (click)="fnUploadFile('file_input_clinic_history');">
            <input [(ngModel)]="file_input_clinic_history" [ngModelOptions]="{standalone: true}" type="file" accept=".csv, text/csv" style="display: none;" id="file_input_clinic_history" (change)="handleFileInput($event.target.files, 1)">
            <div *ngIf="!obj_file_upload.status">
              <div class="row">
                <img src="../../../assets/images/imgs/kstdya-img_files_csv.png" style="width: 45%;margin: auto;margin-top: 24px;">
              </div>
              <div class="row" style="margin: 33px;">
                <div class="col-12 mb-1 mt-1">
                  <h4 class="m-0 text-center" style="color: #1a85ff;">Cargar archivo</h4>
                </div>
                <div class="col-12 mb-1 mt-1">
                  <h6 class="m-0 text-center" style="color: #1a85ff;">Click o arrastra el documento a est&aacute; zona</h6>
                </div>
              </div>
            </div>

            <div *ngIf="obj_file_upload.status === 'progress'">
              <div class="row">
                <!-- <img src="../../../assets/images/imgs/kstdya-img_files_csv.png" style="width: 45%;margin: auto;margin-top: 70px;"> -->
                
                <div class="col-12 mb-3 mt-3 text-center">
                  <i class="fas fa-file-excel" style="font-size: 5rem; color: #2abd2c; margin: auto;margin-top: 70px;"></i>
                </div>
                <div class="col-12 mb-3 mt-3">
                  <h4 class="text-center" [ngClass]="{'animated infinite fadeIn': state_file_clinic_history }">{{ data_file?.historia_clinica?.data_file?.name }}</h4>
                </div>
                <div class="col-12 mb-3 mt-2">
                  <h4 class="text-center" [ngClass]="{'animated infinite fadeIn': state_file_clinic_history }">{{ (data_file?.historia_clinica?.data_file?.size < 1000 ) ? (data_file?.historia_clinica?.data_file?.size) + ' Bytes' : (data_file?.historia_clinica?.data_file?.size / 1000) + ' Kb'}}</h4>
                </div>
              </div>
              <div class="row" style="margin: 30px;">
                <div class="col-12 mb-1 mt-1">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentaje_status_bar">
                      {{ percentaje_status_bar }}% Completado
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="obj_file_upload.status === 'success'">
              <div class="row">
                <!-- <img src="../../../assets/images/imgs/kstdya-img_files_csv.png" style="width: 45%;margin: auto;margin-top: 70px;"> -->
                
                <div class="col-12 mb-3 mt-3 text-center">
                  <i class="far fa-check-circle" style="font-size: 5rem; color: #2abd2c; margin: auto;margin-top: 30px;"></i>
                </div>
                <div class="col-12 mb-2 mt-2 text-center">
                  <i class="fas fa-file-excel" style="font-size: 1.5rem; color: #2abd2c;"></i>&nbsp;
                  <h5 class="text-center d-inline-block" [ngClass]="{'animated infinite fadeIn': state_file_clinic_history }">{{ data_file?.historia_clinica?.data_file?.name }}</h5>
                </div>
                <div class="col-12 mb-2 mt-2">
                  <h5 class="text-center" [ngClass]="{'animated infinite fadeIn': state_file_clinic_history }">{{ (data_file?.historia_clinica?.data_file?.size < 1000 ) ? (data_file?.historia_clinica?.data_file?.size) + ' Bytes' : (data_file?.historia_clinica?.data_file?.size / 1000) + ' Kb'}}</h5>
                </div>
                <div class="col-12 mb-2 mt-2">
                  <h5 class="text-center">Archivo cargado</h5>
                </div>
                <div class="col-12 mb-3 mt-3 text-center">
                  <!-- <p>Se enviar&aacute; correo de confirmaci&oacute;n cuando la informaci&oacute;n est&eacute; publicada en Rethus.</p> -->
                  <p>El archivo ha sido cargado exitosamente, Ahora será direccionado a la consulta de estados</p>
                </div>
              </div>
              <!-- <div class="row" style="margin: 30px;">
                <div class="col-12 mb-1 mt-1">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentaje_status_bar">
                      {{ percentaje_status_bar }}% Completado
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
            <div *ngIf="obj_file_upload.status === 'error'">
              <div class="row">
                <!-- <img src="../../../assets/images/imgs/kstdya-img_files_csv.png" style="width: 45%;margin: auto;margin-top: 70px;"> -->
                
                <div class="col-12 mb-3 mt-3 text-center">
                  <i class="far fa-times-circle" style="font-size: 5rem; color: #c60d07; margin: auto;margin-top: 70px;"></i>
                </div>
                <!-- <div class="col-12 mb-2 mt-2 text-center">
                  <i class="fas fa-file-excel" style="font-size: 1.5rem; color: #c60d07;"></i>&nbsp;
                  <h4 class="text-center d-inline-block" [ngClass]="{'animated infinite fadeIn': state_file_clinic_history }">{{ data_file?.historia_clinica?.data_file?.name }}</h4>
                </div>
                <div class="col-12 mb-2 mt-2">
                  <h4 class="text-center" [ngClass]="{'animated infinite fadeIn': state_file_clinic_history }">{{ (data_file?.historia_clinica?.data_file?.size < 1000 ) ? (data_file?.historia_clinica?.data_file?.size) + ' Bytes' : (data_file?.historia_clinica?.data_file?.size / 1000) + ' Kb'}}</h4>
                </div> -->
                <div class="col-12 mb-3 mt-3">
                  <h5 class="text-center" style="color: #c60d07;">Error al cargar archivos</h5>
                </div>
                <div class="col-12 mb-4 mt-4 text-center">
                  <p style="color: #c60d07;">El archivo no puede exceder los 50 registros y tiene que ser formato .csv</p>
                </div>
              </div>
              <!-- <div class="row" style="margin: 30px;">
                <div class="col-12 mb-1 mt-1">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentaje_status_bar">
                      {{ percentaje_status_bar }}% Completado
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-1 mb-1 text-center">
          <button type="button" [disabled]="state_file_clinic_history" class="btn btn-light" style="box-shadow: 0px 3px 10px #b9bee0; cursor:pointer;" (click)="fnCLearForm()">
            <i class="fas fa-broom" style="font-size: 1.5rem; color: #000;"></i>&nbsp;
            <span style="color: #000;">Limpiar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="false">
    <div class="col-12 m-3">
    
      <div class="row justify-content-center">
        <div class="col-10 mt-3">
          <h6 class="d-inline-block">Archivo (.csv) <strong class="text-danger">*</strong></h6>&nbsp;
          <small class="" style="color: #9a0110;" *ngIf="data_file['historia_clinica']['data_response'].length < 1"><strong>Campo requerido</strong></small>
          <div *ngIf="!state_file_clinic_history" class="" (click)="fnUploadFile('file_input_clinic_history');" [ngClass]="{'kstdy-content-image-error animated pulse': (data_file['historia_clinica']['data_response'].length < 1), 'kstdy-content-image-valid': (data_file['historia_clinica']['data_response'].length > 0)}">
              <i class="fas fa-cloud-upload-alt" style="font-size: 2.5rem; color: #bdbcbc; margin: 10px 0px;"></i>
              <div>
                  <!-- <small style="color: #bdbcbc;" *ngIf="!data_file['historia_clinica']['data_response']">Arrastra el archivo en esta zona</small> -->
                  <small style="color: #9a0110;" *ngIf="data_file['historia_clinica']['data_response'].length < 1">Debe agregar archivo con el listado de usuarios</small>
              </div>
              <input [(ngModel)]="file_input_clinic_history" [ngModelOptions]="{standalone: true}" type="file" accept=".csv, text/csv" style="display: none;" id="file_input_clinic_history" (change)="handleFileInput($event.target.files, 1)">    
          </div>
          <div class="row" *ngIf="file_create_state && state_file_clinic_history">
              <div class="col-9">
                  <i class="fas fa-caret-right kstdy-radio-button" [ngClass]="{'animated infinite fadeIn': !state_file_clinic_history }"></i>&nbsp;
                  <h5 class="d-inline-block" [ngClass]="{'animated infinite fadeIn': !state_file_clinic_history }">{{ data_file?.historia_clinica?.data_file?.name }}</h5>
              </div>
              <div class="col-2">
                  <h5>{{ (data_file?.historia_clinica?.data_file?.size < 1000 ) ? (data_file?.historia_clinica?.data_file?.size) + ' Bytes' : (data_file?.historia_clinica?.data_file?.size / 1000) + ' Kb'}}</h5>
              </div>
              <div class="col-1">
                  <!-- <i *ngIf="data_file?.historia_clinica?.data_response?.status" class="fas fa-times kstdy-radio-button" (click)="fnDeleteFile(data_file?.historia_clinica, 'file_input_clinic_history', 1)"></i> -->
                  <i *ngIf="data_file?.historia_clinica?.data_response.length > 0" class="fas fa-times kstdy-radio-button" (click)="fnDeleteFile(data_file?.historia_clinica, 'file_input_clinic_history', 1)"></i>
                  <div *ngIf="data_file?.historia_clinica?.data_response.length < 1" class="spinner-border text-info" role="status">
                      <span class="sr-only">Loading...</span>
                  </div>
              </div>
          </div>                    
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-10 mt-3">
          <h6>
            <i class="fas fa-file-csv" style="color: rgb(22, 89, 22);"></i>
            <a href="" style="color: #221d5e;">Archivo de ejemplo</a>
          </h6>
        </div>
      </div>

    </div>
  </div>
</div>