@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  
    button:focus { outline:0; }
  
    .font_family_roboto {
      font-family: 'Roboto';
    }

    .kstdy-backgroud_layout {
      background-color: #FFF;
      min-height: 83vh;
      z-index: 1;
      overflow: hidden;
    }
  
    ::ng-deep .kstdy-pointer {
      cursor: pointer;
    }
    
    .kstdy-pointer {
      cursor: pointer;
    }

    .kstdy-badge-color{
      color: #fff !important;
      background-color: nb-theme(przss-color-11);
      font-size: smaller !important;
      text-transform: none;
    }
   
    .kstdy-badge-icon{
      font-size: 10px;
    }
   
    .kstdy-table {
      color: nb-theme(przss-color-black);
    }
   
    .kstdy-table-actions{
      width: 35px;
    }
   
    ::ng-deep .kstdy-icon-sort{
      float: right !important;
    }
   
    ::ng-deep .kstdy-pagin{
      width: 20%;
      margin: auto;
    }
   
    ::ng-deep .kstdy-pagin-color{
      color: nb-theme(przss-color-black);
    }

  /* ********** - ********** */
  .kstdy-btns_actions {
    text-transform: none;
    cursor: pointer;
    height: 36px;
    width: nb-theme(przss-width-btn-crud);
  }

  .kstdy-text_input_search {
    height: 36px;
    margin: auto;
    outline: none;
    background-color: #ffffff;
  }

  .kstdy-text_input_search:focus {
    border-color: #1e90ff;
  }

  .kstdy-icon_input_search {
    position: absolute;
    margin-top: 0.8rem;
    margin-left: -2rem;
  }

  .kstdy-font_paginator {
    font-size: 1rem;
  }

  /deep/ a:hover {
    color: nb-theme(przss-color-1);
  }
  
  /deep/ a:focus {
    color: nb-theme(przss-color-1);
  }

  .kstdy-description-color{
    color: #5e5d5d;
  }

  .kstdy-icon_color {
    color: #1e90ff;
  }

  .kdsty-check {
    width: 19px;
    border: solid 1px #ccc;
    border-radius: 4px;
  }

  /* ********** START - css content layout pulse and empty data ********** */
  .kstdy-empty_data_layout{
    text-align: center;
    margin: 2rem !important;
    color: #a4abb3;
  }

  .kstdy-icon_not_found_data{
    font-size: 7rem;
    color: #a4abb3;
  }

  .kstdy-label_not_found_data{
    color: #a4abb3;
  }

  @keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
  }
  /* *********** END - css content layout pulse and empty data *********** */

  /* ********** START - css scroll on table********** */

  .tableFixHead thead th { 
    position: sticky; top: 0; 
  }

  .tableFixHead {
    overflow-y: auto;
    height: calc(97vh - 303px);
  }

  table  { 
    border: 0px;
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    }
    th, td { 
      padding: 8px 16px;
      height: 39px;
    }
    th {
      border: solid #dee2e6;
      border-width: 0px 0px 0px 0px;
      background: #fff;
    }

    .table-bordered td {
      border: solid #dee2e6;
      border-width: 0px 0px 1px 0px;
    }
    
    .table thead tr th {
      margin:0px;
      background-color: #edf6ff;
    }

    /deep/ .ngx-pagination .current {
      border-radius: 50%;
      background-color: #1e90ff;
    }

  /* ********** END - css scroll on table********** */

    .kstdy-btn_action_create {
      background-color: white;
      color: #1e90ff;
      padding: 0 !important;
      border-color: #1e90ff;
    }

}