<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto kstdya-card_content" size="tiny">
        <nb-card-header class="font_family_roboto">Editar registro</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <!-- <div class="mt-2 mb-2">
                Agregue la categoria y la relación de complementariedad de sus productos.
              </div> -->
              <!-- <form (ngSubmit)="fnCreateNewEmailManagement(user_data)" #addNewEmailManagementForm="ngForm" aria-labelledby="title" style="min-width: 300px; max-width: 300px;"> -->
              <form (ngSubmit)="fnEditDataUserManagement(data_user)" #addNewEmailManagementForm="ngForm" aria-labelledby="title" style="width: 600px;">
                <div class="col-12 pl-0 pr-0">
                  <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p> -->
                  <div class="form-group">
                    <label for="kstdya-input_first_name">Primer nombre: </label>                                         
                    <input 
                    nbInput 
                    [(ngModel)]="data_user.tPrimerNombre" 
                    #groupName="ngModel" 
                    id="kstdya-input_first_name" 
                    name="first_name" 
                    autofocus  
                    type="text" 
                    class="form-control kstdya-input_focus"
                    placeholder="Ingrese primer nombre"
                    style="height: 45px;">
                  </div>
                  <div class="form-group">
                    <label for="kstdya-input_second_name">Segundo nombre: </label>                                         
                    <input 
                    nbInput 
                    [(ngModel)]="data_user.tSegundoNombre" 
                    #groupName="ngModel" 
                    id="kstdya-input_second_name" 
                    name="second_name" 
                    autofocus  
                    type="text" 
                    class="form-control kstdya-input_focus"
                    placeholder="Ingrese segundo nombre"
                    style="height: 45px;">
                  </div>
                  <div class="form-group">
                    <label for="kstdya-input_category_name">Primer apellido: </label>                                         
                    <input 
                    nbInput 
                    [(ngModel)]="data_user.tPrimerApellido" 
                    #groupName="ngModel" 
                    id="kstdya-input_last_name" 
                    name="last_name" 
                    autofocus  
                    type="text" 
                    class="form-control kstdya-input_focus"
                    placeholder="Ingrese primer apellido"
                    style="height: 45px;">
                  </div>
                  <div class="form-group">
                    <label for="kstdya-input_second_last_name">Segundo apellido: </label>                                         
                    <input 
                    nbInput 
                    [(ngModel)]="data_user.tSegundoApellido" 
                    #groupName="ngModel" 
                    id="kstdya-input_second_last_name" 
                    name="second_last_name" 
                    autofocus  
                    type="text" 
                    class="form-control kstdya-input_focus"
                    placeholder="Ingrese segundo apellido"
                    style="height: 45px;">
                  </div>
                  <div class="form-group">
                    <label for="kstdya-input_email">Correo electronico: </label>                                         
                    <input 
                    nbInput 
                    [(ngModel)]="data_user.tEmail" 
                    #groupName="ngModel" 
                    id="kstdya-input_email" 
                    name="email" 
                    autofocus  
                    type="email" 
                    class="form-control kstdya-input_focus"
                    placeholder="Ingrese coreo electronico"
                    style="height: 45px;">
                  </div>
                  <div class="form-group">
                    <label for="kstdya-company_name">Empresa: </label>                                         
                    <input 
                    nbInput 
                    [(ngModel)]="data_user.tNombreEmpresa" 
                    #groupName="ngModel" 
                    id="kstdya-company_name" 
                    name="company_name" 
                    autofocus  
                    type="text" 
                    class="form-control kstdya-input_focus"
                    placeholder="Ingrese nombre empresa"
                    style="height: 45px;">
                  </div>
                  <div class="form-group">
                    <label for="kstdya-input_position">Cargo: </label>                                         
                    <input 
                    nbInput 
                    [(ngModel)]="data_user.tCargo" 
                    #groupName="ngModel" 
                    id="kstdya-input_position" 
                    name="position" 
                    autofocus  
                    type="text" 
                    class="form-control kstdya-input_focus"
                    placeholder="Ingrese el cargo"
                    style="height: 45px;">
                  </div>
                  
                  <div class="form-group" *ngIf="false">
                    <label for="kstdya-input_category_name">Recurrencia: </label><br>
                    <div class="row">
                      <div class="col-4 text-right">
                        <label class="switch m-0">
                          <input type="checkbox" checked [ngModelOptions]="{standalone: true}" [(ngModel)]="user_data.state">
                          <div class="slider round">
                            <span class="on">&nbsp;</span>
                            <span class="off">&nbsp;</span>
                          </div>
                        </label>
                      </div>
                      <div class="col-4 text-right">
                        <label class="switch m-0">
                          <input type="checkbox" checked [ngModelOptions]="{standalone: true}" [(ngModel)]="user_data.state">
                          <div class="slider round">
                            <span class="on">&nbsp;</span>
                            <span class="off">&nbsp;</span>
                          </div>
                        </label>
                      </div>
                      <div class="col-4 text-right">
                        <label class="switch m-0">
                          <input type="checkbox" checked [ngModelOptions]="{standalone: true}" [(ngModel)]="user_data.state">
                          <div class="slider round">
                            <span class="on">&nbsp;</span>
                            <span class="off">&nbsp;</span>
                          </div>
                        </label>
                      </div>  
                    </div>
                    

                  </div>
                  
                  <!-- <p>Select Yes when clients tend to buy several portfolio products, attracted by the low prices of some of them.<br>
                    Otherwise, select No.</p> -->
                </div>
                <button 
                  type="submit" 
                  class="kstdya-pointer btn btn-primary kstdya-btn_success font_family_roboto" 
                  id="kstdya-btn_save_new_category" 
                  nbButton 
                  [disabled]="!data_user.tPrimerNombre || !data_user.tPrimerApellido || !data_user.tEmail || !data_user.tNombreEmpresa || !data_user.tCargo"
                  [class.btn-pulse]="submitted"
                  status="info">Actualizar</button>
                &nbsp;&nbsp;&nbsp;
                <button class="kstdya-pointer font_family_roboto" 
                  type="button" 
                  id="kstdya-btn_cancel_save_new_category"
                  nbButton
                  [class.btn-pulse]="submitted"
                  (click)="fnCancelCreateNewEmailManagement()"
                  status="danger">Cancelar</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
    