<div class="row" accent="danger" size="tiny" [nbSpinner]="statusSpinner" nbSpinnerStatus="info" nbSpinnerSize="large" [nbSpinnerMessage]="spinnerMessage">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>

        <div class="" style="background-color: #fff; padding: 10px; border-radius: 6px; border: 1px solid #1e90ff;">
          <div class="" style="display: flex; justify-content: space-between;">
              <span class="">
                  <i class="fas fa-calendar" style="color: dodgerblue; font-size: 25px;"></i>&nbsp;&nbsp; 
                  <span style="display: inline-block;">
                    <h5 class="m-0">Enviar reporte por correo electr&oacute;nico</h5>
                  </span>
              </span>
          </div>
          <div class="search-form" style="position: relative; margin-top: 15px; display: block;">
            <div class="row" >
              <div class="col">
                Movimientos contables generados en el siguiente periodo: 
              </div>
              <div class="col">
                <input nbInput 
                  fullWidth
                  autofocus 
                  type="text" 
                  [readonly]="true"
                  [readonly]="true"
                  placeholder="Filtro rango de fechas"
                  id="inputRangeDate"  
                  name="input_range_date" 
                  style="height: 35px; width: 190px; border-color: #e8e8e8 !important;"
                  (focus)="dateRangeReport = ''";
                  [(ngModel)]="dateRangeReport" 
                  [ngModelOptions]="{standalone: true}"
                  [status]="input_range_date.dirty ? (input_range_date.invalid  ? 'danger' : 'basic') : ''" 
                  #input_range_date="ngModel"
                  bsDaterangepicker     
                  [maxDate]="maxDate"
                  [bsConfig]="{ rangeInputFormat : 'DD-MM-YYYY',dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }">
              </div>
              <div class="col">
                <button 
                  class="cursor-pointer mb-2"
                  nbButton 
                  fullWidth 
                  type="button" 
                  (click)="fnSendReport()"
                  style="background-color: dodgerblue; border-color: #9d9d9d; color: #fff;">
                  Enviar reporte
              </button>
              </div>
            </div>
          </div>
        </div>

        <div style=" margin: auto; width: 50%;" style="display: none;">
          <button (click)="exportexcel()">Export to Excel</button>
         
          <table id="excel-table" >
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
            </tr>
            <tr *ngFor="let item of userList">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.username}}</td>
              <td>{{item.email}}</td>
            </tr>
          </table>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div> 

