<div class="row kstdy-backgroud_layout p-4" [nbSpinner]="loading_state" nbSpinnerSize="small" nbSpinnerStatus="info" nbSpinnerMessage="Cargando...">
  <div class="col-12">
    <div class="row justify-content-center">
      <h4 class="font_family_roboto">Auditoria</h4>
      <div class="col-12 mt-3 ml-3 mr-3 mb-4">
        <div class="row" *ngIf="true">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 pl-0">
            <input 
              (input)="fnFilter(search_input);" 
              fullWidth 
              nbInput
              [(ngModel)]="search_input" 
              #search_entities="ngModel"
              class="kstdy-text_input_search form-control d-inline-block" id="kstdy-input_search_entities"
              name="search_entities" 
              type="text" 
              placeholder="Buscar">
            <i class="fas fa-search kstdy-icon_input_search fa-rotate-90"></i>
          </div>
          <div class="col pl-0 d-inline-flex">
            <button 
              class="pgp-button_signup font_family_roboto" 
              nbButton 
              (click)="fnCleanSearhInput();"
              status="basic" 
              style="height: 35px !important; padding: 0.55rem 1.5rem !important; border-color: transparent !important;">Limpiar</button>
              &nbsp;&nbsp;
            <input nbInput 
              fullWidth
              autofocus 
              type="text" 
              [readonly]="true"
              [readonly]="true"
              placeholder="Filtro rango de fechas"
              id="inputRangeDate"  
              name="input_range_date" 
              style="height: 35px; width: 190px; border-color: #e8e8e8 !important;"
              (focus)="date_range = '';"
              [(ngModel)]="date_range" 
              (ngModelChange)="fnFilterListByDaterange();"
              [ngModelOptions]="{standalone: true}"
              [status]="input_range_date.dirty ? (input_range_date.invalid  ? 'danger' : 'basic') : ''" 
              #input_range_date="ngModel"
              bsDaterangepicker     
              [maxDate]="maxDate"
              [bsConfig]="{ rangeInputFormat : 'DD-MM-YYYY',dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }">
          </div>
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 pl-0" *ngIf="false">
            <i class="fas fa-calendar" *ngIf="false" (click)="fnOpenCalendar();"></i>
            <input nbInput 
              fullWidth
              autofocus 
              type="text" 
              [readonly]="true"
              [readonly]="true"
              placeholder="Ingrese fecha de nacimiento"
              id="inputRangeDate"  
              name="input_range_date" 
              (focus)="date_range = '';"
              [(ngModel)]="date_range" 
              (ngModelChange)="fnFilterListByDaterange();"
              [ngModelOptions]="{standalone: true}"
              [status]="input_range_date.dirty ? (input_range_date.invalid  ? 'danger' : 'basic') : ''" 
              #input_range_date="ngModel"
              bsDaterangepicker     
              [maxDate]="maxDate"
              [bsConfig]="{ rangeInputFormat : 'DD-MM-YYYY',dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }">
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-2 mt-sm-2 mt-md-2 mt-lg-0 text-lg-right text-xl-right text-md-center text-sm-center text-center">
            <!-- <button class="btn kstdy-btns_actions kstdy-btn_action_create font_family_roboto" id="kstdy-button_create_categories">Crear</button> -->
            <ng-select 
              [items]="collection_data" 
              bindLabel="name" 
              bindValue="value" 
              id="documentType" 
              name="documentType"
              #documentType="ngModel" 
              placeholder="Seleccione tipo de documento" 
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="status_list" 
              (change)="fnChangeStatusList($event);"
              required 
              [disabled]="false" 
              [clearable]="false" 
              class="col-4 p-0 m-0 text-left float-right">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3 p-0">
        <!-- ********** START - Div main content data table - Entities ********** -->
        <table class="table" style="border-bottom: 1px solid #dee2e6;">
          <thead>
            <tr>
              <!-- <th colspan="2" class="border-0" style="border-top-left-radius: 10px;"></th> -->
              <th class="border-0" style="border-top-left-radius: 10px;"></th>
              <th scope="col" class="text-center border-0">
                SENCON <i class="fas fa-info-circle" style="color: #fff;" *ngIf="false"></i>
              </th>
              <th scope="col-2" class="text-left border-0">
                Estado proceso <i class="fas fa-info-circle" style="color: #fff;" *ngIf="false"></i>
              </th>
              <th scope="col-2" class="text-left border-0">
                Fecha cuenta de cobro <i class="fas fa-info-circle" style="color: #fff;" *ngIf="false"></i>
              </th>
              <th scope="col-2" class="text-center border-0">
                Actor <i class="fas fa-info-circle" style="color: #fff;" *ngIf="false"></i>
              </th>
              <th scope="col" class="text-center border-0">
                Tipo <i class="fas fa-info-circle" style="color: #fff;" *ngIf="false"></i>
              </th>
              <th scope="col-2" class="text-center border-0">
                Pretensi&oacute;n <i class="fas fa-info-circle" style="color: #fff;" *ngIf="false"></i>
              </th>
              <th scope="col-2" class="text-center border-0">
                Medio de control <i class="fas fa-info-circle" style="color: #fff;" *ngIf="false"></i>
              </th>
              <th scope="col-2" class="text-center border-0" style="border-top-right-radius: 10px;">
                Archivos adjuntos <i class="fas fa-info-circle" style="color: #fff;" *ngIf="false"></i>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="list_patients.length > 0">
              <tr *ngFor="let data_patient of list_patients | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;">
                <td class="kstdy-table-actions text-center p-3 align-middle">
                  <i class="fas kstdy-pointer kstdy-icon_color" [ngClass]="{'fa-edit': (status_list == 1), 'fa-eye': (status_list == 2 || status_list == 3) }" style="cursor: pointer;" (click)="fnShowOriginQualificationTranscription(data_patient, status_list)"></i>
                </td>
                <td class="text-left p-3 align-middle text-truncate" style="max-width: 200px;" title="{{ data_patient.sencon }}">{{ data_patient.sencon }}</td>
                <td class="text-left p-3 align-middle text-truncate" style="max-width: 200px;" title="{{ data_patient.sencon }}">
                  <span class="badge badge-pill text-truncate" [ngClass]="{ 'badge-primary': (data_patient?.estado == 1), 'badge-danger': (data_patient?.estado == 2), 'badge-warning': (data_patient?.estado == 3), 'badge-secondary': (data_patient?.estado == 4), 'badge-info': (data_patient?.estado == 5), 'badge-success': (data_patient?.estado == 6) }" title="{{ 'Estado de la solicitud ' + (data_patient?.estado == 1) ? 'Asignado' : (data_patient?.estado == 2) ? 'Devuelto' : (data_patient?.estado == 3) ? 'En Curso' : (data_patient?.estado == 4) ? 'Proyectado' : (data_patient?.estado == 5) ? 'Revisado' : (data_patient?.estado == 6) ? 'Avalado' : 'Sin estado' }}" style="max-width: 80px; margin: 2px;">
                    {{ (data_patient?.estado == 1) ? 'Asignado' : (data_patient?.estado == 2) ? 'Devuelto' : (data_patient?.estado == 3) ? 'En Curso' : (data_patient?.estado == 4) ? 'Proyectado' : (data_patient?.estado == 5) ? 'Revisado' : (data_patient?.estado == 6) ? 'Avalado' : 'Sin estado' }}
                  </span>
                </td>
                <td class="text-left p-3 align-middle text-truncate" style="max-width: 200px;" title="{{ data_patient.fechaCuentaCobro }}">{{ data_patient.fechaCuentaCobro | date:'dd/MM/yyyy, h:mm a' }}</td>
                <td class="text-left p-3 align-middle text-truncate" style="max-width: 300px;" title="{{ data_patient.actor }}">{{ data_patient.actor }}</td>
                <td class="text-center p-3 align-middle" title="{{ data_patient.tipo }}">{{ data_patient.tipo }}</td>
                <td class="text-center p-3 align-middle">{{ data_patient.pretension }}</td>
                <td class="text-center p-3 align-middle">{{ data_patient.medioControl }}</td>
                <td class="text-center p-3" style="max-width: 200px;">
                  <ng-container *ngIf="data_patient?.adjuntos?.length > 0">
                    <span class="badge badge-pill badge-primary text-truncate" title="{{ 'Cantidad de archivos ' + data_patient?.adjuntos?.length }}" style="max-width: 80px; margin: 2px;">
                      {{ data_patient?.adjuntos?.length }}
                    </span>
                    <br>
                  </ng-container>
                  <small  *ngIf="data_patient?.adjuntos?.length < 1" style="color: #dee2e6;">Sin archivos adjuntos</small>
                </td>
              </tr>
          </tbody>
        </table>
        <div class="text-center" *ngIf="list_patients.length < 1">
          <i class="far fa-folder-open fa-7x"></i>
          <h4 style="color:#A7ABB3;">No se encontraron registros</h4>
        </div>
        <!-- *********** END - Div main content data table - Entities *********** -->
      </div>
      <div class="col-12" *ngIf="list_patients.length > 0">
        <div class="row justify-content-sm-between justify-content-md-between justify-content-lg-start justify-content-xl-start">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="text-center kstdy-font_paginator" *ngIf="list_patients?.length > 0">
              <div class="text-left kstdy-font_paginator">
                Mostrando {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} -
                {{ ((currentPage * numItemsPage) >= list_patients.length) ? (list_patients.length) + (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) ) : (currentPage * numItemsPage) }}
                de {{ totalItems }}
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="text-center kstdy-font_paginator">
              <pagination-controls (pageChange)="getPage($event)" id="server" previousLabel="" nextLabel="" ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>