<nb-card size="tiny" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="{{ textSpinner }}">
  <nb-card-header style="display: flex !important; justify-content: space-between !important;">
    Agregar nueva direcci&oacute;n
    <span class="cursor-pointer" (click)="fnCloseModal()">
        <i class="fas fa-times cursor-pointer text-danger"></i>
    </span>
  </nb-card-header>
  <nb-card-body>

    <div class="row ml-0 mr-0">
      <div class="col-12 p-0">
        <div class="form-group">
          <label for="input-userCountry">
            <h5 class="m-0">
              <i class="fas fa-globe-americas"></i>&nbsp;Pa&iacute;s:&nbsp;
              <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
            </h5>
          </label>
          <ng-select 
            [items]="collectionCountries" 
            bindLabel="NOMBREPAIS" 
            bindValue="IDPAIS" 
            id="input-userCountry" 
            name="userCountry" 
            #userCountryCRHB="ngModel"
            placeholder="Seleccione país" 
            (change)="fnSelectDeptosByIdCountry($event)"
            [ngModelOptions]="{standalone: true}" 
            [(ngModel)]="dataAddressBuild.userCountry"
            required 
            [disabled]="false" 
            [clearable]="false">
          </ng-select>
        </div>
      </div>
      <div class="col-12 p-0">
        <div class="form-group">
          <label for="input-userDepartament">
            <h5 class="m-0">
              <i class="fas fa-map-marked-alt"></i>&nbsp;Departamento:&nbsp;
              <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
            </h5>
          </label>
          <ng-select 
            [items]="collectionDepartaments" 
            bindValue="IDDEPTO"
            bindLabel="NOMBREDEPTO"
            id="input-userDepartament" 
            name="userDepartament" 
            #userDepartamentC="ngModel"
            placeholder="Seleccione departamento" 
            [ngModelOptions]="{standalone: true}" 
            [(ngModel)]="dataAddressBuild.userDepartament"
            (change)="fnSelectCitiesByIdDepto($event)"
            required 
            [disabled]="!dataAddressBuild.userCountry || collectionDepartaments.length < 1" 
            [clearable]="false">
          </ng-select>
        </div>
      </div>
      <div class="col-12 p-0">
        <div class="form-group">
          <label for="input-userCity">
            <h5 class="m-0">
              <i class="fas fa-map-marker-alt"></i>&nbsp;Ciudad:&nbsp;
              <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
            </h5>
          </label>
          <ng-select 
            [items]="collectionCities" 
            bindValue="IDMUNICIPIO"
            bindLabel="NOMBREMUNICIPIO"
            id="input-userCity" 
            name="userCity" 
            #userCityC="ngModel"
            placeholder="Seleccione ciudad" 
            [ngModelOptions]="{standalone: true}" 
            [(ngModel)]="dataAddressBuild.userCity" 
            (change)="fnSelectPoblationsByCity($event)" 
            required 
            [disabled]="!dataAddressBuild.userDepartament || collectionCities.length < 1" 
            [clearable]="false">
          </ng-select>
        </div>
      </div>
      <div class="col-12 p-0">
        <div class="form-group">
          <label for="input-address">
            <h5 class="m-0">
              <i class="fas fa-map-marker-alt"></i>&nbsp;Direcci&oacute;n:&nbsp;
              <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
            </h5>
          </label>
          <input
            [(ngModel)]="dataAddressBuild.address" 
            nbInput 
            status="basic" 
            fullWidth 
            fieldSize="large" 
            placeholder="Ej: AVENIDA CALLE 100 # 10 - 10"
            type="text" 
            name="input-address" 
            id="input-address">
        </div>
      </div>
      <!-- <div class="col-12 p-0">
        <div class="form-group">
          <label for="input-additionalDataAddress">
            <h5 class="m-0">
              <i class="fas fa-map-marker-alt"></i>&nbsp;Datos de ubicaci&oacute;n adicional:&nbsp;
              <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
            </h5>
          </label>
          <input 
            [(ngModel)]="dataAddressBuild.aditionalDataAddress" 
            nbInput 
            status="basic" 
            fullWidth 
            fieldSize="large" 
            placeholder="Ej: BARRIO AAA EDIFICIO BBB TORRE 3 APTO 201"
            type="text" 
            name="input-additionalDataAddress" 
            id="input-additionalDataAddress">
        </div>
      </div> -->
      <div class="col-12 p-0">
        <div class="form-group">
          <label for="input-postalCode">
            <h5 class="m-0">
              <i class="fas fa-map-marker-alt"></i>&nbsp;C&oacute;digo postal:&nbsp;
              <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
            </h5>
          </label>
          <input 
            [(ngModel)]="dataAddressBuild.postalCode" 
            nbInput 
            status="basic" 
            fullWidth 
            fieldSize="large" 
            placeholder="Ej: 110011"
            type="text" 
            name="input-postalCode" 
            id="input-postalCode">
        </div>
      </div>
      <div class="col-12 p-0" *ngIf="typeAddress == 2">
        <div class="form-group">
          <label for="input-primaryPhone">
            <h5 class="m-0">
              <i class="fas fa-map-marker-alt"></i>&nbsp;Tel&eacute;fono principal:&nbsp;
              <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
            </h5>
          </label>
          <input 
            [(ngModel)]="dataAddressBuild.primaryPhone" 
            nbInput 
            status="basic" 
            fullWidth 
            fieldSize="large" 
            placeholder="Ej: 310 000 00 00"
            type="text" 
            name="input-primaryPhone" 
            id="input-primaryPhone">
        </div>
      </div>
      <!-- <div class="col-12 p-0" *ngIf="typeAddress == 2">
        <div class="form-group">
          <label for="input-primaryPhone">
            <h5 class="m-0">
              <i class="fas fa-map-marker-alt"></i>&nbsp;Tel&eacute;fono adicional:&nbsp;
              <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
            </h5>
          </label>
          <input 
            [(ngModel)]="dataAddressBuild.aditionalPhone" 
            nbInput 
            status="basic" 
            fullWidth 
            fieldSize="large" 
            placeholder="Ej: 310 000 00 00"
            type="text" 
            name="input-primaryPhone" 
            id="input-primaryPhone">
        </div>
      </div> -->
      <br>
      <div class="col-12 p-0">
        <button 
            class="cursor-pointer mb-2"
            nbButton 
            fullWidth 
            type="button" 
            (click)="fnAddAddress(dataAddressBuild)"
            [class.btn-pulse]="false" 
            [disabled]="false" 
            style="background-color: #3366ff; border-color: #3366ff; color: white; text-transform: none !important;">
            Agregar
        </button>
        <button 
            class="cursor-pointer mb-2"
            nbButton 
            fullWidth 
            type="button"
            [class.btn-pulse]="false" 
            (click)="fnCancelData()"
            style="background-color: #9d9d9d; border-color: #9d9d9d; color: #fff; text-transform: none !important;">
            Cancelar
        </button>
      </div>
    </div>

    <div class="row" *ngIf="false">
      <div class="col">
        <div class="form-group">
          <label for="input-userCountry">
            <h5 class="m-0">
              <i class="fas fa-globe-americas"></i>&nbsp;Pa&iacute;s:&nbsp;
              <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
            </h5>
          </label>
          <ng-select 
            [items]="collectionCountries" 
            bindLabel="name"
            id="input-userCountry" 
            name="userCountry" 
            #userCountryCRHB="ngModel"
            placeholder="Seleccione país" 
            [ngModelOptions]="{standalone: true}" 
            [(ngModel)]="userCountry"
            required 
            [disabled]="false" 
            [clearable]="false">
          </ng-select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="input-userDepartament">
            <h5 class="m-0">
              <i class="fas fa-map-marked-alt"></i>&nbsp;Departamento:&nbsp;
              <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
            </h5>
          </label>
          <ng-select 
            [items]="collectionDepartaments" 
            bindLabel="departamento"
            id="input-userDepartament" 
            name="userDepartament" 
            #userDepartamentC="ngModel"
            placeholder="Seleccione departamento" 
            [ngModelOptions]="{standalone: true}" 
            [(ngModel)]="userDepartament"
            (change)="fnSetUserCityCondition($event)"
            required 
            [disabled]="(userCountry)?.length < 1 || collectionDepartaments.length < 1" 
            [clearable]="false">
          </ng-select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="input-userCity">
            <h5 class="m-0">
              <i class="fas fa-map-marker-alt"></i>&nbsp;Ciudad:&nbsp;
              <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
            </h5>
          </label>
          <ng-select 
            [items]="collectionCities" 
            bindLabel="name"
            id="input-userCity" 
            name="userCity" 
            #userCityC="ngModel"
            placeholder="Seleccione ciudad" 
            [ngModelOptions]="{standalone: true}" 
            [(ngModel)]="userCity"
            required 
            [disabled]="(userDepartament)?.length < 1 || collectionCities.length < 1" 
            [clearable]="false">
          </ng-select>
        </div>
      </div>
      <div class="col-12 p-0">
        <div class="form-group">
          <label for="input-userAddressCondition">
            <h5 class="m-0">
              <i class="fas fa-house-user"></i>&nbsp;Direcci&oacute;n:&nbsp;
              <span class="cursor-pointer text-optional-field" tooltip="Campo opcional" placement="top" container="body">(Opcional)</span>
            </h5>
          </label>
          <div class="row">
            <div class="col-2">
              <ng-select 
                [items]="collectionWayType" 
                bindLabel="name"
                id="input-userAddressWayType" 
                name="userAddressWayType" 
                #userAddressWayTypeC="ngModel"
                placeholder="Seleccione tipo via" 
                [ngModelOptions]="{standalone: true}" 
                [(ngModel)]="userAddressWayType"
                (change)="fnBuildAddress($event)"
                required 
                [disabled]="false" 
                [clearable]="false">
              </ng-select>
            </div>
            <div class="col-1">
              <input 
                class=""
                nbInput
                fullWidth 
                fieldSize="large"  
                type="text" 
                [readonly]="false" 
                [disabled]="false" 
                placeholder="Ingrese el número tipo via"
                id="input-userAddressFirstNumber"  
                name="userAddressFirstNumber" 
                (change)="fnBuildAddress($event)"
                [(ngModel)]="userAddressFirstNumber" 
                [ngModelOptions]="{standalone: true}"
                [status]="userAddressFirstNumberC.dirty ? (userAddressFirstNumberC.invalid  ? 'danger' : 'basic') : 'basic'" 
                #userAddressFirstNumberC="ngModel">
            </div>
            <div class="col-1">
              <ng-select 
                [items]="collectionLetters" 
                bindLabel="name"
                id="input-userAddressFirstLetter" 
                name="userAddressFirstLetter" 
                #userAddressFirstLetterC="ngModel"
                placeholder="Seleccione letra de número de via" 
                [ngModelOptions]="{standalone: true}" 
                [(ngModel)]="userAddressFirstLetter"
                required 
                (change)="fnBuildAddress($event)"
                [disabled]="false" 
                [clearable]="false">
              </ng-select>
            </div>
            <div class="col-1">
              <ng-select 
                [items]="collectionBis" 
                bindLabel="name"
                id="input-userAddressSufixBis" 
                name="userAddressSufixBis" 
                #userAddressSufixBisC="ngModel"
                placeholder="Seleccione letra de número de via" 
                [ngModelOptions]="{standalone: true}" 
                [(ngModel)]="userAddressSufixBis"
                required 
                (change)="fnBuildAddress($event)"
                [disabled]="false" 
                [clearable]="false">
              </ng-select>
            </div>
            <div class="col-1">
              <ng-select 
                [items]="collectionLetters" 
                bindLabel="name"
                id="input-userAddressSecondLetter" 
                name="userAddressSecondLetter" 
                #userAddressSecondLetterC="ngModel"
                placeholder="Seleccione letra de número de via" 
                [ngModelOptions]="{standalone: true}" 
                [(ngModel)]="userAddressSecondLetter"
                required 
                (change)="fnBuildAddress($event)"
                [disabled]="false" 
                [clearable]="false">
              </ng-select>
            </div>
            <div class="col-1">
              <ng-select 
                [items]="collectionCardinalSufix" 
                bindLabel="name"
                id="input-userAddressFirstCardinalSufix" 
                name="userAddressFirstCardinalSufix" 
                #userAddressFirstCardinalSufixC="ngModel"
                placeholder="Seleccione sufijo cardinal" 
                [ngModelOptions]="{standalone: true}" 
                [(ngModel)]="userAddressFirstCardinalSufix"
                required 
                (change)="fnBuildAddress($event)"
                [disabled]="false" 
                [clearable]="false">
              </ng-select>
            </div>
            <div class="col-1 text-center p-0" style="max-width: 30px !important;">
              <h3 style="margin: 10px 0px;">#</h3>
            </div>
            <div class="col-1">
              <input 
                class=""
                nbInput
                fullWidth 
                fieldSize="large"  
                type="text" 
                [readonly]="false" 
                [disabled]="false" 
                placeholder="Ingrese el número tipo via"
                id="input-userAddressSecondNumber"  
                name="userAddressSecondNumber" 
                [(ngModel)]="userAddressSecondNumber" 
                [ngModelOptions]="{standalone: true}"
                [status]="userAddressSecondNumberC.dirty ? (userAddressSecondNumberC.invalid  ? 'danger' : 'basic') : 'basic'" 
                (change)="fnBuildAddress($event)"
                #userAddressSecondNumberC="ngModel">
            </div>
            <div class="col-1">
              <ng-select 
                [items]="collectionLetters" 
                bindLabel="name"
                id="input-userAddressThirdLetter" 
                name="userAddressThirdLetter" 
                #userAddressThirdLetterC="ngModel"
                placeholder="Seleccione letra de número de via" 
                [ngModelOptions]="{standalone: true}" 
                [(ngModel)]="userAddressThirdLetter"
                required 
                (change)="fnBuildAddress($event)"
                [disabled]="false" 
                [clearable]="false">
              </ng-select>
            </div>
            <div class="col-1 text-center p-0" style="max-width: 30px !important;">
              <h3 style="margin: 10px 0px;">-</h3>
            </div>
            <div class="col-1">
              <input 
                class=""
                nbInput
                fullWidth 
                fieldSize="large"  
                type="text" 
                [readonly]="false" 
                [disabled]="false" 
                placeholder="Ingrese el número tipo via"
                id="input-userAddressThirdNumber"  
                name="userAddressThirdNumber" 
                (change)="fnBuildAddress($event)"
                [(ngModel)]="userAddressThirdNumber" 
                [ngModelOptions]="{standalone: true}"
                [status]="userAddressThirdNumberC.dirty ? (userAddressThirdNumberC.invalid  ? 'danger' : 'basic') : 'basic'" 
                #userAddressThirdNumberC="ngModel">
            </div>
            <div class="col-1">
              <ng-select 
                [items]="collectionCardinalSufix" 
                bindLabel="name"
                id="input-userAddressSecondCardinalSufix" 
                name="userAddressSecondCardinalSufix" 
                #userAddressSecondCardinalSufixC="ngModel"
                placeholder="Seleccione sufijo cardinal" 
                [ngModelOptions]="{standalone: true}" 
                [(ngModel)]="userAddressSecondCardinalSufix"
                required 
                (change)="fnBuildAddress($event)"
                [disabled]="false" 
                [clearable]="false">
              </ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-3 mb-2">
              <label for="input-addresPlace">
                <small class="m-0 cursor-pointer">
                  <i class="fas fa-chevron-right"></i>&nbsp;Direcci&oacute;n generada:&nbsp;
                </small>
              </label>
              <div class="listAddresPlace m-2" style="display: block;">
                <div class="m-2 d-flex justify-content-between" style="border-radius: 5px; font-size: .9em; color: #000; padding: 5px; font-weight: 400;">
                  <h4>
                    {{ addressPlaceBuilded | uppercase }}
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <!-- <input 
            class=""
            nbInput
            fullWidth 
            fieldSize="large"  
            type="text" 
            [readonly]="false" 
            [disabled]="false" 
            placeholder="Ingrese la dirección paciente"
            id="input-userAddressCondition"  
            name="userAddressCondition" 
            (focus)="userData.diagnostic.userAddressCondition = '';"
            [(ngModel)]="userData.diagnostic.userAddressCondition" 
            [ngModelOptions]="{standalone: true}"
            [status]="userAddressCondition.dirty ? (userAddressCondition.invalid  ? 'danger' : 'basic') : 'basic'" 
            #userAddressCondition="ngModel"> -->
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="input-userAddressPlaceCondition">
            <h5 class="m-0">
              <i class="fas fa-map-pin"></i>&nbsp;<small>(Barrio, Municipio, Vereda):</small>&nbsp;
              <span class="cursor-pointer text-optional-field" tooltip="Campo opcional" placement="top" container="body">(Opcional)</span>
            </h5>
          </label>
          <input 
            class=""
            nbInput
            fullWidth 
            fieldSize="large"  
            type="text" 
            [readonly]="false" 
            [disabled]="false" 
            placeholder="Seleccione fecha de inicio"
            id="input-userAddressPlaceCondition"  
            name="userAddressPlaceCondition" 
            (input)="fnBuildAddress($event)"
            [(ngModel)]="userAddressPlaceCondition" 
            [ngModelOptions]="{standalone: true}"
            [status]="userAddressPlaceConditionC.dirty ? (userAddressPlaceConditionC.invalid  ? 'danger' : 'basic') : 'basic'" 
            #userAddressPlaceConditionC="ngModel">
        </div>
      </div>
    
    </div>
    
  </nb-card-body>
</nb-card>

