<div class="wrapper">
  <!-- ********** START - Sidebar one ********** -->
  <nav id="sidebar" *ngIf="display_side_bar_one">
    <div class="sidebar-header">
      <i *ngIf="collapse_side_bar_one" (click)="fnCollapse('sidebar')" class="fas fa-angle-double-right"></i>
      <i *ngIf="!collapse_side_bar_one" (click)="fnCollapse('sidebar')" class="fas fa-angle-double-left"></i>
    </div>
    <ul class="list-unstyled components menu-one">
      <li *ngFor="let item_menu of menu_items; let index_menu = index;">
        <a 
          id="item_menu_1_a_{{ index_menu }}"
          (click)="fnShowChildrens(index_menu, item_menu); 
          fnSetLevelData(item_menu.menuLevel, item_menu.title, menu_items, item_menu.children,  index_menu);"
          data-toggle="collapse" 
          aria-expanded="false" 
          class="dropdown-toggle item_menu_1_a_{{ index_menu }}"
          [ngClass]="{'item-with-children': item_menu.children?.length > 0, 'current': (flag_find_rethus && item_menu?.id == 528) }">
          <i class="{{ item_menu.icon }}" [ngbTooltip]="(collapse_side_bar_one) ? item_menu.title : ''"
            placement="right" container="body"></i>
          <h6 class="przss-title-item-list font_family_roboto m-0">{{ item_menu.title }}</h6>
        </a>
        <ul *ngIf="item_menu.children?.length > 0" class="list-unstyled przss-content-child-menu" id="sub_menu_{{ index_menu }}" [ngClass]="{'expanded': (section_navigate == '2' && item_menu?.id == 530 && flag_find_rethus === false), 'collapse': (section_navigate == null && flag_find_rethus === false) || (section_navigate == '2' && item_menu?.id != 530) }" >
          <li *ngFor="let item_children of item_menu?.children; let index_child = index;">
            <a id="sub_menu_a_{{ index_menu }}_{{ index_child }}" [ngClass]="{'current': (section_navigate == '2' && item_children?.id == 535)}" (click)="fnValidContentSeconBarMenu(item_children, item_menu.children, item_menu, menu_items, index_child, index_menu)"
              data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sub-menu">
              <i class="{{ item_children.icon }}" [ngbTooltip]="(collapse_side_bar_one) ? item_children.title : ''" placement="right" container="body"></i>
              <h6 class="przss-title-item-list font_family_roboto m-0">{{ item_children.title }}</h6>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="list-unstyled CTAs" *ngIf="false">
      <li class="text-center">
        <img src="../../../assets/images/imgs/smartlaw-logo02.png" width="85%">
      </li>
      <!-- <li>
              <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
          </li>
          <li>
              <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
          </li> -->
    </ul>
  </nav>
  <!-- ********** END - Sidebar one ********** -->

  <!-- Page Content  -->
  <div id="content">
    <div class="row">
      <!-- ********** START - Title section ********** -->
      <div class="col-12" style="background-color: #fafbfd; height: 34px; z-index: 999 !important; position: absolute;">
        <div class="mt-1 mb-1">
          <h3 style="color: #2f302f;" id="kstdy-title_module">{{ title_name_module }}</h3>
        </div>
      </div>
      <!-- *********** END - Title section *********** -->
      <!-- ********** START - Breadcrumbs ********** -->
      <div class="col-12" id="kstdy-breadcrumbs" style="background-color: #fafbfd; height: 24px; z-index: 999 !important; /*position: absolute;*/ top: 34px;">
        <div class="mt-1 mb-1 d-inline-block">
          <div class="d-inline-block" *ngFor="let item_level of collection_levels_menu;  let ind_module_bradcrumbs = index;">
            <a class="font-weight-normal" style="color: #2f302f; font-size: 12px; cursor: pointer; font-family: Exo;"
              (click)="fnBreadcrumbsNavigate(ind_module_bradcrumbs, item_level);"> 
              {{item_level.item_name}}
            </a>&nbsp;/&nbsp;
          </div>
        </div>
      </div>
      <!-- *********** END - Breadcrumbs *********** -->
      <div class="row col-12 p-0 m-0" style="margin-top: 0px !important;">
        <!-- ********** START - Sidebar two ********** -->
        <nav class="col-2" id="sidebar-two" class="animated fadeInLeft" *ngIf="display_side_bar_two">
          <div class="sidebar-header kstdy-sidebar-two">
            <i *ngIf="collapse_side_bar_two" (click)="fnCollapse('sidebar-two')" class="fas fa-angle-double-right"></i>
            <i *ngIf="!collapse_side_bar_two" (click)="fnCollapse('sidebar-two')" class="fas fa-angle-double-left"></i>
          </div>

          <ul class="list-unstyled components list-sidebar-two" id="s2_l1">
            <li *ngFor="let s2_l1_item of items_second_menu; let index_sec_menu = index;">
              <a (click)="fnShowChildrensTwoMenu('s2_l2_'+index_sec_menu, s2_l1_item, ''); fnValidContentMenu(items_second_menu, s2_l1_item, index_sec_menu);"
                data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="{{ s2_l1_item.icon }}" [ngbTooltip]="(collapse_side_bar_two) ? s2_l1_item.title : ''"
                  placement="right" container="body"></i>
                <h6 class="przss-title-subitem-list font_family_roboto m-0 przss-title-menu">
                  {{ s2_l1_item.title }}
                </h6>
              </a>
              <ul *ngIf="s2_l1_item.children?.length > 0" class="collapse list-unstyled przss-content-child-menu-two"
                id="s2_l2_{{ index_sec_menu }}">
                <li *ngFor="let s2_l2_item of s2_l1_item?.children; let s2_l2_index_child = index;">
                  <a id="s2_l2_{{ index_sec_menu }}_a_{{ s2_l2_index_child }}" data-toggle="collapse"
                    aria-expanded="false" [ngClass]="{'dropdown-toggle': s2_l2_item.children?.length > 0}"
                    (click)="fnShowChildrensTwoMenu('s2_l2_' + index_sec_menu + '_l3_' + s2_l2_index_child, s2_l2_item, 's2_l2_' + index_sec_menu + '_a_' + s2_l2_index_child);fnValidContentMenu(s2_l1_item?.children, s2_l2_item, s2_l2_index_child);">
                    <i class="{{ s2_l2_item.icon }}" [ngbTooltip]="(collapse_side_bar_two) ? s2_l2_item.title : ''"
                      placement="right" container="body"></i>
                    <h6 class="przss-title-subitem-list font_family_roboto m-0">{{ s2_l2_item.title }}</h6>
                  </a>
                  <ul *ngIf="s2_l2_item.children?.length > 0" class="collapse list-unstyled"
                    id="s2_l2_{{ index_sec_menu }}_l3_{{ s2_l2_index_child }}">
                    <li *ngFor="let s2_l3_item of s2_l2_item?.children; let s2_l3_index_child = index;">
                      <a id="s2_l2_{{ index_sec_menu }}_l3_{{ s2_l2_index_child }}_a_{{ s2_l3_index_child }}"
                        style="padding-left: 40px !important;" data-toggle="collapse"
                        [ngClass]="{'dropdown-toggle': s2_l3_item.children?.length > 0}" (click)="fnShowChildrensTwoMenu('s2_l2_' + index_sec_menu + '_l3_' + s2_l2_index_child + '_l4_' + s2_l3_index_child, s2_l3_item, 's2_l2_' + index_sec_menu + '_l3_' + s2_l2_index_child + '_a_' + s2_l3_index_child);
                        fnValidContentMenu(s2_l2_item?.children, s2_l3_item, s2_l3_index_child);">
                        <i class="{{ s2_l3_item.icon }}" [ngbTooltip]="(collapse_side_bar_two) ? s2_l3_item.title : ''"
                          placement="right" container="body"></i>
                        <h6 class="przss-title-subitem-list font_family_roboto m-0">{{ s2_l3_item.title }}</h6>
                      </a>
                      <ul *ngIf="s2_l3_item.children?.length > 0" class="collapse list-unstyled"
                        id="s2_l2_{{ index_sec_menu }}_l3_{{ s2_l2_index_child }}_l4_{{ s2_l3_index_child }}">
                        <li *ngFor="let s2_l4_item of s2_l3_item?.children; let s2_l4_index_child = index;">
                          <a id="s2_l2_{{ index_sec_menu }}_l3_{{ s2_l2_index_child }}_l4_{{ s2_l3_index_child }}_a_{{ s2_l4_index_child }}"
                            style="padding-left: 50px !important;" data-toggle="collapse"
                            (click)="fnValidContentMenu(s2_l3_item?.children, s2_l4_item, s2_l4_index_child);">
                            <i class="{{ s2_l4_item.icon }}"
                              [ngbTooltip]="(collapse_side_bar_two) ? s2_l4_item.title : ''" placement="right"
                              container="body"></i>
                            <h6 class="przss-title-subitem-list font_family_roboto m-0">{{ s2_l4_item.title }}</h6>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="list-unstyled CTAs" *ngIf="false">
            <!-- <li class="text-center">
            <img src="../../../assets/images/imgs/smartlaw-logo02.png" width="85%">
          </li> -->
            <!-- <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li> -->
          </ul>
        </nav>
        <!-- ********** END - Sidebar two ********** -->
        <!-- ********** START - Content ********** -->
        <div class="col p-0 divIframe" *ngIf="url_iframe_content" (click)="fnClickContainer()">
          <iframe class="przss-iframe-content" [src]="url_iframe_content" frameborder="0" width="100%"></iframe>
        </div>
        <div class="col-12 container-fliud" style="overflow: hidden;" *ngIf="content_user_profile">
          <div class="row pgp-backgroud_layout font_family_roboto" style="height: 100%; background-color: transparent !important; margin-top: 60px;">
            <div class="col-12">
              <div>
                <ngx-user-tabs></ngx-user-tabs>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 container-fliud" *ngIf="content_terms_conditions">
          <div class="row pgp-backgroud_layout font_family_roboto" style="height: 100%; background-color: transparent !important; margin-top: 60px;">
            <div class="col-12">
              <div>
                <ngx-terms-conditions></ngx-terms-conditions>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-12 container-fliud">
          <div class="row pgp-backgroud_layout font_family_roboto" style="height: 100%; background-color: transparent !important; margin-top: 60px;">
            <div class="col-12">
              <div>
                <ngx-origin-qualification></ngx-origin-qualification>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col container-fliud divComponent" *ngIf="!url_iframe_content && !content_user_profile && !content_terms_conditions">
          <div class="row pgp-backgroud_layout font_family_roboto" style="height: 100%; background-color: transparent !important; margin-top: 35px;">
            <div class="col-12" *ngIf="!current_item.esReporte" (click)="fnClickContainer()">
              <div *ngIf="show_content">
                <!-- <div>
                  <div>
                    <ngx-my-account></ngx-my-account>
                  </div>
                </div> -->
                <div [ngSwitch]="current_item?.id">
                  <div *ngSwitchCase="14">
                    <ngx-profiles></ngx-profiles>
                  </div>
                  <div *ngSwitchCase="549 || 553">
                    <ngx-origin-qualification></ngx-origin-qualification>
                  </div>
                  <div *ngSwitchCase="548 || 552">
                    <ngx-rehabilitation-concept></ngx-rehabilitation-concept>
                    <!-- <ngx-rehabilitation-concept-list></ngx-rehabilitation-concept-list> -->
                  </div>
                  <div *ngSwitchCase="9">
                    <ngx-users [state]="true"></ngx-users>
                    <!-- <ngx-users-list></ngx-users-list> -->
                  </div>
                  <div *ngSwitchCase="531">
                    <ngx-entities></ngx-entities>
                  </div>
                  <div *ngSwitchCase="532">
                    <ngx-parameterization-tabs></ngx-parameterization-tabs>
                  </div>
                  <div *ngSwitchCase="402">
                    <ngx-reports></ngx-reports>
                  </div>
                  <div *ngSwitchCase="404">
                    <ngx-incapacity></ngx-incapacity>
                  </div>
                  <div *ngSwitchCase="434">
                    <ngx-check-diagnostic typeView="1"></ngx-check-diagnostic>
                  </div>
                  <div *ngSwitchCase="413">
                    <div>
                      <ngx-reports></ngx-reports>
                    </div>
                  </div>
                  <div *ngSwitchCase="414">
                    <div>
                      <ngx-statistic-analysis></ngx-statistic-analysis>
                    </div>
                  </div>
                  <div *ngSwitchCase="514">
                    <div>
                      <ngx-powerbi-cie10></ngx-powerbi-cie10>
                    </div>
                  </div>
                  <div *ngSwitchCase="428">
                    <div>
                      <ngx-incapacity-rehabilitation-concept></ngx-incapacity-rehabilitation-concept>
                    </div>
                  </div>
                  <div *ngSwitchCase="436">
                    <div>
                      <ngx-incapacity-rehabilitation-concept></ngx-incapacity-rehabilitation-concept>
                    </div>
                  </div>
                  <div *ngSwitchCase="430">
                    <div>
                      <ngx-email-management></ngx-email-management>
                    </div>
                  </div>
                  <div *ngSwitchCase="511">
                    <div>
                      <ngx-transcription></ngx-transcription>
                    </div>
                  </div>
                  <div *ngSwitchCase="534">
                  <!-- <div *ngSwitchCase="530"> -->
                    <!-- <ngx-accounting-audit (dataAccounting)="fnGetDataAccounting($event)"></ngx-accounting-audit> -->
                    <ngx-accounting-audit></ngx-accounting-audit>
                  </div>
                  <div *ngSwitchCase="474">
                    <div>
                      <!-- <ngx-transcription-ckeck></ngx-transcription-ckeck> -->
                      <!-- <ngx-check-diagnostic typeView="2"></ngx-check-diagnostic> -->
                    </div>
                  </div>
                  <div *ngSwitchCase="528">
                    <div>
                      <ngx-rethus [group_id]="current_item.reporteGroupId" [report_id]="current_item.reporteId"></ngx-rethus>
                    </div>
                  </div>
                  <div *ngSwitchCase="533">
                    <div>
                      <ngx-rehabilitation-concept></ngx-rehabilitation-concept>
                    </div>
                  </div>
                  <div *ngSwitchCase="567">
                    <div>
                      <ngx-informacion></ngx-informacion>
                    </div>
                  </div>
                  <div *ngSwitchCase="569">
                    <div>
                      <ngx-administracion-correos></ngx-administracion-correos>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12" *ngIf="current_item.esReporte == true && current_item.reporteId && current_item.reporteGroupId">
              <div>
                <div *ngIf="show_content" class="animated flipInX delay-1s">
                  <ngx-powerbi-reports [name_module]="'Reporte ' + current_item.title" [group_id]="current_item.reporteGroupId" [report_id]="current_item.reporteId"></ngx-powerbi-reports>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ********** END - Content ********** -->
      </div>
    </div>
  </div>
</div>