<div class="row pgp-backgroud_layout">
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="font_family_roboto">User name</h1>
            </div>
            <!-- <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div> -->
        </div>
        <div class="row">
            
        </div>
        <!--/col-9-->
    </div>
    <!--/row-->  
</div>
