<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto kstdya-card_content" size="tiny">
        <nb-card-header class="font_family_roboto text-center">
          <span style="color: #1e90ff;font-weight: 500;">Concepto de rehabilitaci&oacute;n No. 123123</span>
          <i class="fas fa-times" (click)="fnCancelCreateNewPhoneUser()" style="position: absolute; right: 2rem; cursor: pointer;"></i>
        </nb-card-header>
        <nb-card-body>
          <div class="container-fluid" style="max-height: 75vh;">
            <div class="row ml-0 mr-0 mb-4">
              <div class="col-4">
                <h6>Appellidos</h6>
                <span>test</span>
              </div>
              <div class="col-4">
                <h6>Nombres</h6>
                <span>test</span>
              </div>
              <div class="col-4">
                <h6>Tipo de codumento</h6>
                <span>test</span>
              </div>
            </div>
            <div class="row ml-0 mr-0 mb-4">
              <div class="col-4">
                <h6>N&uacute;mero de documento</h6>
                <span>123123123</span>
              </div>
              <div class="col-4">
                <h6>Fecha de nacimiento</h6>
                <span>test</span>
              </div>
              <div class="col-4">
                <h6>Edad</h6>
                <span>test</span>
              </div>
            </div>
            <div class="row ml-0 mr-0 mb-4">
              <div class="col-4">
                <h6>ARL</h6>
                <span>Positiva</span>
              </div>
              <div class="col-4">
                <h6>AFP</h6>
                <span>Porvenir</span>
              </div>
              <div class="col-4">
                <h6>EPS</h6>
                <span>Famisanr EPS</span>
              </div>
            </div>

            <div class="row ml-0 mr-0 mb-2 mt-5">
              <div class="col">
                <hr>
              </div>
              <div class="col-3 text-center">
                <h4 class="font_family_roboto" style="color: #1e90ff; font-weight: 500;">Diagn&oacute;sticos</h4>
              </div>
              <div class="col">
                <hr>
              </div>
            </div>

            <div class="row ml-0 mr-0 mb-4">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th class="w-50 border-0">Diagn&oacute;sticos</th>
                    <th class="w-30 border-0">Fecha</th>
                    <th class="w-20 border-0">Etimolog&iacute;a</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <i class="fas fa-chevron-right"></i>&nbsp;
                      <span>F11 - Transtornos mentales de comportamiento debido al consummo de opioides</span>
                    </td>
                    <td>
                      <span>09/02/2019, 12:00 AM</span>
                    </td>
                    <td>
                      <span>Autoinmune</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fas fa-chevron-right"></i>&nbsp;
                      <span>A014 - Fiebre tifoidea</span>
                    </td>
                    <td>
                      <span>09/02/2019, 12:00 AM</span>
                    </td>
                    <td>
                      <span>Autoinmune</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              
              
            </div>

            <div class="row ml-0 mr-0 mb-2 mt-5">
              <div class="col">
                <hr>
              </div>
              <div class="col-5 text-center">
                <h4 class="font_family_roboto" style="color: #1e90ff; font-weight: 500;">Descripci&oacute;n de secuelas</h4>
              </div>
              <div class="col">
                <hr>
              </div>
            </div>

            <div class="row ml-0 mr-0 mb-4">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th class="w-40">Tipo de secuela</th>
                    <th class="w-20">Pron&oacute;stico</th>
                    <th class="w-50">Descripci&oacute;n</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <i class="fas fa-chevron-right"></i>&nbsp;
                      <span>Anat&oacute;mica</span>
                    </td>
                    <td>
                      <span>Bueno</span>
                    </td>
                    <td>
                      <span>Presenta una alteraci&oacute;n persistente de una lesion consecuencia de la enfermedad.</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5 class="font_family_roboto" style="color: #1e90ff; font-weight: 400;">Resumen historia clinica y estado actual del paciente</h5>
              <span>Presenta una alteracion persistente de una lesion consecuencia de la enfermedad.</span>
            </div>

            <div class="row ml-0 mr-0 mb-2 mt-5">
              <div class="col">
                <hr>
              </div>
              <div class="col-5 text-center">
                <h4 class="font_family_roboto" style="color: #1e90ff; font-weight: 500;">Terap&eacute;utica posible</h4>
              </div>
              <div class="col">
                <hr>
              </div>
            </div>

            <div class="row ml-0 mr-0">
              <div class="col-5 pb-4 form-control-group animate fadeIn">
                <label class="label font-weight-bold" for="medical_treatment">Finalidad del tratamiento <small>(posibilidad de recuperaci&oacute;n)</small></label>
                <div>
                  <!-- <h5>Curativo</h5> -->
                  <span class="badge badge-pill badge-primary">Curativo</span>
                </div>
              </div>
              <div class="col-7 pb-4 form-control-group animate fadeIn">
                <div class="row m-0 p-0">
                  <div class="col-6 mt-2 mb-2">
                    <div class="form-check form-check-inline">
                      <i class="fas fa-check-square"></i>&nbsp;&nbsp;
                      <label class="form-check-label" for="check_pharmacological">Farmacol&oacute;gico</label>
                    </div>
                  </div>
                  <div class="col-6 mt-2 mb-2">
                    <div class="form-check form-check-inline">
                      <i class="far fa-square"></i>&nbsp;&nbsp;
                      <label class="form-check-label" for="check_occupational_therapy">Terapia ocupacional</label>
                    </div>
                  </div>
                  <div class="col-6 mt-2 mb-2">
                    <div class="form-check form-check-inline">
                      <i class="far fa-square"></i>&nbsp;&nbsp;
                      <label class="form-check-label" for="check_occupational_therapy">Fonoaudiologia</label>
                    </div>
                  </div>
                  <div class="col-6 mt-2 mb-2">
                    <div class="form-check form-check-inline">
                      <i class="far fa-square"></i>&nbsp;&nbsp;
                      <label class="form-check-label" for="check_occupational_therapy">Quir&uacute;rgico</label>
                    </div>
                  </div>
                  <div class="col-6 mt-2 mb-2">
                    <div class="form-check form-check-inline">
                      <i class="far fa-square"></i>&nbsp;&nbsp;
                      <label class="form-check-label" for="check_occupational_therapy">Terapia fisica</label>
                    </div>
                  </div>
                  <div class="col-6 mt-2 mb-2">
                    <div class="form-check form-check-inline">
                      <i class="far fa-square"></i>&nbsp;&nbsp;
                      <label class="form-check-label" for="check_occupational_therapy">Otros tramites</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div>
                  <label class="label" style="font-weight:bold;">Otros tratamientos descripci&oacute;n</label>
                </div>
                <div>
                  <p>
                    Texto de otros tramites
                  </p>
                </div>
              </div>
            </div>

            <div class="row ml-0 mr-0 mb-2 mt-5">
              <div class="col">
                <hr>
              </div>
              <div class="col-5 text-center">
                <h4 class="font_family_roboto" style="color: #1e90ff; font-weight: 500;">Pron&oacute;stico del paciente</h4>
              </div>
              <div class="col">
                <hr>
              </div>
            </div>
            
            <div class="row ml-0 mr-0 mb-5">
              <div class="col-6">
                <div class="row">
                  <div class="text-left col-12 p-0">
                    <h6 class="font_family_roboto" style="color: #1e90ff; font-weight: 500;">Concepto</h6>
                  </div>
                  <div class="text-left col-12 p-0">
                    <p>Favorable</p>
                  </div>
                </div>
                <div class="row">
                  <div class="text-left col-12 p-0">
                    <h6 class="font_family_roboto" style="color: #1e90ff; font-weight: 500;">Corto plazo (menor a 1 a&ntilde;o)</h6>
                  </div>
                  <div class="row">
                    <div class="col mt-2 mb-2">
                      <div class="form-check form-check-inline">
                        <i class="far fa-circle"></i>&nbsp;&nbsp;
                        <label class="form-check-label" for="check_pharmacological">Bueno</label>
                      </div>
                    </div>
                    <div class="col mt-2 mb-2">
                      <div class="form-check form-check-inline">
                        <i class="far fa-check-circle"></i>&nbsp;&nbsp;
                        <label class="form-check-label" for="check_occupational_therapy">Regular</label>
                      </div>
                    </div>
                    <div class="col mt-2 mb-2">
                      <div class="form-check form-check-inline">
                        <i class="far fa-circle"></i>&nbsp;&nbsp;
                        <label class="form-check-label" for="check_occupational_therapy">Malo</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="text-left col-12 p-0">
                    <h6 class="font_family_roboto" style="color: #1e90ff; font-weight: 500;">Mediano plazo (mayor a 1 a&ntilde;o)</h6>
                  </div>
                  <div class="row">
                    <div class="col mt-2 mb-2">
                      <div class="form-check form-check-inline">
                        <i class="far fa-circle"></i>&nbsp;&nbsp;
                        <label class="form-check-label" for="check_pharmacological">Bueno</label>
                      </div>
                    </div>
                    <div class="col mt-2 mb-2">
                      <div class="form-check form-check-inline">
                        <i class="far fa-check-circle"></i>&nbsp;&nbsp;
                        <label class="form-check-label" for="check_occupational_therapy">Regular</label>
                      </div>
                    </div>
                    <div class="col mt-2 mb-2">
                      <div class="form-check form-check-inline">
                        <i class="far fa-circle"></i>&nbsp;&nbsp;
                        <label class="form-check-label" for="check_occupational_therapy">Malo</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-12 text-left">
                    <h5 class="font_family_roboto" style="color: #1e90ff; font-weight: 500;">Remisi&oacute;n administradora de fondo de pensiones</h5>
                  </div>
                  <div class="col-12 text-left">
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, doloremque labore reiciendis accusamus dolore facere aspernatur enim, minus repellendus laboriosam architecto corporis obcaecati aut atque sunt corrupti nulla. Fugiat, maiores.
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
  