<div class="row pgp-backgroud_layout font_family_roboto pr-0" style="overflow: hidden;">
  <div class="col-12" *ngIf="flag_show_tabs == 1">
    <!-- <ngx-entities-list (flagCreateEntity)="fnShowTabsOptionsData($event)"></ngx-entities-list> -->
    <ngx-rehabilitation-concept-tabs-dashboard [data_object]="data_object" (flagCreateEntity)="fnShowTabsOptionsData($event)"></ngx-rehabilitation-concept-tabs-dashboard>
    <!-- <ngx-rehabilitation-concept-tabs [dataEntity]="data_entity" (flagCreateEntity)="fnShowTabsOptionsData($event)"></ngx-rehabilitation-concept-tabs> -->
  </div>
  <div class="col-12" *ngIf="flag_show_tabs == 2">
    <!-- <ngx-add-entity (flagCreateEntity)="fnShowTabsOptionsData($event)"></ngx-add-entity> -->
  </div>
  <div class="col-12" *ngIf="flag_show_tabs == 3">
    <ngx-rehabilitation-concept-tabs [data_object]="data_object" (flagCreateEntity)="fnShowTabsOptionsData($event)"></ngx-rehabilitation-concept-tabs>
    <!-- <ngx-edit-user [dataUser]="dataUser" (flagCreateUser)="fnShowTabsOptionsData($event)"></ngx-edit-user> -->
  </div>
</div>