<div class="row">
  <table class="table table-striped table-bordered table-hover" style="margin: 0 15px;" *ngIf="typeList == 3">
      <thead>
          <tr>
              <th>
                  NIT&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'NIT', 'Número Unico Tributario - NIT', 'El NIT es el Número de Identificación Tributaria asignado por la DIAN. Hace referencia a un número único que utiliza el sistema tributario para identificar cualquier empresa colombiana.')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th>
                  Nombre&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Nombre', 'Nombre de la empresa', 'Nombre de la compañia con el cual registra ante la DIAN.')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th *ngIf="false">
                  C&oacute;digo CIIU&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Codigo CIIU', 'Código CIIU', 'Con el propósito de clasificar las actividades económicas de los empresarios del país de la manera más precisa, las cámaras de comercio del país, a partir del año 2000, se rigen por la Clasificación Industrial Internacional Uniforme (CIIU) de todas las actividades económicas. El Código CIIU fue elaborado por la Organización de Naciones Unidas y la revisión 4 es una adaptación para Colombia hecha y revisada por el DANE.')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th>
                  Ocupaci&oacute;n&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Ocupacion', 'Ocupación', 'Cargo u ocupación del paciente en la compañia')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th style="width: 170px;">
                  Vinculaci&oacute;n laboral&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Ocupacion', 'Ocupación', 'Cargo u ocupación del paciente en la compañia')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th style="width: 135px;">
                  Fecha ingreso&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Fecha ingreso', 'Fecha ingreso', 'Fecha de ingreso del paciente en la compañia')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th style="width: 112px;">
                  Contrato&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Contrato', 'Contrato', 'Estado de contración del paciente en la compañia')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              
              <th class="thead-column-action text-center">
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'ver incapacidades', 'Ver Incapacidades', 'Esta opción permite ver el historial de incapacidades del paciente que se han generado con este empleador.')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary icon-help-thead"></i>
                  </span>
              </th>
              <th class="thead-column-action text-center">
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'ver incapacidades', 'Ver Incapacidades', 'Esta opción permite ver el historial de incapacidades del paciente que se han generado con este empleador.')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary icon-help-thead"></i>
                  </span>
              </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemEmployer of dataEmlployerPatient; let i = index;">
          <td class="align-middle text-center">{{ itemEmployer?.numeroIdentificacion }}</td>
          <td class="align-middle text-left">{{ itemEmployer?.nombre }}</td>
          <td class="align-middle text-left" *ngIf="false"><strong style="font-size: 10px;">{{ itemEmployer?.ciiu }}</strong></td>
          <td class="align-middle text-left"><strong style="font-size: 10px;">{{ itemEmployer?.ciou }}</strong></td>
          <td class="align-middle text-center">{{ itemEmployer?.vinculo }}</td>
          <td class="align-middle text-center">{{ itemEmployer?.fechaIngreso | date:'mediumDate' || 'No registra dato' }}</td>
          <td class="align-middle text-center">
            <h5><span class="badge rounded-pill text-light" [ngClass]="{'bg-success': itemEmployer?.activo == true, 'bg-danger': itemEmployer?.activo != true}">{{ itemEmployer?.activo == true ? "Activo" : "Inactivo" }}</span></h5>
          </td>
          <td class="align-middle text-center">
            <span tooltip="Vista preliminar" placement="top" container="body">
                <!-- <i class="fas fa-pencil-alt cursor-pointer text-warning"></i> -->
                <i class="fas fa-eye cursor-pointer text-info" (click)="fnShowPreviewIncapacityCertificate(itemEmployer, i)"></i>
            </span>
          </td>
          <td class="align-middle text-center">
            <span tooltip="Valores incapacidad" placement="top" container="body">
                <!-- <i class="fas fa-pencil-alt cursor-pointer text-warning"></i> -->
                <i class="fas fa-search-dollar cursor-pointer text-info" (click)="fnShowValuesIncapacity(itemEmployer, i)"></i>
            </span>
          </td>

        </tr>
      </tbody>
  </table>
  <table class="table table-striped table-bordered table-hover" style="margin: 0 15px;" *ngIf="typeList == 2">
      <thead>
          <tr>
              <th>
                  NIT&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'NIT', 'Número Unico Tributario - NIT', 'El NIT es el Número de Identificación Tributaria asignado por la DIAN. Hace referencia a un número único que utiliza el sistema tributario para identificar cualquier empresa colombiana.')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th>
                  Nombre&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Nombre', 'Nombre de la empresa', 'Nombre de la compañia con el cual registra ante la DIAN.')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th *ngIf="false">
                  C&oacute;digo CIIU&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Codigo CIIU', 'Código CIIU', 'Con el propósito de clasificar las actividades económicas de los empresarios del país de la manera más precisa, las cámaras de comercio del país, a partir del año 2000, se rigen por la Clasificación Industrial Internacional Uniforme (CIIU) de todas las actividades económicas. El Código CIIU fue elaborado por la Organización de Naciones Unidas y la revisión 4 es una adaptación para Colombia hecha y revisada por el DANE.')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th>
                  Ocupaci&oacute;n&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Ocupacion', 'Ocupación', 'Cargo u ocupación del paciente en la compañia')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th style="width: 170px;">
                  Vinculaci&oacute;n laboral&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Ocupacion', 'Ocupación', 'Cargo u ocupación del paciente en la compañia')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th style="width: 135px;">
                  Fecha ingreso&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Fecha ingreso', 'Fecha ingreso', 'Fecha de ingreso del paciente en la compañia')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th style="width: 112px;">
                  Contrato&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Contrato', 'Contrato', 'Estado de contración del paciente en la compañia')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th class="thead-column-action text-center">
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'ver incapacidades', 'ver incapacidades', 'Esta opción permite ver el historial de incapacidades del paciente que se han generado con este empleador.')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary icon-help-thead"></i>
                  </span>
              </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemEmployer of dataEmlployerPatient; let i = index;">
          <td class="align-middle text-center">{{ itemEmployer?.numeroIdentificacion }}</td>
          <td class="align-middle text-left">{{ itemEmployer?.nombre }}</td>
          <td class="align-middle text-left" *ngIf="false"><strong style="font-size: 10px;">{{ itemEmployer?.ciiu }}</strong></td>
          <td class="align-middle text-left"><strong style="font-size: 10px;">{{ itemEmployer?.ciou }}</strong></td>
          <td class="align-middle text-center">{{ itemEmployer?.vinculo }}</td>
          <td class="align-middle text-center">{{ itemEmployer?.fechaIngreso | date:'mediumDate' || 'No registra dato' }}</td>
          <td class="align-middle text-center">
            <h5><span class="badge rounded-pill text-light" [ngClass]="{'bg-success': itemEmployer?.activo == true, 'bg-danger': itemEmployer?.activo != true}">{{ itemEmployer?.activo == true ? "Activo" : "Inactivo" }}</span></h5>
          </td>
          <td class="align-middle text-center">
            <span tooltip="Historial de incapacidades" placement="top" container="body">
                <!-- <i class="fas fa-pencil-alt cursor-pointer text-warning"></i> -->
                <i class="fas fa-eye cursor-pointer text-info"></i>
            </span>
          </td>
        </tr>
      </tbody>
  </table>
  <table class="table table-striped table-bordered table-hover" style="margin: 0 15px;" *ngIf="typeList == 1">
      <thead>
          <tr>
              <th>
                  NIT&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'NIT', 'Número Unico Tributario - NIT', 'El NIT es el Número de Identificación Tributaria asignado por la DIAN. Hace referencia a un número único que utiliza el sistema tributario para identificar cualquier empresa colombiana.')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th>
                  Nombre&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Nombre', 'Nombre de la empresa', 'Nombre de la compañia con el cual registra ante la DIAN.')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th>
                  Direcci&oacute;n&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Ocupacion', 'Ocupación', 'Cargo u ocupación del paciente en la compañia')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th>
                  Telefono 1&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Ocupacion', 'Ocupación', 'Cargo u ocupación del paciente en la compañia')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th>
                  Telefono 2&nbsp;
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Ocupacion', 'Ocupación', 'Cargo u ocupación del paciente en la compañia')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary"></i>
                  </span>
              </th>
              <th class="thead-column-action text-center">
                  <span tooltip="Ayuda" placement="top" container="body" (click)="showModalHelp('Incapacidades', 'Información empleador', 'Información empleador', 'Esta opción permite ver el historial de incapacidades del paciente que se han generado con este empleador.')">
                      <i class="far fa-question-circle cursor-pointer text-end text-primary icon-help-thead"></i>
                  </span>
              </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemEmployer of dataEmlployerPatient; let i = index;">
          <td class="align-middle text-center">{{ itemEmployer?.numeroIdentificacion }}</td>
          <td class="align-middle text-left">{{ itemEmployer?.nombre }}</td>
          <td class="align-middle text-left">{{ itemEmployer?.direccion }}</td>
          <td class="align-middle text-left">{{ itemEmployer?.telefonoPrincipal }}</td>
          <td class="align-middle text-left">{{ itemEmployer?.telefonoSecundario }}</td>
          <td class="align-middle text-center">
            <span tooltip="Editar datos" placement="top" container="body">
                <i class="fas fa-pencil-alt cursor-pointer text-warning" (click)="fnShowModalAddAddress(itemEmployer)"></i>
                <!-- <i class="fas fa-eye cursor-pointer text-info"></i> -->
            </span>
          </td>

        </tr>
      </tbody>
  </table>
</div>