<nb-card size="tiny">
  <nb-card-header style="display: flex !important; justify-content: space-between !important;">
    Asignar caso
    <span class="cursor-pointer" (click)="fnCloseModal()">
        <i class="fas fa-times cursor-pointer text-danger"></i>
    </span>
  </nb-card-header>
  <nb-card-body>
    <div class="row ml-0 mr-0">
      <form style="width: 350px;" #helpForm="ngForm" aria-labelledby="title">
        <div class="col-12 pl-0 pr-0">
          <p>
              En esta secci&oacute;n puedes asignar el caso seleccionado a un m&eacute;dico profesional para 
              la generaci&oacute;n de el concepto de rehabilitaci&oacute;n. 
              <!-- De esta forma el medico podra verlo 
              en su bandeja de trabajo como un nuevo caso a generar. -->
          </p>
        </div>
        <!-- ********** START - Ocupación paciente ********** -->
        <div class="mt-2 mb-2 col-12">
          <div class="form-group">
            <label for="input-selectJobPatient">
              <h6 class="m-0">
                <i class="fas fa-user"></i>&nbsp;Caso:&nbsp;
                <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
              </h6>
            </label>
            <div class="col">
              <span class="badge rounded-pill text-light cursor-pointer badge-state-1" tooltip="Paciente caso" placement="top" container="body">
                <i class="far fa-address-card"></i>&nbsp;
                {{ dataCase?.documentoPaciente }} - {{ dataCase?.nombrePaciente | titlecase}}
              </span>
            </div>
          </div>
        </div>
        <div class="mt-2 mb-2 col-12">
          <div class="form-group">
            <label for="input-selectListAfp">
              <h6 class="m-0">
                <i class="fas fa-user"></i>&nbsp;AFP paciente:&nbsp;
                <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
              </h6>
            </label>
            <ng-select  
              id="input-selectListAfp"
              [items]="collectionAfp" 
              bindLabel="tNombre" 
              bindValue="iIDAFP" 
              name="selectListAfp"
              #selectListAfp="ngModel" 
              status="basic" 
              appendTo="body"
              placeholder="Seleccione fondo de pensiones del paciente"
              [ngModelOptions]="{standalone: true}" 
              [(ngModel)]="afpPatient" 
              required>
            </ng-select>
          </div>
        </div>
        <div class="mt-2 mb-2 col-12">
          <div class="form-group">
            <label for="input-selectListDoctors">
              <h6 class="m-0">
                <i class="fas fa-user"></i>&nbsp;M&eacute;dicos disponibles:&nbsp;
                <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
              </h6>
            </label>
            <ng-select  
              id="input-selectListDoctors"
              [items]="collectionDoctors" 
              bindLabel="doctor" 
              name="selectListDoctors"
              #selectListDoctors="ngModel" 
              status="basic" 
              appendTo="body"
              placeholder="Seleccione el médico"
              [ngModelOptions]="{standalone: true}" 
              [(ngModel)]="doctorAssign" 
              (change)="fnSelectDoctorAssign($event)"
              required>
            </ng-select>
          </div>
        </div>
        
        <div class="mt-2 mb-2 col-12">
          <div class="form-group">
            <label for="input-rangePriority">
              <h6 class="m-0">
                <i class="fas fa-user"></i>&nbsp;Prioridad:&nbsp;
                <span class="text-danger cursor-pointer" tooltip="Campo obligatorio" placement="top" container="body">*</span>
              </h6>
            </label>
            <div>
              <input 
                style="width: 100%;" 
                type="range" 
                class="form-range" 
                [min]="1" 
                #rangePriority="ngModel" 
                [ngModelOptions]="{standalone: true}" 
                [(ngModel)]="priorityCase" 
                [max]="3" 
                id="input-rangePriority">
            </div>
            <div class="text-center mt-2">
              <h6>Prioridad: <strong>{{ (priorityCase == 1) ? "Baja" : (priorityCase == 2) ? "Media" : (priorityCase == 3) ? "Alta" : "Sin prioridad" }}</strong></h6>
            </div>
          </div>
        </div>
        <!-- *********** END - Ocupación paciente *********** -->
        <br>
        <button 
            class="cursor-pointer mb-2"
            nbButton 
            fullWidth 
            type="button" 
            (click)="fnAssignCase(doctorAssign, priorityCase)"
            [class.btn-pulse]="submitted" 
            [disabled]="!doctorAssign || !priorityCase" 
            style="background-color: #3366ff; border-color: #3366ff; color: white; text-transform: none !important;">
            Asignar
        </button>
        <button 
            class="cursor-pointer mb-2"
            nbButton 
            fullWidth 
            type="button"
            [class.btn-pulse]="submitted" 
            (click)="fnCancelData()"
            style="background-color: #9d9d9d; border-color: #9d9d9d; color: #fff; text-transform: none !important;">
            Cancelar
        </button>
      </form>
  </div>
  </nb-card-body>
</nb-card>